//Specific styles for the product datepicker
#date {
    &::placeholder {
        color: $color-primary;
        opacity: 1;
    }
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color-primary;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color-primary;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color-primary;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color-primary;
    }
}

#ui-datepicker-div.ui-widget-content {
    border-radius: 0;
    border: none;
    font-family: $base-font;
    padding-bottom: 20px;
    z-index: 9999 !important;
    background: white;
    @include media-query($small) {
        left: 2% !important;
        width:96%;
    }
    @include at-query($min, $large) {
        margin-top: 13%;
    }
    // &:before {
    //     content: "Delivery date";
    //     text-transform: uppercase;
    //     font-weight: 100;
    //     margin: 2em auto;
    // }
    .ui-widget-header {
        margin: 0;
        border: none;
        text-transform: uppercase;
        padding: .7em 0;
        text-align:center;
        width:312px;
        @include media-query($small){
            width:100%;
        }
        // &:before {
        //     content: "";
        //     width: 6%;
        //     position: absolute;
        //     margin-left: -3%;
        //     left: 50%;
        //     height: 1px;
        //     background: $color-primary;
        //     top: -1.5em;
        // }
        background: $pink-light;
        font-weight: 100;
        color:$color-primary;
        border-radius:0;
        .ui-state-hover,
        .ui-state-focus {
            border: none;
            background: none;
            cursor: pointer;
            .ui-icon {
                top: 9px;
            }
        }
        //prev/next icons
        .ui-datepicker-prev,
        .ui-datepicker-next {
            position:absolute;
            top:2px;
            height:40px;
            line-height:35px;
        }
        .ui-datepicker-prev {
            left:20px;
            @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
                left:17px;
            }
            @media \\0 screen {
                left:17px;
            }
        }
        .ui-datepicker-next {
            right:20px;
        }
        .ui-icon {
            background: none;
            display: inline-block;
            color: $color-primary;
            font-size: $font-size-base*2.8;
            text-indent: 0;
            margin-top:-2px;
            @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
                margin-top:-3;
            } 
            @media \\0 screen {
                margin-top:-20px;
            }
            &:hover {
                border: none;
                background: none;
            }
        }
    }
    //main calendar
    table.ui-datepicker-calendar {
        width: 312px;
        margin: 0;
        background: white;
        line-height:normal;
        @include media-query($small){
            width:100%;
        }
        th,
        tr {
            font-weight: 100;
            color: $grey-medium;
            padding:5px;
            td {
                padding: 0;
                width: 40px; //fix spacing issue
                white-space: nowrap;
                line-height:normal;
                &.ui-state-disabled {
                    .ui-state-default {
                        border: 2px solid white;
                        background: #E8E8E8;
                        color: white;
                    }
                }
                .ui-state-default {
                    border: 2px solid white;
                    color: white;
                    background: darken(#D6D6D6, 10%);
                    padding: 9px 0;
                    text-align: center;
                    font-weight: 800;
                    display:block;
                    &:hover {
                        text-decoration:none;
                    }
                }
                a {
                    &.ui-state-active,
                    &:hover {
                        border: 2px solid $color-primary;
                        background: white;
                        color: black;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                    }
                }
            }
        }
    }
}

//overlay for trigger on mobile
.ui-datepicker-trigger {
    width: 100%;
    height: 61px;
    position: absolute;
    top: 0;
    font-size: 0;
}
