// Flex styles
@mixin flex($width: 25%, $height: 250px, $flow: row wrap, $margin: 0) {
  display:flex;
  margin:0 auto;
  flex-flow: $flow;
  align-content: space-between;
  justify-content: space-between;
  h3 {
    margin-top:15px;
  }
  @include media-query($small){
    clear:both;
  }
  .flex-item {
    flex-basis:$width;
    min-height:$height;
    padding:1%;
    margin:$margin;
    position:relative;
    z-index: 1;
    .flex-item {
      margin:0;
    }
    @include media-query($large-down){
      flex-basis: 33.33%;
    }
    @include media-query($medium){
      min-height:$height - 70;
      padding:0 .5%;
    }
    @include media-query($small){
      flex-basis:50%;
      min-height:$height + 30;
      padding:2%;
      height:auto;
      &.flex-full {
        flex-basis:100%;
        margin:1em 0;
        text-align: center !important;
      }
    }
    a {
      display:block;
      width:100%;
      height:100%;
      background-size:cover;
      background-position:center;
      background-repeat: no-repeat;
      &.btn {
        width:auto;
        display:inline-block;
        height:auto;
      }
    }
    .icon {
      width:100%;
      height:60px;
      a {
        height:60px;
        background-size:contain;
      }
      img {
          width:auto;
          height:100%;
        }
    }
    &.tile {
      border:1px solid $grey-border;
      border-radius:3px;
      padding:1em;
      display:inline-block;
      text-align:left;
      img {
        display:block;
        margin-bottom:.5em;
        width:100%;
      }
    }
    .caption {
      background:rgba(0,0,0,.6);
      color:white;
      position:absolute;
      font-size:12px;
      z-index:2;
      bottom:4%;
      padding:.5em;
      width:92%;
      margin:0;
    }
  }
}

.flex-select {
  .flex-item {
    cursor:pointer;
    text-align:center;
    padding:2em 1em;
    position: relative;
    @include media-query($small){
      width:100%;
      height:125px;
      padding:1em;
      margin-bottom:.8em;
    }
    &:hover,
    &.selected {
      border-color:$pink !important;
      color:$pink;
    }
    .alert {
      color:$pink;
      font-size:12px;
      text-transform: uppercase;
      position:absolute;
      top:0;
      left:0;
      text-align:center;
      width:100%;
    }
  }
}


.flex {
  @include flex;
  &.flex-small {
    @include flex(25%, 50px);
  }
  &.flex-half {
    @include flex(49%, 0px, row wrap, 1% 0);
  }
  &.flex-thirds {
    @include flex(31.33%, 0px, row wrap, 1%);
    .flex-item {
      flex-grow:0 !important;
    }
  }
  &.product-grid {
    @include justify-content(flex-start);
  }
}
