/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/

input,
textarea,
select {
    border: 1px solid $grey-border;
    border-width: 1px;
    border-radius: 0;
    max-width: 100%;
    font-weight: bold;
    font-size: 16px;
    padding: .7em;
    color: black;
    &[type="number"] {
        border: 1px solid $grey-border;
        border-radius: 3px;
        padding: .5em;
        width: 100px;
        font-size: 16px;
        text-align: center;
        font-weight: normal;
    }
    &:focus {
        border-color: $pink;
    }
    &[disabled] {
        cursor: default;
        background-color: $color-disabled;
        border-color: $color-disabled-border;
    }
}

input::placeholder,
textarea::placeholder {
    color:$grey-medium;
}

textarea {
    min-height: 100px;
}

.form-field-wrapper {
    position: relative;
    max-width:380px;
    &.quantity {
        label {
            display:none;
        }
    }
}

#giftForm {
  width:95%;
  margin-right:auto;

  @include media-query($small) {
    width: 100%;
  }
  .alert {
    margin-bottom:2em;
  }
  .form-group {
    margin:0;
    width: 100%;
    clear: both;
    display: flex;
    @include media-query($small) {
      flex-wrap: wrap;
    }
  }
  .form-element {
    position:relative;
    margin:1em 5px 0;
    width: 49%;

    @include media-query($small) {
      width: 100%;
    }
    sup {
      position: absolute;
      top: 26px;
      right: .5em;
      font-size: 2em;
    }
    label {
      transition:opacity .1s ease-in-out;
      opacity:1;
      color:$pink;
      top:-1.3em;
      left:4px;
      position:absolute;
    }
    input, select, textarea {
      &:placeholder-shown:not(:focus)+label {
        opacity:0;
      }
    }
  }
}

/*================ Custom select style ================*/

select {
    @include prefix(appearance, none, webkit moz spec);
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    /*================ Hide the svg arrow in IE9 ================*/
    .ie9 & {
        padding-right: 10px;
        background-image: none;
    }
}

select::-ms-expand {
    display: none;
}


/*================ Error styles ================*/

input,
select,
textarea {
    &.input-error {
        border-color: $red;
    }
}

.error {
  color:$red;
}

form {
    h5 {
        color: $pink;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 1.5em;
    }
    div {
        position: relative;
    }
    &.form-stacked {
        padding: 0 1em;
        input,
        select,
        textarea {
            width: 100%;
            display: block;
            padding: 1em;
            background:none;
            margin:2em 0;
            &::placeholder {
                opacity: 0;
            }
            &:placeholder-shown:not(:focus)+label {
                color: black;
                font-size: 14px;
                top: 1.4em;
                left:1em;
            }
        }
        label {
            display: block;
            position: absolute;
            top: -1.2em;
            left:1em;
            font-size: 12px;
            color: $pink;
            transition: all .1s ease-in-out;
            text-align: left;
            padding: 0;
            border-radius: 0;
        }
        input[type="submit"] {
            width: 50%;
            margin: 0 auto;
        }
    }
}

.hidden-label {
    display: none;
}


/*================ Mailchimp specific styles ================*/

#mc_embed_signup_scroll {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    @include flexbox();
    @include justify-content(center);
    input[type="email"],
    input[type="text"] {
        width: 100%;
        padding: .8em .45em !important;
        background: transparent;
        border: 1px solid $white;
        border-right: none;
        font-weight: 200;
        height: 47px;
        @include media-query($small){
          font-size: 0.9em;

        }
    }
    @include media-query($medium-up) {
        width: 530px;
        .mc-field-group {
            width: 80%;
        }
    }
    @include media-query($small){
        width: 100%;
    }
    .btn {
        padding: 0.9em 2em;
        margin: 0;
        height: auto;
        border: 1px solid $white;
        width: 100%;
        height: 47px;
        @include media-query($small){
          font-size: 0.8em;
        }
    }
}

#mce-responses {
  width: 530px;
  margin: 0 auto;
}

#mc_embed_signup {
  margin: 6em 0;
   width: 100%;
   @include media-query($small){
     margin: 4em 0;
   }
   form {
     @include flexbox();
     @include flex-direction(column);
     h5 {
       margin-bottom: 32px;
       color: $white;
       font-weight: 200;
     }
   }
   .mc-field-group {
     @include media-query($small){
       width: 100%;
     }
   }
   #mce-EMAIL {
     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
      font-weight: 200;
      font-size: 1em;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
      font-weight: 200;
      font-size: 1em;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
      font-weight: 200;
      font-size: 1em;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
      font-weight: 200;
      font-size: 1em;
    }
  }
}

//errors

#mc_embed_signup input.mce_inline_error {
  border-color: $white !important;
}

.mce_inline_error {
    background: none !important;
    color: $white !important;
    text-align: left;
    padding: 5px 0 !important;
}

.success {
    position: fixed;
    transition: all .2s ease-in-out;
    width: 100%;
    left: 0;
    padding: 2em 0;
    background: white;
    text-align: center;
    border-bottom: 1px solid $grey-border;
    z-index: 9999;
    top: 0;
    display: none;
}

.arrow {
    position: absolute;
    background: #ffffff;
    right: 1.5em;
    top: 48%;
}

.arrow:after,
.arrow:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 4px;
    margin-left: -4px;
}

.arrow:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-left: -5px;
}

.ajaxified-cart-feedback.error {
    display: none !important;
}

#selectError {
    position: fixed;
    top: 0;
    color:$pink;
    background: white;
    padding: 1.4em 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    left: 0;
}

#MainContent #delivery-date {
    text-align:center;
    .selectric-wrapper {
        @include media-query($medium-up){
            width:340px;
            margin:0 auto;
        }
    }
}

.select-quantity,
.selectric-dropdown {
    float:left;
    display:flex;
    label {
        width:80%;
        background:$pink;
        color:white;
        border:solid darken($pink, 8%);
        border-width:1px 0 1px 1px;
    }
    label,
    select {
        flex-grow:1;
        padding:.7em 1em;
        text-align:center;
        height:44px;
    }
    select {
        width: auto !important;
        padding:.7em 1em .7em 1.4em !important;
        border-left:0;
    }
    .selectric-items {
        top:87% !important;
    }
}

.template-cart {
    .selectric-dropdown {
        select {
            width:100%;
        }
        label {
            line-height:24px;
        }
    }
}

// Account Login pages
form {
  .errors {
    padding:1em;
    text-align: center;
    background:$red;
    color:white;
    font-weight:bold;
    &:before {
      content: "\24E7";
      left: 1em;
      position: absolute;
    }
    ul {
      margin:0;
      padding: 0;
    }
    li {
      padding: 0;
      margin: 0;
      list-style:none;
    }
  }
}

.shopify-challenge__container {
  margin:3em auto !important;
}

.shopify-challenge__button.btn {
  background:$pink;
  color:white;
}