/*================ General layout styles ================*/

body,
html {
    background-color: $color-body;
    overflow-x: hidden;
}

.page-width {
    @include clearfix();
    max-width: $width-site;
    padding: 0 $gutter;
    margin: 0 auto;
}

hr {
    border-color: #DBDBDB;
}

iframe[seamless="seamless"]{
    min-height:50vh !important;
}