/*================ Links & Buttons ================*/

a,
a:visited,
a:focus {
    color: $pink;
    transition: all .1s;
    &:hover {
        color: darken($pink, 5%);
    }
    &.btn-outline {
        color: black;
    }
}

.btn {
    @include prefix('user-select', 'none', moz ms webkit spec);
    @include prefix(appearance, none, webkit moz spec);
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    border-radius: 0;
    font-weight: $font-weight-bold;
    padding: .8em 1.5em;
    font-size: 18px;
    @include media-query($large-down){
      font-size: 16px;
    }
    &.btn-pink {
        background: $pink;
        color: white;
        &:hover {
            color: white;
            background: lighten($pink, 4%);
            box-shadow: none;
        }
    }
    &.btn-green {
        background: $seagreen;
        color:white;
        text-shadow:1px 1px 1px darken($seagreen, 30%);
        &:hover {
            background:darken($seagreen, 5%);
            color:white;
        }
    }
    &.btn-red {
        background:$red;
        color:white;
        text-shadow:1px 1px 1px darken($red, 30%);
        &:hover {
            background:darken($red, 5%);
        }
    }
}

.btn-outline {
    background: none;
    border: 2px solid $black-border;
    padding: .5em 3em;
    font-size: 14px;
    font-weight: $font-weight-bold;
    color: black;
    &.pink {
        border-color: $pink;
        color: $pink;
    }
}

//Select2buttons
.select2Buttons strong {
    display: block;
    clear: left;
    padding-top: 5px;
}

.select2Buttons ul {
    list-style-type: none;
    clear: left;
    margin: 5px;
    padding: 0;
}

.select2Buttons li,
.select2Buttons a {
    float: left;
    min-width: 37px;
}

.select2Buttons li {
    margin: 0 5px 5px 0;
}

.select2Buttons li a,
.select2Buttons .limited a,
.select2Buttons .disabled {
    border: 1px solid #9dc4e3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.select2Buttons li:last-child {
    margin-right: 0;
}

.select2Buttons a {
    color: #3c89c8;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.select2Buttons .disabled span {
    padding: 4px;
    display: block;
    font-size: 15px;
    min-width: 37px;
}

.select2Buttons a:hover,
.select2Buttons .picked {
    background: #3c89c8;
    border-color: #3c89c8;
    color: #FFF;
    text-decoration: none;
}

.select2Buttons .limited a,
.select2Buttons .disabled {
    text-align: center;
}

.select2Buttons .disabled {
    border: 1px solid #d1d1d1;
    color: #999;
}

.select2Buttons .disabled .picked {
    background: #d1d1d1;
    border-color: #d1d1d1;
    color: #FFF;
}

.ajaxified-cart-feedback {
    a:hover,
    a:focus {
        text-decoration: none;
    }
}

// submit Buttons
.btn-submit {
  padding: .5em 2em;
  font-size: 1.3em;
  visibility: visible;
  font-weight: 400;
  background: #e86b7f;
  color: #fff;
  outline: none;
  @include media-query($medium-down){
    font-size: 1.2em;
  }
  &:active:focus,
  &:focus,
  &:hover {
    outline: none;
    outline-offset: 0;
    color: $white;
  }
}

#shopify-section-product-single {
  .btn-submit {
    margin-top: 20px;
    &:active:focus,
    &:focus,
    &:hover {
      background: lighten($pink, 4%);
    }
  }
}

.addtocart, .addtocart-addons {
  &:active:focus,
  &:focus,
  &:hover {
    background: lighten($pink, 4%);
  }
}

.empty-cart {
  cursor: pointer;
  text-decoration: underline;
}

.btn-collection {
  display: inline-block !important;
  border: 1px solid $pink;
  width: auto;
  margin-top: 15px;
  padding: 7px 31px;
  &:hover, &:focus, &:active {
    background: $pink;
    color: $white !important;
    outline: none;
  }
  a:hover {
    color: $white !important;
  }
}
