.modal {
  position:fixed;
  width:70%;
  height:500px;
  left:50%;
  top:30%;
  margin-left:-35%;
  z-index: 9999;
  transition:all .3s cubic-bezier(.75,-0.5,0,1.75);
  &.modal-small {
    width:34%;
    margin-left:-17%;
    height:auto;
    background:white;
    box-shadow:0 0 3em #c7c7c7;
    z-index: 999999;
    @include media-query($small){
      top:2% !important;
    }
    .modal-inner {
      padding:4em;
      @include media-query($medium){
        padding:5em !important;
      }
    }
  }
  @include media-query($medium-down){
    width: 98%;
    left: 50%;
    top: 2%;
    margin-left: -49%;
    &.modal-small {
      width:80%;
      margin-left:-40%;
      .modal-inner {
        padding:3em;
      }
    }
  }
  .overlay {
    display:block;
  }
  .modal-inner {
    background:white;
    padding:2em;
    position:relative;
    z-index: 10;
    @include media-query($medium-down){
      background-image: none !important;
      text-align:center;
    }
    #mce-responses {
      position: absolute;
      top: -5em;
      left: 0;
      width: 100%;
    }
  }
  .modal-footer {
    padding-left:0;
  }
  #close-modal {
    position:relative;
    top:-3em;
  }
}