$navbar-height: 62px;
$logo-shift: 20px;
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}

div[data-section-id='header'] {
  border-bottom: 1px solid $grey-border-light;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: $white;
}

.dropdown-menu {
  font-size: 0.4em;
}

.button-cart {
  position: absolute;
  display: inline-block;
  width: auto;
  z-index: 9999;
  right: 1em;
  top: 1em;
  @include media-query($large-up) {
    right: $logo-shift;
    top: 1.25em;
  }
  svg {
    fill: $pink;
  }
}

.cart-quantity__wrapper {
  position: absolute;
  background: $pink;
  border-radius: 100px;
  vertical-align: -1px;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  line-height: 17px;
  height: 17px;
  width: 17px;
  text-decoration: none;
  -webkit-transition: background 0.15s ease 0s;
  top: 4px;
  right: -9px;
}

.cart-basket-quantity {
  color: $white;
  font-weight: 600;
  font-size: 11px;
}

@media screen and (max-width: $grid-large + 1) {
  .navbar-toggle {
    display: block;
    float: left;
    border: none;
    margin-top: 3px;
    .icon-bar {
      background: #222222;
    }
  }
  .navbar-default {
    display: flex;
    z-index: 9999;
    padding: 0;
    .navbar-toggle,
    .navmenu-brand {
      width: 33%;
      padding: 0;
      margin: 0;
    }
    .navbar-toggle {
      padding-left: 10px;
      margin-left: 5px;
    }
    .navmenu-brand {
      padding-top: 17px;
    }
  }
  .navmenu {
    width: 254px;
    .navbar-toggle {
      position: absolute;
      top: 1em;
      left: -2em;
      z-index: 9;
    }
  }
  .navbar-nav {
    padding: 0;
    margin: 4.45em 2.5em 0 2.5em;
    &:last-child {
      border-top: 1px solid $grey-border;
      margin-top: 2.225em;
      padding-top: 2.225em;
      .nav-item {
        a {
          text-transform: capitalize;
        }
      }
    }
    .nav-item {
      margin: 0.85em 0 !important;
      width: 100%;
      a {
        padding: 0.8em 0.8em 0.8em 0;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.navbar-default {
  margin-bottom: 0;
  background: #ffffff;
  border: none;
  padding: 0;

  //   .shift-left {
  //     .nav-item a {
  //       padding: 1.5em 2em !important;
  //   }
  // }

  .navbar-nav {
    @include media-query($large-up) {
      padding: 0;
      &.shift-left {
        // margin-left: $logo-shift*5;
        margin-left: 115px;
      }
    }
    a {
      text-transform: none;
      color: $black !important;
      font-weight: 200;
      display: block;
    }
    .nav-item {
      list-style: none;
      margin: 0 2em 0 0;
      padding: 0;
      font-size: 1.415em;
      &.logged {
        padding: 1.8em 0;
        color: $black;
        a {
          display: inline;
          color: $black;
          text-transform: capitalize;
        }
      }
      @include media-query($large-up) {
        font-size: 14px;
        margin: 0;
        .nav-link,
        a {
          padding: 1.5em 2em;
          font-size: 1.2em;
        }
      }
      &.active {
        .nav-link {
          background: none !important;
        }
      }
    }
  }
}

#MainContent {
  position: relative;
  padding-top: 62px;
  &:before {
    content: '';
    display: none;
    position: absolute;
    background: #4c4c4c;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    opacity: 0;
  }
  @include media-query($small) {
    margin: 0;
    padding-top: 50px;
  }
}

.canvas-slid,
.canvas-sliding {
  #MainContent {
    &:before {
      opacity: 1;
    }
    z-index: 1031;
  }
}

@include media-query($large-up) {
  .navmenu {
    position: relative;
    width: 100%;
  }
  .navmenu-brand {
    display: block;
    margin: 0 auto;
    line-height: normal;
    padding: 0;
    position: absolute;
    left: $logo-shift;
    top: 1.5em;
    z-index: 9999;
  }
  .site-logo {
    float: left;
  }
  .navmenu-fixed-left {
    overflow-y: visible;
  }
}

.navbar-right {
  margin-right: 50px;
}

.nav-item-desktop {
  display: block;
  @media (max-width: 991px) {
    display: none;
  }
}

.nav-item-mobile {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }

  .nav-dropdown-block:last-child {
    padding-bottom: 10px;
  }
}

.nav-dropdown-desktop,
.nav-dropdown-mobile {
  display: none;
  position: absolute;
  background: #f8f8f8;
  height: auto;
  width: 100vw;
  left: 0;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  @media (max-width: 991px) {
    position: relative;
    width: auto;
  }
  .nav-dropdown-image {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .nav-dropdown-wrap {
    @include flexbox();
    @include justify-content(center);
    padding: 1em 0 2em;
    margin: 0 6em;
    @media (max-width: 991px) {
      @include flex-direction(column);
    }
    @media (max-width: 991px) {
      padding: 0;
      margin: 0;
    }
  }
  .nav-dropdown-block {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: 0 5em;
    border-right: 1px solid #c7c7c7;
    @media (max-width: 991px) {
      @include align-items(flex-start);
      border-right: 0;
      padding: 0;
      line-height: 1px;
    }
    &:last-child {
      border-right: 0;
    }
  }
  .nav-dropdown-item {
    .nav-dropdown-description {
      text-align: center;
      color: $black;
      text-decoration: none;
      max-width: 400px;
      font-size: 14px;
      @media (max-width: 991px) {
        text-align: left;
        line-height: 1.3;
      }
    }
    .nav-dropdown-title {
      font-weight: bold;
      color: $pink !important;
      font-size: 20px;
      @include media-query($small) {
        font-size: 18px;
      }
    }
    .nav-dropdown-cta {
      a {
        color: $pink;
      }
    }
    a {
      display: block;
      padding: 8px 0 !important;
    }
  }
}
