h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
    @include media-query($large-down){
      font-size:20px;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-small {
    font-size: 11px;
}

.text-large {
    font-size: 1.5em;
}

.text-xl {
    font-size: 40px;
}

.uc {
    text-transform: uppercase;
}

.text-grey {
    color: $grey-dark;
}

.text-pink {
    color: $pink;
}

p {
    line-height:1.5em;
    font-size:18px;
    @include media-query($large-down){
      font-size:16px;
    }
}
