//Order overview
//Login page
.template-customers-login {
    .form-vertical {
        @include media-query($large-up) {
            width: 50%;
            float: left;
        }
        padding:2em;
        position:relative;
        input[type="email"] {
            margin-top: 1em;
        }
        #create_customer {
            div[class^="ship"] {
                display: none;
            }
        }
        &#CustomerLoginForm {
            &:after {
                content: "or";
                display: block;
                font-size: 30px;
                position: relative;
                top: .8em;
                right: -.5em;
                background: white;
                padding: .5em 0;
            }
            @include media-query($large-up) {
                border-right: 1px solid #eee;
                &:after {
                    position: absolute;
                }
            }
        }
    }
    #RecoverPasswordForm {
        .form-vertical {
            float: none;
            margin: 0 auto;
            @include media-query($medium-down) {
                width: 80%;
            }
            @include media-query($small) {
                width: 100%;
            }
        }
    }
}

//Modal popup
._2IvOD6oqN9dBHm_yipvTaO {
    @include media-query($small) {
        width: 321px !important;
        left: 50%;
        position: absolute !important;
        margin-left: -50% !important;
    }
    @include media-query($medium-down) {
        width: 610px !important;
        max-width: 100% !important;
        left: 50%;
        position: absolute !important;
        margin-left: -42% !important;
    }
}

#ReCharge {
    margin-top:2em;
    .nav-pills 
        > li.active
            > a {
                background:$pink;
                border-radius:0;
            }

    .recharge {
        .table {
            border-top:1px solid $grey-border;
            margin-top:1em;
            th, td {
                padding:20px;
                vertical-align:middle;
            }
        }
    }
}