.featured-collection {
    text-align: center;
    .flex-item {
        min-height: 0;
        a {
            background-position: center;
            background-size:cover;
            height:300px;
            @include media-query($medium-down){
                height:150px;
            }
        }
    }
    h2 {
        font-size: 28px;
        margin-bottom: 1em;
        font-weight: bold;
    }
    .grid {
        display: flex;
        margin: 0 auto;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    .grid__item {
        width: 25%;
        height: 250px;
        padding: 0 1%;
        @include media-query($medium) {
            height: 180px;
            padding: 0 .5%;
        }
        @include media-query($small) {
            width: 50%;
            height: 155px;
            padding: 2%;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
    }
    .btn {
        margin: 2em auto;
        padding-left: 4em;
        padding-right: 4em;
    }
}

//Styles for Collections lists and product grid page
.section-header {
    text-align: center;
    h1 {
        font-size: $font-size-base*2.5;
    }
    .section-header__title {
      color: $grey-dark;
    }
    .rte--header {
        color: $grey;
    }
    .h3 {
        margin-bottom: 0;
    }
    &.a-Collection {
        margin-bottom: 4em;
        h3 {
            display: none;
        }
        .rte--header {
            font-family: $font-stack-header;
            font-size: $font-size-base*2;
            color: $grey-dark;
        }
        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            height: 1px;
            width: 6%;
            background: $color-primary;
        }
    }
}

a.grid__image {
    height: 350px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: block;
    @include media-query($medium) {
        height: 300px;
    }
}

#collections {
    .main-content {
        // padding-top:15%;
        h2 {
            text-align: center;
            margin-top: 1em;
            &:after {
                margin-top: 0;
            }
        }
    }
    .img-header {
        background: url(collection-header.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        .push-right {
            position: relative;
            width: 50%;
            left: 40%;
            top: 20%;
            @include media-query($medium) {
                left: 45%;
                top: 0;
            }
            @include media-query($small) {
                top: 20%;
            }
            h2 {
                font-weight: 100;
                margin-bottom: 0;
                @include media-query($small) {
                    font-size: $font-size-base*1.4;
                }
            }
            h3 {
                @include media-query($small) {
                    font-size: $font-size-base;
                }
            }
        }
    }
}

.template-collection {
    .main-content.featured {
        padding-top: $featuredHeight;
        @include media-query($small) {
            padding-top: $featuredHeight - 80;
        }
    }
}

.template-collection,
.template-collection-color,
.template-list-collections {
    .main-content {
        .grid__item {
            text-align: center;
            // margin-bottom:4em;
            &.collection__item {
                // margin-bottom:4em;
                // padding-left:0px;
                a.grid__image {
                    height: 350px;
                    @include media-query($medium) {
                        height: 200px;
                    }
                }
            }
            p {
                padding: 0;
            }
            a,
            .page {
                color: black;
                font-size: $font-size-base*1.5;
                font-weight: 400;
                display: inline-block;
                &:hover {
                    color: $color-primary;
                }
                &.current {
                    color: $color-primary;
                }
            }
        }
        .text--small {
            font-size: $font-size-base;
        }
    }
    .product-grid {
        .flex-item {
            height: 100%;
            // flex-grow: 1;
            .grid__image {
                height: 260px;
            }
        }
      	@include media-query($medium-down) {
        	.flex-filler {
              min-height:0;
              display: none;
            }
        }
    }
}

// collection price
.product-price__price {
    display: block;
}

.product-grid-item {
  @include media-query($small){
    text-align: center;
  }
}

//Shop by color
@mixin colorCircle {
    color: white;
    display: block;
    font-size: $font-size-base*2;
    margin: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

//Set variable for color class name
// $c: '&.color-';
// .template-collection-color {
//     .filter-menu {
//         h2 {
//             margin-top: 1em;
//         }
//     }
//     //Specific color pages
//     .header {
//         h2 {
//             display: none;
//         }
//         .collection-container.active {
//             float: none;
//             width: 200px;
//             margin: 0 auto 4em auto;
//         }
//     }
//     .collection-container,
//     .section-header {
//         position: relative;
//         float: left;
//         text-align: center;
//         margin: 2%;
//         flex-flow: row wrap;
//         transition: all .2s;
//         margin-bottom: 2.5em;
//         width: 29%;
//         @include media-query($large-down) {
//             width: 46%;
//         }
//         @include media-query($small) {
//             float: none;
//             margin: 2% auto 2.5em auto;
//             width: 100%;
//         }
//         &.full-width {
//             width: 100% !important;
//         }
//         .btn {
//             padding: 1.5em;
//             color: $grey;
//             width: 100%;
//             margin: 0 auto;
//             font-size: $font-size-base*.8;
//             @include media-query($large-up) {
//                 width: 100%;
//             }
//         }
//         .section-header__right {
//             margin: 1em 0;
//             @include media-query($large-up) {
//                 position: absolute;
//                 top: 0;
//                 right: 2em;
//                 margin: 0;
//             }
//         }
//         h1 {
//             @include colorCircle;
//             background: black; //REMOVE
//             margin: 0 auto;
//             border-radius: 100px;
//         }
//         &.active {
//             width: auto;
//             &:hover {
//                 box-shadow: 0 0 10px #eee;
//             }
//         }
//         .collection-name {
//             width: 200px;
//             height: 200px;
//             border-radius: 100px;
//             margin: 0 auto 1em auto;
//             a {
//                 @include colorCircle;
//             }
//             //individual flower colors
//             //Gradient mix - top to bottom
//             @mixin flowerColor($color1, $color2:0, $color3:0) {
//                 background: $color1;
//                 /* Old browsers */
//                 background: -moz-linear-gradient(top, $color1 0%, $color2 35%, $color3 80%);
//                 /* FF3.6-15 */
//                 background: -webkit-linear-gradient(top, $color1 0%, $color2 35%, $color3 80%);
//                 /* Chrome10-25,Safari5.1-6 */
//                 background: linear-gradient(to bottom, $color1 0%, $color2 35%, $color3 80%);
//                 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//                 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1);
//                 /* IE6-9 */
//             }
//             #{$c}blue {
//                 @include flowerColor(#92D3F6, null, #C1DDFF);
//             }
//             #{$c}blue-pink-cream {
//                 @include flowerColor(#9FD6F9, #FFACDA, #FFEBBE);
//             }
//             #{$c}coral {
//                 @include flowerColor(#FF3C27, #FE714F, #FE9C69);
//             }
//             #{$c}cream {
//                 @include flowerColor(#FFEBBE, null, #FAF7E9);
//                 a {
//                     color: black;
//                 }
//             }
//             #{$c}hot-pink {
//                 @include flowerColor(#83002F, #F0A9B5, #FF4A74);
//             }
//             #{$c}hot-pinks-light-pinks {
//                 @include flowerColor(#83002F, #FF5971, #FFACDA);
//             }
//             #{$c}lavender {
//                 @include flowerColor(#C37EA4, null, #D8CDE9);
//             }
//             #{$c}lavender-white {
//                 @include flowerColor(#C37EA4, null, #f9f9f9);
//             }
//             #{$c}lavenders-purples {
//                 @include flowerColor(#C37EA4, null, #492056);
//             }
//             #{$c}light-coral {
//                 @include flowerColor(#FF3C27, #FE714F, #FE9C69);
//             }
//             #{$c}light-pink {
//                 @include flowerColor(#FFACDA, #F0A9B5, #FFDDD5);
//             }
//             #{$c}light-peach {
//                 @include flowerColor(#FEA371, null, #FFE3CE);
//             }
//             #{$c}lt-peaches-creams {
//                 @include flowerColor(#FFE3CE, #FEA371, #FFEBBE);
//             }
//             #{$c}lt-pinks-creams {
//                 @include flowerColor(#FFACDA, #F0A9B5, #FFEBBE);
//             }
//             #{$c}red {
//                 @include flowerColor(#961C00, null, #FF2A30);
//             }
//             #{$c}reds-creams {
//                 @include flowerColor(#FF2A30, #FF2A30, #FFEBBE);
//             }
//             #{$c}purple {
//                 @include flowerColor(#492056, #820D4D, #FF7FC6);
//             }
//             #{$c}white {
//                 @include flowerColor(#F0F0F0, null, #f9f9f9);
//                 a {
//                     color: black;
//                 }
//             }
//             #{$c}yellow {
//                 @include flowerColor(#FFDF13, null, #FFFFA6);
//                 a {
//                     color: black;
//                 }
//             }
//             #{$c}yellow-white {
//                 @include flowerColor(#FFDF13, null, #f9f9f9);
//                 a {
//                     color: black;
//                 }
//             }
//         }
//     }
// }
// //Product gird under each color circle
// .color-thumbs {
//     display: block;
//     width: auto;
//     ul {
//         display: flex;
//         justify-content: center;
//         margin: 1em 0;
//         li {
//             display: inline;
//             border-radius: 50px;
//             width: 87px;
//             height: 87px;
//             overflow: hidden;
//             text-align: center;
//             flex-flow: row wrap;
//             margin: 0 3px;
//             background-position-x: -8px;
//             background-position-y: -6px;
//             &.two {
//                 background-position-x: -106px;
//             }
//             &.three {
//                 background-position-x: -204px;
//             }
//         }
//         @mixin flower-circlebg($colorName) {
//             #{$c}#{$colorName} {
//                 li {
//                     background-image: url('circles-#{$colorName}.png');
//                 }
//             }
//         }
//         @include flower-circlebg('blue');
//         @include flower-circlebg('coral');
//         @include flower-circlebg('cream');
//         @include flower-circlebg('hot-pink');
//         @include flower-circlebg('lavender');
//         @include flower-circlebg('light-peach');
//         @include flower-circlebg('light-pink');
//         @include flower-circlebg('purple');
//         @include flower-circlebg('red');
//         @include flower-circlebg('white');
//         @include flower-circlebg('yellow');
//     }
// }
