
.collection-nav {
  background:$grey-pale;
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  margin-bottom: 25px;
  margin-top: 42px;
  border-bottom: 1px solid $grey-border-light;
  text-transform: uppercase;
  @include media-query($small){
    margin-bottom: 15px;
    margin-top: 0;
  }

  .view-all {
    display: none;
    @media(max-width: 768px){
      display: block;
    }
  }

    .page-width {
      position: relative;
    }
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        position: absolute;
      	text-transform: uppercase;
      	font-weight: bold;
    }
    li {
        display:inline-block;
        float: left;
        margin-right: 1px;
        a {
          display:block;
          height: 50px;
          text-align: left;
          line-height: 50px;
          text-decoration: none;
          margin-right: 40px;
          color:$grey-dark;
      }
      &:hover a {
          color:$black;
      }
      &:hover ul a {
          color: $grey-dark;
          height: 40px;
          line-height: 40px;
      }
      &:hover ul a:hover {
          color: $black;
      }
      ul {
          display: none;
      }
      ul li {
          display: block;
          float: none;
          background: $grey-pale;
          border-bottom: 1px solid $grey-border-light;
      }
      ul li a {
          width: auto;
          min-width: 100px;
          padding: 0 20px;
          border: 0!important;
      }
    }
    ul li a:hover + .hidden-nav, .hidden-nav:hover {
    	display: block;
      	z-index: 2;
	}
    .show-categories {
        text-decoration: none;
        color: $grey-dark;
        background: none;
        text-align: left;
        padding: 15px 0 0;
        display: none;
      	z-index:100;
      	position: relative;
    }
  	.show-collection-wrap {
      	position: absolute;
      	text-align: right;
      	right: 30px;
      	top: 15px;
      	display: inline-block;
      	min-width: 150px;
      	z-index: 50;
      	color:$grey-dark;
      	ul {
          display: none;
          margin-top: 10px;
          right: 0;
        }
      	li {
          display: block;
          float: none;
          width: 200px;
          background: $grey-pale;
          border-bottom:  1px solid $grey-border-light;
          a {
            text-align: right;
          }
        }
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]:checked ~ #collection-category{
        display: block;
    }
  	input[type=checkbox]:checked ~ #collection-sorting{
        display: block;
    }
    /*Responsive Styles*/
    @media screen and (max-width : 760px){
        ul {
            position: static;
            display: none;
          	margin-top: 10px;
        }
        li {
          	background: darken($grey-pale, 3);
        }
        ul li, li a {
            width: calc(100% + 60px);
          	padding: 0 30px;
          	margin-left: -30px;
          	border: 0!important;
        }
      	ul li ul {
          margin-top: 0!important;
        }
      	ul li ul a {
          width: calc(100% + 120px);
          padding: 0 30px;
          background: darkend($grey-pale,2);
        }
        .show-categories {
            display: inline-block;
        }
      	.show-collection-wrap {
          	ul {
              width: 100%;
            }
          	li {
              width: 100vw;
              margin-right: -30px;
            }
      	}
    }
}
