.cta-color-block {
  @include media-query($small){
    display:block;
  }
  display:flex;
  .block {
    padding:8em 4em;
    text-align:center;
    background:$pink-lightest;
    width:50%;
    position:relative;
    overflow:hidden;
    @include media-query($small){
      width:100%;
      padding:2em;
    }
    .block-inner {
      position:relative;
      z-index:2;
    }
    .block-bg-opacity {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      background-color:white;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .block-bg {
      position:absolute;
      z-index: 1;
      width:70%;
      float:left;
      min-height:390px;
      left:-30%;
      top:0;
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center 20%;
      @include media-query($medium-down){
        background-size:100%;
      }
      @include media-query($large-down){
        left:-40%;
        width:80%;
        &.bg-right {
          right:-40%;
        }
      }
      &.bg-right {
        right:-30%;
        left:auto;
      }
    }
    &:first-child {
      margin-right:10px;
      @include media-query($small){
        margin-bottom: 10px;
      }
    }
    .icon {
      position:relative;
      &:before,
      &:after {
        content:"";
        display:block;
        position:absolute;
        height:1px;
        background:$grey-dark;
        opacity:.7;
        width:85px;
        top:50%;
      }
      &:after {
        right:-8em;
      }
      &:before {
        left:-8em;
      }
    }
    h3 {
      font-weight: bold;
      font-size:28px;
    }
    .btn {
      margin:1em 0;
      padding:.7em 1em;
      display:inline-block;
    }
  }
  .block.block-mobile {
    @include media-query($small){
      padding: 10em 2em;
    }
  }
}
#partnerLogos {
  .title {
    float:left;
    margin:1.25em 0;
    position: relative;
    @include media-query($large-up){
      top:30px;
    }
    @include media-query($small){
      font-size:28px;
      width:100%;
      text-align:center;
    }
  }
  .flex-item {
    .icon {
      line-height:100px;
    }
    @include media-query($medium-up) {
      flex-basis:auto;
      max-width:20%;
      flex-grow:1;
    }
    @include media-query($small){
      margin:1em auto;
    }
  }
}
