@import url('../../../node_modules/js-datepicker/dist/datepicker.min.css');
 
#datepicker {
  border:none;
  outline:none;
  width:100%;
  font-size:1.3em;
  font-weight:300;
  display:block;
  position:relative;
  margin:0 !important;
  background:$pink;
  text-align:center;
  color:white;
  padding:.45em;
  &::placeholder {
    color:white;
  }
  @include media-query($small){
    font-size:1em;
    padding:0.8em;
  }
}

#cal-icon {
  position: absolute;
  left: 4%;
  top: .65em;
  cursor:pointer;
  svg {
    width:20px;
    height:20px;
    display:block;
  }
}

#cal-arrow {
  color:white;
  font-size:2em;
  position:absolute;
  right:2%;
  top:10px;
  cursor:pointer;
  svg {
    width:20px;
    height:20px;
    display:block;
  }
}

@include media-query($medium-down){
  .input-wrap {
    width:100%;
  }
}

.qs-datepicker {
  border-radius:0;
  border-color:$pink;
  .qs-controls {
    background:$pink;
    color:white;
  }
  .qs-arrow {
    &.qs-left {
      &:after {
        border-right-color:white;
      }
    }
    &.qs-right {
      &:after {
        border-left-color:white;
      }
    }
  }
  .qs-square {
    &.qs-active,
    &:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
      background: $pink;
      color:white;
    }
  }
}
