// modules/event.scss

#event-listing {
    .flex-item:first-child {
        @include media-query($medium-up){
            background:url(event-arrow.png?cache-bust=1) no-repeat;
            background-size:50%;
            background-position:bottom right;
        }
    }
    #eventbrite {
        background:$grey-lightest;
        &:after {
            content:"";
            display:block;
            width:99.8%;
            height: 15px;
            background: rgba(0,0,0,0.1);
            filter: blur(3px);
            position: sticky;
            bottom: 0;
            z-index: 999;
            margin-top:-1.5em;
            margin-left:.2%;
        }
    }
}