// // old FAQ CSS
.faq-item {
  a {
    display:inline !important;
  }
  .question {
    font-weight:bold;
  }
}
// new FAQ CSS
.home-faq-wrap {
  background: $grey-pale;
  padding: 4em 0;
  @include media-query($small){
    padding: 2em 0;
  }
}
.home-faq {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  &.container {
    padding-left: 0;
    padding-right: 0;
  }
  .home-faq-list {
    width: 100%;
    text-align:center;
  }
  h2 {
    margin-bottom: 1em;
  }
  .home-faq-q {
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid #c8c8c8;
    &:first-child {
      border-top: 1px solid #c8c8c8;
    }
  }
  .home-faq-a {
    padding: 20px;
    border-bottom: 1px solid #c8c8c8;
    background: #f1f1f1;
    p {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .home-faq-cta {
    margin: 3em auto 2em;
  }
  .home-faq-terms {
    text-align: center;
    padding: 0 0 20px;
  }
}

.faq-page {
  margin: 36px auto 50px !important;
  padding: 0 20px;

  h1 {
    text-align: center;
    font-size: 2.5em;
    @include media-query($small){
      font-size: 35px;
      margin: 13px 0;
    }
  }
  h2 {
    font-size: 30px;
    margin-top: 2em;
    @include media-query($small){
      margin-top: 50px;
    }
  }
  h3, h4 {
    font-size: 22px;
    font-weight: bold;
      @include media-query($small){
        font-size: 20px;
      }
  }
  p {
    font-size: 18px;
    @include media-query($small){
      font-size: 16px;
    }
  }
  ul {
    font-size: 18px;
    @include media-query($small){
      font-size: 16px;
      margin: 0 0 15px;
    }
  }
  div {
    font-size: 18px;
    margin-top: 15px;
    @include media-query($small){
      font-size: 16px;
    }
  }
}
