.feature {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    h3 {
        color: $pink;
    }
    @include media-query($small) {
        background: none !important;
    }
    @include media-query($medium-down) {
        background-size: 100%;
        height: auto !important;
        margin-bottom: 8em;
    }
    .inner {
        text-align: center;
        img {
            width: 200%;
            max-width: 300%;
            left: -100%;
            position: absolute;
        }
        @include media-query($medium-up) {
            width: 25%;
            left: 12%;
            top: 17%;
            position: absolute;
            img {
                display: none;
            }
        }
        @include media-query($medium) {
            width: 32%;
            top: 30%;
            left: 2%;
        }
        &.float-right {
            right: 12%;
            left: auto;
            @include media-query($medium) {
                right: 18%;
            }
        }
    }
}