//modules/featured-product.scss
#featured-product {
    margin-bottom:4vw;
    .flex-item {
        flex-basis:50%;
        padding:0;
        @include media-query($small){
            flex-basis:100%;
            margin:0;
        }
        &#prod-img {
            img {
                width:100%;
                @include media-query($medium-up){
                    position:relative;
                    top:5%;
                }
            }
        }

        &#prod-desc {
            padding:0 1em 1em;
            @include media-query($medium) {
                margin-bottom:8vw;
            }
            @include media-query($medium-up){
                text-align:left;
                position:relative;
                height:42vw;
                margin-top:1em;
            }
            .p {
                display:block;
                position:relative;
                @include media-query($large-down){
                    max-height:16vw;
                    overflow-y:scroll;
                    // &:after {
                    //     content:"";
                    //     display:block;
                    //     width:100%;
                    //     height: 5px;
                    //     background: rgba(0,0,0,0.4);
                    //     filter: blur(5px);
                    //     position: sticky;
                    //     bottom: 0;
                    //     z-index: 999;
                    // }
                }
                @include media-query($small){
                    max-height:50vw;
                }
            }
            @include media-query($large-up){
                padding:7em;
            }
            .btn {
                margin:1em auto;

            }
        }
    }
    #prod-img-addtl {
        display:flex;
        margin-top:3em;
        width:100%;
        overflow-y:scroll;
        a {
            margin:0 5px 5px 0;
        }
    }
}