#shopify-section-footer {
    float:left;
    width:100%;
    clear: both;
    padding-bottom: 3.5em;
    background: $pink;
    &:last-child {
      margin-bottom: 0;
    }
    a {
     color: #ffffff;
    }
}

.template-login {
    #shopify-section-footer {
        margin-top:5em;
    }
}

.template-index #shopify-section-footer {
  margin-top: 0;
}

footer {
    color: $white;
    text-align: center;
    .grid__item {
        padding-left: 20px;
        @include media-query($small) {
            padding: 0;
        }
    }
    .float-half {
        @include media-query($medium-down) {
            width: 100% !important;
        }
    }
    .float {
        @include media-query($medium-down) {
            float: none;
            display: inline-block;
        }
    }
    h5 {
        font-weight: bold;
        margin: .35em 0;
        @include media-query($medium-up) {
            display: inline-block;
            position: relative;
        }
        @include media-query($large-up) {
            float: left;
        }
        @include media-query($small) {
            display: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        @include media-query($medium-down) {
            margin: 1em 0;
        }
        @include media-query($medium-up) {
            display: inline-block;
        }
        @include media-query($large-up) {
            float: left;
        }
    }
    li {
        list-style: none;
        padding: 0;
        display: inline-block;
        margin: 0 1em;
        @include media-query($small) {
            margin: 0 5px;
        }
        &.icon {
            opacity: 1;
            &:hover {
                opacity: .6;
            }
        }
        a,
        a:visited,
        a:focus {
            color: $white;
            .icon {
                fill: $white;
            }
        }
    }
}
