.headline,
.hero {
    text-align: center;
    clear: both;
    margin: 1em auto;
    padding: .1em 0;
    position: relative;
    h3,
    p {
        color: black;
    }
    h3 {
        font-size: 3em;
        font-weight: bold;
        @include media-query($small){
            font-size:28px;
        }
    }
    p {
        font-size: 1.6em;
        @include media-query($small){
            font-size:1em;
        }
    }
    h2 {
        color: $pink;
        font-size: 28px;
        font-weight: bold;
    }
    .overlay {
        position: absolute;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        top: 20%;
        padding: 2em 3em;
        background: rgba(246, 214, 217, 1);
        opacity: .9;
        display: block;
        box-shadow:1px 1px 3px rgba(0,0,0,.2);
        border-radius:4px;
        &:before {
            display: none;
        }
        @include media-query($medium-down){
            margin-top:0 !important;
        }
        @include media-query($medium) {
            width: 70%;
            margin-left: -35%;
            top: 28%;
            padding: 1em 2em;
        }
        @include media-query($small) {
            width: 100%;
            left: 0;
            margin-left: 0;
            top: -1px;
        }
    }
}

.headline {
    @include media-query($medium-down) {
        margin: 1em 5% !important;
    }
}