.hero {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200px;
    margin-top: 0 !important;
    position: relative;
    @include media-query($small) {
        background-size: 100%;
        min-height: 140px !important;
    }
    @include media-query($large-up) {
        background-size: 100%;
    }
    .overlay {
        display: block;
        &:before {
            display: none;
        }
    }
    p {
        text-align: center;
    }
}

.hero-bg {
    @include media-query($widescreen){
        height:80vh;
    }
    display:block;
    overflow:hidden;
    img {
        width:100%;
    }
}

.overlay-image {
    display:block;
    margin-bottom:2em;
}

//quickfix for the loccitane page
#shopify-section-loccitane {
    .hero {
        .overlay {
            @include media-query($small){
                margin-top:5% !important;
                text-shadow:1px 1px 3px #fff;
                .overlay-image {
                    margin-bottom:1em;
                }
            }
        }
        @include media-query($widescreen) {
            .hero-bg {
                img {
                    object-position:0 -14vh;
                }
            }
        }
    }
}

//quickfix for subscription landing page
.page-subscriptions {
    .hero {
        .hero-bg {
            height:auto;
            max-height:300px;
            @include media-query($small){
                max-height:200px;
            }
        }
        .overlay {
            @include media-query($large-up){
                width:49%;
            }
            h3 {
                color:white;
                text-shadow:1px 1px 2px rgba(0,0,0,.7);
            }
        }
    }
    #howItWorks{
        margin-top:0;
    }
}