.shop-instagram-section {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.shop-instagram {
  padding: 25px 72px;
  text-align: center;
  background: #F8F8F8;
  @include media-query($small){
    padding: 25px 18px;
  }
  h2 {
    margin-bottom: 1em;
  }
}
