#partnerLogos {
  padding: 28px;
  @include media-query($small){
    padding: 0 0 16px;
  }
  .title {
    float:left;
    margin:1.25em 0;
    position: relative;
    @include media-query($large-up){
      top:30px;
    }
    @include media-query($small){
      font-size:28px;
      width:100%;
      text-align:center;
    }
  }
  .flex-item {
    .icon {
      line-height:100px;
    }
    @include media-query($medium-up) {
      flex-basis:auto;
      max-width:20%;
      flex-grow:1;
    }
    @include media-query($small){
      margin:1em auto;
    }
  }
}
