#productPhoto {
    width: 96%;
    .gallery-top {
        .swiper-slide {
            float: left;
            img,
            iframe {
                width: 100% !important;
            }
        }
    }
}

.video-play-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    padding: 5px 0;
}

#productImageSlider {
    width: 96% !important;
    overflow: hidden;
    position: relative;
    @include media-query($small) {
        width: 100% !important;
        margin-bottom:2em;
    }
    .slides {
        cursor: default;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
        width: 100%;
        height:750px;
        @include media-query($medium-down){
            height:500px;
        }
        .slide-title {
            margin-top:0;
        }
        div {
            position:relative;
        }
        span,
        iframe,
        .video-wrapper {
            &[data-u="image"] {
                height:650px;
                @include media-query($medium-down){
                    height:400px;
                }
            }
            &:not(.float){
                width: 100% !important;
                display: block;
                background-size: cover !important;
                background-position: top center;
                background-repeat: no-repeat;
                &.btn {
                    width:auto !important;
                    display:inline-block;
                }
            }
        }
    }
}

.slider-arrows {
    display: block;
    position: absolute;
    cursor: pointer
}

.slider-arrows .a {
    fill: none;
    stroke: #fff;
    stroke-width: 360;
    stroke-miterlimit: 10
}

.slider-arrows:hover {
    opacity: .8
}

.slider-arrows.slider-arrowsdn {
    opacity: .5
}

.slider-arrows.slider-arrowsds {
    opacity: .3;
    pointer-events: none
}

.slider-thumbs {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    display:block !important;
    cursor: default;
    div:first-child {
        left: 0 !important;
    }
    .thumbs {
        div:first-child {}
    }
}

.slider-thumbs .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 42px;
    background-color: #000
}

.slider-thumbs .p img {
    left: 0;
    height: 100%
}

.slider-thumbs .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .9;
}

.slider-thumbs .p:hover .t {
    opacity: .8
}

.slider-thumbs .pav .t,
.slider-thumbs .pdn .t,
.slider-thumbs .p:hover.pdn .t {
    opacity: 1
}

.slider-thumbs .ti {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3)
}

.slider-thumbs .pav .ti,
.slider-thumbs .pdn .ti,
.slider-thumbs .p:hover.pdn .ti {
    color: #000;
    background-color: rgba(255, 255, 255, .6)
}