// styling for blocks on product templates

/*============= product-description.liquid  ===========*/

.product-description {
  // background: $grey-lightest;
  background: #f3f3f3;
  // margin-top: 54px;
  margin-top: 0;
  clear:  both;
  @include media-query($medium-up){
    margin-left: 0;
  }
  @include media-query($small){
    padding: 55px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    @include media-query($small){
      text-align: left;
      font-size: 2em;
      margin-bottom: 30px;
      padding: 0 25px;
    }
  }
  img {
    width: 100%;
  }

  p {
    margin-bottom: 10px;
  }
  li {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

.product-description__wrapper {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include media-query($medium-down){
    @include flex-direction(column);
  }
}

.product-description__item--half {
  width: 50%;
  @include media-query($medium-down){
    width: 100%;
  }
  p {
    @include media-query($medium-down){
      font-size: 16px;
      line-height: 1.4;
   }
  }
}

.product-description__item--full {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  @include media-query($small){
    padding: 0 25px;
  }
  .p1 {
    line-height: 25px;
    margin-bottom: 3px;
    @include media-query($small){
      font-size: 1em;
      line-height: 21px;
    }
  }
  .p2 {
    line-height: 0;
  }
}

.product-description__item--first {
  margin: 0 20px;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 60vh;
  max-height: 400px;
    @include media-query($medium-down){
      margin: 0 0 37px;
      width: 100%;
      height: 40vh;
    }
}

.product-description__item--second {
  margin: 0 30px 0 20px;
  ul {
    padding-left: 20px;
    font-size: 16px;
  }
  @include media-query($medium-down){
    margin: 0;
    max-width: 700px;
    width: 100%;
    margin-top: 33px;
  }
  // @media(max-width: 414px){
  //     padding: 0 25px;
  // }
}


/*======= product-description.liquid / Video section ========*/
.video {
  position: relative;
  margin-top: 130px auto 0;
  max-width: 1100px;
  margin: 50px auto 0;
  width: 100%;
  @media(max-width: 480px){
    margin: 48px auto 0;
  }
}

.video__overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.video__img {
  display: block;
  z-index: 1;
  position: absolute;
}




/*======= product-addons.liquid / Starter Kit  ========*/


#Gift {
  font-size: 1.1em;
  h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
    @include media-query($medium-down){
      margin-bottom: 18px;
    }
    @include media-query($small){
      font-size: 2em;
      margin-bottom: 30px;
    }
  }
  img {
    width: 100%;
  }
}

.product-starterkit__wrapper {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include media-query($small){
    @include flex-direction(column);
  }

  h2.mobile {
    display: none;
    @include media-query($small){
      display: block;
      padding: 0 13px;
      width: 100%;
    }
  }
}

.product-starterkit__item--half {
  width: 50%;
  @include media-query($small){
    width: 100%;
  }
  p {
    margin-bottom: 0;
    @include media-query($medium-down){
      font-size: 1em;
      line-height: 1.4;
   }
  }
}


.product-starterkit__item--first {
    margin: 0 20px;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
    max-height: 400px;
    @include media-query($medium-down){
      margin: 0;
    }
    @media(max-width: 768px){
      height:  28vh;
    }
    @include media-query($small){
     height: 38vh;
      width: 100%;
      margin: 0 0 37px;
    }
}

.product-starterkit__item--second {
  margin: 0 30px 0 40px;
  h2 {
    @include media-query($small){
      display: none;
    }
  }
  @include media-query($medium-down){
    margin: 0 0 0 40px;
  }
  @include media-query($small){
    margin: 0;
    padding: 0 13px;
  }
}
.addons-grid-spacer {
  padding: 66px 20px 90px;
  @media(max-width: 768px){
    padding: 43px 15px;
  }
}
.product-addons {
  // background: $white;
  background: #f3f3f3;
  margin-top: 30px;
  @include media-query($medium-up){
    margin-left: 0;
  }
  h3 {
    color: $pink;
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    @include media-query($small){
      text-align: left;
      font-size: 2em;
      margin-bottom: 40px;
    }
  }
  img {
    width: 100%;
  }
}

.product-addons__wrapper {
  @include flexbox();
  @include justify-content(space-between);
  margin-top: 13px;
  @media(max-width: 580px){
    @include flex-direction(column);
  }
}

.product-addons__item {
  @include flexbox();
  @include justify-content(flex-start);
  width: 49.5%;
  border: 2px solid $pink-lightest;
  padding: 5px;
  cursor: pointer;
  @media(max-width: 580px){
    width: 100%;
    margin-bottom: 8px;
  }
  &.active {
    color: $white;
    background: $pink;
    h3, span {
      color: $white !important;
    }
  }
}


.product-addons__item-img {
  width: 100%;
  height: 50vw;
  max-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media-query($medium){
    max-height: 180px;
  }
}

.product-addons__item-info {
  margin-top: 5px;
}

.product-addons__item-add {
  color: $pink;
  margin-bottom: 5px;
  @media(max-width: 980px){
    font-size: 0.9em;
  }
}

.product-addons__item-cell {
   width: 90px;
   height: 90px;
   margin: 0 6px 0 0;
   @include flexbox();
   @include flex-direction(column);
   background-position: center;
   background-size: cover;
   @media(max-width: 580px){
     width: 100px;
     height: 100px;
     margin: 0 20px 0 0;
   }
   &:nth-of-type(1){
     @include justify-content(center);
     // @include media-query($small){
     //   margin:0;
     // }
   }
  &:nth-of-type(2){
     @include justify-content(space-between);
     width: auto;
     @include media-query($small){
       @include justify-content(center);
       margin-right: 0;
     }
   }
    .price {
    display: block;
    @media(max-width: 980px){
      font-size: 0.9em;
    }
 }
 p {
     font-size: 1em;
 }
 h3 {
   color: #000000;
   font-weight: 600;
    margin: 0 auto;
    font-size: 1em;
    @media(max-width: 980px){
      font-size: 0.9em;
    }
 }
 a {
   overflow: auto;
   width: 100%;
   height: 100%;
 }
}

.addtocart-addons {
  margin-top: 10px;
  @include media-query($medium-down){
    font-size: 1em;
  }
}


/*============= product-related.liquid  ============*/

.product-related {
  background: $pink-lightest;
  padding: 50px 0 20px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    @include media-query($small){
      margin-left: 9px;
      text-align: center;
      font-size: 2em;
      margin-bottom: 18px;
    }
  }
  @include media-query($small){
    padding: 20px 20px 20px
  }
}
.product-related__inner {
  @include flexbox();
  @include justify-content(center);
  @include media-query($small){
    @include justify-content(flex-start);
  }

}

.product-related__item {
  flex-basis: 33%;
  padding: 2%;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 100%;
  @include media-query($small){
   flex-grow: 1;
   padding: 1%;
  }
  h4 {
    @include media-query($small){
      font-size: 1.1em;
      margin-bottom: 4px;
    }
  }
  a {
    width: 100%;
    height: 25vw;
    max-height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-query($medium-down){
      height: 250px;
    }
    @include media-query($small){
      height: 150px;
    }
    @media(max-width: 414px){
      height: 100px;
    }
  }
}


/*============= product-reviews.liquid  ============*/

.spr-header h2 {
  text-align: center;
}

#shopify-product-reviews {
    margin-top: 30px !important;
}

i.spr-icon.spr-icon-star {
  color: $pink;
}
.spr-button-primary,
.spr-button-primary:active,
.spr-button-primary:hover,
.spr-button-primary:focus,
.spr-button-primary:active:focus
 {
  background-color: $pink;
  border-color: $pink;
  outline: none;
}

.spr-container {
  border-color: $white !important;
}
