//Overrides for product builder app
.shappify_product_builder {
  .steps {
    display:none !important;
  }
  .steps_body {
    width:100% !important;
    height:100% !important;
    background:none !important;
    padding:0 !important;
    border:none !important;
    .step_details {
      position:relative;
      z-index: 1;
      .option_choices {
        margin-left:0 !important;
        display:flex !important;
        .choices {
          width:50% !important;
        }
      }
      .step_container {
        .step_title {
          margin:0 !important;
        }
        .description {
          display:none !important;
        }
      }
      .option_choices {
        .option_id {
          display:none !important;
        }
        .custom-field {
          margin:0 !important;
          border:none !important;
          padding:0 !important;
        }
        .option_value {
          .radio_option {
            border:none !important;
            margin:0 !important;
          }
        }
      }
    }
    .navigation_buttons {
      margin: 1em auto 0 auto !important;
      bottom:0 !important;
      right:0 !important;
      position: relative !important;
    }
  }
  .option_image_pane {
    height: 175px !important;
    width:100% !important;
    float:left !important;
    border:none !important;
    position:relative;
    .image_title,
    .option_image,
    .total_price {
      display:none !important;
    }
    .selected_summary {
      display:block !important;
      height:100% !important;
      background:none !important;
      border:none !important;
      top:1em !important;
      z-index: 1;
      .confirm_step {
        display:flex !important;
        div {
          width:50%;
          font-size:16px !important;
          text-align:left !important;
          &:last-child {
            text-align:right !important;
          }
        }
      }
      .confirm_step_title {
        font-weight:100 !important;
        font-size:16px;
      }
    }
    .builder_verify_button {
      position:absolute !important;
      bottom:0;
      right: 0;
      z-index: 2;
    }
  }
}  
#confirmation_title {
  text-align:center;
}
#image_preview {
  display:none !important;
}
.verify_pane {
  .order_steps {
    background: none !important;
    border:none !important;
    font-size:16px;
    .confirm_step {
      margin-bottom:1.5em;
    }
    .confirm_step_title {
      font-size:16px;
      font-weight:100;
      color:$color-primary;
      border:none !important;
    }
    .confirm_step_select {
      font-size:16px;
      text-align:right;
      border:none !important;
    }
    .confirm_step_price {
      text-align:right;
      color:$color-primary;
    }
  }
  #total_price,
  #add_qty {
    display:none !important;
  }
  #builder_addtocart_button {
    clear:both;
  }
}