#rc-wrapper,
#rc-gift-wrapper {
  width: 100%;
  overflow: hidden;
}

.product-template__container {
  margin: 30px 0 0;
  @include media-query($small) {
    margin: 0;
  }
}

.grid-spacer {
  padding: 90px 80px;
  @include media-query($medium-down) {
    padding: 55px 15px;
  }
  @include media-query($small) {
    padding: 43px 15px;
  }
}

.page-wrapper {
  @include clearfix();
  max-width: $width-site;
  padding: 0;
  margin: 0 auto !important;
}

.padding-right {
  padding-right: $gutter;
  @include media-query($small) {
    padding: 0;
  }
}

.mobile-spacer {
  @include media-query($small) {
    margin: 0 17px;
  }
}

.product-template__container {
  @include media-query($small) {
    padding: 0;
  }
}

/*================ Product Title H1, H2 tags ================*/

.product-form__header {
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  // margin-bottom: 10px;
  color: $black;
  @include media-query($medium-down) {
    font-size: 1.2em;
  }
  @include media-query($small) {
    font-size: 16px;
    font-weight: 400;
  }
  @media (max-width: 360px) {
    font-size: 1em;
  }
}

.product-single__title {
  font-weight: 600;
  font-size: 2.1em;
  margin: 30px 0;
}

.frequency-wrapper .product-form__header {
  margin-bottom: 0;
  @include media-query($small) {
    margin-bottom: 10px;
  }
}

.subtotal .product-form__header {
  font-weight: 600;
  font-size: 1.8em;
  @include media-query($small) {
    font-size: 1.3em;
    margin-top: 0;
  }
}

/*================ Subscription Option boxes ================*/

.option {
  width: 33%;
  float: left;
  height: 73px;
  border: 2px solid $pink-lightest;
  font-size: 0.8em;
  text-align: center;
  background: $white;
  cursor: pointer;
  @include media-query($small) {
    height: 8em;
  }
  &.option--three {
    @media (max-width: 360px) {
      height: 7em;
    }
  }
  &.option--four {
    @include media-query($small) {
      height: 7em;
    }
    @media (max-width: 360px) {
      height: 8em;
    }
  }
}

.option--one {
  width: 100%;
  padding: 1.5em 0.5em;
  height: auto;
  @include media-query($medium-down) {
    padding: 2.3em 0;
  }
  @include media-query($small) {
    padding: 2em 0.1em;
  }
  h4 {
    font-weight: 600;
  }
  h4,
  p {
    font-size: 1.2em;
    margin: 0;
    @media (max-width: 360px) {
      font-size: 1em;
    }
  }
}

.option--three {
  width: 33.33%;
  padding: 1.5em 0.5em;
  @include media-query($medium-down) {
    padding: 2.3em 0;
  }
  @include media-query($small) {
    padding: 2em 0.1em;
  }
  h4 {
    font-weight: 600;
  }
  h4,
  p {
    font-size: 1.2em;
    margin: 0;
    @media (max-width: 360px) {
      font-size: 1em;
    }
  }
}

.option--four {
  width: 25%;
  padding: 1.5em 0.5em;
  @include media-query($medium-down) {
    padding: 1.7em 0;
  }
  @include media-query($small) {
    padding: 1.5em 0.3em;
  }
  h4,
  p {
    font-size: 1.3em;
    margin: 0;
    @include media-query($medium-down) {
      font-size: 1.1em;
    }
    @media (max-width: 375px) {
      font-size: 1em;
    }
  }
}

.option:nth-of-type(2),
.option:nth-of-type(3),
.option:nth-of-type(4),
.option:nth-of-type(5) {
  border-left: none;
}

.option.rc-gift-initial,
.option.rc-initial {
  padding: 0.5em;
}

.option .popular {
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}

.option--active,
.gift-wrapper .gift-option--active,
.product__dropdown--cell .gift-option--active,
.delivery-option.delivery-option--active,
.option--active.rc-initial,
.option--active.rc-gift-initial {
  background: $pink;
  color: $white;
  border: 2px solid $pink;
}

// .option--active.rc-initial,
// .option--active.rc-gift-initial{
//  border: 2px solid $pink;
//  background: #FFF5F6;
//  color: $black;
// }

.rc-option.option--active.rc-initial h4,
.rc-gift-option.option--active.rc-gift-initial h4 {
  @include media-query($small) {
    margin-top: 8px;
  }
}

.subscription-row {
  width: 100%;
  margin-bottom: 35px;
  overflow: auto;
  @include media-query($medium-down) {
    margin-bottom: 23px;
  }
}

/*================ YES/NO Gift Option Toggle ================*/

.gift-wrapper {
  width: 50%;
  float: left;
}

.gift-option {
  font-size: 1.1em;
  width: 46%;
  float: left;
  text-align: center;
  background: $white;
  padding: 0.45em;
  cursor: pointer;

  @include media-query($medium-down) {
    font-size: 1em;
  }
  @media (max-width: 360px) {
    font-size: 0.9em;
  }
  &:not(.gift-option--active) {
    border: 2px solid $pink-lightest;
  }
  &:nth-of-type(3) {
    border-left: none;
  }
}

/*================ Gift Recipient Input fields ================*/

.gift-info__wrapper {
  width: 100%;
  margin-bottom: 1em;
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(space-between);
  .gift-info__input {
    width: 48%;
    margin: 0 5px 10px 0;
    height: auto;
    font-weight: 200;
    input {
      width: 100%;
    }
  }
  .error {
    color: $pink;
    @include media-query($small) {
      font-size: 0.8em;
    }
  }
}

/*================ Prices ================*/

.frequency-price {
  display: inline-block;
}

.price,
.discount {
  display: inline-block;
}

.discount-percent {
  color: $pink;
}
.price--on-sale .price-item--regular {
  text-decoration: line-through;
}

.product-container .subtotal {
  display: inline-block;
  margin-right: 18px;
}

/*================ *Most Popular* flag ================*/

.most-popular {
  color: $white;
  background: $pink;
  text-align: center;
  @include media-query($medium-down) {
    font-size: 0.8em;
  }
  &.flag--hidden {
    opacity: 0;
  }
  &.flag-four {
    @include media-query($small) {
      font-size: 0.7em;
    }
    @media (max-width: 360px) {
      font-size: 0.6em;
    }
  }
}

.flag-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include media-query($small) {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .flag-four {
    width: 25%;
    padding: 3px;
  }
  .flag-three {
    width: 33.33%;
    padding: 3px;
  }
}

/*================ Quantity Selector ================*/

.quantity-wrapper {
  width: auto;
  float: right;
  text-align: right;
  margin-right: 36px;
  @include media-query($small) {
    margin-right: 0;
  }
}

.quantity-inner {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

#quantity-minus,
#quantity-plus {
  background: $light-pastel-pink;
  padding: 0.3em 0.8em;
  font-size: 1.2em;
  color: $black;
  @include media-query($medium-down) {
    padding: 0.5em 1em;
    font-size: 1em;
  }
  @media (max-width: 360px) {
    font-size: 0.9em;
  }
}

#quantity-label,
#quantity-minus,
#quantity-plus {
  border: 2px solid $pink-lightest;
  text-decoration: none;
}

#quantity-label,
#quantity-plus {
  border-left: none;
}

#quantity-label {
  width: 50px;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include media-query($medium-down) {
    font-size: 1em;
  }
  @include media-query($small) {
    width: 35px;
  }
}

/*================ THURS/FRI Delivery Toggle ================*/

.delivery-option {
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  width: 50%;
  text-align: center;
  border: 2px solid $pink-lightest;
  background: $white;
  cursor: pointer;
  @include media-query($medium-down) {
    font-size: 1em;
    padding: 0.5em 0;
  }
  @media (max-width: 360px) {
    font-size: 0.8em;
  }
  &:first-of-type {
    margin-left: 18px;
    @include media-query($small) {
      margin-left: 8px;
    }
  }
  &:nth-of-type(2) {
    border-left: none;
  }
}

.delivery-wrapper {
  margin: 28px 0 15px 0;
  @include flexbox();
  @include align-items(center);
  @include media-query($small) {
    @include justify-content(space-between);
  }
  h2 {
    margin: 20px 0 0 0;
    @include media-query($small) {
      line-height: 1px;
    }
  }
  .product-form__header {
    margin-bottom: 0;
  }
}

.delivery-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 60%;
  margin: 0 auto;
  @include media-query($small) {
    width: 75%;
    @include justify-content(center);
  }
}

.delivery-estimate {
  font-size: 1.2em;
  @include media-query($medium-down) {
    font-size: 1em;
  }
  .date {
    font-weight: bold;
  }
}

/*================ AddToCart Button ================*/

#AddToCart-product-subscriptions-v2,
#AddToCart-product-single {
  @include media-query($small) {
    width: 100%;
  }
}

/*================ Product form ================*/

.product-form__item {
  padding: 0;
  margin-top: 10px;
  @include media-query($medium-down) {
    margin: 0;
  }
}

/*================ Billing/Policy info ================*/

.billing {
  margin-bottom: 0;
  font-size: 1em;
}

.policy {
  display: block;
  text-decoration: underline;
  color: $black !important;
  font-size: 1em;
}

.warning {
  color: $pink;
  margin-bottom: 18px;
}

.gift-policy {
  color: $pink;
}

/*================ Spacer adjustments on recurring side ================*/

.frequency-wrapper.rc-spacer {
  margin-top: 43px;
  @include media-query($medium-down) {
    margin-top: 0;
  }
}

.delivery-wrapper.rc-spacer {
  margin: 48px 0 15px 0;
  @include media-query($medium-down) {
    margin: 25px 0 5px 0;
  }
}

.price-wrapper {
  margin-top: 40px;
  text-align: center;
  @include media-query($small) {
    margin-top: 10px;
  }
}

/*=============== Product Page Redesign ================*/
// dropdown section
.product__dropdown {
  @include flexbox();
  @include justify-content(space-between);
  border-bottom: 1px solid #c1c1c1;
  padding: 16px 0;
  cursor: pointer;
  .product__dropdown--cell {
    width: 50%;
    @include flexbox();
    @include align-items(center);
    &:first-child {
      width: 60%;
      @media (max-width: 1120px) {
        width: 35%;
        font-size: 16px;
      }
      @include media-query($small) {
        width: 100%;
      }
    }
    &:nth-child(2) {
      @include justify-content(flex-end);
      width: 100%;
      @media (max-width: 1120px) {
        font-size: 0.9em;
        text-align: right;
      }
      @include media-query($small) {
        padding-left: 2px;
      }
    }
    &.gift-option-toggle {
      width: 50%;
      @include media-query($small) {
        width: 60%;
      }
    }
  }
}

.dropdown-spacer {
  padding: 10px;
}

.product__dropdown--addon {
  .dash {
    @media (max-width: 480px) {
      display: none !important;
    }
  }
  .item-1,
  .item-2 {
    @media (max-width: 480px) {
      display: block;
    }
  }
}

.product__dropdown--hidden {
  background: #f8f8f8;
}

.toggle-down svg,
.toggle-up svg {
  width: 10px;
  height: 10px;
}

.product__dropdown--toggle {
  margin: 0 8px 0 14px;
}

.toggle-up {
  display: none;
}

.product-carousel-grid {
  width: 45%;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.grid__item.product-carousel-content {
  width: 55%;
  @media (min-width: 1025px) {
    padding-left: 50px !important;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 20px 0;
  }
}
