#productHeader {
    float: left;
    width: 100%;
    transition: opacity .2s ease-in-out;
    h3 {
        clear:both;
        text-align:left;
        @include media-query($small) {
            text-align:center;
        }
    }
    @include media-query($small) {
        margin-top:2em;
        text-align: center;
        h1 {
            font-size: 20px;
            float:left;
        }
    }
    h1 {
        margin: .4em 0 0 0;
        font-weight: 700;
    }
    #ProductPrice {
        display: block;
        #product_price {
            margin:0;
        }
        @include media-query ($small) {
            float:right;
            margin:.4em 0 0;
        }
        h5 {
            font-size: 20px;
        }
    }
    div[itemprop="offers"] {
        float: right;
        width: 100%;
        #date {
            border-width: 1px;
        }
    }
    .form-field-wrapper {
        margin-right: 5px;
        clear: none;
        display:inline-block;
        margin-top:1.3em;
        @include media-query($small){
            display:block;
        }
        .btn {
            padding:.8em 1em;
            font-size:1em;
            width:150px;
        }
        &:nth-child(odd),
        &:nth-last-child{
            margin-right:0;
            width:50%;
        }
        .gwbutton {
            margin-left: 0 !important;
            display:none;
            @include media-query($medium-up){
                margin-top:0 !important;
            }
        }
        @include media-query($large-down) {
            &.submit,
            &.gwbutton {
                margin-left:0;
            }
        }
    }
}

#productHeader,
#productForm {
    select {
        width: 100%;
        display: inline-block;
        opacity: 1;
        border: 1px solid $grey-border;
        padding: .7em 3em .7em 1em;
        background: white;
        position: relative;
        font-size:1em;
        @include media-query($small){
            font-size:16px;
        }
    }
    .form-field-wrapper {
        float:right;
        &.submit {
            &.on {
                #AddToCartBtn {
                    display:none;
                }
                .gwbutton {
                    display:block !important;
                }
            }
        }
        &#prepaidSelect {
            display:none;
            &.on {
                display:block;
            }
        }
    }
}

#productForm {
    @include media-query($small) {
        width: 100%;
        margin: 1em 0;
        padding: 1em 0;
        border: 1px solid #F3F3F3;
        border-width: 1px 0;
        .form-field-wrapper {
            clear: both;
            &.submit {
                width: 100%;
                text-align: center;
                margin-bottom: 2em;
                float: left;
                button {
                    margin:4px 0;
                }
            }
            &#delivery,
            &.color-type,
            &.quantity {
                width: 70%;
                clear: both;
                margin: 1em auto;
                float: none;
                display: flex;
                text-align: center;
                .selector-wrapper {
                    margin-left: 0;
                }
                select,
                #delivery-date {
                    width: 100%;
                }
                select {
                    padding: .7em 2em;
                }
                input {
                    width: 100%;
                    border-width: 1px;
                }
            }
            &.quantity {
                width: 100px;
            }
        }
    }
    button[type="submit"] {
        width:100%;
        font-size: 16px;
        @include media-query($small) {
            width: 100%;
        }
    }
}

#delivery-date {
    .instructions {
        display: block;
        font-size: 11px;
        clear:both;
    }
    label {
        display: block;
        @include media-query($small) {
            font-size:11px;
            line-height: 27px;
        }
    }
    .icon-cal {
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 1;
        right: .7em;
        top: .9em;
        background: white;
        display:none;
    }
}

.product-single-alternate {
    float:left;
    margin-top:2em;
    width:100%;
    .product-left {
        margin-top:0;
    }
}

.product-description {
    text-align: justify;
    ul {
        padding: 0;
    }
}

.flower-tools {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    .ad-overlay {
        z-index: 2;
        position: absolute;
        width: 50%;
        height: 50%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $pink;
        opacity: .8;
        text-align: center;
        color: white;
        padding: 4%;
        font-weight: 700;
        font-size: 14px;
        h4 {
            color: white;
            font-weight: 600;
        }
    }
}

.product-alternate {
    .form-field-wrapper {
        @include media-query($medium-up) {
            display: inline-block;
        }
        @include media-query($medium-down){
            float:left;
            clear:both;
        }
    }
    #productHeaderBg {
        @include media-query($large-up){
            margin: 0 -15px;
            padding: 0 15px;
            position: relative;
            padding-bottom: 1em;
            .form {
                float:right;
            }
        }
    }
    .selector-wrapper {
        flex-grow: 1;
        float: left;
        margin-left: 1%;
        @include media-query($small) {}
        &:first-child {
            margin-bottom: 8px;
        }
        label {
            display: none;
        }
        select {
            width: 100%;
        }
    }
    @include media-query($small) {
        .mobile-margin-fix {
            margin-left: -15px !important;
            margin-right: -15px !important;
            width: 110% !important;
        }
        .slider-thumbs {
            margin-left: 15px;
        }
        #productImageSlider {
            >div:first-child,
            >div:first-child div {
                width: 100% !important;
            }
        }
    }
}

.slider-thumbs .p {
    height:62px !important;
}

.thumb {
    display:block;
    width:100%;
    height:100%;
    background-size:cover;
}

.image-caption {
    position:absolute;
    z-index: 99;
    color:black;
    font-size:2em;
    bottom:.5em;
    left:0;
    width:80%;
    padding:.1em 0;
    background:white;
    text-shadow:1px 1px 1px rgba(255,255,255,0.5);
    @include media-query($small) {
        bottom:0;
        width:100%;
        background:rgba(255,255,255,.7);
    }
}

.product-left {
    clear:both;
    margin-top: 2em;
}

.product-grid {
    .flex-item {
        .h4 {
            .price {
                float: right;
            }
            a {
                float: left;
                text-aligne: left;
                width: 80%;
            }
        }
    }
}

#gift-prompt {
    position: absolute;
    right: 12.5em;
    z-index: 100;
    width: 100px;
    display: block;
    top: 1.3em;
    &.on {
        right:25.7em;
    }
    @include media-query($small) {
        display:none;
    }
}

#delivery-wrapper {
    padding-right:1%;
    @include media-query($medium-down) {
        padding-right: 0;
        width:100% !important;
        text-align:left;
    }
    input {
        font-size:16px;
        background-repeat: no-repeat !important;
        background-size:26px 26px !important;
        background-position: right !important;
        padding-right:36px;
        margin-bottom: .5em;
        padding-bottom:4px;
        width:100%;
    }
}

div#rc_container {
    display:none !important;
}

.selectric-items ul, .selectric-items li {
    text-align:center;
}

.metafields {
    clear:both;
    margin-top:3em;
}
