
/*========== Product.single.liquid Template ========*/

.product-single {
  form {
    clear:both;
  }

.flickity-page-dots {
  display: none;
  @include media-query($small){
    display: block;
  }
}

.flickity-page-dots .dot {
  width: 9px;
  height: 9px;
}

#ProductSection-product-single {
  .product-form__header {
    margin-bottom: 8px;
  }

  .delivery-option {
    font-size: 1.1em;
    padding: 0.4em 0.5em;
    width: 37%;
    @include media-query($small){
      font-size: 1em;
    }
  }
  .delivery-wrapper {
    @include media-query($small){
      @include justify-content (flex-start);
      @include flex-direction(column);
      @include align-items(flex-start);
      margin: 11px 0 15px 0;
    }
  }
  .delivery-option:first-of-type {
    @include media-query($small){
      margin-left: 0;
    }
  }
  .delivery-inner {
    @include media-query($small){
      @include justify-content (flex-start);
      width: 100%;
      margin: 0;
    }
  }
  .gift-option {
    @include media-query($small){
      width: 50%;
    }
  }
}


  .reg-product .ps-spacer {
    margin-bottom: 17px;
  }

  // variant swatch selection
  .swatch-element label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 100%;
    margin-bottom: 0;
  }

  .swatch-element input[type="radio"]{
    display: none;
  }

  .swatch-element input[type="radio"] + span {
    display: block;
    padding: 0.8em 0.4em;
    height: 100%;
    font-size: 1.3em;
    font-weight: 200;
    @include media-query($small){
      font-size: 1.2em;
    }
  }

  .swatch-element {
      font-size: 0.8em;
      border: 2px solid $pink-lightest;
      width: 23%;
      text-align: center;
      @include media-query($small){
        width: 30%;
      }
      &:not(:first-child){
        border-left: none;
      }
      :checked + span {
        display: inline-block;
        background: $pink;
        color: $white;
      }
      :not(:checked) + span {
        color: $black;
      }
      &.new-row {
        border-left: 2px solid $pink-lightest !important;
      }
      &.swatch-row {
        border-top: none !important;
      }
    }

  .swatch-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
  }

  .selector-wrapper {
    display: none;
  }

  // Subtotal
  #price-field {
    display: inline-block;
    font-size: 1.8em;
  }

  #gift-info {
    margin-top: 20px;
  }

  .product-single__row {
    overflow: auto;
    margin-bottom: 10px;
  }

  .product-single.grid__item {
    @include media-query($small){
      width: 95%;
      margin: 11px 17px 28px !important
    }
    @media(max-width: 480px){
      width: auto;
    }
  }
}
