#related {
    @include at-query ($max, $small) {
        margin: 15px;
    }
    .large--one-half:nth-child(2n+1),
    .large--one-third:nth-child(3n+1),
    .large--one-quarter:nth-child(4n+1),
    .large--one-fifth:nth-child(5n+1),
    .large--one-sixth:nth-child(6n+1),
    .large--two-sixths:nth-child(3n+1),
    .large--three-sixths:nth-child(2n+1),
    .large--two-eighths:nth-child(4n+1),
    .large--four-eighths:nth-child(2n+1),
    .large--five-tenths:nth-child(2n+1),
    .large--one-twelfth:nth-child(12n+1),
    .large--two-twelfths:nth-child(6n+1),
    .large--three-twelfths:nth-child(4n+1),
    .large--four-twelfths:nth-child(3n+1),
    .large--six-twelfths:nth-child(2n+1) {
        clear: none;
        @include at-query ($max, $small) {
            margin-left: 0;
        }
    }
    a.grid__image {
        height: 250px;
        background-size: cover;
        display: block;
    }
    .flex-item {
        margin: 0 auto;
    }
    .btn {
        @include media-query($small){
            display:block;
            margin-bottom:.8em;
            &:last-child {
                margin-bottom:0;            
            }
        }
    }
}