.feature-sequence {
  margin:0em auto 5em auto;
  @include media-query($small){
    margin:5em auto 0 auto;
  }
  .step {
    position:relative;
    .increment {
      position:absolute;
      left:auto;
      right:-4em;
      font-size:20px;
      color:white;
      font-weight:bold;
      width:48px;
      height:48px;
      background:$seagreen;
      border-radius:50%;
      text-align:center;
      line-height: 48px;
      @include media-query($small){
        display:none;
      }
    }
    h3 {
      font-size:28px;
      font-weight:bold;
      color:$pink;
    }
    @include media-query($medium-up){
      width:45%;
      position:relative;
      margin:-6em 0 0;
      &:nth-child(2) {
        margin-top:2em;
      }
      &:after {
        content:'';
        display:block;
        position:absolute;
        right:-4.75em;
        top:25%;
        height:100%;
        width:20px;
        background:url({{ 'icon-tracks.svg' | asset_url }}) no-repeat;
      }
      &:nth-child(odd){
        float:right;
        text-align:right;
        &:after {
          right:auto;
          left:-3.25em;
        }
        .increment {
          left:-3em;
          right:auto;
        }
      }
      &:nth-child(even) {
        clear:both;
      }
    }
    @media (min-width:1200px){
      width:46%;
    }
    @include media-query($medium){
      width:43.7%;
      margin:-10em 0 0;
    }
    @include media-query($small){
      text-align:left;
      margin-bottom:2em;
      &:last-child {
        margin-bottom:0;
      }
      img {
        display:none;
        width:100%;
        margin-bottom:1em;
      }
    }
  }
}