/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    margin:0 auto;
  }
}


.site-header {
  padding:0;
}

//header images behind menu
$featuredHeight: 320px;
$featuredHeight-md: $featuredHeight + 200;
$featuredHeight-lg: $featuredHeight + 400;


.img-header {
  width:100%;
  z-index: 1;
  top:0;
  left:0;
  text-align:center;
  padding-top:60px;
  overflow:hidden;
  height:$featuredHeight;
  //Change height per screen width
  @include media-query($medium){
    height:$featuredHeight-md - 60;
  }

  @include media-query($large-up){
    height:$featuredHeight-lg - 60;
  }

  &.featured {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom:$featuredHeight/2;
  }
  img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  //Overlay with text
  .overlay {
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
    font-size:$font-size-base * 1.4;
    padding:.6em;
    &.bg--secondary {
      background: rgba($pink-light, .9) !important;
    }
    h4 {
      margin-bottom:0;
      font-size: $font-size-base * 1.4;
    }
    @include media-query($medium-up){
      width:30%;
      margin-top:10%;
    }
    @include media-query($large-up){
      font-size:$font-size-base * 3.4;
      padding: 1em 0;
      width: 50%;
      h4 {
        font-size: $font-size-base * 2;
      }
    }
  }
}

//Push content down if featured header is present
.featured-header-push {
  margin-top:$featuredHeight;
  @include media-query($medium-up){
    margin-top:$featuredHeight-md;
  }
  @include media-query($large-up){
    margin-top:$featuredHeight-lg;
  }
}

.featured-title {
  display:block;
  margin-top: 1em;
}
