.main-carousel {
  opacity: 0;
  @include media-query($small){
    display: none;
  }
}

.main-carousel-mobile {
  display: none;
  opacity: 0;
  @include media-query($small){
    display: block;
  }
  .carousel-cell.cell-mobile {
    z-index: 99999;
    background-size: cover;
    background-position: center;
  }
}


.hero-slider {
    margin: 0 0 -3em 0;
    padding: 0;
    border-width: 1px 0;
    // height: 60vh;
    @include media-query($small) {
        margin: 0;
        padding: 0;
        // height: 100%;
    }
    h1 {
      	font-size: 3.5em;
        font-weight: 600;
        line-height: 1em;
        margin: 0 0 0.5em;
        @media (max-width: 1300px){
          font-size: 2.5em;
        }
        @include media-query($small){
          font-size: 1.8em;
        }
        @media (max-width: 320px){
          font-size: 1.5em;
        }
    }
    .flickity-viewport {
        margin: 0 auto;
        overflow: hidden;
        @include media-query($small) {
            max-height: inherit;
            height: 100% ;
        }
    }

    video {
      display: inline-block;
      vertical-align: baseline;
      z-index: 999;
      height: auto;
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    /* Always hide the not-lazyloaded images in the overlay */
    .lazyload {
        display: none;
    }
    /* Gradually show the selected and lazy img next to the selected slide on interactions*/
    .carousel.is-selected .lazyload,
    .carousel.is-selected+.carousel-cell .lazyloaded {
        display: block;
    }
    .carousel-cell {
        position: relative;
        width: 100%;
        padding: 18% 0;
        height: 60vh;
        background-repeat: no-repeat;
        overflow: hidden;
        @include media-query($medium-up) {
            background-position: center center;
            background-size: cover;
            // height: 100%;

        }
        @include media-query($widescreen) {
            background-position: 0 center;
        }
        @include media-query($small) {
            height: 70vh;
          	background-size: auto 100%;
          	background-position: center;
        }

    }
  	.slide-inner-wrap {
      	height: 100%;
        margin: 0 auto;
      	padding: 0 30px;
        position: relative;
        z-index: 99999;
        @media(max-width: 1300px){
          max-width: 1000px;
          margin: 0 40px;
        }
        @include media-query($small){
          margin: 0 17px;
        }
	}
   	.slide-inner {
      width: 50%;
      // max-width: 500px;
      text-align: left;
      margin: 0 auto;
      p {
       font-size: 18px;
        margin-bottom: 21px;
        line-height: 1.5em;
        @include media-query($large-down){
          font-size: 16px;
        }
        @media(max-width: 320px){
          font-size: 14px;
        }
      }
    }
    .slide-inner-left {
       position: absolute;
       left: 0;
       top: 50%;
       padding-right: 6%;
       transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
       @include media-query($small) {
          	width: 90%;
          	text-align: left;
          	left: 5%;
       }
    }
    .slide-inner-right {
       position: absolute;
       right: 30px;
       top: 50%;
       transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
       @include media-query($small) {
          	width: 90%;
          	text-align:center;
          	left: 5%;
       }
    }

    .slide-inner-center {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
       -moz-transform: translate(50%,-50%);
      -webkit-transform: translate(50%,-50%);
       -ms-transform: translate(50%,-50%);
      text-align: center;
      width: 87%;
      @include media-query($small) {
       width: 100%;
       text-align:center;
      }
      p {
        width: 100%;
        margin: 0 auto 15px;
      }
    }
    .btn {
        margin: .5em 0 1em 0;
    }
    .slide-img {
        display: block;
        max-width: inherit;
    }
    .flickity-page-dots {
        .dot {
            background: $grey-border;
            margin: 0 4px;
            opacity: 1;
            &.is-selected {
                background: $pink-light;
            }
        }
    }
}

@include media-query($small) {
    .flickity-viewport {
        max-height: 340px;
    }
}


/*================ Flickity Carousel ================*/
#shopify-section-collection {
  .flickity-prev-next-button, .flickity-page-dots {
    display: none;
  }


.main-carousel-mobile .carousel-cell.cell-mobile {
  background-position: left;
 }
 .hero-slider .slide-inner-wrap {
   @include media-query($small){
     background: rgba(255,255,255,0.5);
   }
 }
}

.is-hiding-nav-ui {
  .flickity-prev-next-button, .flickity-page-dots {
    display: none;
  }
}
.product-container .flickity-prev-next-button.previous {
  left: 0px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 1.1em solid transparent;
    border-bottom: 1.1em solid transparent;
    border-right: 2em solid $white;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    @include media-query($medium-down){
      border-top: 0.9em solid transparent;
      border-bottom: 0.9em solid transparent;
      border-right: 1.8em solid #fff;
    }
  }
}

.product-container .flickity-prev-next-button.next {
  right: 14px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 1.1em solid transparent;
    border-bottom: 1.1em solid transparent;
    border-left: 2em solid $white;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    @include media-query($medium-down){
      border-top: 0.9em solid transparent;
      border-bottom: 0.9em solid transparent;
      border-left: 1.8em solid #fff;
    }
    svg {
     display: none;
    }
  }
}


.product-container .flickity-prev-next-button {
  position: absolute;
  top: 118%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: none;
  background: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  @include media-query($medium-down){
    top: 120%;
  }
  @include media-query($small){
    top: 50%;
   }
    &:hover {
     background: none !important;
    }
    &:disabled {
     opacity: 1;
     cursor: auto;
    }
    svg {
      position: absolute;
      left: 20%;
      top: 20%;
      width: 60%;
      height: 60%;
      visibility: hidden;
    }
}



.product-container {
  .grid__item {
    padding-left: 30px !important;
    margin: 2em 0 !important;
  }

  .carousel-main img {
    width: 100%;
  }
  .carousel-nav {
    margin-top: 12px;
    @include media-query ($small){
      display: none;
    }
  }

  .carousel-main__image {
      width: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 40vw;
      max-height: 450px;
      // @include media-query($medium-down){
      //   height: 48vw;
      // }
      @include media-query($small){
        height: 100vw;
      }
  }

  .carousel-nav__image {
    width: 25%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vw;
    max-height: 150px;
    margin-right: 7px;
    @include media-query($widescreen){
      width: 30%;
    }
  }
}

@media only screen and (max-width: 749px){
.product-container  .flickity-viewport {
    max-height: 530px !important;
  }
}

@media(max-width: 767px){
.product-container .product-container {
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
  }

.product-container  .grid__item {
    padding-left: 0 !important;
    margin: 0 !important;
  }
}
