.tab-links {
    display: none;
    padding:.4em 0;
    border-bottom:1px solid #DBDBDB;
    a {
        background:$grey-lightest;
        padding:.5em .8em;
        color:$grey-dark;
        text-decoration: none;
        position: relative;
        &:hover {
            text-decoration:none;
        }
        &.active {
            background:white;
            color:$pink;
        }
    }
}

.tab-content {
    color: #575757;
    font-size:18px;
    @include media-query($small) {
        strong {
            color: black;
            margin-bottom: 1em;
            display: block;
        }
        margin-bottom:2em;
    }
    iframe {
        width: 100%;
    }
}

@include media-query($medium-up) {
    .tabs {
        float: none;
        list-style: none;
        padding: 0;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        input[type=radio] {
            display: none;
        }
        label {
            width: 50%;
            background: $color-primary;
            color: $grey-dark;
            text-align: center;
            padding: 1em 0;
            float: left;
            margin-bottom: 30px;
            span {
                text-transform: uppercase;
                font-weight: 800;
            }
        }
        .tab-links {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 1em;
            display: block;
            a {
                @include media-query($medium-down) {
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
        }
        .tab-content:not(:target) {
            display: none;
        }
        .tab-content:target {
            display: block;
        }
    }
    //The body content controlled by tabs
    .tab-content {
        display: none;
        width: 100%;
        float: left;
        box-sizing: border-box;
        p {
            padding: 0;
        }
        a {
            display: block;
            clear: both;
            margin: 0 0 .8em 0;
        }
        li {
            margin-bottom:1.5em;
            &:last-child {
                margin:0;
            }
        }
    }
    //animate the tabs
    .tab-content * {
        -webkit-animation: scale 0.2s ease-in-out;
        -moz-animation: scale 0.2s ease-in-out;
        animation: scale 0.2s ease-in-out;
    }
    @keyframes scale {
        0% {
            transform: scale(0.95);
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    //actual tab functionality
    .tabs [id^="tab"]:checked+label {
        background: $color-primary;
        color: white;
    }
    #tab1:checked~#tab-content1,
    #tab2:checked~#tab-content2,
    #tab3:checked~#tab-content3 {
        display: block;
    }
}