// testimonials text only

#shopify-section-testimonials-carousel {
  margin: 70px 0 10px;
  @include media-query($small){
     margin: 46px 0 10px;
  }

  .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    @include media-query ($small){
      width: 7px;
      height: 7px;
      margin: 0 5px;
    }
  }

  .te-carousel-cell {
    width: 33.33%;
    text-align: center;
    @include media-query($small){
      width: 100%;
    }
  }

  .te-title {
    span {
      display: block;
    }
    svg {
      width: 15px;
      height: 15px;
    }
    span:first-child {
        margin-right: 5px;
      }
    padding: 0 20px;
    @include media-query($small){
        padding: 0 15px;
      }
  }

  .te-content {
      margin: 18px 0;
      padding: 0 20px;
      @include media-query($small){
        padding: 0 15px;
      }
  }
}
