.three-grid-mini {
  margin: 6em 0 3em;
  background: $grey-pale;
  padding: 2em 0;
  .three-grid-mini-list {
    @include flexbox();
    @include justify-content(center);
    @include media-query($small){
      @include flex-direction(column);
    }
  }
  .three-grid-mini-item {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    margin: 0 3em;
    @include media-query($small){
      @include justify-content(flex-start);
      width: 50%;
      margin: 0 auto;
    }
  }
  .three-grid-mini-bg {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 23px;
    @include media-query($small){
      width: 50px;
      height: 50px;
    }
  }
}
