.three-grid-cta {
  text-align: center;
  margin: 3em auto;
  @include flexbox();
  @include flex-direction(column);
  @include media-query($small){
      margin: 0 auto;
    }
  .grid__item {
    padding-left: 3em;
    @include media-query($small){
      padding-left: 0;
    }
    h3 {
      font-weight: bold;
    }
    @include media-query($small){
      margin: 0;
    }
    &:last-child {
      @include media-query($small){
        margin-bottom: 3em;
      }
    }
  }
 img {
    max-width: 200px;
    width: 100%;
 }
 &:last-child {
   margin: 20px auto;
 }
}
