.three-column-alternate{
    background: $white;
    margin-bottom: 1em;
}
 .three-column-alternate-wrap {
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    max-width:1650px;
    width: 100%;
    margin: 0 auto;
  }
  .three-column-alternate-bg {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      @include media-query($small){
        width: 100%;
      }
  }
  .three-column-alternate-content {
    width: 100%;
    h2 {
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .three-column-alternate-item {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    height: 30vw;
    max-height: 450px;
    @include media-query($small){
      @include flex-direction(column);
      text-align: center;
      height: 100vw;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.right {
      @include flex-direction(row-reverse);
      .three-column-alternate-text {
        padding-right: 6em;
        @include media-query($small){
          padding-right: 0;
        }
      }
      @include media-query($small){
        @include flex-direction(column);
      }
    }
    &.left {
      .three-column-alternate-text {
        padding-left: 6em;
        @include media-query($small){
          padding-left: 0;
        }
      }
    }
    .three-column-alternate-text {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      position: relative;
      width: 50%;
      height: 100%;
      background: $grey-pale;
      p {
        max-width: 500px;
        @include media-query($large-down){
          max-width: 286px;
        }
        @include media-query($small){
          max-width: none;
        }
      }
      h3 {
        font-weight: 600;
      }
      a {
        color: #000000;
        text-decoration: underline;
      }
      @include media-query($small){
        width: 100%;
        padding: 0 1em;
      }
      .three-column-alternate-center {
        position: absolute;
        transform: translate(50%, -50%);
        top: 50%;
        @include media-query($large-down){
          transform: translate(38%, -50%);
        }
        @include media-query($small){
          position: relative;
          top: 0;
          transform: none;
        }
      }
    }
  }
