#shopify-section-variants {
  margin:0;
  .variant {
    display:none;
    .flex-item.tile {
      padding-bottom:4em;
      .btn {
        position:absolute;
        bottom:1em;
        left: 50%;
        width: 40%;
        margin-left: -20%;
      }
    }
  }
}