/* =============================================== *\
  HTML5 VIDEO BACKGROUND
  This is the important part
  It can be used for a 'hero' section or a
  full-screen background
\* =============================================== */
/* This first class is not necessary for full-screen backgrounds */

$mobileVideoHeight: 342px;
$wideVideoHeight: 570px;

.video-hero {
  position: relative;
  overflow: hidden;
  margin:0;
}
.video-bg {
  position:relative;
  height: $mobileVideoHeight;
  @include media-query($medium-up){
    position: absolute;
    height:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
          background-size: cover;
  }
}
.video-bg video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
  @include media-query($small){
    width:100%;
    height:$mobileVideoHeight;
  }
}
.video-overlay {
  display:none;
  @include media-query($small){
    width:100%;
    clear:both;
    float:left;
    color:$black;
    padding-bottom:2em;
    background:#F6D6D9;
    .video-hero--content {
      color:$black;
      text-shadow:none;
      margin:0 auto;
      h2, p {
        text-align:center;
      }
    }
  }
  @include media-query($medium-up){
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.1); /* You can play with the opacity */ 
    .page-width {
      position:relative;
      padding:0;
      left:15%;
      width:55%;
    }
  }
  @include media-query($widescreen){
    .page-width {
      width:30%;
      left:30%;
    }
  }
  @include media-query($large-up){
    .page-width {
      left:24%;
      width:42%;
    }
  }
  p {
    text-align:center;
  }
  hr {
    margin:0 auto;
  }
  .testimonial {
    hr {
      width:100%;
      &:before {
        margin-left:-4px;
      }
    }
  }

}
/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video' is the name of the video
 */
// .video-bg.demo-video {
//   background-image: url(../files/programming-ide.jpg);
// }
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .video-bg video {
  opacity: 0;
  -webkit-transition: opacity .8s linear;
     -moz-transition: opacity .8s linear;
        transition: opacity .8s linear;
}
.js .video-bg video.is-playing {
  opacity: 1;
}

.video-hero {
  height: $wideVideoHeight;
  @include media-query($small){
    height: auto;
  }
}
.video-hero--content {
  position: relative;
  text-align: center;
  margin: 21em auto 2em auto;
  color: #FFF;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  @include media-query($large-up){
    margin-top:24em;
  }
  @include media-query($widescreen){
    margin-top:19em;
  }
  h2 {
    font-size:2em;
    text-align:left;
    @include media-query($widescreen){
      font-size:3.5em;
    }
  }
  p {
    font-size:1.5em;
    text-align:left;
  }
}

.video-placeholder {
  background-size:cover;
  width:100%;
  height:100%;
  display:none;
  background-position:center;
}

.action-buttons {
  text-align:center;
  @include media-query($medium-up){
    text-align:left;
  }
  p {
    margin:0;
    padding:0;
    display:inline-block;
    a {
      display:block;
      background:white;
      color:$pink;
      font-size:14px;
      padding:.4em .8em;
      margin:0 .3em;
      transition:all .1s ease-in-out;
      @include media-query($small){
        padding:.8em 2em;
      }
      &:hover {
        background:$pink;
        color:white;
        text-decoration:none;
      }
      @include media-query($medium-up){
        font-size:1.2em;
        padding:.6em 3em;
        margin:0 2em 0 0;
      }
    }
  }
}