{% comment %}
    Cart specific JS. Add required files from scripts/cart/ here
{% endcomment %}

// =require cart/product/change-quantity.js
// =require cart/product/remove-products.js
// =require cart/product/add-addons.js
// =require cart/restrict-vases.js

// =require cart/checkout/accept-terms.js