<!-- /templates/collection.subscription.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

<div class="container">
  <h1>{{ collection.title }}</h1>
    <div class="float float-50 float-sm-full">
        {% include 'product-photos' %}
    </div>
    <div class="float float-50 float-sm-full float-right">
        {% include 'tabs' %}
        <hr/>
        {% include 'subscription-select' %}
    </div>
</div>
