<!-- /templates/list-collections.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

<style>.collection-nav { border-top: 1px solid #A1A0A0; }</style>

{% include 'collection-slider' %}

{% include 'collection-nav' %}


<div class="container page-width">
  <div class="grid-uniform product-grid flex">
  {% paginate collections["all"].products by 16 %}
    {% for product in collections["all"].products %}
        {% include 'product-grid-item' %}
    {% endfor %}

  </div>


  {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
	{% endpaginate %}
</div>
