<!-- /templates/collection.liquid -->
{% section 'custom' %}
{% include 'subscription-product' %}

<!-- /templates/collection.liquid -->

<div class="featured img-header header-subscriptions">

  {% comment %}
    Large image at top of about page
  {% endcomment %}

  <div class="overlay text--center text--white">
    <span class="serif">
      {{ page.title }}
    </span>
    <span class="text--xlarge">Become your own florist!</span>
  </div>
</div>       

<div class="featured-header-push">

<div class="grid-uniform center mid--grey">
  <span class="text--large">You'll LOVE making your own flower arrangements each month with kits from It'sByU! Choose a plan, and every month we'll deliver a kit to your door that includes all the pre-cut and pre-counted fresh flowers, containers, tools and a streaming video tutorial. You will create beautiful seasonal centerpieces for your home - no experience required! Makes a great gift!</span><br /><br/>
</div>

{% comment %}
  Static (right now) area for how it works grid
{% endcomment %}
<div id="how-it-works" class="grid-uniform center mid--grey subscription">
  <h3 class="sans-serif font--light up">Choose a plan</h3>
  <ul>
    <a href="/products/12-month-diy-flower-subscription" class="grid__item large--one-third medium--one-third small--one-whole">
      <li>
        <h3>12 Months</h3>
        <h4>$50/kit</h4>
        <span class="text--med text--white"><strong>Save over 16%</strong><br />FREE Shipping</span>
      </li>
    </a>
    <a href="/products/6-month-diy-flower-subscription" class="grid__item large--one-third medium--one-third small--one-whole">
      <li>
      <span id="popular" class="corner-ribbon"><span>Most popular!</span></span>
        <h3>6 Months</h3>
        <h4>$55/kit</h4>
        <span class="text--med text--white"><strong>Save over 8%</strong><br />FREE Shipping</span>    
      </li>
    </a>
    <a href="/products/1-month-diy-flower-subscription" class="grid__item large--one-third medium--one-third small--one-whole">
      <li>
        <h3>1 Month Trial</h3>
        <h4>$60</h4>
        <span class="text--med text--white"><strong>FREE Shipping</strong><br /><br /></span>
      </li>
    </a>
  </ul>
</div>

<div class="grid-uniform center mid-grey text--small"><br/><br/><br/>
  Plans automatically renew. You may cancel at any time. Kits are shipped the 2nd Monday of every month. Shipping available only to the contiguous 48 states.
</div>

{% comment %}
  Static (right now) area for past subscriptions

<div id="past-subscriptions" class="grid-uniform center mid--grey">
  <h3 class="sans-serif font--light up">Get a different seasonal arrangement each month</h3>
  <!-- Blog feed -->
  <div id="blog-feed">
    {% comment %}
      Loop through three recent blog articles with the following code.
    {% endcomment %}

    <div class="grid">
      <ul class="grid">
      {% for article in blogs['subscriptions'].articles reversed limit:4 %}
        <li class="large--one-fifth medium--one-fifth small--one-whole {% if article.tags contains 'future' %}future{% endif %}">
          <div class="blog-image borderless">
            <div>
              <a href="{{ article.url }}" style="background-image:url({{ article.image.src | img_url: 'medium' }})" class="lazy">   
              </a>
            </div>
          </div>

          <div class="grid__item large">

            <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>

            {% comment %}
              Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
              Since this is just a listing page, you can either use the excerpt or truncate the full article.
            {% endcomment %}
            <div class="rte">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
              {% endif %}
            </div>            

            <!-- <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t | upcase}} &rsaquo;</a></p> -->

          </div>
        </li>

      {% endfor %}
      </ul>
      <h4 class="sans-serif font--light">...and much more! We'll pick and send the best flowers in season for you.</h3>
    </div>
  </div>
</div>
{% endcomment %}
