<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<!-- Slideshow 1 -->
<div class="container text-center">
  <h1>{{ page.title }}</h1>
</div>      

<div class="featured-header-push">

  <div class="grid-uniform" id="about-itsbyu">
    {{'icon-bird.svg' | asset_url | img_tag, 'itsbyu', 'svg' }}
    <p>
      We know wedding flowers are expensive! You’ve considered DIY’ing your flowers, but you’re not sure if you’ll have the time or the skill to make them come out right. That’s where itsbyu comes in. We send you a complete kit with all the fresh flowers, the tools, and an easy streaming video that shows you how to make the design of your choice, step-by-step – no experience required!
    </p>
  </div>

  <div class="full-width bg--tan text--center">
    <h3 class="font--light up text--black">Average Cost of Wedding Flowers</h3>
    {{'bg-chart.svg' | asset_url | img_tag, 'average cost of wedding flowers', 'svg small' }}

  </div>

  <div class="grid-uniform" id="save-amaze">
    <span class="svg-small">{{'icon-money.svg' | asset_url | img_tag, 'save and amaze', 'svg' }}</span>
    <h3 class="font--light up">Save and amaze</h3>
    <p>
     By doing your own wedding flowers with a kit from itsbyu, you save up to 80% of what a florist would charge!
    </p>
  </div>

  <div class="grid-uniform" id="flowers-for-good">
    <div class="borderless">{{ 'bg-flowers.jpg' | asset_url | img_tag }}</div>
    <span class="svg-small">{{'icon-heart.svg' | asset_url | img_tag, 'Flowers for good', 'svg' }}</span>
    <h3 class="font--light up">Flowers for good</h3>    
    <p>
     We source all our flowers from organic and fair trade farmers, and we source locally when we can. So you can feel good that the flowers in your kit are as fresh as it gets.</p>

     <p>We’re also proud to partner with Matt Damon’s charity, <a href="http://water.org/">water.org</a>, and with <a href="http://randomactsofflowers.org/">Random Acts of Flowers</a>, a charity that upcycles used wedding flowers and distributes them to patients in hospitals and nursing homes. For every kit you buy, a donation is made to one of these charities.</p>
    </p>
  </div>

  <div class="grid-uniform" id="founders">
    <div class="borderless">{{ 'bg-founders.jpg' | asset_url | img_tag }}</div>
    <span class="svg-small">{{'icon-bird.svg' | asset_url | img_tag, 'itsbyu founders - Caroline and Christine Strzalka', 'svg' }}</span>
    <h3 class="font--light up">Founders</h3>
    <p class="bottom-line">Christine &amp; Caroline Strzalka</p>
    
    <p>We started itsbyu when brides on a budget came to Christine’s flower studio in Philadelphia asking if there were some way that they could DIY their wedding flowers to save money. Christine approached Caroline, a business development and digital media executive, for help in addressing the brides’ needs...and DIY flower kits were born.</p>

     <p>We’ve built itsbyu to help brides and grooms spark their creativity and make the most of their wedding budgets…because every couple deserves to have fabulous wedding flowers at an amazing price.</p>
    </p>
  </div>
</div>
