<!-- /templates/collection.liquid -->
{% comment %}
  Include snippet for Recharge recurring functionality
{% endcomment %}

{% section 'subscriptions' %}

<div class="container">
  {% include 'subscription-select' %}
</div>

<div class="shopify-section text-center container" style="max-width:600px;">
  <h2 class="text-pink">Details...</h2>
  <p>Each subscription includes a FREE starter kit ($50 value) that features an artisan-made container to match your style choice, pro-quality floral shears, and easy streaming video arranging tutorials.</p>

  <p>Bouquets are delivered Wednesdays through Fridays - your choice! Change days whenever you wish.</p>

  <p>Bouquets feature 15-20 stems of curated seasonal blooms sent to you directly from our flower fields across the world. Each bouquet is designed specifically to fit into our kit containers.</p>

  <p>Each delivery will feature different varieties and colors of flowers with arranging instructions so you can create a new look each time.</p>

  <p>3 bouquet deliveries are required before you can cancel or switch subscriptions.</p>
</div>

<div class="container">
  {% section 'faq' %}
</div>


{% include 'recharge-redirect' %}

{% comment %} {{ 'subscriptions.js' | asset_url | script_tag }} {% endcomment %}