<!-- Feature page for L'Occitane promotion -->
{% section 'loccitane' %}
{% section 'newsletter' %}

<script>
    $(function(){
        if ($(window).width() > 767){
            $('#featured-product:nth-child(even) .flex-item:first-child').insertAfter('#featured-product:nth-child(even) .flex-item:last-child')
        };
    })
</script>