<div class="hero" style="background-image:url({{ 'header-weddings.png' | asset_url }})">
  <div class="overlay">
    <h3>Shop our Collections</h3>
  </div>
</div>

<div class="flex flex-half text-center container" id="featured-callout">
  <div class="flex-item text-center pink-light">
    <div class="block" style="min-height:425px;">
      {{ 'tile-weddings.png' | asset_url | img_tag }}<br/><br/>
      {{ 'icon-rings.svg' | asset_url | img_tag }}
      <h4>Weddings</h4>
      <p></p>
      <a href="/collections" class="btn btn-outline">View Collections</a>
    </div>
  </div>

  <div class="flex-item text-center pink-light">
    <div class="block" style="min-height:425px;">
      {{ 'tile-tools.png' | asset_url | img_tag }}<br/><br/>
      {{ 'icon-spool.svg' | asset_url | img_tag }}
      <h4>Tools</h4>
      <p></p>
      <a href="/collections/tools-and-accessories" class="btn btn-outline">View Tools</a>
    </div>
  </div>
</div>

{% section 'feature' %}
{% section 'featured-collection' %}
{% section 'cta-color-block' %}
{% section 'footer-logos' %}
{% section 'newsletter' %}