<!-- alternative homepage  -->
{% section 'slider' %}
{% section 'three-column' %}
{% section 'image-textlist' %}
{% section 'footer-logos' %}
{% section 'testimonial-static' %}
{% section 'instagram' %}
