<div class="container">
  <h1>{{ page.title }}</h1>

  <div class="rte">
    {{ page.content }}
  </div>

  {% form 'contact', class:'form-stacked form-vertical' %}

    <div class="form-field-wrapper">
      {% if form.posted_successfully? %}
        <p class="form-success text-large">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}
    </div>

    <br/><br/>
    <div class="form-field-wrapper">
      {{ form.errors | default_errors }}
    </div>

    <div class="form-field-wrapper">
      <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
      <input type="text"
        name="contact[name]"
        id="ContactFormName"
        placeholder="{{ 'contact.form.name' | t }}"
        value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
    </div>

    <div class="form-field-wrapper">
      <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
      <input type="email"
        name="contact[email]"
        id="ContactFormEmail"
        placeholder="{{ 'contact.form.email' | t }}"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off">
    </div>

    <div class="form-field-wrapper">
      <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
      <input type="tel"
        name="contact[phone]"
        id="ContactFormPhone"
        placeholder="{{ 'contact.form.phone' | t }}"
        value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        pattern="[0-9\-]*">
    </div>

    <div class="form-field-wrapper">
      <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
      <textarea rows="10"
        name="contact[body]"
        id="ContactFormMessage"
        placeholder="{{ 'contact.form.message' | t }}">
        {% if form.body %}
          {{ form.body }}
        {% endif %}
      </textarea>
    </div>

    <div class="form-field-wrapper">
      <input type="submit" class="btn btn-outline" value="{{ 'contact.form.send' | t }}">
    </div>

  {% endform %}
</div>