<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<div id="targetHeader">
  <a href="/"><img src="{{ 'itsbyu-target.svg' | asset_url }}" alt="{{ shop.name }} + Target"></a>
</div>

{% section 'target' %}

<iframe height="550" src="https://www.youtube.com/embed/L5pM1LW7ziU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

<div class="section headline">
  <h1 class="pink"><strong>Welcome!</strong></h1>
</div>

<div class="container text-center">

  <div id="letterInput">
    <form action="javascript:printElem('currentLtr')">
      <img src="{{ 'wreath.svg' | asset_url }}" alt="Select a custom letter" class="input-bg" />
      <input type="text" placeholder="T" id="ltr" maxlength="1" style="text-transform:uppercase;" />
      <select id="font" class="float-20 float-sm-full">
        <option>Select font</option>
        <option>Montserrat</option>
        <option>Playfair Display</option>
      </select><br/><br/>
      <select id="style" class="float-20 float-sm-full">
        <option>Select a style</option>
        <option>Solid</option>
        <option>Outline</option>
      </select>
      <input type="submit" id="submit" disabled class="btn btn-outline pink" value="Type your letter above and download it" />
      <p>How to personalize your wreath with an initial:</p>

      <ol class="float-40 float-sm-full text-justify margin-auto">
        <li>Type in a letter above</li>
        <li>Choose your letter style</li>
        <li>Download the letter, and using your home printer, print on the cardstock in your kit</li>
        <li>Cut out the letter and attach to the wreath with the glue dots in your kit</li>
      </ol>
      <br /><br />
      <div>
        <strong>
          <p>Ta-daaa! Your wreath is officially awesome!</p>
          <p>Remember…this wreath is for indoor use only.</p>
        </strong>
      </div>

      <div id="letterOutline" style="display:none;">
        <canvas id="letterOutput" width="800" height="800"></canvas>
        <p class="text-small">Outline preview</p>
      </div>
    </form>

  </div>

  </div>
  <span id="currentLtr" style="display:none;"></span>
  <span id="printCSS" style="display:none;">{{ 'print.css' | asset_url }}</span>
  <span id="logo-small" style="display:none;">{{ 'logo-small.svg' | asset_url }}</span>
</div>

{% include 'cta-blocks' %}

{% include 'target-signup' %}

<script type="text/javascript">

  //Take letter and font input and preview in realtime
  var letter, font = '';
  var selectStyle = $('#style').val();
  var selectFont = $('#font').val();
  var regexp = /Q/g;

  $('#letterInput').on('change keyup', function(){
    letter = $('#ltr').val().toUpperCase();
    font = $('#font').val();
    style = $('#style').val();

    // Show that fonty goodness
    if (font !== selectFont){
      $('#ltr, #letterOutline').css('font-family',font);
    }

    //Style alignment for Cinzel edge cases
    
    if (font == 'Cinzel Decorative' && letter.match(regexp)){
      $('#ltr').addClass('text-left');
    } else {
      $('#ltr').removeClass('text-left');
    }

    //Store the letter for HTML extraction when the page is printed
    $('#currentLtr').empty().html(letter);

    //Simple validation
    if (letter !== '' && font !== 'Select font' && style !== 'Select a style'){
      $('#submit').prop('disabled', false).val('Continue');
    } else {
      $('#submit').prop('disabled', true).val('Type your letter above and download it');
    }

    setTimeout(function() {
      outlineLetter(letter, font);
    },300);
  });

  //Clear letter if input focused again and disable submit
  $('#ltr').on('click', function(){
    $(this).val('');
    $('#submit').prop('disabled', true);
  });

  //Preview outline letter
  function outlineLetter(ltr, font) {
    var canvas = document.getElementById('letterOutput');
    var context = canvas.getContext('2d');
    var x = canvas.width / 2;
    var y = canvas.height / 2;
    if (font === selectFont){
      font = 'Playfair Display';
    }

    var ltrFont = "480pt " + font;

    context.clearRect(0, 0, canvas.width, canvas.height);
    context.font = ltrFont;
    context.lineWidth = 1;
    context.textBaseline = 'middle';
    context.textAlign = 'center';
    // stroke color
    context.strokeStyle = 'black';
    context.strokeText(ltr, x, y);

    // $('#letterOutline').show();
  }

  //Print to new tab
  function printElem(divId) {
    var content = document.getElementById(divId).innerHTML;
    var printWindow = window.open('', 'Print', 'height=600,width=800');
    var printCSS = $('#printCSS').html();
    var fontName = $('#font').val().replace(' ', '+');
    var canvas = document.getElementById('letterOutput');
    var canvasImg = "<img src='"+canvas.toDataURL({multiplier: 4})+"'/>";
    var logo = $('#logo-small').html();
    var logoImg = "<img src='"+logo+"'/>";
    var lhFix, montserrat = '';
    if (content.match(regexp)){
      lhFix = 'lh-fix';
    }
    if ($('#font').val() == 'Montserrat'){
      var montserrat = 'montserrat';
    }

    //Build the new page
    printWindow.document.write('<html><head><title>MADE-IT-MYSELF FLOWER WREATH KIT</title>');
    printWindow.document.write('<link rel="stylesheet" type="text/css" href="' + printCSS + '">');
    printWindow.document.write('<link href="https://fonts.googleapis.com/css?family=' + fontName + '" rel="stylesheet">');
    printWindow.document.write('</head><body>');
    printWindow.document.write('<div class="letters" style="font-family:\'' + $("#font").val() + '\';">');

    if (style == 'Outline'){
      printWindow.document.write(canvasImg);
    } else {
      printWindow.document.write('<span class="circle' + ' ' + lhFix + ' ' + montserrat + '">' + content + '</div></span>');
    }
    printWindow.document.write('</div>');
    printWindow.document.write('<div class="footer"><br/><br/>' + logoImg + '<br/><br />For more flower arrangement ideas, please visit us at www.itsbyu.com</div>')
    printWindow.document.write('</body></html>');

    printWindow.document.close();
    printWindow.focus();
    setTimeout(function(){
      printWindow.print();
    },1000);
    // printWindow.close();
    return true;
  }
</script>


