<div itemscope itemtype="http://schema.org/Product" class="container">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% comment %}
    Get first variant, or deep linked one
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    {% include 'product-header' %}   

    <div class="clear"></div><br/><br/>

    <div class="float float-50 float-sm-full">
        {% include 'product-photos' %}
    </div>

    <div class="float float-50 float-sm-full float-right">
        {% include 'tabs' %}

        <hr/>
    </div>

    <div class="container">
        {% section 'faq' %}
    </div>

    {% for collection in product.collections %}
        {% if product.title contains collection.title %}
            {% assign current_collection = collection.title | handleize %}
        {% endif %}        
    {% endfor %}
    <!-- Related Products -->
    {% comment %} <div class="container text-center" id="related">
        <h2>Related products</h2>
        {% for item in current_collection %}
            {% for related_product in collections[item].products %}
                {% unless related_product.title  == product.title %}
                    <a href="{{related_product.url}}" class="btn btn-outline">                            
                        {{ related_product.title }}
                    </a>
                {% endunless %}                
            {% endfor %}
        {% endfor %}
    </div> {% endcomment %}
    <div class="text-center shopify-section">
        <h3>You may also like</h3>
        {% include 'subscription-select' %}
    </div>

    <div class="one-whole left-15" style="clear:both; float:left; margin-top:4em;">

        {% comment %}
            Displaying reviews for legacy products
        {% endcomment %}

        {% if product.title contains 'Bi-' %}
            {% assign reviewId = 11211480199 %}
        {% elsif product.title contains 'Monthly' %}
            {% assign reviewId = 11210948871 %}
        {% elsif product.title contains 'Week' %}
            {% assign reviewId = 11296796039 %}
        {% else %}
            {% assign reviewId = product.id %}
        {% endif %}

        <div id="shopify-product-reviews" style="display:none;" data-id="{{ reviewId }}">{{ product.metafields.spr.reviews }}</div>
        <div id="shopify-product-reviews" style="display:none;" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>

        <script>
            var waitForEl = function(selector, callback) {
                if (!$(selector).length) {
                    setTimeout(function() {
                        window.requestAnimationFrame(function(){ waitForEl(selector, callback) });
                    }, 100);
                } else {
                    callback();
                }
            };

            function concatReviews(){
                $('#shopify-product-reviews:nth-child(2) .spr-review').each(function(){
                    $(this).appendTo('#shopify-product-reviews:first-child .spr-reviews');
                });
                $('#shopify-product-reviews').show();
            }

            waitForEl('#shopify-product-reviews', concatReviews);
        </script>

        {% section 'newsletter' %}
    </div>
</div>

{% include 'product-select-js' %}