<!-- product.gift-card.liquid --> 

<style>
    .gwbutton {display:none !important;}
</style>
<div class="loading" style="display:none;">{{ 'loading.gif' | asset_url | img_tag }}</div>

{% section 'gift-card' %}

{% assign subscriptions = collections['subscriptions-2017'].products %}

<div class="shopify-section container text-center">
    <br/>
    <p>{{ product.content }}</p>
</div>

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical" style="padding:0;">

    <div class="container" id="frequency">

        <input name="id" id="productSelect" type="hidden"/>

        <div class="flex flex-select">
            {% for variant in product.variants %}    
                <div class="variant flex-item flex-full{% if product.tags contains 'recommended' %} middle{% endif %} tile text-center" data-variant-id="{{ variant.id }}" data-price="{{ variant.price | money_without_currency }}">
                    {% if product.id == 11211480199 %}
                    <span class="alert">Recommended</span>
                    {% endif %}
                    {% if variant.image %}
                        {{ variant.image | img_url:'330x330' | img_tag }}
                    {% endif %}
                    {% assign price = variant.price | money %}
                    {% unless variant.title == price %}
                        <h3 class="frequency">{{ variant.title }}<br/>
                            <span class="text-small">$59/mo | ({{variant.price | money}})</span>
                        </h3>
                    {% endunless %}
                </div>
            {% endfor %}
        </div>

        <div class="float float-40 float-sm-full">
            <input type="text" placeholder="Your name" {% if cart.attributes.gift_sender_name %}value="{{ cart.attributes.gift_sender_name }}"{% endif %} name="attributes[gift_sender_name]" required/><br/>
            <input type="email" placeholder="Your email" {% if cart.attributes.gift_sender_email %}value="{{ cart.attributes.gift_sender_email }}"{% endif %} name="attributes[gift_sender_email]" required/><br/>
            <input type="tel" placeholder="Your phone number" {% if cart.attributes.gift_sender_phone %}value="{{ cart.attributes.gift_sender_phone }}"{% endif %} name="attributes[gift_sender_phone]"/><br/>
            <input type="text" placeholder="Recipient name" {% if cart.attributes.gift_recipient_name %}value="{{ cart.attributes.gift_recipient_name }}"{% endif %} name="attributes[gift_recipient_name]" required/><br/>
            <input type="email" placeholder="Recipient email" {% if cart.attributes.gift_recipient_email %}value="{{ cart.attributes.gift_recipient_email }}"{% endif %} name="attributes[gift_recipient_email]" required/><br/>
            <input type="tel" placeholder="Recipient phone number" {% if cart.attributes.gift_recipient_phone %}value="{{ cart.attributes.gift_recipient_phone }}"{% endif %} name="attributes[gift_recipient_phone]"/>
        </div>
        <div class="float float-60 float-sm-full">
            <textarea placeholder="Add a gift message" {% if cart.attributes.gift_message %}value="{{ cart.attributes.gift_message }}"{% endif %} name="attributes[gift_message]"></textarea>
        </div>

        <div class="container clear text-center cart-button">
            <button type="submit" name="add" id="AddToCart" class="btn add-to-cart btn-pink">
                <span id="AddToCartText">Add to cart</span>
            </button>
        </div>
    </div>
</form>

<br/><br/>
{% section 'newsletter' %}

<script type="text/javascript">
    var isGift = false;

    $(document).ready(function(){

        $('.variant').click(function(){
            isGift = true;
            var price = $(this).attr('data-price');
            
            $(this).siblings().removeClass('selected');
            $(this).addClass('selected');

            var variantId = $(this).attr('data-variant-id');
            $('#productSelect').val(variantId);

        });

        $('#AddToCart').click(function(){
            console.log(isGift);
            if (isGift == false) {
                alert('Please select a gift');
            }     
        });
    });
</script>