<!-- Go to www.addthis.com/dashboard to customize your tools -->
        <!-- <meta property="og:title" content="AddThis Tour" /> -->
        <meta property="og:description" content="I'm going to make this sweet floral design with a #DIY #flower kit from itsbyu.com! #itsbyu" />
        <meta property="og:image" content="http://i2.ytimg.com/vi/1F7DKyFt5pY/default.jpg" />
        <script type="text/javascript">
        var addthis_share = addthis_share || {}
        addthis_share = {
            passthrough : {
            twitter: {
                text: "I'm going to make this sweet floral design with a #DIY #flower kit from itsbyu.com! #itsbyu",
                via: "itsbyu"
            }
            }
        }

        var addthis_config = addthis_config||{};
            addthis_config.ui_email_to = 'yourfriends@email.com';
        var addthis_config = addthis_config||{};
            addthis_config.ui_email_from = 'youremail@email.com';
        var addthis_config = addthis_config||{};
            addthis_config.ui_email_note = 'Look at this sweet DIY flower design from itsbyu.com!';
        </script>
        <div class="addthis_sharing_toolbox"></div> 
