<style>
  #topbar {
    background:#e86b7f;
    color:white;
    padding:.2em 0;
    text-align:center;
    height:auto;
    line-height:1.5em;
    position:relative;
    top:0;
    width:100%;
    font-weight:bold;
    z-index:10;
  }
  #shopify-section-header {
    margin-top:2em !important;
  }
  #shopify-section-1501753660460 {
    margin-top:0;
  }
  /* @media screen and (max-width:767px){
  .index .navbar-fixed-top,
  .index .navmenu-fixed-left {
        margin-top:3em;
    }
  }
  @media (max-width:320px){
    .index .navbar-fixed-top,
    .index .navmenu-fixed-left {
      margin-top:5em;
    } */
  }
</style>

<div id="topbar">
  FREE SHIPPING ON ALL SUBSCRIPTIONS
</div>


