{% include 'subscription-cart-footer' %}<br>

<div class="container">
  {% if cart.item_count > 0 %}
    <h1 class="uc">{{ 'cart.general.title' | t }}</h1>

    <form action="/cart" method="post" novalidate id="cartForm">
      <table class="responsive-table">
        <tbody>
          {% assign subNum = 0 %}
          {% for item in cart.items %}

            {% comment %}
              Redirect cart to add starter kit if there's a subscription in the order
            {% endcomment %}
            {% if item.sku == 'starter-kit' %}
              {% assign isStarter = true %}
            {% endif %}
            {% if item.product.type == 'Subscription' %}
              {% if item.sku != 'starter-kit' %}
                {% assign isSub = true %}
                {% assign subNum = subNum | plus: item.quantity %}
              {% endif %}
              {% if item.title contains 'Monthly' %}
                {% unless item.title contains 'Bi-Monthly' %}
                  {% assign isMonthly = true %}
                {% endunless %}
              {% endif %}
              {% if item.title contains 'Bi-Monthly' %}
                {% assign isBiMonthly = true %}
              {% endif %}
              {% if item.title contains 'Weekly' %}
                {% assign isWeekly = true %}
              {% endif %}
            {% endif %}

          {% comment %}

          Cart Item Template
          =====================
          The data-label attributes on <td> elements are mobile-friendly
          helpers used for responsive-table labels
          {% endcomment %}

            <tr class="responsive-table-row">
              <td data-label="{{ 'customer.order.product' | t }}">
                <a href="{{ item.url | within: collections.all }}">
                  {% if item.variant.image %}
                    <img src="{{ item.variant | img_url: '380x' }}" alt="{{ item.title | escape }}">
                  {% else %}
                    <img src="{{ item.image | img_url: '380x' }}" alt="{{ item.title | escape }}">
                  {% endif %}
                </a>
              </td>
              <td>
                <h3>
                  {% if item.sku == 'starter-kit' %}
                    {{ item.product.title }}
                  {% else %}
                    <a href="{{ item.url }}">{{ item.product.title | replace: ' Auto renew', ''}}</a>
                  {% endif %}
                </h3>
                {% if item.sku == 'starter-kit' %}
                  <br/>One-time starter kit included<br/>free in your subscription
                {% endif %}

                {% if item.product.type == 'Gift' %}
                  {% if cart.attributes.gift_recipient_email %}
                    <span class="pink">Recipient Name</span>
                    <h4>
                      {{cart.attributes.gift_recipient_name}}
                    </h4>
                      <span class="pink">Recipient Email</span>
                    <h4>
                      {{cart.attributes.gift_recipient_email}}
                    </h4>
                    {% else %}
                      <input type="text" placeholder="Your name" name="attributes[gift_sender_name]"/><br/>
                      <input type="email" placeholder="Your email" name="attributes[gift_sender_email]"/><br/>
                      <input type="text" placeholder="Recipient name" name="attributes[gift_recipient_name]"/><br/>
                      <input type="email" placeholder="Recipient email" name="attributes[gift_recipient_email]"/>
                      {% if attributes.gift_message %}
                        <textarea placeholder="Add a gift message" name="attributes[gift_message]"></textarea>
                      {% endif %}
                      <input type="submit" style="width:100%;" class="btn btn-pink" name="update" value="{{ 'cart.general.update' | t }}">
                    {% endif %}
                  </h4>
                {% endif %}

                {% if cart.attributes.gift_message %}
                  <span class="pink">Gift message</span>
                  <h4>{{ cart.attributes.gift_message }}</h4>
                {% endif %}

                {% unless item.product.type == 'Gift' %}
                  {% unless item.product.has_only_default_variant %}
                    <p>Style: {{ item.variant.title }}</p>
                  {% endunless %}
                {% endunless %}

              </td>
              {% if item.product.type != 'Subscription' %}
                <td data-label="{{ 'cart.label.price' | t }}" class="text-center">
                  {% if item.original_line_price != item.line_price %}
                    <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                    {{ item.price | money }}
                    <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                    <s>{{ item.original_price | money }}</s>
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                </td>
              {% endif %}
              <td data-label="{{ 'cart.label.quantity' | t }}" class="text-right">
                  <!-- {% include 'quantity' %} -->
                  {% if item.sku == 'starter-kit' %}
                    <span id="starterQty">{{item.quantity}}</span>
                  {% else %}
                    {{item.quantity}}
                    {% comment %} <input type="number"
                          name="updates[]"
                          id="updates_{{ item.key }}"
                          value="{{ item.quantity }}"
                          min="0"
                          aria-label="{{ 'cart.general.item_quantity' | t }}"> {% endcomment %}
                  {% endif %}
              </td>
              <td data-label="{{ 'cart.label.total' | t }}" style="text-align:right">
                {% if item.sku == 'starter-kit' %}
                  INCLUDED
                {% else %}
                  {{ item.line_price | money }}
                {% endif %}
              </td>
              <td style="text-align:right; width:90px;">
                {% unless item.sku == 'starter-kit' %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <small>{{ 'cart.general.remove' | t }}</small>
                  </a>
                {% endunless %}
              </td>
            </tr>

          {% endfor %}
          {% comment %} <tr>
            <td colspan="3">&nbsp;</td>
            <td colspan="2">
              <input type="submit" class="btn btn-pink" name="update" value="{{ 'cart.general.update' | t }}">
            </td>
          </tr> {% endcomment %}

        </tbody>
      </table>
      <script>
        $(document).ready(function(){
          if ($('#is_gift_checkbox:checked')){
            $()
          }
          $.post('/cart/update.js', 'updates[7049000648737]={{subNum}}');
          if ($('#starterQty').text() != {{subNum}}){
            $.ajax({
                type: 'POST',
                data: {updates: {7049000648737: {{subNum}}}},
                url: '/cart/update.js',
                dataType: 'json',
                success: function() {
                  console.log('Starter kits successfully applied');
                  location.reload();
                }
            });
          }
          $('#starterQty').text({{subNum}});
        });
      </script>

      {% if isSub %}
        {% include 'delivery-day-select' %}

      {% else %}
        <script>
          $.ajax({
              type: 'POST',
              data: {updates: {7049000648737: 0}},
              url: '/cart/update.js',
              dataType: 'json',
              success: function() {
                console.log('Starter kits successfully removed');
              }
          });
          $(document).ready(function(){
            var checkout_button_selectors = "[name='checkout'], [href='/checkout'], form[action='/checkout'] input[type='submit'], .checkout_button";
            $(checkout_button_selectors).click( function(event) {
              event.preventDefault();
              if ($('#agree').is(':checked')) {
                window.location.href ='/checkout';
              }
              else {
                $('#termsError').fadeIn('fast');
              }
            });
          });

        </script>
      {% endif %}

{% comment %}
      <div class="flex-item text-right float-right" id="delivery-wrapper">
        {% include 'delivery-date' %}
      </div> {% endcomment %}

      {% if settings.cart_notes_enable %}
        <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      {% endif %}

      <div class="shopify-section">
        <div class="text-right">
          <div id="checkout-buttons" style="display:none">
            {% if cart.attributes.date %}
              <p>Preferred delivery date: {{ cart.attributes.date }}</p>
            {% endif %}
            <h3>{{ 'cart.general.subtotal' | t }} {{ cart.total_price | money }}</h3>
            {% if cart.total_discounts > 0 %}
              <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
            {% endif %}
            <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            <div id="terms">
              <div id="termsError" class="error" style="display:none">You must agree to the terms and conditions before continuing.</div>
              <input type="checkbox" name="agree" id="agree" class="css-checkbox"/>
              <label for="agree" class="css-label"></label>
              <div id="disclaimer">
                By clicking checkout, you accept our <a href="/pages/legal" target="_blank" style="height:auto; width:auto; display:inline-block;">Terms of Service</a>.
              </div>
            </div>
            <input type="submit" name="checkout" class="btn btn-pink checkout_button" value="{{ 'cart.general.checkout' | t }}">

          </div>
        </div>
      </div>
    </form>
  {% else %}
    <h1>{{ 'cart.general.title' | t }}</h1>

    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  {% endif %}
</div>



{% comment %}
  hide cart gifting until fully tested
{% endcomment %}
<script>
  $(document).ready(function(){
    $('#checkout-buttons').show();
  });
</script>
