{% include 'subscription-cart-footer' %}<br>

<div id="cart" class="container">
  {% if cart.item_count > 0 %}
    <h1 class="uc">{{ 'cart.general.title' | t }}</h1>

    <form action="/cart" method="post" novalidate id="cartForm2">
      <table class="responsive-table">
        <tbody>
          {% for item in cart.items %}

            {% comment %}

            Cart Item Template
            =====================
            The data-label attributes on <td> elements are mobile-friendly
            helpers used for responsive-table labels
            {% endcomment %}

              <tr class="responsive-table-row" data-variant-id={{item.variant.id}}>
                <td data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ item.url | within: collections.all }}">
                    {% if item.variant.image %}
                      <img src="{{ item.variant | img_url: '380x' }}" alt="{{ item.title | escape }}">
                    {% else %}
                      <img src="{{ item.image | img_url: '380x' }}" alt="{{ item.title | escape }}">
                    {% endif %}
                  </a>
                </td>
                <td>
                  <h3 class="product-title">
                    {% if item.sku == 'starter-kit' %}
                        <a href="#">{{ item.product.title }}</a>
                    {% elsif item.product.title contains 'Vase' %}
                      <a href="#">{{ item.product.title | replace: ' Auto renew', ''}}</a>
                    {% else %}
                      <a href="{{ item.url }}">{{ item.product.title | replace: ' Auto renew', ''}}</a>
                    {% endif %}
                  </h3>
                  {% unless item.variant.title == 'Default Title' %}
                    {% if item.properties.type == 'gift-subscription' or item.properties.type == 'subscription' %}
                      <p>{{item.variant.option1}}</p>
                    {% else %}
                      <p>{{item.variant.title}}</p>
                    {% endif %}

                  {% endunless %}

                  {% comment %}
                    Check if addons exist
                  {% endcomment %}
                  {% if item.product.type == 'Subscription' %}
                    {% assign subAdded = true %}
                  {% endif %}
                  {% if item.product.type == 'Tools and Accessories' %}
                    {% assign addon = true %}
                  {% endif %}
                  
                  {% unless item.product.title contains 'Groupon' %}
                    {% if subAdded %}
                      {% unless addon %}

                        {% assign r = item.product.metafields.complete_the_look.product-names | split: ", " %}
                        {% include 'product-addons' %}

                      {% endunless %}
                    {% endif %}
                  {% endunless %}

                  {% if item.sku == 'starter-kit' %}
                    <p>One-time starter kit included<br/>free in your subscription</p>
                  {% endif %}
                </td>

                <td data-label="{{ 'cart.label.quantity' | t }}" class="text-right">
                  {% if item.sku == 'starter-kit' %}
                  <p class="kit-info" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-value="{{item.quantity}}" data-index="{{forloop.index}}">x {{item.quantity}}</p>
                  {% elsif item.properties.type == 'gift-subscription' %}
                  <p></p>
                  {% else %}
                  <div class="cart-quantity-inner">
                    <a class="cart-quantity-minus cart-quantity {% if item.properties.type == 'vase' %}isVase{% endif %}{% if item.properties.type == 'subscription' %}isSub{% endif %}" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-index="{{forloop.index}}" data-addon="{{item.properties.product}}" data-product-id="{{item.product_id}}">-</a>
                    <span class="cart-quantity-label" data-value="{{item.quantity}}">{{item.quantity}}</span>
                    <a class="cart-quantity-plus cart-quantity" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-index="{{forloop.index}}">+</a>
                    {% endif %}
                </td>
                <td data-label="{{ 'cart.label.total' | t }}" class="total">
                  {% unless item.product.title contains 'Groupon' %}
                    {% if item.sku == 'starter-kit' %}
                      INCLUDED
                    {% else %}
                      {{ item.line_price | money }}
                    {% endif %}
                  {% endunless %}
                </td>
                <td data-label="Remove" style="text-align:right; width:90px;">
                  {% unless item.sku == 'starter-kit' %}
                  {% if item.properties.type == 'gift-subscription' or item.properties.type == 'vase' %}
                  <a class="cart-remove {% if item.properties.type == 'gift-subscription' %}isGift{% endif %}" href="#" data-index="{{forloop.index}}" data-variant="{{item.variant_id}}" {% if item.properties.type == 'vase' %} data-type="vase" {% endif %}>Remove</a>
                  {% elsif item.properties.type == 'subscription' %}
                  <a class="cart-remove" href="#" data-index="{{forloop.index}}" data-type="subscription" data-variant="{{item.variant_id}}" data-product-id="{{item.properties.product}}">Remove</a>

                  <!-- <a class="cart-remove" href="#" data-variant="{{item.variant_id}}">Remove</a> -->
                  {% else %}
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    {{ 'cart.general.remove' | t }}
                    </a>
                    {% endif %}
                  {% endunless %}
                </td>
              </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="bottom-wrapper">
        <div class="shopify-section" style="width:100%;">
          {% for item in cart.items %}
            {% if item.properties.type == 'gift-subscription' or item.properties.type == 'gift' %}
              {% assign has_gift = 'true' %}
            {% endif %}
          {% endfor %}

          {% if has_gift %}
            <div id="giftForm">
              <div class="alert">
                <h3>Complete your gift!</h3>
                We'll email your custom gift message<br/>along with delivery info and tracking information.
              </div>
              <div class="form-group">
                <div class="form-element">
                  <input class="gift-info__sender_name" type="text" value="" required placeholder="Your name" id="senderName"/>
                  <label for="senderName" class="label">Your name</label>
                  <sup>*</sup>
                </div>
                <div class="form-element">
                  <input class="gift-info__sender_email email" type="email" required placeholder="Your email" id="senderEmail">
                  <label for="senderEmail" class="label">Your email</label>
                  <sup>*</sup>
                </div>
              </div>
              <div class="form-group">
                <div class="form-element">
                  <input class="gift-info__recipient_name" type="text" value="" required placeholder="Who is this gift for?" id="recipientName" />
                  <label for="recipientName" class="label">Who is this gift for?</label>
                  <sup>*</sup>
                </div>
                <div class="form-element">
                  <input class="gift-info__recipient_email email" type="email" value="" required placeholder="What's their email?" id="receipientEmail">
                  <label for="recipientEmail" class="label">What's their email?</label>
                  <sup>*</sup>
                </div>
              </div>
              <div id="duplicateEmail" style="display:none; text-align:left; margin-left:1em;" class="error">
                Uh oh! Looks like you're trying to send this to yourself.<br/>
                Please enter your recipient's email so we can send them your custom gift message!<br/><br/>
              </div>
              <div class="gift-info__email--error error" style="display:none; margin-left:1em;">*Please fill all required fields</div>
              <div class="form-group">
                <div class="form-element">
                  <div id="gift-info">
                    <div class="gift-info__wrapper">
                        <textarea id="message" type="text" class="gift-info__message" value="" placeholder="Include a message with your gift" id="giftMessage"></textarea>
                        <label for="giftMessage" class="label">Include a message with your gift</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="shopify-section">
          {% unless cart_has_groupon_item %}
            {% if subAdded %}
              {% unless addon %}
                <div class="alert">
                  <h3>Don't Forget!</h3>
                  Complete your look by adding a matching vase and shears above.
                </div>
              {% endunless %}
            {% endif %}
          {% endunless %}

          {% assign now = 'now'| date: '%s' | plus: 0 %}

          {% if now > 1549872600 %}
            <div class="delivery-wrapper__outer">
              First Delivery: <span class="pickedDate">{{cart.attributes['First Delivery']}}</span>
            </div>
          {% endif %}

          <div id="checkout-buttons" style="display:block">
            {% unless cart_has_groupon_item %}
              <h3>{{ 'cart.general.subtotal' | t }} {{ cart.total_price | money }}</h3>
              {% if cart.total_discounts > 0 %}
                <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
              {% endif %}
            {% endunless %}

            {% for item in cart.items %}
              {% if item.properties.type == 'gift-subscription' or item.properties.type == 'subscription' %}
              {% assign recharge_item = 'true' %}
              {% endif %}
            {% endfor %}

            {% if recharge_item == 'true' %}
              <p>Any applicable shipping and taxes calculated at checkout</p>
              {% else %}
              <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            {% endif %}

            <div id="terms">
              <div id="termsError" class="error" style="display:none">You must agree to the terms and conditions before continuing.</div>
              <div class="terms-inner">
                <input type="checkbox" name="agree" id="agree" class="css-checkbox"/>
                <label for="agree" class="css-label"></label>
                <div id="disclaimer">
                  By clicking checkout, you accept our <a href="/pages/legal" target="_blank" style="height:auto; width:auto; display:inline-block;">Terms of Service</a>.
                </div>
              </div>
            </div>
            <input type="submit" name="checkout" class="btn btn-pink checkout_button" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </div>
      </div><!-- end bottom wrapper -->
    </form>
  {% else %}
    <h1>{{ 'cart.general.title' | t }}</h1>
    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  {% endif %}

  {% section 'testimonials-carousel' %}
</div><!-- end container -->

{% comment %}
  Cart scripts
{% endcomment %}
{{ 'cart.js' | asset_url | script_tag }} 