<div id="CartDrawer" class="drawer drawer--right">
  <div id="cartContents">
    <div class="drawer__header grid--full">
      <h3 class="uc">{{ 'cart.general.title' | t }}</h3>
      <div class="drawer__close js-drawer-close">
        {{ 'icon-close.svg' | asset_url | img_tag }}
      </div>
    </div>
    {% comment %} Cart content {% endcomment %}
    
    {% include 'cart-drawer-contents' %}
  </div>
</div>

<style>
 #AjaxifyCart .additional-checkout-buttons, #ajaxifyCart .additional-checkout-buttons {
    display:none;
}
</style>
{% if template != 'cart'  %}
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script>
	rjQuery = jQuery.noConflict( true );
    var subscription_active='{{shop.metafields.subscriptions.subscription_active}}'
    function get_cookie(k){return(document.cookie.match('(^|; )'+k+'=([^;]*)')||0)[2]}
    if (get_cookie('recharge')=='true' || subscription_active=='true') { 
        rjQuery('body').on('click','form[action="/checkout"] input[type="submit"], #ajaxifyCart [name="checkout"], #AjaxifyCart [name="checkout"], #shoppingBagInner [name="checkout"]', function(e){
            e.preventDefault(); 
        })
        rjQuery('.additional-checkout-buttons').hide()
        rjQuery(document).ready(function(){
            rjQuery('.additional-checkout-buttons').hide()
        })
    }
    </script>
{% endif %}<br>