{% assign cart_has_groupon_item = false %}
{% assign groupon_item_price = 0 %}

{% if cart.item_count > 0 %}
  {% for item in cart.items %}

    {% if item.product.title contains 'Groupon' %}
      {% assign cart_has_groupon_item = true %}
      {% assign groupon_item_price = item.product.price %}
    {% endif %}

    <form{% if item.product.type == 'Subscription' %} id="subscriptionCheckout" {% else %} action="/cart" method="post" novalidate{% endif %}>
      <div class="row row-cart">

        <div class="float" style="clear:none; width:100%;">
          {% if item.product.title contains 'Vase' %}
          <h3 style="margin:0;display:inline-block;">
            <a href="#" class="cart-variant">{{ item.product.title | replace: ' Auto renew', '' }}</a>
          </h3>
          {% else %}
          <h3 style="margin:0;display:inline-block;">
            <a href="{{item.url}}" class="cart-variant">{{ item.product.title | replace: ' Auto renew', '' }}</a>
          </h3>
          {% endif %}

          {% unless item.product.title contains 'Groupon' %}
            <div style="float:right;display:inline-block;">
              {{item.price | money_with_currency }}
            </div>
          {% endunless %}

          <!-- If product is a ReCharge product, display option1, which is the title of the variant. Otherwise display normal variant title. -->
          {% unless item.variant.title == 'Default Title' %}
            {% if item.properties.type == 'gift-subscription' or item.properties.type == 'subscription' %}
            <p>{{item.variant.option1}}</p>
            {% else %}
            <p>{{item.variant.title}}</p>
            {% endif %}
          {% endunless %}
          <!-- {% if item.sku == 'starter-kit' %}
            <i>One time only</i>
          {% endif %} -->
          {% if item.sku == 'starter-kit' %}
          <p class="kit-info" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-value="{{item.quantity}}" data-index="{{forloop.index}}">x {{item.quantity}}</p>
          {% elsif item.properties.type == 'gift-subscription' %}
          <a class="cart-remove isGift" href="#" data-index="{{forloop.index}}" data-variant="{{item.variant_id}}" {% if item.properties.type == 'vase' %} data-type="vase" {% endif %}>Remove</a>
          {% else %}
          <div class="cart-quantity-inner">
            <a class="cart-quantity-minus cart-quantity {% if item.properties.type == 'vase' %}isVase{% endif %}{% if item.properties.type == 'subscription' %}isSub{% endif %}" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-index="{{forloop.index}}" data-addon="{{item.properties.product}}" data-product-id="{{item.product_id}}">-</a>
            <span class="cart-quantity-label" data-value="{{item.quantity}}">{{item.quantity}}</span>
            <a class="cart-quantity-plus cart-quantity" data-variant="{{item.variant_id}}" data-type="{{item.properties.type}}" data-index="{{forloop.index}}">+</a>
            <!-- <input min="1" type="hidden" class="cart-quantity" name="quantity" value="{{item.quantity}}"> -->
          </div>
        </div>
        {% endif %}

        {% comment %}
        {% unless item.sku == 'starter-kit' %}
          <div class="row" style="clear:both;">
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
              {{ 'cart.general.remove' | t }}
            </a>
          </div>
        {% endunless %}
        {% endcomment %}
      </div>

    {% endfor %}

    {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %}

    {% assign recharge_item = 'false' %}
    {% for item in cart.items %}
      {% if item.product.type == 'Subscription' %}
        {% assign isSub = true %}
      {% endif %}

      {% if item.properties.type == 'gift-subscription' or item.properties.type == 'subscription' %}
       {% assign recharge_item = 'true' %}
      {% endif %}
    {% endfor %}

    <div class="row row-cart">
      {% comment %} {% if cart_has_groupon_item %}
        {% assign subtotal = cart.total_price - groupon_item_price %}
      {% else %}
        {% assign subtotal = cart.general.total_price %}
      {% endif %} {% endcomment %}

      {% assign subtotal = cart.total_price | minus: groupon_item_price %}

      {% unless cart_has_groupon_item and subtotal == 0 %}
        <div class="float-right">{{ subtotal | money }}</div>
        <div class="subtotal" style="clear:none"><strong>{{ 'cart.general.subtotal' | t }}</strong></div>
      {% endunless %}
    </div>

    <div class="row">
      {% if cart.total_discounts > 0 %}
        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
      {% endif %}
      {% if recharge_item == 'true' %}
      <p>Includes free shipping. Taxes calculated at checkout</p>
      {% else %}
      <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
      {% endif %}
    </div>

    <div class="row">
      <!-- <input type="submit" class="btn btn-pink" name="update" value="{{ 'cart.general.update' | t }}" onclick="event.preventDefault(); saveCartNote()"> -->
      {% comment %} <input type="submit" name="checkout" class="btn btn-pink" value="{{ 'cart.general.checkout' | t }}" {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); saveCartNoteThenRedirect()" {% endif %}>{% endcomment %}
      <a href="/cart" class="btn btn-pink">Go to cart</a>
    </div>

  </form>
{% else %}
  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}

<script>
// Change product quantity
var cartDisabled = false;


$(document).on('click', '.cart-remove', function(){
  var vaseExists = $('.cart-quantity').hasClass('isVase');
  var giftExists = $('.isGift').length;
  // get the quantity displayed in menu cart/basket icon
  var cart_basket_quantity = $('.cart-basket-quantity').html();
  // reload #CartDrawer DOM, or else drawer will pop open and still remain empty
  var url = window.location + "?ID=" + Math.random();
  var cart = CartJS.cart.items;
  var remove_item = $(this).attr('data-variant');
  var addon_type = $(this).data('type');

  if (cartDisabled == true ){
    return;
  } else {
  cartDisabled = true

  CartJS.removeItemById(remove_item, {
    "success": function(data, textStatus, jqXHR) {
      if (vaseExists && giftExists == 1) {
        console.log('it exists')
        CartJS.removeItemById($('.isVase').attr('data-variant'), {
         "success": function(data, textStatus, jqXHR) {
          $('.cart-basket-quantity').html(parseInt($('.cart-basket-quantity').html()) - parseInt($('.isVase').next('span').data('value')));
           $("#CartDrawer").load(url+" #CartDrawer>*","");
          },
         "error": function(jqXHR, textStatus, errorThrown) {
            console.log('Error: ' + errorThrown + '!');
            window.location.reload();
           }
         });
       }

    cartDisabled = false;
    console.log(CartJS.cart.items.length);
    console.log(hasGift);

    if (CartJS.cart.items.length == 1) {
      hasGift = false;
      disabled = false;
     $('.warning').html(' ');
     $("#CartDrawer").load(url+" #CartDrawer>*","");
     console.log('cart 0')
     return;
    } else if (hasGift == true){
      for (var i=0; i <CartJS.cart.items.length; i++){
        if (CartJS.cart.items[i].properties.type == 'gift-subscription' || CartJS.cart.items[i].properties.type == 'gift'){
           console.log('still has gift')
           $("#CartDrawer").load(url+" #CartDrawer>*","");
          return;
        }
        hasGift = false;
        disabled = false;
        $('.warning').html(' ');
        $('.addtocart').removeClass('disabled');
        $("#CartDrawer").load(url+" #CartDrawer>*","");
        console.log('disabled');
        return;
      }
     }
    // Remove entire item from cart (only for Gift subscriptions)

      },
      "error": function(jqXHR, textStatus, errorThrown) {
       console.log('Error: ' + errorThrown + '!');
       window.location.reload();
      }
    });
  }
});

// Update item quantity (Add)
  $(document).on('click', '.cart-quantity', function(){
    var removeVase = false;
    var vaseExists = $('.cart-quantity').hasClass('isVase');
     console.log('cart-quantity clicked')
    if (cartDisabled == true ){
      return;
    } else {
    cartDisabled = true

    var self = $(this);

    var url = window.location + "?ID=" + Math.random();

    if ($(this).hasClass('cart-quantity-plus')){
        var variant_index = $(self).attr('data-index');
      var cartQuantity = $(self).prev('.cart-quantity-label').attr('data-value');
      cartQuantity = ++cartQuantity;

      CartJS.updateItem(variant_index, cartQuantity, {}, {
        "success": function(data, textStatus, jqXHR) {
          // get the quantity displayed in menu cart/basket icon
          var cart_basket_quantity = $('.cart-basket-quantity').html();
          $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) + parseInt(1));

          $(self).prev('.cart-quantity-label').html(cartQuantity);
          $(self).prev('.cart-quantity-label').attr('data-value', cartQuantity);
          $("#CartDrawer").load(url+" #CartDrawer>*","");
          cartDisabled = false
       },
      "error": function(jqXHR, textStatus, errorThrown) {
         console.log('Error: 1' + errorThrown + '!');
         window.location.reload();
        }
      });
    } else {
    // Update item quantity (Subtract)
      var cartQuantity = $(self).next('.cart-quantity-label').attr('data-value');
      var same_product = false;
      var product_id = $(self).attr('data-product-id');
      var cart_basket_quantity = $('.cart-basket-quantity').html();
      var id = 0;
     for (var i=0; i < CartJS.cart.items.length; i++){
      if (CartJS.cart.items[i].product_id == product_id){
         id++
         console.log(id)
        }
    }
      if (($(self).data('type') == 'subscription') && (cartQuantity == 1) && (id < 2) && vaseExists){
        console.log('true')
        removeVase = true;
      }


      if ($(self).data('type') == 'vase' && cartQuantity == 1){
           $("#CartDrawer").load(url+" #CartDrawer>*","");
           $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) - parseInt(1));
           cartDisabled = false;
      }
        cartQuantity = --cartQuantity;
        var variant_index = $(self).attr('data-index');
        CartJS.updateItem(variant_index, cartQuantity, {}, {
          "success": function(data, textStatus, jqXHR) {

            // Remove vase if no subscriptions in cart
            if (removeVase == true) {
              console.log('removing vase');
              CartJS.removeItemById($('.isVase').attr('data-variant'), {
               "success": function(data, textStatus, jqXHR) {
                $('.cart-basket-quantity').html(parseInt($('.cart-basket-quantity').html()) - parseInt($('.isVase').next('span').data('value')));
                 $("#CartDrawer").load(url+" #CartDrawer>*","");
                },
               "error": function(jqXHR, textStatus, errorThrown) {
                  console.log('Error: ' + errorThrown + '!');
                  window.location.reload();
                 }
               });
             }

            $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) - parseInt(1));
            $(self).next('.cart-quantity-label').html(cartQuantity);
            $(self).next('.cart-quantity-label').attr('data-value', cartQuantity);

            // reload #CartDrawer DOM, or else drawer will pop open and still remain empty
            $("#CartDrawer").load(url+" #CartDrawer>*","");
            cartDisabled = false
                  $(document).on('cart.requestComplete', function(event, cart) {
                  if (CartJS.cart.items.length == 0){
                    hasGift = false;
                    hasSub = false;
                    disabled = false;
                    $('.warning').html(' ');
                     $('.addtocart').removeClass('disabled');
                  } else if (hasGift == true){
                    for (var i=0; i < CartJS.cart.items.length; i++){
                      if (CartJS.cart.items[i].properties.type == 'gift-subscription' || CartJS.cart.items[i].properties.type == 'gift'){
                        return;
                      }
                    }
                      hasGift = false;
                      disabled = false;
                      $('.warning').html(' ');
                      $('.addtocart').removeClass('disabled');

                  } else {
                    for (var i=0; i < CartJS.cart.items.length; i++){
                      if (CartJS.cart.items[i].properties.type == 'subscription' || CartJS.cart.items[i].properties.type == 'reg-product'){
                        return;
                       }
                     }
                      hasSub = false;
                      disabled = false;
                      $('.warning').html(' ');
                      $('.addtocart').removeClass('disabled');
                };
              });
         },
        "error": function(jqXHR, textStatus, errorThrown) {
           console.log('Error: ' + errorThrown + '!');
           window.location.reload();
          }
        });
      };
    };
  });
</script>
