<div class="hero-slider">
<div class="main-carousel">
  <!-- Slide 1 -->
  <section class="carousel-cell cell-desktop" data-flickity-bg-lazyload="https://cdn.shopify.com/s/files/1/0022/2550/4345/files/x.jpg?5637435550736823855">
    <div class="slide-inner-wrap">
      <div class="slide-inner slide-inner-right">
        <h1 style="color: #fff;">It’s By U x L’Occitane</h1>
        <p style="color: #fff;">Limited Edition Arrangements <br />Exclusively from It's By U</p>

        <a href="/collections/its-by-u-x-loccitane" class="btn btn-pink">
          <span>Shop Now</span>
        </a>
      </div>
    </div>
  </section>
</div>
<div class="main-carousel-mobile">
  <!-- Slide 1 -->
  <section class="carousel-cell cell-mobile" data-flickity-bg-lazyload="https://cdn.shopify.com/s/files/1/0022/2550/4345/files/x.jpg?5637435550736823855">
    <div class="slide-inner-wrap">
      <div class="slide-inner slide-inner-right">
        <h1 style="color: #fff;">It’s By U x L’Occitane</h1>
        <p style="color: #fff;">Limited Edition Arrangements <br />Exclusively from It's By U</p>

        <a href="/collections/its-by-u-x-loccitane" class="btn btn-pink">
          <span>Shop Now</span>
        </a>
      </div>
    </div>
  </section>

</div>
</div>
