<div class="collection-nav">
  <div class="page-width">
	<label for="show-category" class="show-categories">Categories &#x2193;</label>
    <input type="checkbox" id="show-category" role="button">
        <ul id="collection-category">
          <li><a href="/collections/all">All</a></li>
          <li><a href="/collections/classics">Classic Kits</a></li>
          <li>
              <a href="/collections/limited-editions" class="mobile-dropdown">Limited Edition Kits ￬</a>
              <ul class="hidden-nav">
                  <li><a href="/collections/limited-editions" class="view-all">View All</a></li>
                  <li><a href="/collections/seasonal-kits">Seasonal Kits</a></li>
              </ul>
          </li>
          <li><a href="/collections/flower-specifics">Flower-Specifics</a></li>
          <li><a href="/collections/tools-and-accessories">Accessories</a></li>
    	</ul>

    	<div class="show-collection-wrap">
          <label for="show-sorting" class="show-sorting">Sort By &#x2193;</label>
  		  <input type="checkbox" id="show-sorting" role="button">
          <ul id="collection-sorting">
            <li><a href="?sort_by=best-selling">Best Selling</a></li>
            <li><a href="?sort_by=title-ascending">A - Z</a></li>
            <li><a href="?sort_by=price-ascending">$ - $$$$</a></li>
            <li><a href="?sort_by=price-descending">$$$$ - $</a></li>
          </ul>
        </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#show-category').change(function(){
    var c = this.checked ? 'Categories \&#x2191;' : 'Categories \&#x2193;';
    $('label[for=show-category]').html(c);
    $('#show-sorting').prop('checked', false);
    $('label[for=show-sorting]').html('Sort By \&#x2193;');
  });

  $('#show-sorting').change(function(){
    var c = this.checked ? 'Sort By \&#x2191;' : 'Sort By \&#x2193;';
    $('label[for=show-sorting]').html(c);
    $('#show-category').prop('checked', false);
    $('label[for=show-category]').html('Categories \&#x2193;');
  });


$(window).resize(function () {
  if (window.innerWidth <= 768) {
     $('.mobile-dropdown').click(function(e){
       e.preventDefault();
      if ($('.hidden-nav').hasClass('nav-open')){
        $('.hidden-nav').removeClass('nav-open');
        $('.hidden-nav').css('display', 'none');
      } else {
        $('.hidden-nav').addClass('nav-open');
        $('.hidden-nav').css('display', 'block');
      }
     });
   } else {
     $('.hidden-nav').removeAttr('style');
     $('.hidden-nav').removeClass('nav-open');
   }
  }).resize();
});
</script>
