{% assign selected_collection = collections[block.settings.collection] %}

<div class="container">
  {% paginate selected_collection.products by 16 %}
    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform product-grid flex">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}

      {% for product in selected_collection.products %}

        {% include 'product-grid-item' %}

      {% endfor %}

    </div>
  {% endpaginate %}
</div>
