{% comment %}
  Custom CTA blocks with background images for repeated use on subpages
{% endcomment %}

<div class="cta-color-block">

  <div class="block" style="background:white;">
    <span class="block-bg" style="background-image:url('{{ 'color-block-flowers-1.jpg' | asset_url }}');"></span>
      
    <span class="block-bg bg-right" style="background-image:url('{{ 'color-block-flowers-2.jpg' | asset_url }}');"></span>
    <div class="block-inner">
      <h3>More flower kit ideas</h3>
      <p>Learn to flower arrange at home with our DIY flower subscriptions</p>
      <a href="/collection/subscriptions" class="btn btn-pink">
      <span>Learn more</span>
      </a>
    </div>
  </div>

  <div class="block">
    <h3>About Us</h3>
    <p>Learn about DIY flowers and our founders</p>
    <a href="/pages/about-us" class="btn btn-pink">
    <span>Learn more</span>
    </a>
  </div>

</div>