{% if block.settings.button_url %}
  <a href="{{ block.settings.button_url }}" class="btn btn-pink">
  <span{% if block.settings.textcolor != '' %} style="color:{{ block.settings.textcolor }}"{% endif %}>{{ block.settings.button_text }}</span>
  </a>
{% endif %}
