{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-custom-hero-{{ block_id }} {
    position: relative;
    background-color: {{ block_settings.background_color }};
    margin-bottom: 20px !important;
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--background-image-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--background-image-wrapper img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-position: 50%;
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: {{ block_settings.overlay_transparency }};
    background-color: {{ block_settings.overlay_color }};
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: {{ block_settings.section_padding_top }}px;
    padding-bottom: {{ block_settings.section_padding_bottom }}px;
    padding-left: {{ block_settings.section_padding_left }}px;
    padding-right: {{ block_settings.section_padding_right }}px;
    z-index: 10;
    {% if block_settings.text_block_align == 'left' %}
      text-align: left;
    {% elsif block_settings.text_block_align == 'right' %}
      text-align: right;
    {% else %}
      text-align: center;
    {% endif %}
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--text-block {
    width: {{ block_settings.text_max_width }}%;
    display: inline-block;
    text-align: {{ block_settings.text_align }} !important;
    position: relative;
    top: {{ block_settings.text_block_vertical_align }};
    transform: translateY(-{{ block_settings.text_block_vertical_align }});
  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--title {
    font-size: 3em !important;
    margin: 0 0 {{ block_settings.h1_margin }}px 0;
    text-align: {{ block_settings.text_align }} !important;

  }

  .s-custom-hero-{{ block_id }} .s-custom-hero--paragraph-1 {
    font-size: 18px !important;
    margin: 0 0 {{ block_settings.p1_margin }}px 0;
    text-align: {{ block_settings.text_align }} !important;
  }

  @media screen and (max-width: 1199px){
  .s-custom-hero-{{ block_id }} .s-custom-hero--title {
      font-size: 2.5em !important;
    }
  .s-custom-hero-{{ block_id }} .s-custom-hero--paragraph-1 {
      font-size: 14px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .s-custom-hero-{{ block_id }} {
      padding: 0 !important;
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--content {
      padding-top: {{ block_settings.section_padding_top_mobile }}px;
      padding-bottom: {{ block_settings.section_padding_bottom_mobile }}px;
      padding-left: {{ block_settings.section_padding_left_mobile }}px;
      padding-right: {{ block_settings.section_padding_right_mobile }}px;
      width: 100%;
      max-width: 100%;

      {% if block_settings.text_block_align_mobile == 'left' %}
        text-align: left;
      {% elsif block_settings.text_block_align_mobile == 'right' %}
        text-align: right;
      {% else %}
        text-align: center;
      {% endif %}
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--background-image-wrapper {
      height: 300px;
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--background-image-wrapper img {
      object-position: {{ block_settings.image_horizontal_mobile }} {{ block_settings.image_vertical_mobile }};
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--overlay {
      opacity: {{ block_settings.overlay_transparency_mobile }};
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--text-block {
      width: {{ block_settings.text_max_width_mobile }}%;
      text-align: {{ block_settings.text_align_mobile }} !important;
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--title {
      margin: 0 0 {{ block_settings.h1_margin_mobile }}px 0;
      text-align: {{ block_settings.text_align_mobile }} !important;
    }

    .s-custom-hero-{{ block_id }} .s-custom-hero--paragraph-1 {
      margin: 0 0 {{ block_settings.p1_margin_mobile }}px 0;
      text-align: {{ block_settings.text_align_mobile }} !important;
    }
  }
</style>



{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-custom-hero-{{ block_id }}">

  <div class="s-custom-hero--desktop-image-block">
      <div class="s-custom-hero--background-image-wrapper">
        <img src="{{ collection.image | img_url: '1000x' }}" />
        <div class="s-custom-hero--overlay"></div>
      </div>
  </div>

  <div class="s-custom-hero--content">
    <div class="s-custom-hero--text-block">
      {% if collection.title != blank %}
        <h1 class="s-custom-hero--title">{{ collection.title }}</h1>
      {% endif %}

      {% if collection.description != blank %}
        <p class="s-custom-hero--paragraph-1">{{ collection.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
