{% if isSub or template contains 'subscription' %}  
    {% assign deliveryDays = ' , Thursday, Friday' | split: ", " %}
    {% assign today = "now" | date: "%s" | date: "%A" %}
    {% if deliveryDays contains today %}
        {% assign startDate = "now" %}
    {% else %}
        {% assign nextWed = today %}
        {% for i in (1..5) %}
            {% unless nextThu == 'Thursday' %}
                {% assign s = 86400 | times: i %}
                {% assign nextThu = "now" | date: "%s" | plus: s | date: "%A" %}
                {% assign startDate = "now" | date: "%s" | plus: s  %}
                {% assign i = i | plus: 1 %}
            {% endunless %}
        {% endfor %}
        
    {% endif %}
    <div id="delivery-wrapper">
        <hr class="grey" />
        <div id="delivery-date">
            <h5>We deliver Thursday &amp; Friday</h5>
            <div class="selectric-dropdown">
                <label>First delivery</label>
                <select id="deliveryDay" name="note">
                {% for day in deliveryDays %}
                    <option val="{{day}}">{{day}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row text-center" id="deliveryCalc">
        <h4>Order today and your first delivery will be sent around <b>{{startDate | date: "%s" | plus : 604800 | date: "%b %d, %Y" | uri_encode | replace:"+","%20"}}</b></h4>
        {% comment %} <span class="btn btn-outline" id="deliveryScheduleTrigger">Click here for an estimated delivery schedule</span> {% endcomment %}
        <hr class="grey" />
    </div>

    {% comment %} <div class="row text-center" id="deliverySchedule" style="display:none;">

        {% if isMonthly %}
            <div class="grid">
                <h4>Monthly</h4>
                {% for i in (1..3) %}
                    {% assign month = 2592000 | times: i | plus: 604800  %}
                    <div class="grid-item">
                        <span class="header">Delivery {{i}}</span>
                        {{startDate | date: "%s" | plus : month | date: "%b %d, %Y" }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if isBiMonthly %}
            <div class="grid">
                <h4>Bi-monthly</h4>
                {% for i in (1..3) %}
                    {% assign biweek = 1209600 | times: i | plus: 604800 %}
                    <div class="grid-item">
                        <span class="header">Delivery {{i}}</span>
                        {{startDate | date: "%s" | plus : biweek | date: "%b %d, %Y" }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if isWeekly %}
            <div class="grid">
                <h4>Weekly</h4>
                {% for i in (1..3) %}
                    {% assign week = 604800 | times: i %}
                    <div class="grid-item">
                        <span class="header">Delivery {{i}}</span>
                        {{startDate | date: "%s" | plus : week | date: "%b %d, %Y" }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="text-small">Please note: the above dates are an estimate only. Actual delivery dates may differ.</div>
    </div> {% endcomment %}
{% endif %}

<script>
    $(function() {
        $('#deliveryDay').selectric();
        setTimeout(function(){
            $('#CartDrawer #deliveryDay').selectric();
        },2000);  
        $('#deliveryScheduleTrigger').click(function(){
            $('#deliverySchedule').fadeIn();
        });
    });

    //var note = '{{cart.note}}';
    //$('#deliveryDay').val(note).change();

    //Update the cart note if someone changes their mind
    function saveCartNote(){
        data={};
        currentUrl = window.location.href;
        if( $('[name="note"]').val() != 'First delivery' ){
            data['note'] = $('[name="note"]').val();
            has_cart_note_or_attribute= true
        }
        if (has_cart_note_or_attribute) {
            $.ajax({
                type: 'POST',
                data: data,
                url: '/cart/update.js',
                dataType: 'json',
                success: function() { 
                    location.reload()
                }
            }); 
        }
    }
</script>