<!-- Delivery Date -->
<div class="product__dropdown">
  <div class="product__dropdown--cell product-form__header">
    {% if product.type == 'Subscription' %}
      Choose Your First Delivery
    {% else %}
      Choose Your Delivery Date
    {% endif %}
  </div>
  <div class="product__dropdown--cell">
      <span style="font-size:12px;">We deliver on Thursdays and Fridays </span>
      <!-- dynamic date -->
    <span class="date"></span>
    {% unless product.title contains 'Groupon' %}
      <div class="product__dropdown--toggle">
        <div class="toggle-down">{% include 'down-arrow' %}</div>
        <div class="toggle-up">{% include 'up-arrow' %}</div>
      </div>
    {% endunless %}
  </div> 
</div>
<div class="product__dropdown dropdown-spacer">
  <div class="delivery-inner">
    {% if cart.attributes['First Delivery'] != null %}
      {% assign firstDelivery = cart.attributes['First Delivery'] %}
    {% else %}
      {% assign firstDelivery = '' %}
    {% endif %}
    <input type="text" id="datepicker" name="attributes['First Delivery']" placeholder="{% if product.type == 'Subscription' %}Choose your first delivery{% else %}Choose your delivery date{% endif %}" value="{{firstDelivery}}"/>
    <span id="cal-icon">{% include 'icon-cal' %}</span>
    <span id="cal-arrow">{% include 'right-arrow' %}</span>
  </div>
</div>

<script>
  $(document).ready(function(){
   $('.addtocart').click(function(e) {
    let dateVal = $('#datepicker').val();
    if (dateVal == ''){
      $('#datepicker').css('background','#FF6347');
      if ($('.delivery-inner').siblings().first('.error').length == 0){
        $('.delivery-inner').after('<div class="error" style="text-align:center; padding-top:1em;">Please choose a delivery date</div>');
      }
      e.preventDefault();
      throw new Error("Delivery date not picked");
    } else {
      $(this).find('span').addClass('product-added');  
    }
   })
  });
</script>