<div class="flex flex-half" id="event-listing">
    <div class="flex-item flex-full">
        {% if block.settings.event_img %}
            {{ block.settings.event_img | img_url: 'large' | img_tag }}
        {% endif %}
        {% if block.settings.event_title %}
            <h2>{{block.settings.event_title}}</h2>
        {% endif %}
        {% if block.settings.event_desc %}
            <h4>{{block.settings.event_desc}}</h2>
        {% endif %}
    </div>
    <div class="flex-item flex-full">
        <h2>Choose your date &amp; time</h2>
        <h3>Aug 18th &amp; 19th<br/>11am-6pm hourly sessions</h2>
        <div style="width:100%; text-align:left;" id="eventbrite"><iframe src="https://eventbrite.com/tickets-external?eid=48810284876&ref=etckt" frameborder="0" height="450" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
    </div>
</div>