{% assign product = all_products[block.settings.product] %}

<div class="flex flex-half" id="featured-product">
    <div class="flex-item" id="prod-img">
        {% for image in product.images limit:1 %}
            <a href="{{product.url}}" alt="product.title">
                {{ image | img_url: '840x', crop:'center' | img_tag }}
            </a>
        {% endfor %}
    </div>
    <div class="flex-item" id="prod-desc" style="background-color:{{block.settings.desc_color}};">
        <h2>{{product.title}}</h2>
        <span class="p">
            {% if block.settings.desc != '' %}
                {{block.settings.desc}}
            {% else %}
                {{ product.description }}
            {% endif %}
        </span>
        <div class="text-center">
            <a href="{{product.url}}" class="btn btn-outline text-large">Shop now</a>
        </div>
        {% if product.images > 1 %}
            <div id="prod-img-addtl">
                {% for image in product.images offset:1 %}
                    <a href="{{product.url}}" alt="{{product.title}}">
                        {{ image | img_url: '200x200', crop:'center' | img_tag}}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
    
    