<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#e86b7f"><path d="M215.04,84h-77.18667l-25.85333,-74.66667l-25.85333,74.66667l-77.18667,0.196l61.21733,47.068l-21.85867,74.06933l63.68133,-43.67067l63.68133,43.67067l-21.85867,-74.06z"></path></g></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#e86b7f"><path d="M215.04,84h-77.18667l-25.85333,-74.66667l-25.85333,74.66667l-77.18667,0.196l61.21733,47.068l-21.85867,74.06933l63.68133,-43.67067l63.68133,43.67067l-21.85867,-74.06z"></path></g></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#e86b7f"><path d="M215.04,84h-77.18667l-25.85333,-74.66667l-25.85333,74.66667l-77.18667,0.196l61.21733,47.068l-21.85867,74.06933l63.68133,-43.67067l63.68133,43.67067l-21.85867,-74.06z"></path></g></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#e86b7f"><path d="M215.04,84h-77.18667l-25.85333,-74.66667l-25.85333,74.66667l-77.18667,0.196l61.21733,47.068l-21.85867,74.06933l63.68133,-43.67067l63.68133,43.67067l-21.85867,-74.06z"></path></g></g></svg>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 224 224"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#e86b7f"><path d="M215.04,84h-77.18667l-25.85333,-74.66667l-25.85333,74.66667l-77.18667,0.196l61.21733,47.068l-21.85867,74.06933l63.68133,-43.67067l63.68133,43.67067l-21.85867,-74.06z"></path></g></g></svg>
