{% comment %}
<!-- Shop Tools Ad -->
<div class="flower-tools" style="background-image:url('{{ 'flower-tools.jpg' | asset_url }}');">
    <a href="/collections/tools-and-accessories">
    <div class="ad-overlay">
        <h4 class="sans-serif up">Shop Tools</h4>
        Add scissors, spray bottles, aprons and more to your order.
    </div>
    </a>
</div>
{% endcomment %}