<div class="headline" style="background-color:{{ block.settings.color }}; margin:0 {{ block.settings.width }}%;">
  <h2>
    {% if template == 'index' %}
      <span style="color:{{ section.settings.headline_color }}">{{ section.settings.headline }}</span>
    {% else %}
      <span style="color:{{ block.settings.headline_color }}">{{ block.settings.headline }}</span>
    {% endif %}
  </h2>
  <div{% if block.settings.tAlign != '' %} style="text-align:{{ block.settings.tAlign }}";{% endif %}>
    {% if template == 'index' %}
      {{ section.settings.headline_body }}
    {% else %}
      {{ block.settings.headline_body }}
    {% endif %}
  </div>
</div>