<div class="hero">
  <picture class="hero-bg">
    <source media="(min-width: 900px)" srcset="{{ block.settings.img | img_url: '2800x' }} 2800w" sizes="100vw">
    <source media="(min-width: 600px)" srcset="{{ block.settings.img | img_url: '1100x' }} 1100w" sizes="100vw">
    <source media="(min-width: 0px)" srcset="{{ block.settings.img | img_url: '800x' }} 800w" sizes="100vw">
    <img src="{{ block.settings.img | img_url: '1400x' }}" alt="DIY flower arranging">
  </picture>

  {% assign opacity = block.settings.opacity | divided_by: 100.0 %}

  <div class="overlay"{% if block.settings.color %}style="background-color:{{block.settings.color | color_modify: 'alpha', opacity}};{% if block.settings.caption_top %} margin-top:{{block.settings.caption_top}}%;{% endif %}{% if opacity == 0.0 %} box-shadow:none;{% endif %}"{% endif %}>
    {% if block.settings.ft_img %}
      <picture class="overlay-image">
        <source media="(min-width: 900px)" srcset="{{ block.settings.ft_img | img_url: '550x' }} 2800w" sizes="100vw">
        <source media="(min-width: 600px)" srcset="{{ block.settings.ft_img | img_url: '350x' }} 1100w" sizes="100vw">
        <source media="(min-width: 0px)" srcset="{{ block.settings.ft_img | img_url: '350x' }} 800w" sizes="100vw">
        <img src="{{ block.settings.ft_img | img_url: '350x' }}" alt="It's By U featured flowers">
      </picture>
    {% endif %}

    {% if block.settings.title != '' %}
      <h3{% if block.settings.caption_color %} style="color:{{block.settings.caption_color }};{% if block.settings.caption_color == '#ffffff' %} text-shadow:1px 1px 1px rgba(0,0,0,.8);{% endif %}"{% endif %}>{{ block.settings.title }}</h3>
    {% endif %}
    {% if block.settings.caption %}
      <p{% if block.settings.caption_color %} style="color:{{block.settings.caption_color }};{% if block.settings.caption_color == '#ffffff' %} text-shadow:1px 1px 1px rgba(0,0,0,.8);{% endif %}"{% endif %}>{{ block.settings.caption }}</p>
    {% endif %}
  </div>
</div>