{% unless block.settings.icon_select == 'none' and block.settings.img == nil %}
{% assign icon = block.settings.icon_select | append: '.svg' %}

{% if block.settings.textcolor %}
  <style>
    .icon:before,
    .icon:after {
      background:{{block.settings.textcolor}} !important;
    }
  </style>
{% endif %}
  <div class="icon">
    {% if block.settings.url %}

      {% if block.settings.img %}
        <a href="{{ block.settings.url }}" target="_blank" alt="{{ block.settings.alt_tag }}">{{ block.settings.img | img_url: 'large' | img_tag: block.settings.title }}</a>
      {% else %}
        <a href="{{ block.settings.url }}" target="_blank" alt="{{ block.settings.alt_tag }}" style="background-image:url({{icon | asset_url}})"></a>
      {% endif %}

    {% else %}
      
      {% if block.settings.img %}
        {{ block.settings.img | img_url: 'large' | img_tag: block.settings.title }}
      {% else %}
        {{ icon | asset_url | img_tag: block.settings.title }}
      {% endif %}

    {% endif %}

  </div>
{% endunless %}