{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-single-column-{{ block_id }} {
    position: relative;
    background-color: {{ block.settings.background_color }};
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .s-single-column-{{ block_id }} .s-single-column--mobile-image-block {
    display: none;
  }

  .s-single-column-{{ block_id }} .s-single-column--background-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .s-single-column-{{ block_id }} .s-single-column--background-image-wrapper-inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-single-column-{{ block_id }} .s-single-column--background-image-wrapper-inner img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-position: {{ block.settings.image_horizontal }} {{ block.settings.image_vertical }};
  }

  .s-single-column-{{ block_id }} .s-single-column--foreground-image-div {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    height: {{ block.settings.image_height }}%;

    {% assign percentage = 100 | minus: block.settings.image_height %}
    top: {{ percentage | divided_by: 2 }}%;

    {% if block.settings.image_side == 'left' %}
      left:  {{ block.settings.image_side_padding }}px;
    {% else %}
      right: {{ block.settings.image_side_padding }}px;
    {% endif %}
  }

  .s-single-column-{{ block_id }} .s-single-column--foreground-image-div img {
    height: 100% !important;
    width: auto;
    display: block;
  }

  .s-single-column-{{ block_id }} .s-single-column--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: {{ block.settings.overlay_transparency }};
    background-color: {{ block.settings.overlay_color }};
  }

  {% if block.settings.image_style == 'style_3' and block.settings.background_image != blank %}
    .s-single-column-{{ block_id }} .s-single-column--desktop-foreground-image-div {
      display: inline-block;
      width: 50%;
      position: relative;
      vertical-align: middle;
    }

    .s-single-column-{{ block_id }} .s-single-column--desktop-foreground-image-div img {
      width: 100%;
      display: block;
    }

    .s-single-column-{{ block_id }} .s-single-column--text-block-wrapper {
      display: inline-block;
      width: 50%;
      position: relative;
      vertical-align: middle;

      {% if block.settings.image_side == 'left' %}
        padding-left: {{ block.settings.image_side_padding }}px;
      {% else %}
        padding-right: {{ block.settings.image_side_padding }}px;
      {% endif %}
    }
  {% endif %}

  .s-single-column-{{ block_id }} .s-single-column--text-block {
    width: 85%;
    display: inline-block;
    text-align: {{ block.settings.text_align }} !important;
  }

  .s-single-column-{{ block_id }} .s-single-column--text-block-inner {
    width: 100%;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .s-single-column-{{ block_id }} .s-single-column--content {
    position: relative;
    z-index: 10;
    {% if block.settings.text_block_align == 'left' %}
      text-align: left;
    {% elsif block.settings.text_block_align == 'right' %}
      text-align: right;
    {% else %}
      text-align: center;
    {% endif %}
  }

  .s-single-column-{{ block_id }} .s-single-column--title {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.h1_font_color }} !important;
  }

  .s-single-column-{{ block_id }} .s-single-column--subtitle {
    font-size: 18px;
    margin: 0 0 20px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.h2_font_color }} !important;
  }

  .s-single-column-{{ block_id }} .s-single-column--paragraph-1 {
    font-size: 18px;
    margin: 0 0 10px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.p1_font_color }} !important;
  }

  .s-single-column-{{ block_id }} .s-single-column--paragraph-2 {
    font-size: 18px;
    margin: 0 0 10}px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.p2_font_color }} !important;
  }


  {% if block.settings.button_on %}
    .s-single-column-{{ block_id }} .btn.s-single-column--btn {
      background-color: {{ block.settings.btn_background_color }} !important;
      color: {{ block.settings.btn_text_color }} !important;
      margin: 0 !important;
    }
  {% endif %}

  @media screen and (max-width: 1159px){
    .s-single-column-{{ block_id }} .s-single-column--title {
      font-size: 24px;
    }

    .s-single-column-{{ block_id }} .s-single-column--subtitle {
      font-size: 14px;
    }

    .s-single-column-{{ block_id }} .s-single-column--paragraph-1 {
      font-size: 14px;
    }

    .s-single-column-{{ block_id }} .s-single-column--paragraph-2 {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    .s-single-column-{{ block_id }} {
      padding: 0 !important;
    }

    .s-single-column-{{ block_id }} .s-single-column--content {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      max-width: 100%;

      {% if block.settings.text_block_align == 'left' %}
        text-align: left;
      {% elsif block.settings.text_block_align == 'right' %}
        text-align: right;
      {% else %}
        text-align: center;
      {% endif %}
    }

    .s-single-column-{{ block_id }} .s-single-column--mobile-image-block {
      display: block;
    }

    .s-single-column-{{ block_id }} .s-single-column--mobile-foreground-image-div {
      position: relative;
      overflow: hidden;
    }

    .s-single-column-{{ block_id }} .s-single-column--mobile-foreground-image-div-inner img {
      display: block;
      width: 100%;
    }

    .s-single-column-{{ block_id }} .s-single-column--background-image-wrapper-inner img {
      object-position: {{ block.settings.image_horizontal_mobile }} {{ block.settings.image_vertical_mobile }};
    }

    .s-single-column-{{ block_id }} .s-single-column--desktop-image-block {
      display: none;
    }

    .s-single-column-{{ block_id }} .s-single-column--text-block-wrapper {
      display: block;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .s-single-column-{{ block_id }} .s-single-column--desktop-foreground-image-div {
      display: none;
    }

    .s-single-column-{{ block_id }} .s-single-column--text-block {
      width: 100%;
      text-align: {{ block.settings.text_align_mobile }} !important;
    }

    .s-single-column-{{ block_id }} .s-single-column--text-block-inner {
      width: 100%;
      padding-left: 0% !important;
      padding-right: 0% !important;
    }

    .s-single-column-{{ block_id }} .s-single-column--title {
      margin: 0 0 20px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
      font-size: 24px;
    }

    .s-single-column-{{ block_id }} .s-single-column--subtitle {
      margin: 0 0 20px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
        font-size: 16px;
    }

    .s-single-column-{{ block_id }} .s-single-column--paragraph-1 {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
      font-size: 16px;
    }

    .s-single-column-{{ block_id }} .s-single-column--paragraph-2 {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
      font-size: 16px;
    }
  }
</style>



{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-single-column-{{ block_id }}">

  <div class="s-single-column--desktop-image-block">

    {% if block.settings.image_style == 'style_1' and block.settings.background_image != blank %}
      <div class="s-single-column--background-image-wrapper">
        <div class="s-single-column--background-image-wrapper-inner">
          <img src="{{ block.settings.background_image | img_url: '1000x' }}" />
          <div class="s-single-column--overlay"></div>
        </div>
      </div>
    {% endif %}

    {% if block.settings.image_style == 'style_2' and block.settings.background_image != blank %}
      <div class="s-single-column--foreground-image-div">
        <img src="{{ block.settings.background_image | img_url: '1000x' }}" />
        <div class="s-single-column--overlay"></div>
      </div>
    {% endif %}
  </div>


  <div class="s-single-column--mobile-image-block">

    {% if block.settings.image_style_mobile == 'style_1' and block.settings.image_mobile != blank %}
      <div class="s-single-column--background-image-wrapper">
        <div class="s-single-column--background-image-wrapper-inner">
          <img src="{{ block.settings.image_mobile | img_url: '1000x' }}" />
          <div class="s-single-column--overlay"></div>
        </div>
      </div>
    {% endif %}

    {% if block.settings.image_style_mobile == 'style_2' and block.settings.image_mobile != blank %}
      <div class="s-single-column--mobile-foreground-image-div">
        <div class="s-single-column--mobile-foreground-image-div-inner">
          <img src="{{ block.settings.image_mobile | img_url: '1000x' }}" />
        </div>
      </div>
    {% endif %}
  </div>


  <div class="s-single-column--content container">

    {% if block.settings.image_style == 'style_3' and block.settings.background_image != blank and block.settings.image_side == 'left' %}
      <div class="s-single-column--desktop-foreground-image-div">
        <img src="{{ block.settings.background_image | img_url: '1000x' }}" />
      </div><!--

    -->{% endif %}<div class="s-single-column--text-block-wrapper">
      <div class="s-single-column--text-block">
        <div class="s-single-column--text-block-inner">
          {% if block.settings.main_title != blank %}
            <h1 class="s-single-column--title">{{ block.settings.main_title }}</h1>
          {% endif %}

          {% if block.settings.subtitle != blank %}
            <h2 class="s-single-column--subtitle">{{ block.settings.subtitle }}</h2>
          {% endif %}

          {% if block.settings.paragraph_1 != blank %}
            <p class="s-single-column--paragraph-1">{{ block.settings.paragraph_1 }}</p>
          {% endif %}

          {% if block.settings.paragraph_2 != blank %}
            <p class="s-single-column--paragraph-2">{{ block.settings.paragraph_2 }}</p>
          {% endif %}

          {% if block.settings.button_on %}
            <a href="{{ block.settings.button_link }}" class="btn btn-pink s-single-column--btn">
              {{ block.settings.button_label }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>{% if block.settings.image_style == 'style_3' and block.settings.background_image != blank and block.settings.image_side == 'right' %}<!--

      --><div class="s-single-column--desktop-foreground-image-div">
        <img src="{{ block.settings.background_image | img_url: '1000x' }}" />
      </div>
    {% endif %}
  </div>
</div>
