<div class="navmenu-brand">
  {% if template.name == 'index' %}
    <div itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div itemscope itemtype="http://schema.org/Organization">
  {% endif %}
      <a href="/" class="site-logo site-header__logo-image">
        <img src="{{ 'logo-itsbyu.svg' | asset_url }}"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
  {% if template.name == 'index' %}
    </div>
  {% else %}
    </div>
  {% endif %}
</div>