<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" id="mainMenu" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#mainMenu" data-canvas="body">
    <img src="{{ 'icon-close.svg' | asset_url }}"/>
  </button>

  <ul class="navbar-nav mr-auto shift-left">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <li class="nav-item dropdown{% if link.active %} active{% endif %}">
          <a href="{{ link.url }}" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ link.title }} <span class="caret"></span>{% if link.active %}<span class="sr-only">(current){% endif %}</span>
          </a>
          <ul class="dropdown-menu">
            {% for childlink in menus[child_list_handle].links %}
              <li class="nav-item {% if childlink.active %}active{% endif %}">
                <a href="{{ childlink.url }}" class="nav-link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
      <!-- Desktop -->
        <li class="nav-item nav-item-desktop {% if link.active %}active{% endif %} {% if link.title == 'Shop' %}nav-desktop{% endif %}">
          <a href="{{ link.url }}" class="nav-link">{{ link.title }} {% if link.active %}<span class="sr-only">(current){% endif %}</a>
        </li>

        <!-- mobile -->
        <li class="nav-item nav-item-mobile {% if link.active %}active{% endif %} {% if link.title == 'Shop' %}nav-mobile{% endif %}">
          {% if link.title == 'Shop' %}
          <span class="nav-link">{{ link.title }} {% if link.active %}<span class="sr-only">(current){% endif %}</span>
          {% else %}
          <span class="nav-link"><a href="{{link.url}}">{{ link.title }} {% if link.active %}<span class="sr-only">(current){% endif %}</a></span>
           {% endif %}
          {% if link.title == 'Shop' %}
          <!-- Include large dropdown on hover  -->
          <div class="nav-dropdown-mobile">
              <div class="nav-dropdown-wrap">
                {% for block in section.blocks %}
                <div class="nav-dropdown-block">
                  <div class="nav-dropdown-item">
                  <a href="{{block.settings.category}}">
                    <div class="nav-dropdown-image" style="background-image:url({{block.settings.image | img_url:'original', crop:'center'}})"></div>
                  </a>
                 </div>
                  <div class="nav-dropdown-item">
                    <a href="{{block.settings.category}}" class="nav-dropdown-title">
                      {{block.settings.title}}
                    </a>
                  </div>
                  <div class="nav-dropdown-item">
                    <a href="{{block.settings.category}}" class="nav-dropdown-description">
                      {{block.settings.description}}
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li class="nav-item logged">
          {% if customer.first_name != blank %}
            {% capture first_name %}<a href="/account" class="nav-link">{{ customer.first_name }}</a>{% endcapture %}
            {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
          {% else %}
            <a href="/account" class="nav-link">{{ 'layout.customer.account' | t }}</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {{ 'layout.customer.log_out' | t | customer_logout_link | class: 'nav-link' }}
        </li>
      {% else %}
        <li class="nav-item">
          {{ 'layout.customer.log_in' | t | customer_login_link | class: 'nav-link' }}
        </li>
        <li class="nav-item">
          {{ 'layout.customer.create_account' | t | customer_register_link | class: 'nav-link' }}
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
