<!-- snippet // product-recharge.liquid -->

{% if product.metafields.subscriptions.subscription_id %}
	{% comment %}Subscriptions Powered by ReCharge Payments: Meta Fields{% endcomment %}
    	{% comment %}Subscription settings{% endcomment %}
    	{% assign subscription_product = product.metafields.subscriptions %}
    	{% assign subscription_id = subscription_product.subscription_id %}
{% endif %}

{% assign biMonthlyTitle = 'Two Weeks' %}

{% comment %}
01. Check how many variants the product has (2, 6, 7 or 8)
02. Determine the number of boxes generated for 'recurring' & 'gift' toggle
  // possible outcomes:
    - Recurring: 1, Gift: 1
    - Recurring: 3, Gift: 3
    - Recurring: 4, Gift: 3
    - Recurring: 3, Gift: 4
    - Recurring: 4, Gift: 4
03. Assign an index so we know where to break forloop on 'recurring side'.
    If the 3 or 4 variant is a one-time gift, break the forloop and continue on 'gift side'.
{% endcomment %}

{% for variant in product.variants %}
  {% assign variant_length = forloop.length %}<!-- check if there are 6, 7 or 8 variants -->
{% endfor %}

{% assign fourth_box_title = product.variants[3].option1 | downcase %}

{% if variant_length == 6 %}<!-- if there are 6 variants, then 3 boxes for sub and gift -->
 {% assign sub_box_index = 3 %}
{% elsif variant_length == 7 %}<!-- if there are 7 variants -->
  {% if fourth_box_title contains 'one' %}
    {% assign sub_box_index = 3 %} <!-- if the 4th box is one-time, then 3 boxes for sub 4 boxes for gift -->
  {% else %}
    {% assign sub_box_index = 4 %} <!-- if the 4th box is NOT one-time, then 4 boxes for sub 3 boxes for gift -->
  {% endif %}
{% elsif variant_length == 8 %}
  {% assign sub_box_index = 4 %}
{% elsif variant_length == 2 %}
  {% assign sub_box_index = 1 %}
{% endif %}

<!-- pass in ReCharge product subscription id -->
<input name="properties[subscription_id]" type="hidden" value="{{subscription_id}}" />
<div class="warning"></div>


  <!-- Gift dropdown -->
  <div class="product__dropdown">
    <div class="product__dropdown--cell">
      <div class="product-form__header">Is this a gift?</div>
    </div>
    <div class="product__dropdown--cell gift-option-toggle">
      <div class="gift-option gift-option-yes"><span>Yes</span></div>
      <div class="gift-option gift-option--active"><span>No</span></div>
    </div>
  </div>
  <!-- Frequency dropdown -->
  <div class="product__dropdown"{% if product.title contains 'Groupon' %} style="display:none;"{% endif %}>
    <div class="product__dropdown--cell">
      <div class="product-form__header">Frequency</div>
    </div>
    {% for variant in product.variants limit: sub_box_index %}
      {% assign frequency = variant.option2 | split: ' ' %}
      {% assign interval_frequency = frequency[0] %}
      {% assign interval_unit_type = frequency[1] %}
      {% if forloop.index == 2 %}
       {% assign frequency_title = variant.option1 | downcase %}
       {% if variant.title contains biMonthlyTitle %}
          {% assign frequency_price = variant.price | divided_by: 2 | money_without_trailing_zeros %}
       {% else %}
          {% assign frequency_price = variant.price | money_without_trailing_zeros %}
       {% endif %}

      {% elsif forloop.index == 1 %}
        {% assign frequency_title = variant.option0 | downcase %}
        {% if variant.title contains biMonthlyTitle %}
          {% assign frequency_price = variant.price | divided_by: 2 | money_without_trailing_zeros %}
        {% else %}
          {% assign frequency_price = variant.price | money_without_trailing_zeros %}
        {% endif %}
      {% endif %}
    {% endfor %}
      <div class="product__dropdown--cell">
        <span class="product__dropdown--frequency">Deliver {{frequency_title}} - {{frequency_price}}/bouquet</span>
        <div class="product__dropdown--toggle">
          <div class="toggle-down">{% include 'down-arrow' %}</div>
          <div class="toggle-up">{% include 'up-arrow' %}</div>
        </div>
      </div>
  </div>
 <div class="product__dropdown--hidden" style="display:none;">
  <!-- Recurring subscription options -->
  <div id="rc-wrapper" style="display:block;">

    {% for variant in product.variants limit: sub_box_index %}
      {% assign frequency = variant.option2 | split: ' ' %}
      {% assign interval_frequency = frequency[0] %}
      {% assign interval_unit_type = frequency[1] %}

         <div class="option rc-option {% if forloop.length == 1 %}option--one option--active rc-initial{% elsif forloop.length == 3 %}option--three{% else %}option--four{% endif %} {% if forloop.length >= 3 and forloop.index == 2 %}option--active rc-initial{% endif %}" data-price="{{variant.price | money }}" data-compare-price="{{variant.compare_at_price | money}}" data-variant="{{variant.id}}" data-inventory="{{variant.inventory_quantity}}" data-type="{{variant.option3}}" data-title="{{variant.option1 | downcase}}">
          <input class="custom-input" name="id" type="hidden" value="{{variant.id}}" disabled />
          {% unless forloop.index != 2 %}
            <span class="popular">*Most Popular*</span>
          {% endunless %}
           <h4>{{variant.option1}}</h4>
           {% if interval_frequency == "0" %}
             <p class="original-price frequency-price">
              {% if variant.title contains biMonthlyTitle %}
                {{ variant.price | divided_by: 2 | money_without_trailing_zeros }}
              {% else %}
                {{variant.price | money_without_trailing_zeros }}
              {% endif %}
            </p><p class="frequency-price">/bouquet</p>
            {% else %}
            <p class="discount-price frequency-price">
              {% if variant.title contains biMonthlyTitle %}
                {{ variant.price | divided_by: 2 | money_without_trailing_zeros }}
              {% else %}
                {{variant.price | money_without_trailing_zeros }}
              {% endif %}
            </p><p class="frequency-price">/bouquet</p>
            {% endif %}
           {% unless interval_frequency == "0" %}
            <input class="custom-input" name="properties[shipping_interval_frequency]" type="hidden" value="{{interval_frequency}}" disabled />
            <input class="custom-input" name="properties[shipping_interval_unit_type]" type="hidden" value="{{interval_unit_type}}" disabled  />
           {% endunless %}
         </div>
    {% endfor %}
  </div>

<!-- prepaid gift options -->
  <div id="rc-gift-wrapper" style="display: none;">

    {% for variant in product.variants offset: sub_box_index %}

      {% assign frequency = variant.option2 | split: ' ' %}
      {% assign interval_frequency = frequency[0] %}
      {% assign interval_unit_type = frequency[1] %}
      <div class="option rc-gift-option {% if forloop.length == 1 %}option--one rc-gift-initial{% elsif forloop.length == 3 %}option--three{% else %}option--four{% endif %} {% if interval_frequency == '3' %}rc-gift-initial{% endif %}" data-price="{{variant.price | money_with_currency }}" data-compare-price="{{variant.compare_at_price | money}}" data-variant="{{variant.id}}" data-inventory="{{variant.inventory_quantity}}" data-type="{{variant.option3}}" data-title="{{variant.option1 | downcase}}">
        {% unless forloop.index != 2 %}
          <span class="popular">*Most Popular*</span>
        {% endunless %}
        <h4>{{variant.option1}}</h4>
        <input class="custom-input" name="id" type="hidden" value="{{variant.id}}" disabled />
        {% if interval_frequency == "0" %}
          <p class="original-price frequency-price">
            {% if variant.title contains biMonthlyTitle %}
              {{ variant.price | divided_by: 2 | money_without_trailing_zeros }}
            {% else %}
              {{variant.price | money_without_trailing_zeros }}
            {% endif %}
          </p><p class="frequency-price">/bouquet</p>
        {% else %}
          <p class="discount-price frequency-price">
            {% if variant.title contains biMonthlyTitle %}
              {{ variant.price | divided_by: 2 | money_without_trailing_zeros }}
            {% else %}
              {{variant.price | divided_by: interval_frequency | money_without_trailing_zeros }}
            {% endif %}
          </p>
          <p class="frequency-price">/bouquet</p>
        {% endif %}

        {% unless interval_frequency == "0" %}
          <!-- add custom ReCharge line-item properties as long as it's not a one-time purchase -->
           <input class="custom-input" name="properties[shipping_interval_frequency]" type="hidden" value="1" disabled />
           <input class="custom-input" name="properties[shipping_interval_unit_type]" type="hidden" value="Months" disabled  />
           <input class="custom-input" name="properties[charge_interval_frequency]" type="hidden" value="{{interval_frequency}}" disabled />
           <input class="custom-input" name="properties[charge_interval_unit_type]" type="hidden" value="{{interval_unit_type}}" disabled />
          <input class="custom-input" name="properties[number_charges_until_expiration]" type="hidden" value="1" disabled />
        {% endunless %}
      </div>
    {% endfor %}
  </div>
</div><!-- end frequency wrapper -->

  {% unless product.title contains 'Groupon' %}
  <!-- Complete your look -->
  <div class="product__dropdown active">
    <div class="product__dropdown--cell">
      <div class="product-form__header">Complete your look</div>
    </div>
    <div class="product__dropdown--cell">
    {% assign r = product.metafields.complete_the_look.product-names | split: ", " %}
    {% assign first_product = r | first %}
    {% assign second_product = r | last %}
    <!-- {{all_products[first_product].title}}  -->

      <span class="product__dropdown--addon">
        <span class="item-1"></span>
        <span class="dash" style="display:none;"> / </span>
        <span class="item-2"></span>
      </span>
    </div>
  </div>
  <div class="dropdown-spacer">
    <b>Our subscriptions do not come with the matching vase and shears. You can add them here.</b>
  {% include 'product-addons' %}
  </div>
{% endunless %}

{% include 'delivery-date' %}

<div class="price-wrapper"{% if product.title contains 'Groupon' %} style="display:none;"{% endif %}>
   <div class="subtotal">
       <div class="product-form__header">Subtotal</div>
   </div>
   <div class="product__price price-subscription">
     {% include 'product-price-recharge', variant: current_variant %}
   </div>
</div>

{% if product.title contains 'Groupon' %}<br/><br/>{% endif %}

 <!-- Dynamic billing text -->
 <p class="billing" style="text-align:center;"></p>
 <a class="policy" style="text-align:center;" href="https://itsbyu.com/pages/faq" target="_blank">Shipping, refund and cancellation policy</a>


<script>
// Keep script on this file.
// It is specific for only recharge template and does not need to load on all other pages.

$(document).ready(function(){

var recurringPrice = $('.rc-initial').attr('data-price'),
    giftPrice = $('.rc-gift-initial').attr('data-price'),
    recurringSale = $('.rc-initial').attr('data-compare-price'),
    giftSale = $('.rc-gift-initial').attr('data-compare-price');
    hasAddon = false;
    product_id = {{ product.id }},
    addon_one = 0,
    addon_two = 0

    //  on load, enable hidden input fields on second variant
    $('.option--active').children('input.custom-input').prop('disabled', false );
    // on load, calculate % savings, and billing message of active variant
    calculateSavings();
    calculateBilling();
    checkInventory();

   // on load, check if second variant is on sale
   if ($('.option--active').attr('data-compare-price') != "") {
      $('.price').addClass('price price--on-sale');
      $('.price__sale').css('display', 'inline-block');
    } else {
      $('.price__sale').css('display', 'none');
    }

    //  Toggle class active
    $('.option').click(function(){
      var frequency = $(this).attr('data-title');
      var price = $(this).find('.frequency-price').html();

      if ($(this).hasClass('rc-gift-option')){
        $('.product__dropdown--frequency').html(frequency.substr(0,1).toUpperCase()+frequency.substr(1) + ' prepaid' + ' - ' + price + '/bouquet');
      } else {
       $('.product__dropdown--frequency').html('Deliver ' + frequency + ' - ' + price + '/bouquet');
      }

      $('.option').removeClass('option--active');
      $(this).addClass('option--active');
      calculateBilling();
      checkInventory();
      quantity = 1;
      updatePrice($(this), $(this).attr('data-price'), $(this).attr('data-compare-price'));
      checkDiscount();
    });

    // select/deselect product addons
    $('.product-addons__item').click(function(){
      var self = $(this);
      var index = $(self).index();
      var addon_title = $(this).find('h3').html();
      var addon_price = $(this).find('.price').html();

      if ($(self).hasClass('active')){
        $(self).removeClass('active');
        $(self).find('span').html('Add to Purchase');
        $('.dash').hide();
        if (index == 0){
          addon_one = 0;
          $('.item-1').html(' ');
        } else {
          addon_two = 0;
          $('.item-2').html(' ');
        }
      } else {
        $(self).addClass('active')
        $(self).find('span').html('Added!');
        if (index == 0){
          addon_one = $(self).attr('data-price');
          $('.item-1').html(addon_title + " (+" + addon_price + ")");
        } else {
          addon_two = $(self).attr('data-price');
          $('.item-2').html(addon_title + " (+" + addon_price + ")")
        }
        if ($('.product-addons__item:eq(0)').hasClass('active') && $('.product-addons__item:eq(1)').hasClass('active')) {
          $('.dash').show();
        }
      }
      updatePrice($('.option--active'), $('.option--active').attr('data-price'), $('.option--active').attr('data-compare-price'));
    });

    function checkDiscount(){
      if ($('.option--active').children('p').hasClass('discount-price')){
          $('.discount').css('display', 'inline-block');
         calculateSavings();
      } else {
        $('.discount').css('display', 'none');
      }
    }

    // Calculate and append savings next to subtotal
    function calculateSavings(){
      if ($('.option--active .discount-price').length){
        var discount = $('.option--active .discount-price').html().replace(/[$,]+/g,"");
      } else {
        discount = '';
      }
      if ($('.original-price').length){
        var original = $('.original-price').html().replace(/[$,]+/g,"");
      } else {
        var original = '0';
      }

      var savings = Math.round(((original - discount) / original) * 100);
        if (savings == 0 || discount > original ){
          $('.discount-percent').html(' ')
        } else {
        $('.discount-percent').html('(Save ' + savings + '%!)');
       }
     }

    // Calculate and append billing frequency
    function calculateBilling(){
      var title = $('.option--active h4').html().toLowerCase();
       if ($('.option--active').hasClass('rc-gift-option')){
         return;
       } else {
       if (title.indexOf('one') >= 0){
         $('.billing').css('display', 'none');
         return;
       } else {
         $('.billing').css('display', 'block');
         $('.billing').html('Billed ' + title);
       }
     }
    }

    // Check if current variant is sold out
    function checkInventory(){
     if ($('.option--active').attr('data-inventory') <= 0){
       $('#AddToCartText-product-subscriptions-v2').html('Sold Out');
       $('#AddToCart-product-subscriptions-v2').prop('disabled', true);
     } else {
       $('#AddToCartText-product-subscriptions-v2').html('Add to cart');
       $('#AddToCart-product-subscriptions-v2').prop('disabled', false);
     }
    }

    //   Toggle YES/NO gift option
    $('.gift-option').on('click', function(){
      var frequency = '';
      var price = '';

      if ($(this).hasClass('gift-option--active')) {
        return;
      } else {
        $('.gift-option').removeClass('gift-option--active');
        $('.option').removeClass('option--active');
        $(this).addClass('gift-option--active');
        if ($(this).hasClass('gift-option-yes')){
          frequency = $('.rc-gift-initial').attr('data-title');
          price = $('.rc-gift-initial .frequency-price').html();
          $('#rc-wrapper').hide();
          $('#rc-gift-wrapper').show();
          $('.rc-gift-initial').addClass('option--active');
          $('.product__dropdown--frequency').html(frequency + ' prepaid' + ' - ' + price + '/bouquet');
          $('.billing').css('display', 'none');
          updatePrice($('.rc-gift-initial'), giftPrice, giftSale);
          checkDiscount();
          checkInventory();
        } else {
          frequency = $('.rc-initial').attr('data-title');
          price = $('.rc-initial .frequency-price').html();
          $('#rc-gift-wrapper').hide();
          $('#rc-wrapper').show();
          $('.rc-initial').addClass('option--active');
          $('.product__dropdown--frequency').html('Deliver ' + frequency + ' - ' + price + '/bouquet');
          updatePrice($('.rc-initial'), recurringPrice, recurringSale);
          checkDiscount();
          calculateBilling();
          checkInventory();
        }
        quantity = 1;
        $('.warning').html(' ');
        checkType();
       }
    });

    function updatePrice(a, b, c){
      var total_price = (parseFloat((a).attr('data-price').slice(1)) + parseFloat(addon_one) + parseFloat(addon_two)).toFixed(2);
      $('.price').removeClass('price--on-sale');
      $('.price__sale').css('display', 'none');
      $('.price-item--regular').html('$' + total_price);
      $('#price-field').attr('data-price', ('$' + total_price));
      if ((a).attr('data-compare-price') != "") {
        var sale = (parseFloat((b).slice(1)) + parseFloat(addon_one) + parseFloat(addon_two)).toFixed(2);
        var regular = (parseFloat((c).slice(1)) + parseFloat(addon_one) + parseFloat(addon_two)).toFixed(2);
        $('.price-item--sale').html('$' + sale);
        $('.price-item--regular').html('$' + regular);
        $('.price').addClass('price price--on-sale');
        $('.price__sale').css('display', 'inline-block');
        $('#price-field').attr('data-price', ('$' + total_price));
      }
    }


/*================ CART JS add to cart ================*/

  $('.addtocart').click(function(e) {
    let dateVal = $('#datepicker').val();
    var variant = $('.option--active').attr('data-variant'),
        type = $('.option--active').attr('data-type').toLowerCase(),
        cart = CartJS.cart.items,
        addon_one_id = $('.product-addons__item:eq(0)').attr('data-id'),
        addon_two_id = $('.product-addons__item:eq(1)').attr('data-id'),
        addon_one_type = $('.product-addons__item:eq(0)').attr('data-type'),
        addon_two_type = $('.product-addons__item:eq(1)').attr('data-type'),
        url = window.location + "?ID=" + Math.random(),
        cart_basket_quantity = $('.cart-basket-quantity').html(),
        // Get ReCharge custom line-item properties
        subscription_id = $("input[name='properties[subscription_id]']").val(),
        shipping_interval_frequency = $(".option--active input[name='properties[shipping_interval_frequency]']").val(),
        shipping_interval_unit_type = $(".option--active input[name='properties[shipping_interval_unit_type]']").val(),
        charge_interval_frequency = $(".option--active input[name='properties[charge_interval_frequency]']").val(),
        charge_interval_unit_type = $(".option--active input[name='properties[charge_interval_unit_type]']").val(),
        number_charges_until_expiration = $(".option--active input[name='properties[number_charges_until_expiration]']").val(),
        addon_id = $('.vase').attr('data-id');
        first_delivery = dateVal;
        preferred_delivery_day = dateVal.slice(0, dateVal.indexOf(','));

      e.preventDefault(); // disable form submit and do everything AJAX

      for (i=0; i < cart.length; i++){
        if (cart[i].variant_id ==  variant && (cart[i].properties.type == 'gift-subscription' || cart[i].properties.type == 'gift')) {
        $('.warning').html('<p>You already have this item in your cart. You can only purchase one per order.</p>');
            window.setTimeout(function(){
            $('.warning').html(' ')
      }, 6000);
        return;
      }
   }

   // If cart is disabled, do not run addtocart function
   if (disabled == true ){
     return
   } else {
     disabled = true
    // Check if the item is sold out, if so do not run function
    if ($('.addtocart').prop('disabled') == true ){
      return;
    }

    if (type == 'gift'){
      type = 'gift-subscription';
      hasGift = true;
    } else {
      type = 'subscription';
    }

    function success(){
       $("#CartDrawer").load(url+" #CartDrawer>*","");
       $('#CartDrawer').addClass('open');
       $('#AddToCartText-product-subscriptions-v2').text("Added!");
       window.setTimeout(function(){
         $('#AddToCartText-product-subscriptions-v2').text("Add to Cart");
       }, 3000);
       disabled = false
     }

     // Set delivery date, and gift recipient info in cart attributes
     function delivery(){
       CartJS.setAttributes({
         "First Delivery": dateVal,
         "Preferred Delivery Day": dateVal.slice(0, dateVal.indexOf(','))
       });
     }

     function AddSubscription(){
       CartJS.addItem(variant, 1, {
         "subscription_id": subscription_id,
         "shipping_interval_frequency": shipping_interval_frequency,
         "shipping_interval_unit_type": shipping_interval_unit_type,
         "charge_interval_frequency": charge_interval_frequency,
         "charge_interval_unit_type": charge_interval_unit_type,
         "number_charges_until_expiration": number_charges_until_expiration,
         "type": type,
         "product": addon_id,
         "preferred_delivery_day": preferred_delivery_day,
         "first_delivery": first_delivery
       }, {
         "success": function(data, textStatus, jqXHR) {
          success();
        },
       "error": function(jqXHR, textStatus, errorThrown) {
           $('#AddToCartText-product-subscriptions-v2').text("There was an error. Please try again.");
           window.setTimeout(function(){
             $('#AddToCartText-product-subscriptions-v2').text("Add to Cart");
           }, 1500);
           console.log('Error: ' + errorThrown + '!');
         }
       });
       delivery();
     }

     if ($('.product-addons__item:eq(0)').hasClass('active') == false && $('.product-addons__item:eq(1)').hasClass('active') == false){
       // No add on accessories added
       AddSubscription();
       $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) + parseInt(1));
     } else if ($('.product-addons__item:eq(0)').hasClass('active') == true && $('.product-addons__item:eq(1)').hasClass('active') == true) {
       CartJS.addItem(addon_one_id, 1, {"type": addon_one_type });
       CartJS.addItem(addon_two_id, 1, {"type": addon_two_type });
       AddSubscription();
       $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) + parseInt(3));
     } else if ($('.product-addons__item:eq(0)').hasClass('active') == true || $('.product-addons__item:eq(1)').hasClass('active') == true) {
       CartJS.addItem($('.product-addons__wrapper .active').attr('data-id'), 1, {"type": $('.product-addons__wrapper .active').attr('data-type')});
       AddSubscription();
       $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) + parseInt(2));
      }
    }
  });
});
</script>
