<div class="form-field-wrapper variant-select" {% if product.type == 'Subscription' %}style="display:none;"{%endif%}{% if product.variants.first.title contains 'Default' %}style="display:none"{%endif%}>
    <select name="id" id="productSelect" class="product-single__variants required" data-productid="{{product.id}}">
        {% for variant in product.variants %}
            {% if variant.available %}

                {% comment %}
                Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

            {% else %}
                <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="arrow"></div>
</div>