{% unless product.description == blank %}

<style>
  .s-product-description {
    padding: {{ block.settings.padding_vertical }}px {{ block.settings.padding_horizontal }}px;
  }

  .product-description__item--first {
    margin: 0 20px 0 0 !important;
  }

  h2.s-product-description-header {
    margin: 0 0 30px 0 !important;
    text-align: center !important;
  }

  @media(max-width: 768px){
    .s-product-description {
      padding: 0 30px 30px;
    }
    h2.s-product-description-header {
      font-size: 25px;
    }
  }
</style>

<!-- Product description: What's inside -->
<div class="s-product-description">
  <div class="page-wrapper">
    <h2 class="s-product-description-header">{{ block.settings.description-title }}</h2>
    <div class="product-description__wrapper">
      {% if product.metafields.whats-inside.image %}
      <div class="{% if product.metafields.whats-inside.image %}product-description__item--half{% else %} product-description__item--full{% endif %} product-description__item--first" style="background-image:url('{{product.metafields.whats-inside.image}}')">
        <!-- <img src="{{product.metafields.whats-inside.image}}"> -->
      </div>
      {% endif %}
      <div class="{% if product.metafields.whats-inside.image %}product-description__item--half{% else %} product-description__item--full{% endif %} product-description__item {% if product.metafields.whats-inside.image %}product-description__item--second{% endif %}">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>
{% endunless %}
