<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product" class="container">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="product-single">
    <div class="float float-60 float-sm-full text-center grid__item">

      {% include 'product-photos' %}

      <div class="text-left product-left">
        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>

        <!-- Custom metafields -->
        <div class="metafields text-left">
          {% if product.metafields.making_time.making_time %}
            <strong>Making Time</strong>
            <p>{{product.metafields.making_time.making_time}}</p>
          {% endif %}

          {% if product.metafields.dimensions.dimensions %}
            <strong>Dimensions</strong>
            <p>{{product.metafields.dimensions.dimensions}}</p>
            <hr/>
          {% endif %}

          {% if product.metafields.centerpiece_num.centerpiece_number %}
            <strong>How many centerpieces do I need?</strong>
            <p>{{product.metafields.centerpiece_num.centerpiece_number | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
          {% endif %}

          {% if product.metafields.included.included %}
            <strong>What's Included</strong>
            <p>{{product.metafields.included.included | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
          {% endif %}

        </div>
      </div>

    </div>

    <div class="grid__item float float-40 float-sm-full product-right">
      <div class="center product-header" id="productHeader">
        <h1 itemprop="name" class="sans-serif">{{ product.title }}</h1>

        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <span id="ProductPrice" class="h4 sans-serif font--light" itemprop="price">
        <h3 id="product_price">{{ current_variant.price | money_without_trailing_zeros }}</h3>
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          <div id="ComparePrice"><span class="text--small">florist price</span> 
            <span class="strikethrough"><s>{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s></span> {{ 'products.product.compare_at' | t }} 
          </div>
        {% endif %}
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="float:left; width:100%; margin:1em 0;">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical form-stacked" style="padding:0;">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <div class="form-field-wrapper">

            {% include 'product-select' %}
            
            {% include 'quantity-select' %}

            {% include 'delivery-date' %}

            <br />
            <div class="text-center">
              {% unless product.type == 'Gift' %}
                <div class="text--med text--primary">*All fields are required</div>
              {% endunless %}

              <button type="submit" name="add" id="AddToCart" class="btn add-to-cart btn-pink float-sm-full">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>
          </div>
        </form>
        <br/><br/>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <!-- <meta property="og:title" content="AddThis Tour" /> -->
        <meta property="og:description" content="I'm going to make this sweet floral design with a #DIY #flower kit from itsbyu.com! #itsbyu" />
        <meta property="og:image" content="http://i2.ytimg.com/vi/1F7DKyFt5pY/default.jpg" />
        <script type="text/javascript">
        var addthis_share = addthis_share || {}
        addthis_share = {
          passthrough : {
            twitter: {
              text: "I'm going to make this sweet floral design with a #DIY #flower kit from itsbyu.com! #itsbyu",
              via: "itsbyu"
            }
          }
        }

        var addthis_config = addthis_config||{};
            addthis_config.ui_email_to = 'yourfriends@email.com';
        var addthis_config = addthis_config||{};
            addthis_config.ui_email_from = 'youremail@email.com';
        var addthis_config = addthis_config||{};
            addthis_config.ui_email_note = 'Look at this sweet DIY flower design from itsbyu.com!';
        </script>
        <div class="addthis_sharing_toolbox"></div>
      </div>

      <!-- Custom metafields -->
      <div class="metafields metafields-left">

        {% if product.metafields.c_f.shipping %}
          <strong>Shipping</strong>
          <p>{{product.metafields.c_f.shipping | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
          <hr />
        {% endif %}

        {% if product.metafields.additional.additional %}
          <strong>Additional Information</strong>
          <p>{{product.metafields.additional.additional | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
        {% endif %}

      </div>

      <hr>

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p class="next-product">
            {% if collection.previous_product %}
              <span class="left btn btn-outline float-sm-full">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
              <br/><br/>
            {% endif %}
            {% if collection.next_product %}
              <span class="right btn btn-outline float-sm-full">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}

    </div>

    <div class="one-whole left-15" style="clear:both;">
    
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

      <!-- Shop Tools Ad -->
      {% comment %}{% include 'flower-tools' %}{% endcomment %}
      
    </div>
  </div>
</div>

<!-- Related Products -->
{% include 'related-products' %}

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  
  jQuery(function($) {

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      
    {% endif %}

    //Render the jqueryUI select menus
    if ($(window).width() > 767) {
      // $( "#productSelect-option-0" ).selectmenu();
      // $( "#productSelect-option-1" ).selectmenu();
      // $( "#productSelect-option-2" ).selectmenu();
      // $( "#Quantity" ).selectmenu();    
    }

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('#productSelect-button').hide();
      $('#productSelect-option-0').hide();
      $('#productSelect-option-0-button').hide();
      $('.color-type').hide();
    {% endif %}

  });

</script>
