<!-- Flickity HTML init -->
{% assign image_length = product.images | size %}

  <div class="carousel carousel-main" data-flickity = '{"pageDots": true, "imagesLoaded": true, "bgLazyLoad": true }'>
    {% for image in product.images %}
    <div class="carousel-cell carousel-main__image" data-flickity-bg-lazyload="{{ image | img_url:'500x', crop:'center', scale: 2}}">
      <!-- <img src="{{ image | img_url: '1024x', format: 'pjpg' }}"> -->
      <!-- data-flickity-bg-lazyload="{{block.settings.slide_image | img_url:'original', crop:'center', scale: 3}} -->
    </div>
    {% endfor %}
  </div>
  {% unless image_length < 2 %}
  <div class="carousel carousel-nav"
    data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "prevNextButtons": false, "imagesLoaded": true, "cellAlign": "left" }'>
    {% for image in product.images %}
    <div class="carousel-cell carousel-nav__image" style="background-image:url('{{ image | img_url:'500x', crop:'center', scale: 2}}')">
      <!-- <img src="{{ image | img_url: 'master',  format: 'pjpg' }}"> -->
    </div>
    {% endfor %}
  </div>
  {% endunless %}

<style>
  {% for image in product.images %}

  {% if image_length < 4 %}
  .product-container .carousel-main button {
    display: none;
  }
{% endif %}

  @media(max-width: 767px){
    {% if image_length < 2 %}
    .product-container .carousel-main button {
      display: none;
    }
    {% else %}
    .product-container .carousel-main button {
      display: block;
    }
  {% endif %}
{% endfor %}
</style>
