<!-- /snippets/product-related-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large-up--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %} {% assign grid_item_width = '' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% if product.featured_image.src %}

  <div class="product-related__item">
    <a href="{{ product.url | within: collection }}" class="grid__image lazy" style="background-image:url({{ product.featured_image.src | img_url: 'master' }})" alt="{{ product.featured_image.alt | escape }}">
        </a>
       <!-- <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" class="lazy"> -->
    </a>
    <h4><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h4>
        <span class="product-price__price">{% if product.price_varies %}From {{ product.price | money }} {% else %}{{ product.price | money }}{% endif %}</span>
  </div>

{% endif %}
