<!-- /templates/product-alternate.liquid -->

<div itemscope itemtype="http://schema.org/Product" class="container">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'product-header' %}

  <div class="product-single clear product-single-alternate">
    <div class="text-center float float-60 float-sm-full mobile-margin-fix">
      {% include 'product-photos' %}
    </div>

    <div class="float float-40 float-sm-full" id="productInfo">
      <div class="text-left product-left">
        {% include 'tabs' %}

        <!-- FAQ -->
        <div class="faq-ad center">
          <h4 class="sans-serif up grey--light">Got Questions</h4>
          Read our <a href="/faq">Frequently Asked Questions</a>
        </div>

      </div>
    </div>
  </div>

  <!-- Related Products -->
  {% include 'related-products' %}

  <div class="one-whole left-15" style="clear:both; float:left; margin-top:4em;">
    
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

    <!-- Related Products -->
    {% comment %} {% include 'related-products' %} {% endcomment %}

    {% section 'newsletter' %}
  </div>

</div>

{% include 'product-select-js' %}
