<div id="gift-prompt"></div>
<div id="productHeader">
    <div id="productHeaderBg">
        
        <div class="container">
        
            <div class="float float-40 float-sm-full">
                <h1 itemprop="name" class="sans-serif">{{ product.title }}</h1>

                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="h4 sans-serif font--light">
                    <input type="integer" id="currentPrice" style="display:none" value="{{ product.price }}" />
                    <h3 style="margin-top:10px;"><span class="price">{{ product.price | money_without_trailing_zeros }}</span>{% if product.type == 'Subscription' %}<span class="price-per">/month</span>{% endif %}</h3>
                </span>

            </div>

            <div class="float float-60 float-right float-sm-full text-right"  style="display:none">

                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="display:inline-block" id="productForm">
                    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

                    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                    {% comment %}
                        ID addToCartForm is a selector for the ajax cart plugin
                    {% endcomment %}
                    {% for tag in product.tags %}
                        {% if tag == 'Subscription' %}
                            {% assign isSub = true %}
                        {% endif %}
                    {% endfor %}

                    <form {% unless isSub %}action="/cart/add" method="post" id="AddToCartForm"{% endunless %} enctype="multipart/form-data" class="form-vertical" style="padding:0;" data-productid="{{product.id}}" >
                        {% if product.available %}{% include 'subscription-product' %}{% endif %}

                        {% assign title = product.title | handleize %}

                        {% include 'quantity-select' %}
                        {% include 'product-select' %}

                        <div class="form-field-wrapper submit">
                            <button type="submit" name="add"{% unless isSub %} id="AddToCartBtn"{% endunless %} class="btn add-to-cart btn-pink{% if isSub %} {% endif %}"{% if isSub %}data-product-id="{{productId}}" data-product-title="{{title}}" data-product-name="{{product.title}}" data-product-tags="{% for tag in product.tags %}{{ tag }}{% endfor %}" data-subscription-interval="{% if product.title contains 'Bi-Monthly' %}Weeks{% else %}Months{% endif %}" data-subscription-frequency="{% if product.title contains 'Bi-Monthly' %}2{% else %}1{% endif %}" data-subscription-id="{% case title %}{% when 'bi-monthly-modern-farmhouse' %}115663{% when 'monthly-modern-farmhouse' %}115666{% when 'bi-monthly-warm-industrial' %}115636{% when 'monthly-warm-industrial' %}115633{% when 'bi-monthly-french-country' %}115654{% when 'monthly-french-country' %}115651{% when 'bi-monthly-rustic-cottage' %}115645{% when 'monthly-rustic-cottage' %}115648{% endcase %}"{% endif%}>
                            <span onclick="$(this).addClass('product-added');" id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                            {% comment %}<button class="gwbutton btn btn-pink">Customize gift</button>{% endcomment %}
                        </div>
                    </form>
                </div>

                {% include 'addthis' %}

            </div>
        </div>
    </div>
</div>