
<div class="product-addons__wrapper">
  {% for p in r %}

    {% if all_products[p].handle contains 'vase' %}
      {% assign is_vase = true %}
    {% else %}
      {% assign is_vase = false %}
    {% endif %}

    <div class="product-addons__item {% if is_vase == true %}vase{% endif %}" data-price="{{all_products[p].price | money_without_currency }}" data-id="{{all_products[p].variants[0].id}}" data-type="{% if is_vase == true %}vase{% else %}addon{% endif %}">
      <div class="product-addons__item-cell" style="background-image: url('{{all_products[p].images[0].src | img_url: 'grande'}}')">

      </div>
      <div class="product-addons__item-cell">
        <div class="product-addons__item-info">
          <h3>{{all_products[p].title}}</h3>
          <p class="price">{{all_products[p].price | money }}</p>
        </div>
        <div class="product-addons__item-add">
          <span>Add to Purchase</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
