{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    /*new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });*/

    $('#productSelect-option-0').prepend('<option selected="selected">{{ product.options.first | escape }}</option>');

    $('#productSelect-option-1').prepend('<option selected="selected">{{ product.options[1] | escape }}</option>');

    $('#productSelect-option-2').prepend('<option selected="selected">{{ product.options.first | escape }}</option>');

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      
    {% endif %}

    //Render the jqueryUI select menus
    if ($(window).width() > 767) {
      // $( "#productSelect-option-0" ).selectmenu();
      // $( "#productSelect-option-1" ).selectmenu();
      // $( "#productSelect-option-2" ).selectmenu();
      // $( "#Quantity" ).selectmenu();    
    }

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('#productSelect-button').hide();
      $('#productSelect-option-0').hide();
      $('#productSelect-option-0-button').hide();
      $('.color-type').hide();
    {% endif %}
  });

  $('#addToCartForm').submit(function(e) {
    setTimeout(function() {
      ShopifyAPI.getCart(buildCart);
    }, 150);

  });

  $(document).on("change","select",function(){
    $("option[value=" + this.value + "]", this)
    .attr("selected", true).siblings()
    .removeAttr("selected")
  });

</script>