<style>
  .price-subscription {
    display: inline-block;
    font-size: 24px;
  }
  .price-title .price__regular {
    font-size: 24px;
    display: inline-block;
  }
  .price-title .price__sale {
    font-size: 24px;
    display: inline-block;
  }


</style>

<!-- snippet/product-price-subscription.liquid -->
{% if variant.title %}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
  {%- assign available = variant.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

<div id="price-field" class="price{% if product.variants[1].compare_at_price > product.variants[1].price %} price--on-sale{% endif %}" data-price="{{product.variants[1].price | money }}">

  {% if section.settings.show_vendor %}
    <div class="price__vendor">
      <dt>
        <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
      </dt>
      <dd>
        {{ product.vendor }}
      </dd>
    </div>
  {% endif %}
  <div class="price__sale" style="display: none;">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.sale_price' | t }}</span>
      <span class="price-item price-item--sale" data-sale-price>
        {{ product.variants[1].price | money }}
      </span>
  </div>
  <div class="price__regular">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.regular_price' | t }}</span>
      <span class="price-item price-item--regular" data-regular-price>
        {% if available %}
          {% if product.variants[1].compare_at_price > product.variants[1].price %}
            {{ product.variants[1].compare_at_price | money }}
          {% else %}
            {{ product.variants[1].price | money }}
          {% endif %}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
  </div>
</div>

<div class="discount">
  <p><span class="discount-percent"></span></p>
</div>
