<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large-up--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %} {% assign grid_item_width = '' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


{% comment %} starter kit MUST be available on online store, in order to be added to cart with subscription kit on *product template*. Hide starter kit on collection pages {% endcomment %}


{% if product.featured_image.src %}
  <div class="flex-item flex-full product-grid-item" data-product-tag="{% for tag in product.tags %}{{ tag }} {% endfor %}">
    {% if sold_out %}
      <span style="font-weight:800; font-size:16px; color:red;">SOLD OUT</span>
    {% endif %}

    {% comment %}
      Link to your product with the 'within: collection' filter for the link to be aware of the collection.
      This allows you to create collection-based navigation on the product page.

      Results of using 'within: collection':
      - Instead of a URL with /products/product-handle
        you would get /collections/collection-handle/products/product-handle

      For more info on navigation within a collection
        - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

    {% endcomment %}
    <a href="{{ product.url | within: collection }}" class="grid__image lazy" style="background-image:url({{ product.featured_image.src | img_url: 'master' }})" alt="{{ product.featured_image.alt | escape }}">
      <!-- <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" class="lazy"> -->
    </a>
   <div class="product-grid-item-content"{% if product.title contains 'Groupon' %} style="min-height:auto"{% endif %}>
     <div class="product-grid-item-description">
      <h4><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h4>
      {% if product.metafields.text.subheader != blank %}
        <p style="margin-bottom: 10px !important; margin-top: 10px !important;">{{ product.metafields.text.subheader }}</p>
      {% endif %}
    </div>
    <div class="product-grid-item-cta">
      {% unless product.title contains 'Groupon' %}
        <span class="product-price__price">
          {{ money_price }}
          {% if product.price_varies %}Starting from {% endif %}{{ product.price | money }} {% if product.type == 'Subscription' %}/ delivery{% endif %}
        </span>
      {% endunless %}
      <a class="btn btn-collection" href="{{ product.url | within: collection }}">{% if template == 'index' %}Shop Now{% else %}View Product{% endif %}</a>
    </div>
    </div>
  </div>

{% endif %}

<script>
    $('.flex-item').each(function(){
      let tag = $(this).attr('data-product-tag');
      if (/vase/i.test(tag)) {
        $(this).remove();
      }
    });
</script>
