{% include 'slider-js' %}

<div id="productImageSlider">

    <div data-u="slides" class="slides">
        {% if template contains 'collection' %}
            <div>
                <span class="float" style="width:100%;">
                    <span data-u="image" style="background-image:url('{{ collection.image.src | img_url: '1400x', crop:'center' }}')"></span>
                </span>
            </div>
        {%else%}
            {% if product.variants.images.size > 1 %}
                {% for variant in product.variants %}
                    {% assign title = variant.title | handleize %}
                    <div>
                        <span class="float-60 float">
                            {% if image.alt contains 'youtube.com' %}
                                <iframe width="540" height="315" src="{{ image.alt | replace: '/watch?v=', '/embed/' }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            {% else %}
                                <span data-u="image" style="background-image:url('{{ variant.image.src | img_url: '660x' }}')"></span>
                                <div class="image-caption">{{ variant.title }}</div>       
                            {% endif %}
                            
                        </span>
                        <div data-u="thumb">
                            {% if image.alt contains 'youtube.com' %}
                                <span class="video-play-overlay">
                                    {{ 'icon-video-play.png' | asset_url | img_tag }}
                                </span>
                            {% endif %}
                            <div class="thumb" data-u="thumb" style="background-image:url('{{ variant.image.src | img_url: '100x' }}');"></div>
                        </div>           
                        <span class="float float-40">
                            {{ variant.metafields.v_desc.desc }}
                        </span>
                    </div>
                        
                {% endfor %}
            {% else %}
                {% if product.images.size > 1 %}
                    {% for image in product.images %}
                        {% assign title = product.title | handleize %}
                        <div>
                            <span class="float" style="width:100%;">
                                {% if image.alt contains 'youtube.com' %}
                                    <iframe width="540" height="315" src="{{ image.alt | replace: '/watch?v=', '/embed/' }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                {% else %}
                                    <span data-u="image" style="background-image:url('{{ image.src | img_url: '1400x', crop:'center' }}'); background-size:cover;"></span>
                                {% endif %}
                                
                            </span>
                            <div data-u="thumb">
                                {% if image.alt contains 'youtube.com' %}
                                    <span class="video-play-overlay">
                                        {{ 'icon-video-play.png' | asset_url | img_tag }}
                                    </span>
                                {% endif %}
                                <div class="thumb" data-u="thumb" style="background-image:url('{{ image.src | img_url: '100x' }}');"></div>
                            </div>           
                        </div>
                    {% endfor %}
                {% else %}
                    {% for image in product.images %}
                        <div>
                            <span class="float" style="width:100%;">
                                <span data-u="image" style="background-image:url('{{ image.src | img_url: '1400x', crop:'center' }}')"></span>
                            </span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {%endif%}
    </div>
        
    {% unless template contains 'collection' %}
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="slider-thumbs" data-autocenter="0" data-scale-bottom="0.75">
            <div data-u="slides" class="thumbs">
                <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="t"></div>
                </div>
            </div>
        </div>
    {% endunless %}
</div>

<script type="text/javascript">
    jssor_slider1_init('productImageSlider');
</script>