<style>
.video__button {
  position: absolute;
  top: 55%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  -webkit-transform:translate(50%, -50%);
  transform: translate(50%, -50%);
  {% if block.settings.play-button == 'light' %}
    background: rgba(255,255,255,0.7);
  {% else %}
    background: rgba(103,103,103,0.6);
  {% endif %}
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 64px;
  z-index: 2;
  -webkit-transition: background 400ms linear;
  -ms-transition: background 400ms linear;
  transition: background 400ms linear;
}

.video__button:hover {
  {% if block.settings.play-button == 'light' %}
    background: #ffffff;
  {% else %}
    background: #4e4e4e;
  {% endif %}
  -webkit-transition: background 400ms linear;
  -ms-transition: background 400ms linear;
  transition: background 400ms linear;
}

.video__button:hover .video__button--play {
  {% if block.settings.play-button == 'light' %}
    background: #ffffff;
  {% else %}
      border-color: transparent transparent transparent #ffffff;
  {% endif %}
}


.video__button--play {
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    {% if block.settings.play-button == 'light' %}
      border-color: transparent transparent transparent #2d2d2d;
    {% else %}
      border-color: transparent transparent transparent rgba(255,255,255,0.8);
    {% endif %}
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 23px 0 23px 36px;
    margin: 0 auto;
    right: 46%;
    -ms-transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    transform: translate(50%, -50%);
    top: 50%;
 }

.video__button--play.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.video__button--play:hover {
{% if block.settings.play-button == 'light' %}
  border-color: transparent transparent transparent ##4e4e4e;
{% else %}
  border-color: transparent transparent transparent #ffffff;
{% endif %}
}


 @media(max-width:1200px){
   .video__button {
     width: 25px;
     height: 25px;
   }
   .video__button--play {
     border-width: 19px 0 19px 31px;
   }
 }

 @media(max-width: 768px){
  .video__button {
    width: 20px;
    height: 20px;
   }
 }

 @media(max-width: 480px){
  .video__button {
    padding: 42px;
    top: 60%;
  }
 .video__button--play {
   border-width: 13px 0 13px 19px;
 }
 }
 </style>

<!-- Product description: What's inside -->
{% unless product.description == blank %}
<div class="product-description grid grid-spacer">
  <div class="page-wrapper">
    <h2>{{ block.settings.description-title }}</h2>
    <div class="product-description__wrapper">
      {% if product.metafields.whats-inside.image %}
      <div class="{% if product.metafields.whats-inside.image %}product-description__item--half{% else %} product-description__item--full{% endif %} product-description__item--first" style="background-image:url('{{product.metafields.whats-inside.image}}')">
        <!-- <img src="{{product.metafields.whats-inside.image}}"> -->
      </div>
      {% endif %}
      <div class="{% if product.metafields.whats-inside.image %}product-description__item--half{% else %} product-description__item--full{% endif %} product-description__item {% if product.metafields.whats-inside.image %}product-description__item--second{% endif %}">
        {{ product.description }}
      </div>
    </div>
  </div>

  {% if product.metafields.Youtube.youtube_id %}
  <div class="video">
    {% unless block.settings.youtube-title == blank %}
     <h2>{{ block.settings.youtube-title }}</h2>
     {% endunless %}
    <a class="video__link">
      <div class="video__button">
      <div class="video__button--play"></div>
      </div>
      {% unless product.metafields.Youtube.youtube_image == 'none' %}
      <img class="video__img pagewidth" src="{{product.metafields.Youtube.youtube_image}}">
      {% endunless %}
      <div style="padding:56.25% 0 0 0;position:relative;">
      <div id="video__container">
        <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      </div>
    </a>
  </div>
  {% endif %}

</div>
{% endunless %}




{% if product.metafields.Youtube.youtube_id %}
<script>
$('.video__link').click(function(){
$('.video__button').css('display', 'none');
$('.video__img').css('display', 'none');
 autoPlayVideo();
});

function autoPlayVideo(){
"use strict";
  {% if product.metafields.Youtube.playlist_id != 'none' %}
  $("#video__container").html('<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?listType=playlist&list={{product.metafields.Youtube.playlist_id}}&version=3&autoplay=1&loop=1&rel=0&color=white&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>');
  {% else %}
  $("#video__container").html('<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?autoplay=1&loop=1&playlist={{product.metafields.Youtube.youtube_id}}&rel=0&color=white&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>');
  {% endif %}
}
</script>
{% endif %}
