<div class="quantity-increment">
  <img src="{{ 'icon-minus.svg' | asset_url }}" class="icon minus"/>
  <input min="1" type="number" name="quantity" id="quantity" value="1" />
  <img src="{{ 'icon-plus.svg' | asset_url }}" class="icon plus"/>
</div>