{% if product.type == 'Subscription' %}
    <style>
        .quantity {
            display:none !important;
        }
    </style>
{% endif %}

<div class="form-field-wrapper quantity">
    <select name="quantity" id="Quantity" class="quantity-selector required" style="opacity:1;">
    {% for i in (1..10) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}         
    </select>
     <div class="arrow"></div>
    <label>
    {% if product.type == 'Flowers' %}
        How many kits?
    {% else %}
        Qty:
    {% endif %}
    </label>
</div>