<div class="quantity-selector">
    <div class="headline shopify-section">
    <h3>Choose the number of deliveries</h3>
    </div>
    <img src="{{ 'icon-minus.svg' | asset_url }}" class="icon minus"/>
    <input min="1" type="number" name="quantity" id="quantity" value="1" />
    <img src="{{ 'icon-plus.svg' | asset_url }}" class="icon plus"/>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        //Increment quantity buttons
        var qty = parseInt($('#quantity').val());
        $('.quantity-selector .icon').on('click', function() {
            if ($(this).hasClass('minus')) {
                qty -= 1;
            } else {
                qty += 1;
            }
            if (qty < 1) {
                qty = 1;
            }
            $('#quantity').val(qty);
        });
    });
</script>