<h2>Create an Account</h2>
    {% form 'create_customer', class: 'form-stacked' %}

    {{ form.errors | default_errors }}

    <div>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        <label for="FirstName" class="label">{{ 'customer.register.first_name' | t }}</label>
    </div>


    <div>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        <label for="LastName" class="label">{{ 'customer.register.last_name' | t }}</label>
    </div>

    <div>
        <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
        <label for="Email" class="label">{{ 'customer.register.email' | t }}</label>
    </div>

    <div>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
        <label for="CreatePassword" class="label">{{ 'customer.register.password' | t }}</label>
    </div>

    <p>
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-pink">
    </p>
    <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

    {% if cart.item_count > 0 %}
    <input type="hidden" name="return_to" value="/cart" />
    {% endif %}

    {% endform %}
