<style>
.descriptive-slideshow--wrapper {
  position: relative;
}

.customNavigation {
  text-align: center;
  position: absolute;
  z-index: 10;
  color: white;
  width: 100%;
  top: 50%;
  height: 0;
  cursor: pointer;
  {% if section.settings.arrows == false %}
  display: none;
  {% endif %}
}

.customNavigation .next {
  position: absolute;
  top: 50%;
  font-size: 4em;
  color: #ffffff;
  right: 10px;
}

.customNavigation .prev {
 position: absolute;
 left: 10px;
 top: 50%;
 font-size: 4em;
 color: #ffffff;
}

//use styles below to disable ugly selection
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


{% for block in section.blocks %}
 .descriptive-slideshow__content--{{block.id}} {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: {{block.settings.text-align-desktop}};
  text-align: center;
  max-width: 1200px;
  z-index: 1;
 }

 .descriptive-slideshow__content--{{block.id}} h2{
   color: {{block.settings.text-color-desktop}};
 }

 .descriptive-slideshow__content--{{block.id}} h1{
  color: {{block.settings.text-color-desktop}};
 }
 @media(min-width: 1200px) {
  .descriptive-slideshow__content--{{block.id}} h1{
   font-size: 3em;
  }
 }
 @media(min-width: 1550px) {
  .descriptive-slideshow__content--{{block.id}} h2{
   font-size: 1.7em;
  }
  .descriptive-slideshow__content--{{block.id}} h1{
   font-size: 4em;
  }
 }


 @media(min-width: 2000px) {
  .descriptive-slideshow__content--{{block.id}} h1{
    font-size: 5em;
   }
 }

@media(max-width: 1200px){
 .descriptive-slideshow__content--{{block.id}} h2{
   font-size: 1.2em;
 }
 .descriptive-slideshow__content--{{block.id}} h1 {
   font-size: 2em;
  }
}

@media(max-width: 767px){
 .customNavigation {
   top: 40%;
 }
 .descriptive-slideshow__content--{{block.id}} h1 {
   font-size: 1.5em;
   line-height: 1.2;
   margin-bottom: 7px;
   color: {{block.settings.text-color-mobile}};
 }
 .descriptive-slideshow__content--{{block.id}} h2{
   font-size: 1em;
   color: {{block.settings.text-color-mobile}};
 }
 .descriptive-slideshow__content--{{block.id}} {
   margin: 0 10px;
   transform: {{block.settings.text-align-mobile}};
  {% if block.settings.text-align-mobile == 'translate(50%, -50%)' %}
   width: 80%;
  {% else %}
   width: 50%;
  {% endif %}
  }
}

@media(max-width: 600px){
 .descriptive-slideshow__content--{{block.id}} h1 {
  font-size: 1.2em;
}
 .descriptive-slideshow__content--{{block.id}} h2{
  line-height: 1.1;
  font-size: 0.9em;
 }
}

@media (max-width: 414px){
  .customNavigation .next,
  .customNavigation .prev {
    font-size: 3em;
  }
}

@media (max-width: 375px){
.descriptive-slideshow__content--{{block.id}} h2{
  padding: 0 30px;
 }
}

{% endfor %}
</style>



<div class="customNavigation">
  <a class="prev">&#8249;</a>
  <a class="next">&#8250;</a>
</div>

<div class="owl-carousel-desktop">
  <div id="owl-desktop" class="owl-carousel owl-theme">
    {% for block in section.blocks %}
     <div class="descriptive-slideshow">
      <a href="{{block.settings.link}}" alt="{{block.settings.alt}}">
       <div class="descriptive-slideshow__img" style="background-image: url('{{ block.settings.desktop-image | img_url: '2560x', format: 'jpg' }}');">
        <div class="descriptive-slideshow__content--{{block.id}}">
          <h1>{{block.settings.title}}</h1>
          <h2>{{block.settings.subheading}}</h2>
          <a href="{{block.settings.link}}" class="btn btn__primary" alt="{{block.settings.alt}}">{{block.settings.cta}}</a>
        </div>
       </div>
      </a>
    </div>
   {% endfor %}
  </div>
</div>


<div class="owl-carousel-mobile">
 <div class="owl-carousel owl-theme">
  {% for block in section.blocks %}
   <div class="descriptive-slideshow">
    <a href="{{block.settings.link-mobile}}" alt="{{block.settings.alt-mobile}}">
     <div class="descriptive-slideshow__img" style="background-image: url('{{ block.settings.mobile-image | img_url: '2560x', format: 'jpg' }}');">
      <div class="descriptive-slideshow__content--{{block.id}}">
        <h1>{{block.settings.title-mobile}}</h1>
        <h2>{{block.settings.subheading-mobile}}</h2>
        <a href="{{block.settings.link-mobile}}" class="btn btn__primary" alt="{{block.settings.alt-mobile}}">{{block.settings.cta-mobile}}</a>
      </div>
     </div>
    </a>
  </div>
 {% endfor %}
 </div>
</div>


<script>
$(document).ready(function() {

  var owl = $(".owl-carousel");

    owl.owlCarousel({
     slideSpeed : 300,
     paginationSpeed : 400,
     items : 1,
     dots: {{section.settings.dots}},
     itemsDesktop : false,
     itemsDesktopSmall : false,
     itemsTablet: false,
     itemsMobile : false,
     autoplay: {{section.settings.autoplay}},
     autoplayTimeout: {{section.settings.autoplay_speed}},
     loop: true,
     animateOut: 'fadeOut',
     mouseDrag: false,
     pullDrag: false
    });

  // Custom Navigation Events
  $(".next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  $(".prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })

});
</script>
