{{ 'jssor.slider.min.js' | asset_url | script_tag }}

<script>
    jssor_slider1_init = function (containerId) {
        var jssor_SlideshowTransitions = [
            {$Duration:800,$Opacity:2}
        ];
        var options = {
            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $ChanceToShow: 0,
                $FillMode: 3,
                $SpacingX: 19,
                $NoDrag: true
            },
            $SlideshowOptions: {
                $Transitions: {$Duration:800,$Opacity:2}
            }
        };
        var jssor_slider1 = new $JssorSlider$(containerId, options);

        //Make the slider work with the variant dropdown
        $(document).ready(function(){

            var vSelect = '.variant-select select';

            $(vSelect).on('change', function(){                
                slideIndex(vSelect);
            });

            $(vSelect).click(function(e){
                e.stopPropagation();
            });

            function slideIndex(select){
                var vIndex = $(select).find('option:selected').index();
                jssor_slider1.$PlayTo(vIndex - 1);
            }
        });
    };
</script>