<div class="step grid__item medium-up--one-third small--one-whole text-center" id="howItWorks">
  <img src="{{block.settings.step_image | img_url: 'large'}}" alt="It'sbyu - {{ block.settings.step_title }}"/>
  <div class="step-bottom">
    <h3>{{ block.settings.step_title }}</h3>
    <p>{{ block.settings.step_text }}</p>
  </div>
</div>