<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
  Subscription Cart Footer
  http://rechargepayments.com: v2
  Updated: 2017/06/12
-->
{% comment %}
  to install, insert:
  {% include 'subscription-cart-footer' %}
  at the top of cart.liquid page
  for best results, add this in the checkout button/input on templates/cart.liquid:
  {% if cart_has_subscription_item == 'true' %}
    onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"
  {% endif %}
{% endcomment %}
{% assign cart_has_subscription_item = 'false' %}
{% assign cart_has_groupon_item = false %}

{% for i in cart.items %}

  {% if i.product.type == 'Subscription' %}
    {% assign cart_has_subscription_item = 'true' %}
  {% endif %}

  {% if i.product.title contains 'Groupon' %}
    {% assign cart_has_groupon_item = true %}
  {% endif %}

  <script>
    function giftFormProcess(redirect_url){
      $('#agree').attr('checked','checked');
      if ($('#giftForm').length != 0) {

        let giftFormVal = true;
        $('#giftForm input:required').each(function(){
          if ($(this).val() === ''){
            giftFormVal = false;
            $(this).addClass('input-error');
            $('.gift-info__email--error').fadeIn();
            errorScroll();
          }
        });

        let sender = $('.gift-info__sender_name').val();
        let senderEmail = $('.gift-info__sender_email').val();
        let recipient = $('.gift-info__recipient_name').val();
        let recipientEmail = $('.gift-info__recipient_email').val();
        let giftMessage = $('.gift-info__message').val();

        //disallow same emails
        if (senderEmail != '' && senderEmail === recipientEmail) {
          $('#duplicateEmail').fadeIn();
          $('#senderEmail', '#recipientEmail').addClass('input-error');
          errorScroll();
          return;
        }

        function errorScroll() {
          if ($(window).width() < 768) {
            $('html, body').animate({
                scrollTop: ($('#giftForm').offset().top + 125)
            },200);
          }
        }

        //Get first names
        let senderFirstName = sender.split(' ').shift();
        let recipientFirstName = recipient.split(' ').shift(); 

        //Grab line item and add attribute for email triggers
        {% if i.properties.type contains 'gift' %}
          {% assign index = forloop.index %}
          
          CartJS.updateItem({{index}},{{item.quantity | default: 1}},{
            "gift_sender": sender,
            "gift_sender_email": senderEmail,
            "gift_recipient": recipient,
            "gift_recipient_email": recipientEmail,
            "gift_message": giftMessage,{% for prop in i.properties | split:':' %}
            "{{prop[0]}}": "{{prop[1]}}",{% endfor %}
          });
        {% endif %}

        //Set attributes and go to checkout
        if (giftFormVal === true && $('#agree').is(':checked')){
          CartJS.setAttributes({
            "Gift Sender": sender,
            "Gift Sender Email": senderEmail,
            "Gift Recipient": recipient,
            "Gift Recipient Email": recipientEmail,
            "Gift Message": giftMessage
          },
          {
            "success": function(data, textStatus, jqXHR) {
              window.location.href = redirect_url;
            },
            "error": function(jqXHR, textStatus, errorThrown) {
              console.log('Error: ' + errorThrown + '!');
            }
          }
        )}
      } else {
        window.location.href = redirect_url;
      }   
    }

    //Simple email validation
    $(document).ready(function() {
      $('.email').blur(function(){
        if (!isEmail($(this))){
          $(this).val('');
          $(this).attr('placeholder','Please enter a valid email address');
        } 
      });

      function isEmail(email) {
        var v = $(email).val();
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,6})+$/;
        if (regex.test(v)) {
          return true;
        } else {
          return false;
        }
      }
    })
  </script>


  {% if cart_has_subscription_item == 'true' %}

    <style>
      form[action^="/cart"] [type="submit"] {
        display: none;
      }
      .extra-checkout-buttons,
      .additional-checkout-button,
      .additional-checkout-buttons,
      .amazon-payments-pay-button,
      .google-wallet-button-holder,
      #additional-checkout-buttons,
      #a_p_c {
        display: none !important;
      }
    </style>
    <script>
      // Subscriptions Powered by ReCharge Payments: JavaScript
      (function() {

        // Basic function to load script files, will be used to include jQuery
        var loadScript = function(url, callback) {
          var script = document.createElement("script");
          script.type = "text/javascript";
          // If the browser is Internet Explorer
          if (script.readyState){
            script.onreadystatechange = function() {
              if (script.readyState == "loaded" || script.readyState == "complete") {
                script.onreadystatechange = null;
                callback();
              }
            };
          // For any other browser
          } else {
            script.onload = function() {
              callback();
            };
          }
          script.src = url;
          document.getElementsByTagName("head")[0].appendChild(script);
        };

        // This is our JavaScript that we'll run after jQuery is included
        var reChargeShowButton = function($) {
          $('form[action^="/cart"] [type="submit"]').fadeIn();
        }

        var reChargeCartFooterJS = function($) {
          function reChargeGetCookie(name) {
            return (document.cookie.match('(^|; )' + name + '=([^;]*)')||0)[2];
          }

          function reChargeBuildCheckoutURL() {
            // Build the Checkout URL
            var myshopify_domain = '{{ shop.permanent_domain }}';
            var token = reChargeGetCookie('cart');
            try {
              // Cross-domain tracking with Google Analytics
              var ga_linker = ga.getAll()[0].get('linkerParam');
            } catch (e) {
              // 'ga' is not available
              var ga_linker = '';
            }
            // Customer email address for use in the Checkout URL
            var customer_param = '{% if customer %}customer_id={{ customer.id }}&customer_email={{ customer.email }}{% endif %}';
            var checkout_url = 'https://checkout.rechargeapps.com/r/checkout?myshopify_domain=' + myshopify_domain + '&cart_token=' + token + '&' + ga_linker + '&' + customer_param
            return checkout_url;
          }

          function reChargeUpdateURLs() {
            // Map hidden product handles back to their original product handle
            {% for item in cart.items %}
              {% if item.product.metafields.subscriptions.original_handle %}
                var handle = "{{ item.product.url }}";
                var original_product_handle = "{{ item.product.metafields.subscriptions.original_handle }}";
                var elements_to_update = $('a[href*="' + handle + '"]');
                elements_to_update.each(function() {
                  $(this).attr('href', "products/" + original_product_handle);
                });
              {% endif %}
            {% endfor %}
          }

          function reChargeSaveCartNoteAndRedirect() {
            // Build the Checkout URL for later redirection
            var checkout_url = reChargeBuildCheckoutURL();

            giftFormProcess(checkout_url);

          }
          $(document).ready(function() {
            // Can use this by default or the onclick attribute directly
            reChargeUpdateURLs();
            var checkout_button_selectors = '[name="checkout"], [href="/checkout"], form[action="/checkout"] input[type="submit"], .checkout_button';
            $(document).on('click', checkout_button_selectors, function(e) {
              if (!$(this).data('disable-recharge')) {
                e.preventDefault();
                reChargeSaveCartNoteAndRedirect();
              }
            });
            reChargeShowButton($)
          });
        }
        // Check if jQuery is added, if not, then we'll loadScript, otherwise, run reChargeJS
        if ((typeof(jQuery) == 'undefined') || (parseInt(jQuery.fn.jquery) == 1 && parseFloat(jQuery.fn.jquery.replace(/^1\./,"")) < 7.2)) {
          // We'll get our jQuery from Google APIs
          loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', function() {
            jQuery172 = jQuery.noConflict(true);
            setTimeout(function() {
              try {
                reChargeCartFooterJS(jQuery172);
              }
              catch (err) {
                console.error('Error with function "reChargeCartFooterJS"', err);
                reChargeShowButton(jQuery172);
              }
            }, 1);
          });
        } else {
          setTimeout(function() {
            try {
              reChargeCartFooterJS(jQuery);
            }
            catch (err) {
              console.error('Error with function "reChargeCartFooterJS"', err);
              reChargeShowButton(jQuery);
            }
          }, 1);
        }
      })();
      // If page is loaded from cache (browser back/forward button), force page reload
      window.addEventListener('pageshow', function (event) { if (event.persisted || window.performance &&
      window.performance.navigation.type == 2) { window.location.reload(); } }, false);
    </script>

  {% else %}

  <script>

    $(document).on('click', ".checkout_button", function(e){
      e.preventDefault();

      giftFormProcess('/checkout');    

    });

  </script>

  {% endif %}

{% endfor %}
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
