<!-- snippets/subscription-select.liquid -->
{% if template contains 'collection' %}
    {% assign subscriptions = collection.title | handleize | split: ' ' %}
{% else %}    
    {% assign subscriptions = 'modern-farmhouse warm-industrial french-country rustic-cottage' | split: ' ' %}
{% endif %}

<div class="container" id="subscription-select">
    {% unless template contains 'product' %}
        <h2>Choose your subscription</h2>
    {% endunless %}
    <div class="flex {% if template =='product.subscription'%}flex-thirds{% else %}flex-half{%endif%}">
        {% for item in subscriptions %}
            {% unless product.title contains collections[item].title %}
                <div class="flex-item flex-full tile text-center">
                    {% unless template contains 'collection' %}                    
                        <a href={{product.url}}><span class="img" style="background:url({{collections[item].image | img_url: '300x300'}}) no-repeat; width:100%; display:block; background-position:center; background-size:cover;"></span></a>
                        <h3><a href="{{product.url}}">{{collections[item].title}}</a></h3>
                        {% if collections[item].metafields.c_f.summary %}
                            <p>
                                {{collections[item].metafields.c_f.summary}}
                            </p>
                        {% else %}
                            <p>
                                {{collections[item].description}}
                            </p>
                        {% endif %}         
                    {% endunless %}                 
                    <div class="freq-wrapper">
                        {% for product in collections[item].products %}
                            <span class="freq">
                                {% for variant in product.variants limit:1 %}
                                    {% assign productId = variant.id %}
                                {% endfor %}

                                {% assign title = product.title | handleize %}
                                

                                {% if product.title contains 'Bi-Monthly' %}
                                    <span class="alert">Most popular</span>
                                {% endif %}    
                                <a href="{{ product.url }}" data-product-id="{{productId}}" data-product-title="{{title}}" data-product-name="{{product.title}}" data-product-tags="{% for tag in product.tags %}{{ tag }}{% endfor %}" data-subscription-interval="{% if product.title contains 'Bi-Monthly' %}Weeks{% else %}Months{% endif %}" data-subscription-frequency="{% if product.title contains 'Bi-Monthly' %}2{% else %}1{% endif %}" data-subscription-id="{% case title %}{% when 'bi-monthly-modern-farmhouse' %}115663{% when 'monthly-modern-farmhouse' %}115666{% when 'bi-monthly-warm-industrial' %}115636{% when 'monthly-warm-industrial' %}115633{% when 'bi-monthly-french-country' %}115654{% when 'monthly-french-country' %}115651{% when 'bi-monthly-rustic-cottage' %}115645{% when 'monthly-rustic-cottage' %}115648{% endcase %}" class="btn btn-pink{% if product.title contains 'Bi-Monthly' %} highlight{%endif%}">{{product.title | split: ' | ' | first}}</a>
                                {% if product.title contains 'Bi-Monthly' %}
                                    <h3>
                                        <span class="text-small">{{ product.price | divided_by: 2 | money_without_trailing_zeros }}/delivery</span><br/>
                                        Save 7%!
                                    </h3>
                                {% elsif product.title contains 'Week' %}
                                    <h3>
                                        <span class="text-small">{{ product.price | divided_by: 4 | money_without_trailing_zeros }}/delivery</span><br/>
                                        Save 17%!
                                    </h3>
                                {% else %}
                                    <h3><span class="text-small">{{ product.price | money_without_trailing_zeros }}/delivery</span></h3>
                                {% endif %}                            
                            </span>
                        {% endfor %}
                    </div>
                    <span class="text-small">By subscribing, you agree to the <a href="/pages/legal" target="_blank">terms and conditions</a></span>
                </div>
            {% endunless %}
        {% endfor %}
    </div>
</div>

<div class="modal modal-small" id="redirect">
    <div class="modal-inner text-center">
        <div class="top"></div><br/>
        <div id="loading" style="display:none"; class="text-center">
            {{ 'loading.gif' | asset_url | img_tag }}<br/><br/>
            Redirecting to checkout...
        </div>
        {% include 'delivery-day-select' %}
    </div>
</div>

{{ 'subscription-modal.js' | asset_url | script_tag }}