{% comment %}
    Reusable tabs for product pages
{% endcomment %}

<div class="tabs">
    {% if product.metafields.additional.additional %}
        <div class="tab-links">      
            <a href="#tab-1">Overview</a>
            {% comment %}
                Only create additional tabs if filled
            {% endcomment %}
            {% if product.metafields.c_f.shipping %}
                <a href="#tab-2">Shipping</a>
            {% endif %}
            {% if product.metafields.additional.additional %}
                <a href="#tab-3">Additional Info</a>
            {% endif %}
        </div>
    {% endif %}


    <div id="tab-1" class="tab-content">

        {% if template contains 'collection' %}
            {{ collection.description | replace: '•','<li>' | replace: '- ','<li>' | replace: '--','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;'}}
        {% else %}
            {{ product.description | replace: '•','<li>' | replace: '- ','<li>' | replace: '--','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;'}}
        {% endif %}

        {% if product.metafields.included.included %}
            <strong>What's Included</strong>
            <p>{{product.metafields.included.included | newline_to_br | replace: '•','<li>' | replace: '- ','<li>' | replace: '--','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;'}}</li></p>
            <p>Flower Tools are not included. <a href="/collections/tools-and-accessories">Shop Tools</a></p><br/>
        {% endif %}

        {% if product.metafields.making_time.making_time %}
            <strong>Making Time</strong>
            <p>{{product.metafields.making_time.making_time}}</p>
        {% endif %}

    </div>
    
    <div id="tab-2" class="tab-content">
    {% if product.metafields.c_f.shipping %}
            <p>{{product.metafields.c_f.shipping | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
        {% endif %}
    </div> 

    <div id="tab-3" class="tab-content">
        {% if product.metafields.additional.additional %}
            <p>{{product.metafields.additional.additional | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
        {% endif %}

        {% if product.metafields.dimensions.dimensions %}
            <strong>Dimensions</strong>
            <p>{{product.metafields.dimensions.dimensions}}</p>
        {% endif %}

        {% if product.metafields.centerpiece_num.centerpiece_number %}
            <strong>How many centerpieces do I need?</strong>
            <p>{{product.metafields.centerpiece_num.centerpiece_number | newline_to_br | replace: '•','<li>' | replace: '- ','<li>'}}</li></p>
        {% endif %}

    </div> 
</div>

<script>
    if ($(window).width() > 767) {
        // Stop href="#hashtarget" links jumping around the page
        var hashLinks = document.querySelectorAll("a[href^='#']");
        [].forEach.call(hashLinks, function (link) {
            link.addEventListener("click", function (event) {
                event.preventDefault();
                history.pushState({}, "", link.href);
                history.pushState({}, "", link.href);
                history.back();
                const active = document.querySelector('.active');
                if(active){
                    active.classList.remove('active');
                }
                event.currentTarget.classList.add('active');
            });
            var str = window.location.href;
            var linkhref = link.getAttribute('href');

            if (str.indexOf(linkhref) !== -1){
                link.classList.add('active');
            }
        });

        setTimeout(function(){
            $('html, body').scrollTop(0);
        },200);
    }

</script>