<div class="modal" id="target-overlay">
  <div class="overlay"></div>
  <div class="modal-inner" style="background:url({{ 'purple-flower.png' | asset_url }}) no-repeat #fff;">
    <a href="/"><img src="{{ 'itsbyu-target.svg' | asset_url }}" alt="{{ shop.name }} + Target"></a>
    <h1 class="pink">Sign up for discounts, access the wreath tutorial video, and download your initial letter.</h1>
    {% section 'newsletter' %}
    <button class="btn btn-outline" id="close-modal" style="display:none;">Close</button>
    <div class="modal-footer text-left">
      <div class="fb-like" data-href="https://itsbyu.com" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div><br/><br/>
      <a href="/pages/legal" target="_blank">Terms &amp; Privacy</a>
    </div>
  </div>  
</div>

<script>
  $(document).ready(function() {  


    $('.modal #mc-embedded-subscribe-form').submit(function(){
      // select the target nodes
      var successMsg = document.getElementById('mce-success-response');
      var errorMsg = document.getElementById('mce-error-response');
       
      // create an observer instance for successful messages
      var successObserver = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
          submitSuccess();
        });    
      });

      // create another one for error messages (for already subscribed emails)
      var errorObserver = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
          if($('#mce-error-response').html().indexOf('already subscribed') != -1){
            submitSuccess();
          } else {
            console.log('error');
          }
        });    
      });

      // configuration of the observers:
      var config = { attributes: false, childList: true, characterData: false };

      successObserver.observe(successMsg, config);
      errorObserver.observe(errorMsg, config);

      function submitSuccess(){
        var close = '#close-modal';
        $('.mc-field-group').add('#mc-embedded-subscribe').fadeOut(100);
        $(close).fadeIn(200);
        $(close).click(function(){
          $('#target-overlay').fadeOut(100);
        });
      }
    }); 



  });//End document ready
</script>