{% if metafields.image_1 != blank or metafields.image_2 != blank or metafields.image_3 != blank %}
{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}
<style>
  .s-three-image-columns-{{ block_id }} {
    position: relative;
    background-color: {{ block.settings.background_color }};
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: {{ block.settings.section_padding_left }}px;
    padding-right: {{ block.settings.section_padding_right }}px;
    background-color: {{ block.settings.background_color }};
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--content {
    position: relative;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--header {
    display: block;
    text-align: center;
    color: {{ block.settings.title_color }};
    margin-bottom: 30px;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-list {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-list-item {
    display: inline-block;
    width: 33.3%;
    padding: 0 30px 0 0px;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: 50%;
  }
  @media screen and (max-width: 768px) {
    .s-three-image-columns-{{ block_id }} {
      padding-top: 5px;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    .s-three-image-columns-{{ block_id }} .s-three-image-columns--header {
      font-size: 25px;
      margin: 15px 0;
    }
    .s-three-image-columns-{{ block_id }} .s-three-image-columns--image-list-item {
      padding: 0;
    }
  }
</style>
{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}
<div class="s-three-image-columns-{{ block_id }}">
  <div class="s-three-image-columns--content container">
      <h2 class="s-three-image-columns--header">{{block.settings.title}}</h2>
    <div class="s-three-image-columns--image-content">
      <ul class="s-three-image-columns--image-list">
        {% if metafields.image_1 != blank %}<li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ metafields.image_1 }}" />
            </div>
          </div>
        </li>{% endif %}{% if metafields.image_2 != blank %}<!--
        --><li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ metafields.image_2 }}" />
            </div>
          </div>
        </li>{% endif %}{% if metafields.image_3 != blank %}<!--
        --><li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ metafields.image_3 }}" />
            </div>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
