{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-two-column-three-image-{{ block_id }} {
    position: relative;
    background-color: {{ block.settings.background_color }};
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--content {
    position: relative;
    width: 100%;
    z-index: 2;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col-one {
    width: {{ 100 | minus: block.settings.small_images_width }}%;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col-two {
    width: {{ block.settings.small_images_width }}%;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-inner img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-position: {{ block.settings.image_horizontal }} {{ block.settings.image_vertical }};
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-mobile {
    display: none;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: {{ block.settings.overlay_transparency }};
    background-color: {{ block.settings.overlay_color }};
  }

  .s-two-column-three-image-{{ block_id }} ul.s-two-column-three-image--image-list {
    width: 100%;
    padding: 0 !important;
    padding-inline-start: 0 !important;
    margin: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 33.3%;
    padding-top:0;
    padding-bottom: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item + .s-two-column-three-image--image-list-item {
    padding-left: 0;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-wrapper {
    margin-bottom: 20px;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: 50%;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--text-block {
    width: 87%;
    margin-left: 0;
    text-align: {{ block.settings.text_align }} !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--title {
    font-size: 32px;
    margin: 0 0 10px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.h1_font_color }} !important;
    font-weight: bold;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--subtitle {
    font-size: 18px;
    margin: 0 0 10px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.h2_font_color }} !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--paragraph-1 {
    font-size: 18px;
    margin: 0 0 10px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.p1_font_color }} !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--paragraph-2 {
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: {{ block.settings.text_align }} !important;
    color: {{ block.settings.p2_font_color }} !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--caption-title {
    font-size: 16px;
    font-weight: bold;
    text-align: {{ block.settings.caption_text_align }} !important;
    color: {{ block.settings.caption_title_font_color }} !important;
  }

  .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--caption-paragraph {
    font-size: 16px;
    text-align: {{ block.settings.caption_text_align }} !important;
    color: {{ block.settings.caption_paragraph_font_color }} !important;
  }

  @media screen and (max-width: 768px) {
    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col {
      display: block !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col-one,
    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--col-two {
      width: 100% !important;
    }
    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--content {
      padding-top: 50px;
      padding-bottom: 35px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-inner img {
      object-position: {{ block.settings.image_horizontal_mobile }} {{ block.settings.image_vertical_mobile }};
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-desktop {
      display: none;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--background-image-wrapper-mobile {
      display: block;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item + .s-two-column-three-image--image-list-item {
      padding-top: 0 !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--text-block {
      width: 100%;
      text-align: {{ block.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-wrapper,
    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item-text-block {
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-wrapper {
      padding-top: 50%;
      width: 60%;
      margin-bottom: 0;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--image-list-item-text-block {
      padding-left: 10px !important;
      width: 100%;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--title {
      text-align: {{ block.settings.text_align_mobile }} !important;
      font-size: 24px;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--subtitle {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--paragraph-1 {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
      font-size: 16px;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--paragraph-2 {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--caption-title {
      margin: 0 0 10px 0;
      text-align: {{ block.settings.caption_text_align_mobile }} !important;
      color: {{ block.settings.caption_title_font_color_mobile }} !important;
    }

    .s-two-column-three-image-{{ block_id }} .s-two-column-three-image--caption-paragraph {
      margin: 10px 0 10px 0;
      text-align: {{ block.settings.caption_text_align_mobile }} !important;
      color: {{ block.settings.caption_paragraph_font_color_mobile }} !important;
    }
  }
</style>

{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-two-column-three-image-{{ block_id }} container">

  {% if block.settings.background_image != blank %}
    <div class="s-two-column-three-image--background-image-wrapper s-two-column-three-image--background-image-wrapper-desktop">
      <div class="s-two-column-three-image--background-image-wrapper-inner">
        <img src="{{ block.settings.background_image | img_url: '1000x' }}" />
        <div class="s-two-column-three-image--overlay"></div>
      </div>
    </div>
  {% endif %}

  {% if block.settings.background_image_mobile != blank %}
    <div class="s-two-column-three-image--background-image-wrapper s-two-column-three-image--background-image-wrapper-mobile">
      <div class="s-two-column-three-image--background-image-wrapper-inner">
        <img src="{{ block.settings.background_image_mobile | img_url: '1000x' }}" />
        <div class="s-two-column-three-image--overlay"></div>
      </div>
    </div>
  {% endif %}

  <div class="s-two-column-three-image--content">

    <div class="s-two-column-three-image--col s-two-column-three-image--col-one">
      <div class="s-two-column-three-image--text-block">
        {% if block.settings.main_title != blank %}
          <h1 class="s-two-column-three-image--title">{{ block.settings.main_title }}</h1>
        {% endif %}

        {% if block.settings.subtitle != blank %}
          <h2 class="s-two-column-three-image--subtitle">{{ block.settings.subtitle }}</h2>
        {% endif %}

        {% if block.settings.paragraph_1 != blank %}
          <p class="s-two-column-three-image--paragraph-1">{{ block.settings.paragraph_1 }}</p>
        {% endif %}

        {% if block.settings.paragraph_2 != blank %}
          <p class="s-two-column-three-image--paragraph-2">{{ block.settings.paragraph_2 }}</p>
        {% endif %}
      </div>
    </div><!--

    --><div class="s-two-column-three-image--col s-two-column-three-image--col-two">
      <ul class="s-two-column-three-image--image-list">

        <li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-one">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ block.settings.image_one | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if block.settings.caption_title_1 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ block.settings.caption_title_1 }}</h2>
            {% endif %}

            {% if block.settings.caption_paragraph_1 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ block.settings.caption_paragraph_1 }}</p>
            {% endif %}
          </div>
        </li><!--

        --><li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-two">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ block.settings.image_two | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if block.settings.caption_title_2 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ block.settings.caption_title_2 }}</h2>
            {% endif %}

            {% if block.settings.caption_paragraph_2 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ block.settings.caption_paragraph_2 }}</p>
            {% endif %}
          </div>
        </li><!--

        --><li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-three">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ block.settings.image_three | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if block.settings.caption_title_3 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ block.settings.caption_title_3 }}</h2>
            {% endif %}

            {% if block.settings.caption_paragraph_3 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ block.settings.caption_paragraph_3 }}</p>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
