{% comment %}
  Assign videos based on product title 
{% endcomment %}

{% assign video_url = "" %}
{% assign video_url2 = "" %}
{% assign video_url3 = "" %}

{% assign handle = line_item.title %}
{%  if handle contains '#TryIt' %}
    {% assign video_url = 'https://youtu.be/lsPn_QQ0JiM' %}

  {%  elsif handle contains '#XOXO Bouquet' %}
    {% assign video_url = 'https://youtu.be/S75XZwVLXjE' %}
  {%  elsif handle contains '#XOXO Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#XOXO Wrist Corsage' %}
    {% assign video_url = 'https://youtu.be/SvcbFxs-bmo' %}
  {%  elsif handle contains '#XOXO Wreaths' %}
    {% assign video_url = 'https://youtu.be/DNVor26bu4k' %}
  {%  elsif handle contains '#XOXO Rose Centerpiece' %}
    {% assign video_url = 'https://youtu.be/ezcTpgsQpig' %}
  {%  elsif handle contains '#XOXO Centerpiece Trio' %}
    {% assign video_url = 'https://youtu.be/ezcTpgsQpig' %}
  {%  elsif handle contains '#XOXO Mini' %}
    {% assign video_url = 'https://youtu.be/ezcTpgsQpig' %}

  {%  elsif handle contains '#SealedWithAKiss Bouquet' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
  {%  elsif handle contains '#SealedWithAKiss Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#SealedWithAKiss Flower Crown' %}
    {% assign video_url = 'https://youtu.be/8GAhneCv-xc' %}
  {%  elsif handle contains '#SealedWithAKiss Wrist Corsage' %}
    {% assign video_url = 'https://youtu.be/SvcbFxs-bmo' %}
  {%  elsif handle contains '#SealedWithAKiss Vase Centerpieces' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}
  {%  elsif handle contains '#SealedWithAKiss Flower Box Centerpiece' %}
    {% assign video_url = 'https://youtu.be/Imax5lQtfbA' %}

  {%  elsif handle contains '#YouAreMySunshine Bouquet' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
  {%  elsif handle contains '#YouAreMySunshine Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#YouAreMySunshine Wrist Corsage' %}
    {% assign video_url = 'https://youtu.be/SvcbFxs-bmo' %}
  {%  elsif handle contains '#YouAreMySunshine Sunflower Centerpiece' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}
  {%  elsif handle contains '#YouAreMySunshine Flower Box Centerpiece ' %}
    {% assign video_url = 'https://youtu.be/Imax5lQtfbA' %}

  {%  elsif handle contains '#TheOne Bouquet' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
  {%  elsif handle contains '#TheOne Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#TheOne Flower Crown' %}
    {% assign video_url = 'https://youtu.be/8GAhneCv-xc' %}
  {%  elsif handle contains '#TheOne Wrist Corsage' %}
    {% assign video_url = 'https://youtu.be/SvcbFxs-bmo' %}
  {%  elsif handle contains '#TheOne Wreath Centerpiece' %}
    {% assign video_url = 'https://youtu.be/DNVor26bu4k ' %}
  {%  elsif handle contains '#TheOne Vase Centerpieces' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}

  {%  elsif handle contains '#ToHaveAndToHold Bouquet' %}
    {% assign video_url = 'https://youtu.be/5cTQkhvSpjg' %}
  {%  elsif handle contains '#ToHaveAndToHold Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#ToHaveAndToHold Pin Corsage' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#ToHaveAndToHold Flower Crown' %}
    {% assign video_url = 'https://youtu.be/8GAhneCv-xc' %}
  {%  elsif handle contains '#ToHaveAndToHold Vase Centerpieces' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}

  {%  elsif handle contains '#Lovestruck Bouquet' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
  {%  elsif handle contains '#Lovestruck Protea Bouquet' %}
    {% assign video_url = 'https://youtu.be/S75XZwVLXjE' %}
  {%  elsif handle contains '#Lovestruck Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#Lovestruck Pin Corsage' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#Lovestruck Centerpiece' %}
    {% assign video_url = 'https://youtu.be/-Llw6oEnFxA' %}

  {%  elsif handle contains '#LikeALovesong Bouquet' %}
    {% assign video_url = 'https://youtu.be/5cTQkhvSpjg' %}
  {%  elsif handle contains '#LikeALovesong Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#LikeALovesong Wrist Corsage' %}
    {% assign video_url = 'https://youtu.be/SvcbFxs-bmo' %}
  {%  elsif handle contains '#LikeALovesong Flower Crown' %}
    {% assign video_url = 'https://youtu.be/8GAhneCv-xc' %}
  {%  elsif handle contains '#LikeALovesong Mason Jar Centerpiece' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}

  {%  elsif handle contains "#HappinessIs Baby&#39;s Breath Bouquet" %}
    {% assign video_url = 'https://youtu.be/S75XZwVLXjE' %}
  {%  elsif handle contains "#HappinessIs Baby&#39;s Breath Boutonniere" %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains "#HappinessIs Baby&#39;s Breath Flower Crown" %}
    {% assign video_url = 'https://youtu.be/OYPVt0sdNjk' %}
  {%  elsif handle contains "#HappinessIs Baby&#39;s Breath Wreath" %}
    {% assign video_url = 'https://youtu.be/DNVor26bu4k ' %}
  {%  elsif handle contains "#HappinessIs Flower Box Centerpiece" %}
    {% assign video_url = 'https://youtu.be/Imax5lQtfbA' %}
  {%  elsif handle contains "#HappinessIs Baby&#39;s Breath Chalice Centerpieces" %}
    {% assign video_url = 'https://youtu.be/lsPn_QQ0JiM' %}

  {%  elsif handle contains '#BestDayEver Bouquet' %}
    {% assign video_url = 'https://youtu.be/S75XZwVLXjE' %}
  {%  elsif handle contains '#BestDayEver Boutonniere' %}
    {% assign video_url = 'https://youtu.be/t9_bnfe3_XQ' %}
  {%  elsif handle contains '#BestDayEver Bottle Centerpieces' %}
    {% assign video_url = 'https://youtu.be/-nAi00wTMTY' %}

  {%  elsif handle contains 'DIY Holiday Candle Centerpiece Kit' %}
    {% assign video_url = 'https://youtu.be/wWx7MLjnMz4' %}
  {%  elsif handle contains 'DIY Tabletop Christmas Tree Kit' %}
    {% assign video_url = 'https://youtu.be/hVpupt2XTG4' %}
  {%  elsif handle contains 'Make At Home Thanksgiving Centerpiece Kit' %}
    {% assign video_url = 'https://youtu.be/VonVPKBRyJU' %}
  {%  elsif handle contains 'DIY Holiday Boxwood Wreath Kit' %}
    {% assign video_url = 'https://youtu.be/DNVor26bu4k' %}
  {%  elsif handle contains 'DIY Holiday Rose Centerpiece Kit' %}
    {% assign video_url = 'https://youtu.be/Imax5lQtfbA' %}
  {%  elsif handle contains 'Traditional Thanksgiving Cornucopia Centerpiece Kit' %}
    {% assign video_url = 'https://youtu.be/VonVPKBRyJU' %}
  {%  elsif handle contains 'Gold Thanksgiving Cornucopia Centerpiece Kit' %}
    {% assign video_url = 'https://youtu.be/VonVPKBRyJU' %}    

  {%  elsif handle contains 'Big Game Football Centerpiece' %}
    {% assign video_url = 'https://youtu.be/FOh2bjIiCTE' %}

  {%  elsif handle contains '#SealedWithAKiss Wedding Package' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
    {% assign video_url2 = 'https://youtu.be/t9_bnfe3_XQ' %}
    {% assign video_url3 = 'https://youtu.be/-nAi00wTMTY' %}

  {%  elsif handle contains 'Rose Bouquet and Boutonniere Set' %}
    {% assign video_url = 'https://youtu.be/mAgMutojP-w' %}
    {% assign video_url2 = 'https://youtu.be/t9_bnfe3_XQ' %}

  {%  elsif handle contains 'French Country' %}
    {% assign video_url = 'https://youtu.be/gl5bumxL_Ds' %}

  {%  elsif handle contains 'Modern Farmhouse' %}
    {% assign video_url = 'https://youtu.be/BSQKvfUueN4' %}
  
  {%  elsif handle contains 'Warm Industrial' %}
    {% assign video_url = 'https://youtu.be/U3NBkRvAwSI' %}
  
  {%  elsif handle contains 'Rustic Cottage' %}
    {% assign video_url = 'https://youtu.be/CXNhyl_wFDw' %}

  {%comment%} 
    Add your own here - copy and paste the next 2 lines outside of the 'comment' tags
      {%  elsif handle contains 'PRODUCT TITLE' %}
      {% assign video_url = 'YOUTUBE LINK' %}
  {%endcomment%}

  {% else %}
    {% assign video_url = "" %}
    {% assign video_url2 = "" %}
    {% assign video_url3 = "" %}
    
{% endif %}

{%comment%} 
  Only output the video url if there's a video 
{% endcomment %}

{% if video_url != "" %}
  <a href="{{ video_url }}" class="btn btn-pink clear" target="_blank">Watch the instructional video</a>  
{% endif %}

{% if video_url2 != "" %}
  <br /><br/><a href="{{ video_url2 }}" class="btn btn-pink clear" target="_blank">Video 2</a>
{% endif %}

{% if video_url3 != "" %}
  <br /><br/><a href="{{ video_url3 }}" class="btn btn-pink clear" target="_blank">Video 3</a>
{% endif %}