{% if product.metafields.Youtube.youtube_id %}
<style>
.s-video-player {
  padding: {{ block.settings.padding_vertical }}px {{ block.settings.padding_horizontal }}px;
}
.s-video-player .s-video-player--video-wrapper {
  position: relative !important;
}
.video__button {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  -webkit-transform:translate(50%, -50%);
  transform: translate(50%, -50%);
  {% if block.settings.play-button == 'light' %}
    background: rgba(255,255,255,0.7);
  {% else %}
    background: rgba(103,103,103,0.6);
  {% endif %}
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 64px;
  z-index: 2;
  -webkit-transition: background 400ms linear;
  -ms-transition: background 400ms linear;
  transition: background 400ms linear;
}
.video__button:hover {
  {% if block.settings.play-button == 'light' %}
    background: #ffffff;
  {% else %}
    background: #4e4e4e;
  {% endif %}
  -webkit-transition: background 400ms linear;
  -ms-transition: background 400ms linear;
  transition: background 400ms linear;
}
.video__button:hover .video__button--play {
  {% if block.settings.play-button == 'light' %}
    background: #ffffff;
  {% else %}
      border-color: transparent transparent transparent #ffffff;
  {% endif %}
}
.video__button--play {
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    {% if block.settings.play-button == 'light' %}
      border-color: transparent transparent transparent #2d2d2d;
    {% else %}
      border-color: transparent transparent transparent rgba(255,255,255,0.8);
    {% endif %}
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 23px 0 23px 36px;
    margin: 0 auto;
    right: 46%;
    -ms-transform: translate(50%, -50%);
    -webkit-transform:translate(50%, -50%);
    transform: translate(50%, -50%);
    top: 50%;
 }
.video__button--play.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.video__button--play:hover {
{% if block.settings.play-button == 'light' %}
  border-color: transparent transparent transparent ##4e4e4e;
{% else %}
  border-color: transparent transparent transparent #ffffff;
{% endif %}
}
h2.video_title {
  display: block;
  margin: 0 0 {{ block.settings.header_bottom_margin }}px 0 !important;
  text-align: center;
  font-size: {{ block.settings.header_text_size }}em;
  color: {{ block.settings.title_color }} !important;
}
 @media(max-width:1200px){
   .video__button {
     width: 25px;
     height: 25px;
   }
   .video__button--play {
     border-width: 19px 0 19px 31px;
   }
 }
 @media(max-width: 768px){
  .video__button {
    width: 20px;
    height: 20px;
   }
   .s-video-player {
     padding: {{ block.settings.padding_vertical_mobile }}px {{ block.settings.padding_horizontal_mobile }}px;
   }
   h2.video_title {
     font-size: {{ block.settings.header_text_size_mobile }}em;
     margin: 0 0 {{ block.settings.header_bottom_margin_mobile }}px 0 !important;
   }
 }
 @media(max-width: 480px){
  .video__button {
    padding: 42px;
    top: 60%;
  }
 .video__button--play {
   border-width: 13px 0 13px 19px;
 }
 }
 </style>
<div class="s-video-player container">
  <div>
    {% unless product.metafields.Youtube.video_title == blank %}
      <h2 class="video_title">{{ product.metafields.Youtube.video_title }}</h2>
    {% endunless %}
    <div class="s-video-player--video-wrapper">
      <a class="video__link">
        <!-- <div class="video__button">
        <div class="video__button--play"></div> -->
        </div>
        <div style="padding:56.25% 0 0 0;position:relative;">
        <div id="video__container">
          <iframe id="youtube_video" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen src="https://www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        </div>
      </a>
    </div>
  </div>
</div>
<script>
$('.video__link').click(function(){
$('.video__button').css('display', 'none');
$('.video__img').css('display', 'none');
 autoPlayVideo();
});
function autoPlayVideo(){
  $("#video__container").html('<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" data-autoplay-src="//www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?autoplay=1" src="https://www.youtube.com/embed/{{product.metafields.Youtube.youtube_id}}?autoplay=1&loop=1&rel=0&color=white&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>');
}
</script>
{% endif %}
