//styling for /pages/about

//header 
.header-about {
  background: url({{ 'bg-about-hands.jpg' | asset_url }}) no-repeat;
  background-position: center center;
  background-size: cover;
}

.full-width {
  svg {
    @include media-query($large-up){
      max-width:50%;
    }
    text {
      fill:black;
    }
    margin:0 auto;
  }
}

@include media-query($medium-up){
  //About itsbyu
  #about-itsbyu {
    .svg,
    svg {
      width:6%;
      margin-bottom:1em;
    }
  }
  .borderless {
    margin-bottom:2em;
  }
}

.featured-header-push {
  div {
    text-align:center;
    margin-top:5em !important;
    margin-bottom: 5em !important;
    margin-left:0px;
    .borderless {
      margin:5em -30px 5em -30px !important;
    }
    h3 {
      margin-top:.5em;
      color:$grey-medium;
      font-size: 2em;
      letter-spacing:.1em;
    }
    p {
      font-size:$font-size-base * 1.3;
      padding:0 10%;
      @include at-query ($min, $large) {
        padding:0 15%;
      }
    }
    &:last-child {
      margin-bottom:0
    }
    &#founders {
      h3 {
        margin-bottom:.1em; //margin fix for founders' names
      }
    }
    //color fix for money svg
    &#save-amaze {
      .svg {
        @include at-query ($min, $large) {
          max-width:12%;
        }
        .cls-1 {
          fill: #F0E4D8;
        }
      }
    }
    //color fix for flower icon
    &#flowers-for-good {
      .svg {
        .cls-3 {
          stroke:none;
        }
      }
    }
  }
}