//Styling for the cart flyout
@mixin cartPadding {
    //default padding for cart content
    padding: 1em 1.2em;
}

.template-cart {
    .btn-outline {
        @include media-query($small){
            display:block;
            white-space:normal;
        }
    }
}

$drawerWidth: 315px;
.drawer {
    //base styles
    width: 0;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    top: 0;
    right:-100px;
    position: fixed;
    height: 100%;
    z-index: 99999;
    transition: all .2s ease-in-out;
    overflow-y: scroll;
    @include media-query($medium-up) {
        border-left: 1px solid $grey-border;
    }
    @include media-query($widescreen) {
        &.open {
          right: 0;
          width: 450px;
        }
    }
    //tablet-wide override
    @include media-query($large-down) {
        &.open {
          right: 0;
          width: 350px;
        }
    }
    @include media-query($small){
      &.open {
          right: 0;
          width: 90%;
      }
    }
    //header wrapper
    .drawer__header {
        background: white;
        margin-bottom: 4em;
        position: relative;
        top: -4em;
        h3 {
            margin: 0;
            font-size: 20px;
            position: absolute;
            top: 0;
            font-weight: bold;
        }
    }
    //close button
    .drawer__close {
        position: absolute;
        top: 0;
        right: 0;
        button {
            right: 0;
            padding: .2em 0 0 .5em;
            font-size: $font-size-base*1.7;
            &:focus {
                background: none;
                outline: none;
            }
            .icon-x {
                &:before {
                    font-weight: 800;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    //logo
    .drawer__title {
        width: 33.333%;
        padding-top: .5em;
        text-align: center;
        text-indent: 4%;
        img {
            max-width: 87%;
        }
    }
    .btn {
        display: block;
        width: 100%;
        padding: .8em 0;
        margin:0 0 5px;
    }
}

.drawer-count {
    position: relative;
    top: 1px;
    width: 95%;
    right: 5px;
}

//Cart icon with item number in it
.cart-icon {
    float: right;
    padding: .5em .5em 0 0;
    //tablet-wide override
    @include media-query($medium) {
        padding: .2em 3.1em 0 0;
    }
    #CartCount {
        top: 2em;
        position: absolute;
        left: auto;
        right: .7em;
        @include media-query($medium) {
            right: .1em;
            top: 2.3em;
        }
    }
}

//main cart content
#CartContainer {
    .ajaxcart__inner {
        //where the products are
        @include cartPadding;
        max-height: 22em;
        overflow-y: scroll;
        margin-bottom: 0;
        //tablet-wide override
        @include media-query($medium) {
            max-height: 100%;
        }
        //The products themselves
        p {
            line-height: $font-size-base;
            padding: 0;
        }
        .ajaxcart__product-name {
            font-size: $font-size-base*1.2;
        }
        //product rows
        .ajaxcart__row {
            border: none;
        }
    }
    .ajaxcart__footer {
        //where the totals are
        @include cartPadding;
        position: relative;
        z-index: 2;
        border-top: 1px solid $color-primary;
        //This is not working so added it in custom.js
        // &.with-shadow {
        //   box-shadow:0px -5px 10px #eee;
        // }
        box-shadow: 0px -5px 10px #eee; //just added it anyway
        //tablet-wide override
        @include media-query($medium) {
            box-shadow: none;
        }
        .subtotal {
            color: black;
        }
    }
    //Cart button
    .cart__checkout {
        padding: 20px;
    }
    //Additional payment options (paypal)
    .additional_checkout_buttons {
        text-align: center;
        .or {
            color: $grey-light;
            border-top: 1px solid $grey-light;
            text-align: center;
            margin: 2em auto .5em auto;
            span {
                background: white;
                position: relative;
                top: -.7em;
                padding: .5em;
            }
        }
        input[value="paypal_express"] {
            width: 50%;
            border: none;
        }
    }
}

//End cart flyout
//Styling for cart page
//product rows
.cart__row {
    border: none;
    td {
        vertical-align: top;
        position: relative;
        &.bottom {
            vertical-align: bottom;
            padding-bottom: 3em;
        }
    }
}

.table--responsive {
    td {
        display: table-cell;
        float: none;
        text-align: left;
        .cart__image {
            display: block;
            width: 100%;
            min-width: 50px;
        }
        &:before {
            display: none;
        }
    }
}

.abs-bottom {
    position: absolute;
    bottom: 0;
}

.cart {
    input[type="submit"],
    .btn-pink {
        clear:both;
        display: block;
        width: 100%;
        margin-top: 18px;
        float: right;
    }
}

#cartContents {
    .row {
        div {
            clear:both;
        }
    }
}

#btn-continue,
#btn-update-cart {
    color: white;
    width: 100%;
    margin-bottom: .5em;
}

#btn-update-cart {
    color: $color-primary;
    &:hover {
        color: white;
    }
}

.event-date-wrapper {
    padding: 1em 0;
    margin: 1em;
    border-top: 1px solid $color-primary;
    text-align: center;
    div {
        display: inline;
        &.event-date {
            color: $color-primary;
        }
    }
}

#PageContainer {
    &.is-transitioning {
        &:before {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, .6);
            width: 100%;
            height: 100%;
            float: left;
            left: 0;
            top: 0;
            z-index: 2;
        }
    }
}

.loading {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    span {
        width: 64px;
        height: 62px;
        background-image: url({{'loading.gif' | asset_url }});
        position: absolute;
        left: 50%;
        margin-left: -32px;
        top: 30%;
    }
}

.gift-title {
    float: left;
    margin-right: .5em;
}

.gift-email {
    width: 100%;
    display: none;
    &.checked {
        display: block;
    }
}

#yes-gift {
    position: relative;
    top: 2px;
}

.cart {
    td,
    th {
        border: none;
        padding: 0 15px 0 0;
        @include media-query($widescreen){
            width:20%;
        }
        &[data-label="Product"] {
            @include media-query($large-up) {
                width: 33%;
            }
            img {
                width: 100%;
                padding-right: 1em;
                @include media-query($small) {
                    margin-bottom: 1em;
                    padding: 0;
                }
            }
            &:before {
                display: none;
            }
        }
        &[data-label="Price"],
        &[data-label="Quantity"],
        &[data-label="Total"] {
            margin-top: 1em;
            font-size: 16px;
        }
    }
    .responsive-table {
        td {
            @include media-query($small) {
                padding: 0 !important;
            }
        }
    }
    .responsive-table-row {
        display: block;
        margin-bottom: 2em;
    }
}

.template-cart {
    .grid {
        display:flex;
        flex-wrap: wrap;
        margin:2em 0;
        .grid-item {
            flex-grow:1;
            padding:1em;
            border:1px solid $grey-border;
            flex-basis: 33.3%;
            position:relative;
            padding-top:2.8em;
            &:nth-child(n+3) {
                border-left:0;
            }
            .header {
                font-size:11px;
                color:white;
                background:$pink;
                width:100%;
                padding:.4em 0;
                text-align:center;
                position: absolute;
                top:0;
                left:0;
            }
        }
        h4 {
            width:100%;
            margin:.5em 0;
        }
    }
    input,
    textarea {
        width:100%;
        margin-bottom:.5em;
    }
}

#checkout-buttons {
    @include media-query($small) {
        flex-basis:100%;
        width: 100%;
    }
}

#termsError {
    width:100%;
    display:block;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 9px;
    @media(max-width: 768px){
     width: 17px;
     height: 17px;
    }
    @include media-query($small){
      margin-left: 0;
      margin-right: 9px;
    }
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    &:before {
        content: "\2713 ";
        display:block;
        font-size:20px;
        color:$pink;
        position:absolute;
        left:1px;
        top:-1px;
        @media(max-width: 768px){
         font-size: 18px;
        }
        @include media-query($small){
          top: -3px;
        }
    }
}
label.css-label {
    float:right;
    border:1px solid $grey-border;
    margin-left:20px;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#terms {
  display: block;
  width: 100%;
  line-height: 21px;
  font-size: 16px;
  margin-top: 5px;
    @include media-query($small){
      @include flexbox();
      @include flex-direction(column);
      line-height:normal;
      font-size: 1em;
    }
    .terms-inner {
      @include flexbox();
      @include align-items(center);
      @include flex-direction(row-reverse);
      @include media-query($small){
        @include flex-direction(row);
      }
    }
    .error {
        color:$red;
        margin-bottom:1em;
    }
    #disclaimer {
        float:right;
        @media(max-width: 768px){
          font-size: 0.9em;
        }
    }
}



// .cart .container {
//   @include media-query($small){
//     margin-left: 10px;
//     margin-right: 10px;
//   }
// }

.cart .uc {
  text-align: center;
}

#cartForm2 {
.gift-info__email {
    font-weight: 200;
  }
  .gift-info__email--error {
    text-align: left;
    color: $red;
  }
  .responsive-table {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 23px;
  }
  .cart-quantity-inner {
    @include flexbox();
    @include justify-content(center);
  }
  .total, .product-title, p {
    text-align: center;
    @include media-query($small){
      margin-bottom: 0;
    }
  }
  img {
    width: 80%;
    @include media-query($small){
      width: 100%;
    }
  }
  .bottom-wrapper {
    width: 100%;
    @include flexbox();
    @include justify-content(space-between);
    @include media-query($small){
      @include flex-direction(column);
    }
    #gift-info {
      width: 100%;
      @include media-query($small){
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
        border-top: none;
      }
      .gift-info__wrapper .gift-info__input {
        @include flexbox();
        @include flex-direction(column);
        margin: 0 10px 0px 0;
        width: 100%;
        p {
          width: 100%;
          margin: 0 16px 0 0;
          text-align: left;
          @include media-query($small){
            font-size: 1em;
          }
        }
        input {
          display: none;
          padding: 0;
          border-bottom: 1px solid #C5C5C5;
          border-left: 1px solid $white;
          border-right: 1px solid $white;
          border-top: 1px solid $white;
          width: 65%;
          @include media-query($small){
            width: 100%;
          }
          &::placeholder {
            font-weight: 200 !important;
          }
        }
      }
      .gift-info__submit {
        margin-top: 10px;
        width: auto;
        padding: 0.5em 2em;
        outline: none;
      }
    }
    .bottom-wrapper__inner {
      width: 100%;
      font-size: 1.1em;
      @include media-query($small){
        width: 100%;
        font-size: 1em;
        text-align: center;
      }

      .delivery-option {
        font-size: 1em;
        padding: 0.3em 0.6em;
      }
    }
    .delivery-inner {
      width: 100%;
      @include media-query($small){
        width: 75%;
      }
    }
  }
  #checkout-buttons h3 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 0;
  }


 .shopify-section {
   margin: 0;
   text-align: right;
   @include flexbox();
   @include align-items(flex-start);
   @include flex-direction(column);
   @include media-query($small){
     text-align: left;
   }
   .delivery-wrapper__outer {
     width: 100%;
     padding: 2em 0;
     font-weight:bold;
     p {
       display: inline-block;
     }
     .pickedDate {
       font-size: 1.1em;
     }
   }
   p {
     text-align: right;
     @include media-query($small){
       text-align: left;
       font-size: 1em;
     }
   }
 }

 #message {
   width: 100%;
 }


   .responsive-table-row {
     @include flexbox();
     @include justify-content(center);
     @include align-items(center);
     @include media-query($small){
       @include flex-direction(column);
     }
     td {
       @include media-query($small){
         justify-content: center;
         width: 100% !important;
       }
     }
   }
   .responsive-table td::before{
     display: none;
   }
   td[data-label="Product"]{
     width: 32%;
   }
   td[data-label="Remove"]{
     margin-top: 1em;
     font-size: 16px;
     @include flexbox();
   }

   .delivery-wrapper {
     margin: 12px 0 15px 0;
     @include flexbox();
     @include align-items(center);
     @include justify-content (flex-end);
     border-bottom: 1px solid #ebebeb;
     padding-bottom: 27px;
     @include media-query($small){
       @include justify-content(center);
     }
   }
}

// Cart drawer
.cart-quantity-wrapper {
  width: auto;
  float: right;
  text-align: right;
}

.cart-quantity-inner {
  @include flexbox();
  @include flex-direction(flex-end);
}

.cart-quantity-minus,
.cart-quantity-plus {
 padding: 0.1em 0.4em;
 font-size: 1em;
 color: $black;
cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.cart-quantity-label,
.cart-quantity-minus,
.cart-quantity-plus {
  border: 2px solid $pink-lightest;
  text-decoration: none;
}

.cart-quantity-label,
.cart-quantity-plus {
  border-left: none;
}

.cart-quantity-label {
  width: 1px;
  padding: 0.1em 01em 0.1em 0.6em;
  font-size: 1em;
}

#cartContents {
  h3 {
    margin-bottom: 10px !important;
    font-weight: 200;
    font-size: 1.3em;
    @include media-query($small){
      font-size: 1.2em;
    }
    a {
      color: $black;
    }
  }
  p {
    font-size: 1em;
  }
  .uc {
    color: $black;
    font-size: 1.5em;
  }
  .subtotal {
    font-size: 1.3em;
  }

  .row-cart {
    display: block;
    margin: 0;
    border-top: 1px solid #ebebeb;
    padding: 1em 0;
  }

  .drawer__close {
    img {
      width: 14px;
    }
  }

    .cart-remove {
      display: block;
      margin-bottom: 8px;
    }

  .supports-cookies {
    p {
      text-align: center;
      font-size: 1.3em;
      &:first-child {
        padding-top: 20px;
      }
    }
  }
}


#cartForm form[action^="/cart"] [type="submit"] {
  display: block !important;
}


//Addons overrides
.template-cart {
    sup {
        color:$red;
    }
    .alert {
        background:$pink-lightest;
        display:block;
        text-align:center;
        @include media-query($small){
            text-align:left;
        }
        h3 {
            margin-top: 0;
        }
    }
    .product-addons__wrapper {
        flex-wrap:wrap;
        * {
            text-align:center;
        }
        .product-addons__item {
            margin-bottom:3px;
            width:100%;
            &:hover {
                border-color:$pink;
            }
            &.disabled {
                background:$grey-light;
                &:hover {
                    border-color:$grey-medium;
                }
                * {
                    color: $grey-medium;
                }
            }
            .product-addons__item-cell {
                width:40%;
                text-align:left;
                &:nth-of-type(2){
                    width:60%;
                }
            }
        }
    }
}
