#collections {
  .main-content {
    // padding-top:15%;
    h2 {
      text-align:center;
      margin-top:1em;
      &:after {
        margin-top:0;
      }
    }
  }
  .push-right {
    position:absolute;
    width:40%;
    left:50%;
    top:32%;
    font-size:130%;
    z-index: 999;
    max-width:600px;
    @include media-query($medium-down){
      font-size:100%;
      top:22%;
    }
    @include media-query($small){
      position:relative;
      margin:2em auto;
      width:90%;
      left:0;
      top:0;
    }
    h1 {
      font-size:40px;
      font-family:serif;
    }
    h2 {
      font-weight:100;
      margin-bottom: 0;
      @include media-query($small){
        font-size:$font-size-base*1.4;
      }
    }
    h3 {
      @include media-query($small){
        font-size:$font-size-base;
      }        
    }
  }
  .img-header {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    position:relative;
    @include media-query($small){
      padding-top:0;
    }
  }
  .flex-item {
    .img {
      height:350px;
    }
    h3 {
      font-size:21px;
    }
  }
}