.product-gift-card {
    overflow-y: scroll !important;
    .product-right {
        margin-top: 0;
    }
    #productSelect-option-0,
    #product_price {
        display: none;
    }
    input::placeholder {
        opacity: .6;
    }
    .quantity {
        clear: both;
    }
    div[itemprop="offers"] {
        display: none;
    }
    .form-field-wrapper {
        display: block;
        clear: both;
    }
    .select2Buttons {
        clear: both;
        display: block;
        float: left;
        margin: 0 0 2em 0;
        ul {
            margin: 10px 0;
        }
    }
    #gift-total,
    #gift-total input {
        text-align: center;
        font-size: 28px;
    }
    #frequency {
        .flex {
            flex-flow:row;
            .flex-item {
                &:first-child {
                    padding-top:1em !important;
                }
                &.tile {
                    max-width:33.33%;
                    padding:1em;
                    @include media-query($medium-up) {
                        margin: 10px;
                    }
                }
            }
        }
    }
    .cart-button {
        @include media-query($small) {
            width: 100%;
            padding: 0;
            #AddToCart {
                font-size: 17px;
                width: 100%;
            }
        }
    }
    .loading {
        display: none;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .8);
        transition: display .2s ease-in-out;
    }

    .float {
        padding:.7em;
        input,
        textarea {
            width:100%;
            margin-bottom:1em;
        }
        textarea {
            overflow-y:scroll;
            @include media-query($large-up){
                height:21.25em;
            }
        }
    }
}