//Quick fixes for holiday collection page
#holiday-collection {
    .flex-item {
        @include media-query($medium-up) {
            width: 33%;
        }
        flex-grow: inherit;
        >a {
            height: 300px;
            @include media-query($medium-down) {
                height: 200px;
            }
        }
    }
    #productHeader {
        display: none;
    }
}