#homeCTA {
  text-align:center;
  .btn {
    border:1px solid $grey-border;
    border-width:1px 1px 1px 0;
    white-space:pre-wrap!important;
    padding:10px;
    font-size:20px;
    height:4.2em;
    &:last-child {
      border-right:0;
      // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc6c7+0,e86b7f+100 */
      // background: #ffc6c7; /* Old browsers */
      // background: -moz-linear-gradient(-45deg, #ffc6c7 0%, #e86b7f 100%); /* FF3.6-15 */
      // background: -webkit-linear-gradient(-45deg, #ffc6c7 0%,#e86b7f 100%); /* Chrome10-25,Safari5.1-6 */
      // background: linear-gradient(135deg, #ffc6c7 0%,#e86b7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc6c7', endColorstr='#e86b7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      // color:white;
    }
    color:$pink;
  }
  .text--small {
    font-size:12px;
    color:$grey-dark;
    display:block;
    line-height:14px;
  }
}

#howItWorks {
  text-align:center;
  margin-top:2em;
  h3 {
    font-weight:600;
  }
  div {
    padding:3%;
    h3 {
      color:$pink;
      border-top:1px solid #d8d8d8;
      width:60%;
      margin:0 auto .5em auto;
      padding:.5em;
    }
    font-size:12px;
    color:$grey-dark;
    img {
      padding-bottom:1em;
      margin-top:2em;
      position:relative;
      max-height:110px;
    }
  }
  .btn {
    margin:2em auto 0 auto;
    display:table;
    clear:both;
  }
}