#frequency {
    .flex {
        @include flex(32%, 140px);
        .flex-item.tile {
            padding: 2em 1em;
            min-height: 0;
            margin-bottom: 2em;
        }
    }
    h4 {
        font-size:22px;
    }
    .flex-item:first-child {
        padding-top:4em !important;
    }
}

.back {
    position: absolute;
    margin-top: 1.2em;
    color: $pink;
    cursor: pointer;
    opacity: 0;
    @include media-query($medium-down) {
        top: -3em;
        right: 1.2em;
    }
}

.quantity-selector {
    text-align: center;
    transition: all .2s ease-in-out;
    width: 100%;
    .id-quantity {
        display: inline;
        .js-qty__num {
            width: 100px;
            border: 1px solid $grey-border;
            border-radius: 3px;
            text-align: center;
        }
    }
    input {
        font-size: 28px;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    .icon {
        cursor: pointer;
        margin: 0 .5em;
        width: auto;
        height: auto;
        opacity: .8;
        transition: all .1s;
        &:hover {
            opacity: 1;
        }
    }
}

#total {
    @include media-query($small) {
        text-transform: capitalize;
    }
}

.bundle-total {
    @include media-query($small) {
        text-align: left !important;
    }
}


.product-subscription {
    #related {
        &.flex {
            .flex-item {
                width:50%;
                @include media-query($large-up){
                    a.grid__image {
                        height:500px;
                    }
                }
            }
        }
    }
}

.frequency {
    p {
        &:last-child,
        &:nth-last-child(2) {
            display:none;
        }
    }
}

#deliveryDay {
    padding:.8em 3em;
    background:white;
    color:$pink;
}

#subscription-select {
    padding:0;
    width:100%;
    h2 {
        color: $pink;
        font-size: 28px;
        font-weight: bold;
        text-align:center;
    }
    .flex-item {
        @include media-query($widescreen){
            padding-bottom:18em;
            flex-basis:24%;
        }
        position:relative;
        a {
            height:auto;
        }
        p {
            font-size:1.2em;
            @include media-query($medium-down){
                font-size:1em;
            }
        }
        .img {
            height:300px;
            @include media-query($medium-down){
                height:300px;
            }
            @include media-query($widescreen){
                height:300px;
            }
        }
        .btn {
            height:50px;
            line-height:35px;
            font-size:16px;
            position:relative;
            z-index:2;
            transition:all .1s ease-in-out;
            border-color:$pink-lightest;
            padding:.4em 2em;
            &.highlight {
                line-height:35px;
            }
            &:hover {
                background:$pink;
                color:white;
                border-color:$pink-lightest;
            }
        }
    }
    .freq-wrapper {
        @include media-query($widescreen){
            position:absolute;
            bottom:3em;
            width: 100%;
            left: 0;
            margin: 0;
            // display:flex;
            .freq {
                flex-basis:49%;
                @include media-query($widescreen){
                    &:first-child {
                        margin-bottom:3em;
                    }
                }
                &:last-child {
                    margin-left:1%;
                    a {
                        position:relative;
                        margin-top:20px;
                    }
                }
            }
        }
    }
    .freq {
        position:relative;
        display:inline-block;
        &:first-child {
            h3  {
                @include media-query($widescreen){
                    bottom:-2em;
                }
            }
        }
        h3 {
            position:absolute;
            left:0;
            width:100%;
            text-align:center;
            margin:0;
            font-size:1.2em;
        }
        .alert {
            padding:0;
            margin:0;
            position: relative;
            width: 100%;
            text-align: center;
            display: block;
            bottom: 0;
            color: $pink;
            border: 0;
            border-radius: 0;
            z-index:1;
        }
        @include media-query($large-down){
            width:100%;
            margin-bottom:.8em;
            &:nth-child(-n+2){
                margin-bottom:1em;
            }
            &:last-child {
                margin-bottom:0;
            }
            .btn {
                display:block;
            }
            h3 {
                position: relative;
            }
            .alert {
                width:100%;
            }
        }
    }
    .flex-thirds {
        .img {
            height:350px !important;
            @include media-query($large-down){
                height:250px !important;
            }
        }
        .freq {
            @include media-query($large-up){
                flex-basis:33.33%;
            }
            .btn {
                padding:.5em 1em;
            }
            .alert {
                width:96%;
            }
        }
    }
}

//overrides specifically for subscription landing page
.template-page {
    #subscription-select {
        .flex-item {
            @include media-query($large-up){
                // padding-bottom:10em;
            }
        }
    }
}

.template-collection {
    #subscription-select {
        .flex-item {
            flex-basis:100%;
            &.tile {
                border:none !important;
            }
        }
    }
    .freq-wrapper {
        @include media-query($large-up){
            top:5em;
        }
    }
}

#delivery-date {
    max-width:380px;
    margin:0o;
    .selectric-dropdown {
        margin-bottom:1em;
        width:100%;
        @include media-query($small){
            width:100%;
        }
    }
}

.page-subscriptions {
    .shopify-section:last-child {
        margin-bottom:0;
        padding-bottom:0;
    }
    .step.grid__item {
        margin:0;
        padding:0 2% !important;
    }
}