#target {
  #MainContent {
    margin:0;
  }
  #targetHeader {
    text-align:center;
    padding:1.5em 0;
    margin:0;
  }

  #shopify-section-target {
    margin:0 !important;
    .headline {
      margin:0;
    }
  }

  .headline {
    h2 {
      font-size:28px;
    }
    h1 {
      font-size:40px;
    }
    &:first-child {
      margin-bottom:-3em;
    }
  }

  iframe {
    width:100%;
  }

  #letterOutline {
    position:absolute;
    right:0;
    top: 50%;
    text-align: center;
    padding:10px;
    margin-top: -14.95em;
    @include media-query($small){
      display:none !important;
    }
    @include media-query($large-up){
      right:10%;
    }
    p {
      font-family:$base-font !important;
    }
  }

  .input-bg {
    position:absolute;
    z-index:1;
    left:50%;
    margin-left:-150px;
    width:300px;
    top:0;
  }

  form {
    position:relative;
    padding-top:5em;
    margin:2em 0;
    input,
    select {
      margin:0 auto .2em auto;
      display:block;
      text-align:center;
      &:focus {
        outline:none;
      }
    }
    input[type="text"]{
      font-size:100px;
      width:16%;
      padding:0;
      font-weight:100;
      font-family:'Playfair Display';
      transition:all .1s;
      position: relative;
      z-index: 2;
      background: transparent;
      border-bottom:1px solid #D8D8D8;
      margin-bottom: 1.2em;
      @include media-query($small){
        width:54%;
      }
      @include media-query($medium){
        width:22%;
      }
    }
    input[type="submit"]{
      margin:2em auto;
    }
    input[type="text"]::placeholder{
      color:#C8D2D9;
    }
    input:focus::-webkit-input-placeholder {
      color:transparent;
    }
    .btn[disabled]{
      border-color:$grey-medium;
      color:$grey-medium;
      background:white;
    }
  }
}

#target-overlay {
  display:block;
  form {
    padding-top:3em;
  }
  .modal-inner {
    background-position:left;
    padding-left:19em;
    padding-right:9em;
    @include media-query($medium-down){
      padding:2em;
    }
    h1 {
      font-weight:bold;
      line-height: normal;
      @include media-query($small){
        font-size:1.3em;
      }
    }
    .shopify-section {
      @include media-query($small){
        margin:0 auto;
      }
    }
    .newsletter,
    #mc_embed_signup_scroll {
      padding:0;
      width:100%;
      text-align:left !important;
      input[type="email"]{
        text-align:left;
      }
      input[type="submit"]{
        padding: .8em 1.5em;
        @include media-query($medium-up){
          margin:-.8em auto 0 1em;
        }
      }
      h5 {
        display:none;
      }
    }
  }
}