#weddings {
  #featured-callout{
    .flex-item {
      max-width:460px;
      padding:0 0 2em 0;
      width:47% !important;
      margin:3% 0;
      @include media-query($small){
        width:100% !important;
      }
    }
  }
}