@media print {
  body {
    font-size:480px;
    text-align:center;
  }
  .letters{
    display:block;
    text-align:center;
  }
  span {
    margin:10px auto;
  }
  .circle {
    border:2px solid #d6d6d6;
    border-radius:50%;
    width:600px;
    height:600px;
    display: block;
    line-height:550px;
    position:relative;
    text-align:center;
  }
  .montserrat {
    line-height:600px !important;
  }
  .lh-fix {
    line-height:450px !important;
  }
  .circle:after {
    position:absolute;
    content:"";
    z-index:-1;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px dotted #999;
    border-radius:50%;
  }
  .footer {
    font-size:12px;
  }
}

@media screen {
  body {
    font-size:480px;
    text-align:center;
    padding:40px;
  }
  .letters{
    display:block;
    text-align:center;
  }
  span {
    margin:0 auto;
  }
  .circle {
    border:2px solid #d6d6d6;
    border-radius:50%;
    width:600px;
    height:600px;
    line-height: 550px;
    display: block;
    position:relative;
    text-align:center;
  }

  .montserrat {
    line-height:600px !important;
  }
  .letter {
  }
  .lh-fix {
    line-height:450px !important;
  }
  .circle:after {
    position:absolute;
    content:"";
    z-index:-1;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px dotted #999;
    border-radius:50%;
  }
  .footer {
    font-size:12px;
  }
}