/*============================================================================
  Itsbyu | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/


/*================ FontAwesome ================*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*================ VENDOR ================*/

@import url('vendor/slider.scss');
@import url('vendor/selectric.scss');

/*================ UTILS ================*/

@import url('tools/mixins.scss');

/*================ SETTINGS ================*/

@import url('settings/variables.scss.liquid');

/*================ FONTS ================*/

@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('global/typography.scss');

/*================ COMMON ================*/

@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');
@import url('global/nav.scss');
@import url('global/flex.scss');
@import url('global/datepicker.scss');
@import url('global/tables.scss');
@import url('global/modals.scss');

/*================ MODULES ================*/

@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');
@import url('modules/video.scss');
@import url('modules/slider.scss');
@import url('modules/headline.scss');
@import url('modules/feature.scss');
@import url('modules/sequence.scss');
@import url('modules/collections.scss');
@import url('modules/cta-color-block.scss');
@import url('modules/partner-logos.scss');
@import url('modules/footer.scss');
@import url('modules/product-builder.scss');
@import url('modules/hero.scss');
@import url('modules/product.scss');
@import url('modules/related.scss');
@import url('modules/faq.scss');
@import url('modules/account.scss');
@import url('modules/image.scss');
@import url('modules/variants.scss');
@import url('modules/text-block.scss');
@import url('modules/tables.scss');
@import url('modules/tabs.scss');
@import url('modules/photos.scss');
@import url('modules/steps.scss');
@import url('modules/featured-product.scss');
@import url('modules/event.scss');
@import url('modules/product-recharge.scss');
@import url('modules/instagram.scss');
@import url('modules/product-blocks.scss');
@import url('modules/product-single.scss');
@import url('modules/collection-nav.scss');
@import url('modules/partner-logos.scss');
@import url('modules/datepicker.scss');
@import url('modules/three-grid-cta.scss');
@import url('modules/three-grid-mini.scss');
@import url('modules/three-column-alternate.scss');
@import url('modules/testimonials.scss');

/*================ PAGE SPECIFIC ================*/

@import url('pages/homepage.scss');
@import url('pages/subscriptions.scss');
@import url('pages/target.scss');
@import url('pages/cart.scss');
@import url('pages/collections.scss');
@import url('pages/about.scss');
@import url('pages/weddings.scss');
@import url('pages/gift.scss');
@import url('pages/holiday.scss');

//hotfix for loccitane pages
#petite-bottle-flower-arrangements,
#blooms-box {
  .slider-thumbs {
    display:none !important;
  }
}
