<!-- /templates/customers/account.liquid -->
<div class="container">
  {% comment %}

    For all available customer liquid tags:
      - http://docs.shopify.com/themes/liquid-variables/customer

  {% endcomment %}

  <h1>{{ 'customer.account.title' | t }}</h1>

  <hr class="hr--small">

  <div class="grid">

    <div class="grid__item two-thirds medium-down--one-whole">

      {% comment %}
        If we have past orders, loop through each one
      {% endcomment %}
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <div class="table-wrap">
            <table class="full">
              <tr>
                <td style="text-align:center;"><a href="https://youtu.be/Nrb2kkgErB4" class="btn btn-pink" target="_blank">Watch the Flower Conditioning Video</a>
                </td>
              </tr>
            </table>
            <hr />
            <h4>{{ 'customer.orders.title' | t }}</h4>
            {% for order in customer.orders %}
            <hr />
            <table class="full">
                <tr>
                  <td colspan="3">Order {{ order.name | link_to: order.customer_url }}</td>
                  <td>Order created on {{ order.created_at | date: format: 'long' }}</td>
                </tr>
                <tr>
                  <td colspan="3">Product</td>
                  <td>Quantity</td>
                <tr>

                {% for line_item in order.line_items %}
                  <tr>
                    <td colspan="3">{{ line_item.title | link_to: line_item.product.url }}<br />{% include 'video-links' %}</td>
                    <td>{{ line_item.quantity }}</td>
                  </tr>
                {% endfor %}
                {% for discount in order.discounts %}
                  {% if discount.code %}
                    <tr>
                      <td colspan="3"></td>
                      <td><b>Promo code:</b> {{ discount.code }}<br/>{{ discount.savings | money }} off</td>
                    </tr>
                  {% endif %}
                {% endfor %}
                <tr>
                  <td colspan="3"><b>Status</b></td>
                  <td>
                    {% if order.fulfillment_status == 'unfulfilled' %}
                      Not shipped
                    {% else %}
                      Shipped <a href="{{ fulfillment.tracking_url }}" target="_blank">Track shipment</a>
                    {% endif %}
                  </td>
                </tr>
              </table>          
            
          {% endfor %}
            
          </div>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}
      {% endpaginate %}
    </div>

    <div class="grid__item one-third medium-down--one-whole">
      <h4>{{ 'customer.account.details' | t }}</h4>

      <h5>{{ customer.name }}</h5>

      {% if customer.default_address != nil %}
        <div>
        {{ customer.default_address.address1 }}<br>

        {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}

        {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }}<br>
        {% endif %}

        {% if customer.default_address.province_code != "" %}
          {{ customer.default_address.province_code | upcase }}<br>
        {% endif %}

        {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
        {% endif %}

        {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
        {% endif %}

        {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
        {% endif %}
        </div>

      {% endif %}

      <div><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></div>

      {% if customer.metafields.subscriptions.customer_string %}
        <br/>
        <!--BeginRechargeCode-->
        <p><a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/" class="btn btn-pink">Manage Your Subscription</a></p>
        <!--EndRechargeCode-->
        <br/>
      {% endif %}

    </div>

  </div>
</div>
