<div class="container" style="margin-top:30px; margin-bottom:30px;">
  {% paginate customer.addresses by 5 %}

    <header role="banner">
      <h1>{{ 'customer.account.title' | t }}</h1>
      <button type="button" class="btn address-new-toggle btn-pink">{{ 'customer.addresses.add_new' | t }}</button>
    </header>

    <p>
      <a href="/account">{{ 'customer.account.return' | t }}</a>
    </p>

    <div id="AddressNewForm" class="hide float float-half float-sm-full">
      {% form 'customer_address', customer.new_address, class:'form-stacked' %}
      <h2>{{ 'customer.addresses.add_new' | t }}</h2>

      <div>
        <label for="AddressFirstNameNew">
          {{ 'customer.addresses.first_name' | t }}
        </label>
        <input type="text"
              name="address[first_name]"
              id="AddressFirstNameNew"
              autocapitalize="words"
              class="input-full{% if form.errors contains 'email' %} error{% endif %}">
      </div>

      <div>
        <label for="AddressLastNameNew">
          {{ 'customer.addresses.last_name' | t }}
        </label>
        <input type="text"
              name="address[last_name]"
              id="AddressLastNameNew"
              value="{{ form.last_name }}"
              autocapitalize="words">
      </div>

      <div>
        <label for="AddressCompanyNew">
          {{ 'customer.addresses.company' | t }}
        </label>
        <input type="text"
              name="address[company]"
              id="AddressCompanyNew"
              value="{{ form.company }}"
              autocapitalize="words">
      </div>

      <div>
        <label for="AddressAddress1New">
          {{ 'customer.addresses.address1' | t }}
        </label>
        <input type="text"
              name="address[address1]"
              id="AddressAddress1New"
              value="{{ form.address1 }}"
              autocapitalize="words">
      </div>

        <div>
        <label for="AddressAddress2New">
          {{ 'customer.addresses.address2' | t }}
        </label>
        <input type="text"
              name="address[address2]"
              id="AddressAddress2New"
              value="{{ form.address2 }}"
              autocapitalize="words">
      </div>

      <div>
        <label for="AddressCityNew">
          {{ 'customer.addresses.city' | t }}
        </label>
        <input type="text"
              name="address[city]"
              id="AddressCityNew"
              value="{{ form.city }}"
              autocapitalize="words">
      </div>

      <div>
        <label for="AddressCountryNew">
          {{ 'customer.addresses.country' | t }}
        </label>
        <select
          name="address[country]"
          id="AddressCountryNew"
          data-default="{{ form.country }}">
          {{ country_option_tags }}
        </select>
      </div>

      <div>
        <div id="AddressProvinceContainerNew" style="display: none">
          <label for="AddressProvinceNew">
            {{ 'customer.addresses.province' | t }}
          </label>
          <select
            name="address[province]"
            id="AddressProvinceNew"
            data-default="{{ form.province }}">
          </select>
        </div>
      </div>

      <div>
        <label for="AddressZipNew">
          {{ 'customer.addresses.zip' | t }}
        </label>
        <input type="text"
              name="address[zip]"
              id="AddressZipNew"
              value="{{ form.zip }}"
              autocapitalize="characters">
      </div>

      <div>
        <label for="AddressPhoneNew">
          {{ 'customer.addresses.phone' | t }}
        </label>
        <input type="tel"
              name="address[phone]"
              id="AddressPhoneNew"
              value="{{ form.phone }}"
              pattern="[0-9\-]*">
      </div>

      <div>
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new">
          {{ 'customer.addresses.set_default' | t }}
        </label>

        <input type="submit" class="btn btn-pink" style="width:100%; margin-bottom:30px;" value="{{ 'customer.addresses.add' | t }}">
      </div>

      <div>
        <button type="button" class="address-new-toggle btn btn-pink">
          {{ 'customer.addresses.cancel' | t }}
        </button>
      </div>

      {% endform %}

    </div>

    <h2>{{ 'customer.addresses.title' | t }}</h2>

    {% for address in customer.addresses %}
      <div style="margin:30px 30px 30px 0; float:left; position:relative;">

        {% if address == customer.default_address %}
          <div style="position:absolute; top:-30px; color:#e86b7f;">
            <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
          </div>
        {% endif %}

        {{ address | format_address }}

        <button type="button" class="address-edit-toggle" data-form-id="{{ address.id }}">
          {{ 'customer.addresses.edit' | t }}
        </button>
        <button type="button" class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
          {{ 'customer.addresses.delete' | t }}
        </button>

        <div id="EditAddress_{{ address.id }}" class="hide">
          {% form 'customer_address', address, class:'form-stacked' %}

          <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

          <div>
            <label for="AddressFirstName_{{ form.id }}">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text"
                  name="address[first_name]"
                  id="AddressFirstName_{{ form.id }}"
                  value="{{ form.first_name }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressLastName_{{ form.id }}">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text"
                  name="address[last_name]"
                  id="AddressLastName_{{ form.id }}"
                  value="{{ form.last_name }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressCompany_{{ form.id }}">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text"
                  name="address[company]"
                  id="AddressCompany_{{ form.id }}"
                  value="{{ form.company }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressAddress1_{{ form.id }}">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text"
                  name="address[address1]"
                  id="AddressAddress1_{{ form.id }}"
                  value="{{ form.address1 }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressAddress2_{{ form.id }}">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text"
                  name="address[address2]"
                  id="AddressAddress2_{{ form.id }}"
                  value="{{ form.address2 }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressCity_{{ form.id }}">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text"
                  name="address[city]"
                  id="AddressCity_{{ form.id }}"
                  value="{{ form.city }}"
                  autocapitalize="words">
          </div>

          <div>
            <label for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select
              name="address[country]"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>
          </div>

          <div>
            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select
                name="address[province]"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>
          </div>

          <div>
            <label for="AddressZip_{{ form.id }}">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                  name="address[zip]"
                  id="AddressZip_{{ form.id }}"
                  value="{{ form.zip }}"
                  autocapitalize="characters">
          </div>

          <div>
            <label for="AddressPhone_{{ form.id }}">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                  name="address[phone]"
                  id="AddressPhone_{{ form.id }}"
                  value="{{ form.phone }}"
                  pattern="[0-9\-]*">
          </div>

          <div>
            {{ form.set_as_default_checkbox, styl }}
            <label for="address_default_address_{{ form.id }}">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>

          <div>
            <input type="submit" class="btn btn-pink" style="width:100%; margin-bottom:20px;" value="{{ 'customer.addresses.update' | t }}">
            <button type="button" class="address-edit-toggle btn btn-pink" data-form-id="{{ form.id }}">
              {{ 'customer.addresses.cancel' | t }}
            </button>
          </div>

          {% endform %}

        </div>
      </div>
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</div>
