<!-- /templates/customers/login.liquid -->

<div class="container" style="margin-top:30px;">
{% if cart.item_count > 0 %}
  <div class="headline">Please login or create an account to continue checkout.</div>
{% endif %}


  <div class="text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="float float-half float-sm-full">
      <h2>{{ 'customer.login.title' | t }}</h2>
      {% form 'customer_login', class: 'form-stacked' %}


        {{ form.errors | default_errors }}
        
        <div>
          <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
          <label for="CustomerEmail" class="label">{{ 'customer.login.email' | t }}</label>
        </div>

        {% if form.password_needed %}
          <div>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
            <label for="CustomerPassword" class="label">{{ 'customer.login.password' | t }}</label>
          </div>
        {% endif %}

        <p>
          <input type="submit" class="btn btn-pink" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p><a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a></p>
        {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
        {% endif %}

      {% endform %}
    </div>

    <div class="float float-half float-sm-full" id="createAccount">
      {% include 'register' %}
    </div>

    {% comment %}
      JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" class="float-40 float-sm-full margin-auto" style="display:none;">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      <div class="form-vertical form-stacked">
        {% form 'recover_customer_password', class: 'form-stacked' %}

          {{ form.errors | default_errors }}

          {% comment %}
            Assign variable to be used after timber.init() is run in theme.liquid
          {% endcomment %}
          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

          <div>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
            <label for="RecoverEmail" class="label">{{ 'customer.recover_password.email' | t }}</label>

          <p>
            <input type="submit" class="btn btn-pink" value="{{ 'customer.recover_password.submit' | t }}">
          </p>
          <button type="button" id="HideRecoverPasswordLink" class="btn btn-outline text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
      </div>

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>

</div>
