<div class="form-reset-password container">
  {% form 'reset_customer_password' %}

    <h1>{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {{ form.errors | default_errors }}

    <label for="ResetPassword" class="label-hidden">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="{% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">
    <br /><br />
    <label for="PasswordConfirmation" class="label-hidden">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
    <br /><br />
    <input type="submit" class="btn btn-outline" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
</div>
