/*================ Color Variables ================*/
$color-primary: {{ settings.color_primary }};

// Text colors
$color-body-text: {{ settings.color_body_text }};
$black: $color-body-text;
$white: #FFFFFF;
$pink: #E86B7F;
$pink-light: #FAABAB;
$pink-lightest: #FBE9E8;
$light-pastel-pink: #FFF5F6; // new pink shades - sgs
$red: #FF6347;
$grey-dark: #575757;
$grey: #A1A0A0;
$grey-medium: #A1A0A0;
$grey-light: #B2B2B2;
$grey-pale: #F8F8F8;
$grey-border: #C5C5C5;
$grey-border-light: #E2E2E2;
$grey-lightest: #f3f3f3;
$black-border: #4A4A4A;
$seagreen: #B8DED1;
.black {color:black;}
.pink {color:$pink;}
.pink-light {background:$pink-lightest;}

// Backgrounds
$color-body: #fff;

// Border colors
$color-border: #f6f6f6;

// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #000;
$color-error-bg: #000;
$color-success: #000;
$color-success-bg: #000;

/*================ Typography Variables ================*/
$base-font: 'Karla', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-stack-header: $base-font;
$font-weight-header: $font-weight-bold;

$font-stack-body: $base-font;
$font-size-base: {{ settings.type_base_size }};

.bold {
  font-weight:$font-weight-bold;
}

//header images on collection pages
$featuredHeight: 320px;
$featuredHeight-md: $featuredHeight + 200;
$featuredHeight-lg: $featuredHeight + 400;

/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
$grid-medium: 768px;
$grid-large: 990px;
$grid-widescreen: 1200px;
$grid-gutter: 30px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

.hide-md-up {
  @include media-query($medium-up){
    display:none;
  }
}

.hide-sm {
  @include media-query($small){
    display:none;
  }
}

/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
==============================================================================*/
$breakpoint-has-widths: ($small, $medium-up, $large-up, $widescreen);
$breakpoint-has-push: ();

/*================ Sizing Variables ================*/
$width-site: 1180px;
$gutter: 30px;

// LEGACY MEDIA QUERY
/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

/*================ Z-Index ================*/
$z-index-dropdown: 2;
$z-index-skip-to-content: 10000; // really high to be safe of app markup

/*================ SVG ================*/
$svg-select-icon: #{'{{ "ico-select.svg" | asset_url }}'};

.shopify-preview-bar {
  display:none !important;
}

.overlay {
  display:none;
  @include media-query($small){
    &.open {
      display:block;
    }
  }
  &:before {
    content:"";
    background:black;
    opacity:.8;
    position:fixed;
    width:100%;
    height:100vh;
    display:block;
    z-index: 9;
    top:0;
    left:0;
  }
}
