<style>
#shopify-section-{{ section.id }} {
  padding: 2em 0;
  background: {{ section.settings.background_color }};
}
#shopify-section-{{ section.id }} h2 {
  margin-top: 0;
}

.grid__item--{{section.id}}:not(:first-child){
  padding-left: 30px;
}
@media(max-width: 990px){
  .grid__item--{{section.id}}:not(:first-child){
    padding-left: 30px;
  }
}
@media(max-width: 767px){
  #shopify-section-{{ section.id }}{
    padding: 2em 0;
  }
  .grid__item--{{section.id}}:not(:first-child){
    padding: 0;
  }
}
@media(max-width: 320px){
  #shopify-section-{{ section.id }} h2{
    font-size: 1.9em;
  }
}
</style>

<div class="section-wrap">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_height = 800 -%}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign max_height = 533 -%}
        {%- assign grid_item_width = 'medium-up--one-third' -%}
      {% when 4 %}
        {%- assign max_height = 400 -%}
        {%- assign grid_item_width = 'medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign max_height = 320 -%}
        {%- assign grid_item_width = 'medium-up--one-fifth' -%}
    {% endcase %}

    {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

    <div class="grid--uniform grid--view-items">
      {% for product in collection.products limit: product_limit %}
        <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }} hideme">
          {% include 'product-grid-item', max_height: max_height %}
        </div>
      {% else %}

        {% for i in (1..product_limit) %}
          <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% include 'product-price' %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    {% comment %}
    {% if section.settings.show_view_all %}
      <hr class="hr--invisible"></hr>
      <div class="text-center">
        <a href="{{ collection.url }}" class="btn">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}
   {% endcomment %}

  </div>

  {% comment %}
  <div class="vertical-text-right">
   <a href="{{ collection.url }}">{{ 'collections.general.view_all' | t }} &#8594;</a>
  </div>
  {% endcomment %}

</div>

{% schema %}
  {
    "name": "Featured Collection List",
    "class": "hideme",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      },
      {
        "type":"color",
        "id":"background_color",
        "label":"Background Color",
        "default":"#F8F8F8"
        }
    ],
    "presets": [
      {
        "name": "Featured Collection List",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
