<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 16 %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}


  <div>

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}

  {% if collection.image %}

    {% include 'custom-hero', block_settings: section.settings, block_id: section.id %}

    {% comment %}
        <header class="section-header">
          <div class="hero-slider" style="margin: 0 !important;">
          <div class="main-carousel">
            <!-- Slide 1 -->
            <section class="carousel-cell cell-desktop" data-flickity-bg-lazyload="{{collection.image | img_url:"master"}}">
              <div class="slide-inner-wrap">
                <div class="slide-overlay"></div>
                <div class="slide-inner slide-inner-right">
                  <h1 style="color:{{section.settings.text-color}}">{{collection.title}}</h1>
                  {% if collection.description != blank %}
                  <p style="color:{{section.settings.text-color}}">{{collection.description}}</p>
                  {% endif %}
                </div>
              </div>
            </section>
          </div>
          <div class="main-carousel-mobile">
            <!-- Slide 1 -->
            <section class="carousel-cell cell-mobile" data-flickity-bg-lazyload="{{collection.image | img_url:"master"}}">
              <div class="slide-inner-wrap">
                <div class="slide-inner slide-inner-right">
                  <h1 style="color:{{section.settings.text-color}}">{{collection.title}}</h1>
                  {% if collection.description != blank %}
                  <p style="color:{{section.settings.text-color}}">{{collection.description}}</p>
                  {% endif %}
                </div>
              </div>
            </section>
          </div>
          </div>
    </header>
  {% endcomment %}

  {% comment %}
    {% include 'collection-nav' %}
  {% endcomment %}

  {% else %}

  {% comment %}
    {% include 'collection-nav' %}
  {% endcomment %}

  <header class="section-header">
    <div class="container page-width">
     <h1 class="section-header__title section-header__left {% if collection.image %}featured-title{% endif %}">{{ collection.title }}</h1>
    </div>
  </header>
{% endif %}


    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
  <div class="collection-grid">
    <div class="grid-uniform product-grid flex">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}

      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
            <p style="text-align:center;color: #e86b7f;font-size:28px;width:100%;">Coming soon</p>
            <!-- <p>{{ 'collections.general.no_matches' | t }}</p> -->
        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
</div>
</div>
{% endpaginate %}

  {% comment %}
    Removing the tags menu for now
  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
  {% endcomment %}
<script>
$(document).ready(function() {
  //Homepage slides
  var $gallery1 = $('.main-carousel').flickity({
    // options
    cellAlign: 'left',
    wrapAround: true,
    percentPosition: false,
    bgLazyLoad: 1,
    imagesLoaded: true,
    wrapAround: true
  });

  var $gallery2 = $('.main-carousel-mobile').flickity({
    // options
    cellAlign: 'left',
    wrapAround: true,
    percentPosition: false,
    bgLazyLoad: 1,
    imagesLoaded: true,
    wrapAround: true
  });

$gallery1.css({ opacity: 1 });
$gallery2.css({ opacity: 1 });


  if ($('.main-carousel .carousel-cell').length < 2) {
    $gallery1.addClass('is-hiding-nav-ui');
  }

  if ($('.main-carousel-mobile .carousel-cell').length < 2) {
      $gallery2.addClass('is-hiding-nav-ui');
  }
});
</script>




{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
       "type":      "header",
       "content":   "Desktop Background Image",
       "info":      "Set the background image and its options for desktop screen sizes."
      },
      {
        "type": "select",
        "id": "image_horizontal",
        "label": "Desktop Image Horizontal Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical",
        "label": "Desktop Image Vertical Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_horizontal_mobile",
        "label": "Mobile Image Horizontal Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical_mobile",
        "label": "Mobile Image Vertical Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Image Overlay",
       "info":      "The overlay is a semi-transparent window that covers the background image. Set the opacity to 0 to remove the overlay."
      },
      {
        "type": "select",
        "id": "overlay_color",
        "label": "Background Image Overlay Color",
        "default": "#ffffff",
        "options": [
          {
            "value": "#ffffff",
            "label": "White"
          },
          {
            "value": "#ff6969",
            "label": "Dark Pink"
          },
          {
            "value": "#fff3f2",
            "label": "Light Pink"
          },
          {
            "value": "#E8F2F8",
            "label": "Light Blue"
          },
          {
            "value": "#000000",
            "label": "Black"
          }
        ]
      },
      {
        "type":   "range",
        "id":     "overlay_transparency",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "opc",
        "label":     "Background Image Overlay Opacity - Desktop",
        "default":   0.2
      },
      {
        "type":   "range",
        "id":     "overlay_transparency_mobile",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "opc",
        "label":     "Background Image Overlay Opacity - Mobile",
        "default":   0.4
      },
      {
       "type":      "header",
       "content":   "Text Options",
       "info":      "Set font size and margins for the various text areas."
      },
      {
       "type":      "header",
       "content":   "Text Align",
       "info":      "Align the text within the text block."
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Desktop Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Mobile Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Text Block Align",
       "info":      "Align the text block within the page."
      },
      {
        "type": "select",
        "id": "text_block_align",
        "label": "Desktop Text Block Horizontal Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_block_vertical_align",
        "label": "Desktop Text Block Vertical Align",
        "default": "50%",
        "options": [
          {
            "value": "0%",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Middle"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_block_align_mobile",
        "label": "Mobile Text Block Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type":   "range",
        "id":     "text_max_width",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Desktop",
        "default":   70
      },
      {
        "type":   "range",
        "id":     "text_max_width_mobile",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Mobile",
        "default":   90
      },
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title Text",
        "default": "Section Title"
      },
      {
        "type":   "range",
        "id":     "h1_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Desktop",
        "default":   2
      },
      {
        "type":   "range",
        "id":     "h1_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Mobile",
        "default":   1.7
      },
      {
        "type":   "range",
        "id":     "h1_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "h1_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Paragraph 1"
      },
      {
        "type": "text",
        "id": "paragraph_1",
        "label": "Paragraph 1 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      },
      {
        "type":   "range",
        "id":     "p1_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Paragraph 1 Text Size - Desktop",
        "default":   1
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Section Background Color",
        "default": "#ffffff",
        "options": [
          {
            "value": "#ffffff",
            "label": "White"
          },
          {
            "value": "#E8F2F8",
            "label": "Light Blue"
          },
          {
            "value": "#ff6969",
            "label": "Dark Pink"
          },
          {
            "value": "#fff3f2",
            "label": "Light Pink"
          },
          {
            "value": "#000000",
            "label": "Black"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Desktop Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right",
        "default":   20
      },
      {
       "type":      "header",
       "content":   "Mobile Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right - Mobile",
        "default":   20
      }
    ],
    "presets":[
      {
        "category":"Collection",
        "name":"Hero"
      }
    ]
  }
{% endschema %}
