{% comment %}
  Feature blocks with a background color and icon
{% endcomment %}
<style>#shopify-section-{{ section.id }} {margin-bottom:10px}</style>

<div class="cta-color-block">
{% for block in section.blocks %}
  <div class="block block-desktop" style="{% if block.settings.bgimg %}background:url('{{ block.settings.bgimg | img_url: '800x'}}'){{ block.settings.bgimg-position }}{% if block.settings.bgimg-size == false %}/{{ block.settings.bgimg-size-x }}% {{ block.settings.bgimg-size-y }}%{% else %}/cover{% endif %} {{ block.settings.bgimg-repeat }} {{ block.settings.bgcolor }};{% else %}background-color:{{ block.settings.bgcolor }};{% endif %}">
    <div class="block-bg-opacity" style="opacity:{{ block.settings.bg-opacity }}; {% if block.settings.bg-opacity-color %}background-color:{{ block.settings.bg-opacity-color }}{% else if block.settings.bgcolor %}background-color:{{ block.settings.bgcolor }}{% endif %}"></div>
    <div class="block-inner">
      {% include 'icon-display' %}
      <h3 style="color:{{ block.settings.textcolor }};">{{ block.settings.title }}</h3>
      <p style="color:{{ block.settings.textcolor }};"><strong>{{ block.settings.body }}</strong></p>
      {% include 'cta_button--block' %}
    </div>
  </div>

  <div class="block block-mobile" style="{% if block.settings.bgimg-mobile %}background:url('{{ block.settings.bgimg-mobile | img_url: '800x'}}'){{ block.settings.bgimg-position }}{% if block.settings.bgimg-size == false %}/{{ block.settings.bgimg-size-x }}% {{ block.settings.bgimg-size-y }}%{% else %}/cover{% endif %} {{ block.settings.bgimg-repeat }} {{ block.settings.bgcolor }};{% else %}background-color:{{ block.settings.bgcolor }};display:none;{% endif %}">
    <div class="block-bg-opacity" style="opacity:{{ block.settings.bg-opacity }}; {% if block.settings.bg-opacity-color %}background-color:{{ block.settings.bg-opacity-color }}{% else if block.settings.bgcolor %}background-color:{{ block.settings.bgcolor }}{% endif %}"></div>
    <div class="block-inner">
      {% include 'icon-display' %}
      <h3 style="color:{{ block.settings.textcolor }};">{{ block.settings.title }}</h3>
      <p style="color:{{ block.settings.textcolor }};"><strong>{{ block.settings.body }}</strong></p>
      {% include 'cta_button--block' %}
    </div>
  </div>
{% endfor %}
</div>

<style>
.block-mobile {
  display: none;
 }
{% for block in section.blocks %}
  {% if block.settings.bgimg-mobile %}
  @media(max-width: 767px){
  .block-desktop {
    display: none;
  }
  .block-mobile {
    display: block;
   }
  }
  {% endif %}
{% endfor %}
</style>

{% schema %}
  {
    "name": "Featured CTA Block",
    "max_blocks":2,
     "class": "hideme",
    "blocks":[
      {
        "type":"block",
        "name":"Block",
        "settings":[
          {
            "type":"color",
            "id":"bgcolor",
            "label":"Background color (optional)"
          },
          {
            "type":"image_picker",
            "id":"bgimg",
            "label":"Background image: Desktop (optional)"
          },
          {
            "type":"image_picker",
            "id":"bgimg-mobile",
            "label":"Background image: Mobile (optional)"
          },
          {
            "type":"select",
            "id":"bgimg-repeat",
            "label":"Choose how the background tiles",
            "options":[
              {"value":"no-repeat","label":"No tiling"},
              {"value":"repeat","label":"Tile"},
              {"value":"repeat-x","label":"Tile horizontally"},
              {"value":"repeat-y","label":"Tile vertically"}
            ],
            "default":"no-repeat"
          },
          {
            "type":"select",
            "id":"bgimg-position",
            "label":"Background position",
            "options":[
              {"value":"center","label":"center"},
              {"value":"top","label":"top"},
              {"value":"left","label":"left"},
              {"value":"right","label":"right"}
            ],
            "default":"center"
          },
          {
            "type":"checkbox",
            "id":"bgimg-size",
            "label":"Fill background",
            "default":true,
            "info":"Fill the background or optionally set a specific size below"
          },
          {
              "type":   "range",
              "id":     "bgimg-size-x",
              "min":       10,
              "max":       200,
              "step":      10,
              "unit":      "%",
              "label":     "Horizontal size",
              "default":   100
          },
          {
              "type":   "range",
              "id":     "bgimg-size-y",
              "min":       10,
              "max":       200,
              "step":      10,
              "unit":      "%",
              "label":     "Vertical size",
              "default":   100
          },
          {
              "type":   "range",
              "id":     "bg-opacity",
              "min":       0,
              "max":       1,
              "step":      0.1,
              "unit":      "°",
              "label":     "Background opacity",
              "default":   0
          },
          {
            "type":"color",
            "id":"bg-opacity-color",
            "label":"Optional background overlay color"
          },
          {
            "type":"color",
            "id":"textcolor",
            "label":"Text color"
          },
          {
            "type":"select",
            "id":"icon_select",
            "label":"Choose a premade icon",
            "options":[
              {"value":"none","label":"none"},
              {"value":"icon-gift","label":"Gift box"},
              {"value":"icon-basket","label":"Basket"},
              {"value":"icon-rings","label":"Rings"},
              {"value":"icon-search","label":"Search"},
              {"value":"icon-snapchat","label":"Snapchat"}
            ],
            "default":"icon-gift"
          },
          {
            "type":"image_picker",
            "id":"img",
            "label":"or upload a custom icon (use transparent png)"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"textarea",
            "id":"body",
            "label":"Body"
          },
          {
            "type":"url",
            "id":"button_url",
            "label":"Add a CTA button"
          },
          {
            "type":"text",
            "id":"button_text",
            "label":"Button text",
            "default":"Get started"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Features",
        "name":"Color CTA block"
      }
    ]
  }
{% endschema %}
