<div>
  {% for block in section.blocks %}
  <div class="grid-item" {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'hero' %}
      {% include 'hero' %}

      {% when 'featured-product' %}
      {% include 'featured-product' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Banner",
        "settings": [
          {
            "id": "img",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "id":"color",
            "type":"color",
            "label":"Caption background"
          },
          {
              "id":"opacity",
              "type":"range",
              "step":10,
              "min":0,
              "max":100,
              "unit":"%",
              "default":100,
              "label":"Caption background opacity"
          },
          {
              "id":"ft_img",
              "type":"image_picker",
              "label":"Image to display above title"
          },
          {
            "id":"title",
            "type":"text",
            "label":"Title"
          },
          {
            "id":"caption",
            "type":"text",
            "label":"Caption"
          },
          {
            "id":"caption_color",
            "type":"color",
            "default":"#000000",
            "label":"Caption color"
          },
          {
              "id":"caption_top",
              "type":"range",
              "step":5,
              "min":0,
              "max":50,
              "unit":"%",
              "default":0,
              "label":"Caption placement"
          }
        ]
      },
      {
        "type": "featured-product",
        "name": "Featured Product",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          },
          {
            "id":"color",
            "type":"color",
            "label":"Description background color",
            "default":"#FAABAB"
          },
          {
            "id":"caption",
            "type":"textarea",
            "label":"Product description"
          }
        ]
      }
    ]
  }
{% endschema %}