<style>
.divider {
  margin: 2em auto;
  height: 1.5px;
  background-color: {{section.settings.color}};
}

@media (max-width: 767px){
  .divider {
    height: 1px;
 }
 #shopify-section-{{ section.id }} {
   padding: 0 2em;
 }
}
</style>
<div class="divider container"></div>

{% schema %}
  {
    "name": "divider",
    "class": "hideme",
    "settings":[
      {
        "type":"color",
        "id":"color",
        "label":"color",
        "default":"#979797"
      }
    ],
    "presets":[
      {
        "category":"Divider",
        "name":"Divider"
      }
    ]
  }
{% endschema %}
