<div id="questions" class="flex flex-half shopify-section">
  {% for block in section.blocks %}
    <div class="flex-item flex-full faq-item">
      <span class="question" tabindex="1"><p>{{ block.settings.question }}</span>
      <span class="answer"><p>{{ block.settings.answer }}</p></span>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "FAQ",
    "blocks":[
      {
        "type":"block",
        "name":"FAQ",
        "settings":[
          {
            "type":"richtext",
            "id":"question",
            "label":"Question"
          },
          {
            "type":"richtext",
            "id":"answer",
            "label":"Answer"
          }
        ]
      }
    ]
  }
{% endschema %}