<div class="featured-collection container">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}

  <div class="flex">

    {% assign collection = collections[section.settings.collection].id %}
    {{ collection }}

    {% if collection.handle contains 'subscriptions' %}

      {% for product in collection.products limit: 1 %}
        {% for variant in product.variants limit: 3 %}
          <div class="flex-item">
            <a href="/collections/{{variant.title | handleize}}" alt="It's By U Subscriptions {{ variant.title }}" style="background-image:url('{{ variant.image | img_url: '460x460' }}');">
            </a>
          </div>
        {% endfor %}
      {% endfor %}

    {% else %}

      {% for product in collection.products limit:4 %}
        {% for image in product.images limit: 1 %}
          <div class="flex-item">
            <a href="{{product.url}}" alt="{{ product.title }}">
              {{ image | img_url: '230x230' | img_tag }}
            </a>
          </div>
        {% endfor %}
      {% endfor %}

    {% endif %}

  </div>
  {% include 'cta_button' %}
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id":"button_url",
        "type":"url",
        "label":"Add a CTA button"
      },
      {
        "id":"button_text",
        "type":"text",
        "label":"Button text",
        "default":"Get started"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
