<div class="feature" style="background-image:url({{ section.settings.img | img_url: '1920x'}});{% if section.settings.height %} height:{{ section.settings.height }}px;{% endif %}{% if section.settings.bgcolor %} background-color:{{ section.settings.bgcolor }};{% endif %}">
  <div class="inner{% if section.settings.position == 'right' %} float-right {% endif %}">
    <h3>{{ section.settings.title }}</h3>
    <p>{{ section.settings.body }}</p>
    {% include 'cta_button' %}
    <img src="{{ section.settings.img | img_url:'1200x'}}" alt="{{ section.settings.title }}"/>
  </div>
</div>

{% schema %}
  {
    "name": "Feature",
    "settings":[
      {
        "id":"img",
        "type":"image_picker",
        "label":"Choose a large background image (min 1280x600px)"
      },
      {
        "id":"bgcolor",
        "type":"color",
        "label":"Background color"
      },
      {
        "id":"title",
        "type":"text",
        "label":"Headline"
      },
      {
        "id":"body",
        "type":"richtext",
        "label":"Body"
      },
      {
        "type":   "range",
        "id":     "height",
        "min":       300,
        "max":       900,
        "step":      10,
        "unit":      "px",
        "label":     "Adjust height",
        "default":   500
      },
      {
        "id":"position",
        "type":"radio",
        "options":[
          {"value":"left","label":"Left"},
          {"value":"right","label":"Right"}
        ],
        "label":"Choose which side the text should appear",
        "default":"left"
      },
      {
        "id":"button_url",
        "type":"url",
        "label":"Add a CTA button"
      },
      {
        "id":"button_text",
        "type":"text",
        "label":"Button text",
        "default":"Get started"
      }
    ],
    "presets":[
      {
        "category":"Feature",
        "name":"Featured section (large bg with text)"
      }
    ]
  }
{% endschema %}