<style>
#shopify-section-{{section.id}} {padding: 2em 0;}
@media(max-width: 320px){
  #partnerLogos h2 {
    font-size: 1.9em;
  }
}
</style>
<div class="container" id="partnerLogos">
  {% if section.settings.title != blank %}
	<h2 class="text-center">{{ section.settings.title | escape }}</h2>
  {% endif %}
  <div class="flex flex-small">
    {% for block in section.blocks %}
      <div class="flex-item">
        {% include 'icon-display' %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Footer Logos",
    "class": "hideme",
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"As seen on:"
      }
    ],
    "blocks":[
      {
        "type":"block",
        "name":"Block",
        "settings":[
          {
            "type":"select",
            "id":"icon_select",
            "label":"Choose an existing logo (recommended)",
            "options":[
              {"value":"none","label":"none"},
              {"value":"logo-davidsbridal","label":"David's Bridal"},
              {"value":"logo-target","label":"Target"},
              {"value":"logo-qvc","label":"QVC"},
              {"value":"logo-theknot","label":"The Knot"}
            ],
            "default":"none"
          },
          {
            "type":"image_picker",
            "id":"img",
            "label":"or upload your own"
          },
          {
            "type":"url",
            "id":"url",
            "label":"Logo url"
          },
          {
            "type":"text",
            "id":"alt_tag",
            "label":"Alt tag",
            "default":"Brand name"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Footer",
        "name":"Footer Logos"
      }
    ]
  }
{% endschema %}
