<div data-section-id="{{ section.id }}" data-section-type="header-section" class="header-section">
  {% include 'banner' %}
  <header role="banner" class="navbar navbar-default navbar-fixed-top container">
    {% include 'nav' %}
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#mainMenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% include 'logo' %}
    <a class="button-cart" href="/cart" {%comment%}aria-controls="CartDrawer" aria-expanded="false"{% endcomment %}>
      <div class="cart-quantity__wrapper">
        <div class="cart-basket-quantity">{{cart.item_count}}</div>
      </div>
      {{ 'icon-cart.svg' | asset_url | img_tag }}
      <!--{% if cart.item_count > 0 %}
        ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
      {% endif %} -->
    </a>

  </header>
  {% for link in linklists[section.settings.main_linklist].links %}
  {% if link.title == 'Shop' %}
  <!-- Include large dropdown on hover  -->
  <div class="nav-dropdown-desktop">
      <div class="nav-dropdown-wrap">
        {% for block in section.blocks %}
        <div class="nav-dropdown-block">
          <div class="nav-dropdown-item">
          <a href="{{block.settings.category}}">
            <div class="nav-dropdown-image" style="background-image:url({{block.settings.image | img_url:'original', crop:'center'}})"></div>
          </a>
         </div>
          <div class="nav-dropdown-item">
            <a href="{{block.settings.category}}" class="nav-dropdown-title">
              {{block.settings.title}}
            </a>
          </div>
          <div class="nav-dropdown-item">
            <a href="{{block.settings.category}}" class="nav-dropdown-description">
              {{block.settings.description}}
            </a>
          </div>
          <div class="nav-dropdown-item">
            <a href="{{block.settings.category}}" class="nav-dropdown-cta">
              {{block.settings.cta}}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Header",
    "max_blocks": 3,
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
        {
          "type": "header",
          "content": "Navigation Sub Categories"
          },
          {
            "type":"url",
            "id":"category",
            "label":"Category"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"text",
            "id":"description",
            "label":"Description"
          },
          {
            "type":"text",
            "id":"cta",
            "label":"CTA label"
          }
        ]
      }
    ]
  }
{% endschema %}
