{% include 'headline' %}

{% schema %}
  {
    "name": "Headline",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "richtext",
        "id": "headline_body",
        "label": "Body text"
      }
    ],
    "presets": [
      {
        "category": "Features",
        "name": "Headline"
      }
    ]
  }
{% endschema %}