{% if section.settings.video_url contains 'http' %}
  <!-- Start video hero -->
  <div class="video-hero" id="home">
    <div class="video-bg demo-video">
      <div class="video-placeholder" style="background-image:url('{{ section.settings.video_image | img_url: '640x570' }}')"></div>
      <video autoplay muted loop poster="{{ section.settings.video_image | img_url }}">
        <source src="{{ 'itsbyu.mp4' | asset_url }}" type="video/mp4">
      </video>   
    </div>
    <div class="video-overlay">
      <div class="page-width">
        <div class="video-hero--content">
          <h2>{{ section.settings.video_overlay_text }}</h2>
          <p>{{ section.settings.subheader }}</p>
        </div>
        {% if section.settings.video_buttons %}
          <div class="action-buttons">{{ section.settings.video_buttons }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End video hero -->
{% endif %}


{% schema %}
  {
    "name": "Header Video",
    "settings": [
      {
        "type": "textarea",
        "id": "video_overlay_text",
        "label": "Overlay text",
        "default": "Welcome to It'sByU!"
      },
      {
        "type":"textarea",
        "id":"subheader",
        "label":"Optional subheading",
        "default":"It'sbyu is the best!"
      },
      {
        "type": "image_picker",
        "id": "video_image",
        "label": "Video placeholder"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL",
        "default": "Video file URL (must be .mp4)"
      },
      {
        "type": "richtext",
        "id": "video_buttons",
        "label": "Action Buttons (one per line)",
        "default": "<p><a href='/'>Button text</a></p>"
      }
    ],
    "presets": [
      {
        "category": "Media",
        "name": "Header Video"
      }
    ]
  }
{% endschema %}