<div class="home-faq-wrap">
  <div class="home-faq container">
      <h2>{{ section.settings.title }}</h2>
    <div class="home-faq-list">
      {% for block in section.blocks %}
        <div class="home-faq-q js-faq-q">
          <p>{{ block.settings.question }}</p>
        </div>
        <div class="home-faq-a js-faq-a" style="display: none;">
          <p>{{ block.settings.answer }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="home-faq-cta">
      {% include 'cta_button' %}
    </div>
    <div class="home-faq-terms">
      <p>{{ section.settings.terms }}</p>
    </div>
  </div>
</div>

<script>
$(function(){
  // toggle homepage faq
  var $homeFaqQ = $('.js-faq-q');
  var $homeFaqA = $('.js-faq-a');

  $($homeFaqQ).on('click', function(){
    if ($(this).hasClass('active')){
        $(this).next($homeFaqA).slideUp();
        $(this).removeClass('active');
     } else {
       $($homeFaqQ).removeClass('active');
       $($homeFaqQ).next($homeFaqA).slideUp();
       $(this).addClass('active');
       $(this).next($homeFaqA).slideDown();
     }
  });
});
</script>

{% schema %}
  {
    "name": "Homepage FAQ",
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Section title",
        "default":"FAQ's"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Add a CTA button at the end of the section"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text",
        "default":"Get started"
      },
      {
        "type":"richtext",
        "id":"terms",
        "label":"Further reading blurb"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "type":"text",
            "id":"question",
            "label":"Question"
          },
          {
            "type":"richtext",
            "id":"answer",
            "label":"Answer"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"Homepage FAQ"
      }
    ]
  }
{% endschema %}
