<style>
#shopify-section-{{ section.id }} {
  background: {{ section.settings.background_color }};
  padding: 3em 0;
}
.image-textlist {
  display: flex;
  align-items: center;
  margin: 3em auto;
}
.image-textlist-half {
  width: 50%;
}
.image-textlist-half h3 {
  margin: 0 0 25px;
  font-size: 34px;
}
.image-textlist-half img {
  max-width: 480px;
  width: 100%;
  float: right;
}
.image-textlist-half:nth-of-type(1) {
  margin-right: 60px;
}
.image-textlist-list {
  display: flex;
  align-items: center;
}
.image-textlist-list span:first-child {
  margin-right: 0.5em;
  font-size: 2.5em;
  line-height: 1.3em;
  color: #e86b7f;
}
.image-textlist-list span:nth-child(2) {
  font-size: 1.3em;
}

@media (max-width: 767px){
  .image-textlist {
    flex-direction: column;
    margin: 0;
  }
  .image-textlist-half {
    width: 100%;
  }
  .image-textlist-half h3 {
    text-align: center;
  }
  .image-textlist-half img {
    float: none;
  }
  .image-textlist-list {
    padding: 0 1em;
  }
  .image-textlist-list span:nth-child(2) {
    font-size: 1.2em;
  }
  .image-textlist-half:nth-of-type(1) {
    margin-right: 0;
    text-align: center;
  }
  .image-textlist-half:nth-of-type(2) {
    max-width: 480px;
    width: 100%;
    margin: 2.4em 0 auto;
  }
}

@media (max-width: 320px){
  .image-textlist-half h3 {
    font-size: 1.9em;
  }
}

</style>

<div class="image-textlist page-width">
  <div class="image-textlist-half">
    <img src="{{ section.settings.image |img_url: 'large' }}" alt="{{ section.settings.alt }}">
  </div>
  <div class="image-textlist-half">
    <h3>{{ section.settings.title }}</h3>
    <div>
        {% for block in section.blocks %}
        <div class="image-textlist-list">
          <span>&bull;</span><span>{{ block.settings.description }}</span>
        </div>
        {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Image with Text list",
    "max_blocks": 4,
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Section title",
        "default":"How it works"
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type":"text",
        "id":"alt",
        "label":"Alt text"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Block",
        "settings": [
          {
            "type":"text",
            "id":"description",
            "label":"Description",
            "default":"Pick your favorite flower style"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Image",
        "name":"Image with Text list"
      }
    ]
  }
{% endschema %}
