{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-single-column-{{ section.id }} {
    position: relative;
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    padding-left: {{ section.settings.section_padding_left }}px;
    padding-right: {{ section.settings.section_padding_right }}px;
  }

  .s-single-column-{{ section.id }} .s-single-column--mobile-image-block {
    display: none;
  }

  .s-single-column-{{ section.id }} .s-single-column--background-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .s-single-column-{{ section.id }} .s-single-column--background-image-wrapper-inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-single-column-{{ section.id }} .s-single-column--background-image-wrapper-inner img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-position: {{ section.settings.image_horizontal }} {{ section.settings.image_vertical }};
  }

  .s-single-column-{{ section.id }} .s-single-column--foreground-image-div {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    height: {{ section.settings.image_height }}%;

    {% assign percentage = 100 | minus: section.settings.image_height %}
    top: {{ percentage | divided_by: 2 }}%;

    {% if section.settings.image_side == 'left' %}
      left:  {{ section.settings.image_side_padding }}px;
    {% else %}
      right: {{ section.settings.image_side_padding }}px;
    {% endif %}
  }

  .s-single-column-{{ section.id }} .s-single-column--foreground-image-div img {
    height: 100% !important;
    width: auto;
    display: block;
  }

  .s-single-column-{{ section.id }} .s-single-column--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: {{ section.settings.overlay_transparency }};
    background-color: {{ section.settings.overlay_color }};
  }

  {% if section.settings.image_style == 'style_3' and section.settings.background_image != blank %}
    .s-single-column-{{ section.id }} .s-single-column--desktop-foreground-image-div {
      display: inline-block;
      width: {{ section.settings.image_width }}%;
      position: relative;
      vertical-align: middle;
    }

    .s-single-column-{{ section.id }} .s-single-column--desktop-foreground-image-div img {
      width: 100%;
      display: block;
    }

    .s-single-column-{{ section.id }} .s-single-column--text-block-wrapper {
      display: inline-block;
      width: {{ 100 | minus: section.settings.image_width }}%;
      position: relative;
      vertical-align: middle;

      {% if section.settings.image_side == 'left' %}
        padding-left: {{ section.settings.image_side_padding }}px;
      {% else %}
        padding-right: {{ section.settings.image_side_padding }}px;
      {% endif %}
    }
  {% endif %}

  .s-single-column-{{ section.id }} .s-single-column--text-block {
    width: {{ section.settings.text_max_width }}%;
    display: inline-block;
    text-align: {{ section.settings.text_align }} !important;
  }

  .s-single-column-{{ section.id }} .s-single-column--text-block-inner {
    width: 100%;
    padding-left: {{ section.settings.text_block_padding_left }}% !important;
    padding-right: {{ section.settings.text_block_padding_right }}% !important;
  }

  .s-single-column-{{ section.id }} .s-single-column--content {
    position: relative;
    z-index: 10;
    {% if section.settings.text_block_align == 'left' %}
      text-align: left;
    {% elsif section.settings.text_block_align == 'right' %}
      text-align: right;
    {% else %}
      text-align: center;
    {% endif %}
  }

  .s-single-column-{{ section.id }} .s-single-column--title {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 {{ section.settings.h1_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.h1_font_color }} !important;
  }

  .s-single-column-{{ section.id }} .s-single-column--subtitle {
    font-size: 18px;
    margin: 0 0 {{ section.settings.h2_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.h2_font_color }} !important;
  }

  .s-single-column-{{ section.id }} .s-single-column--paragraph-1 {
    font-size: 18px;
    margin: 0 0 {{ section.settings.p1_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.p1_font_color }} !important;
  }

  .s-single-column-{{ section.id }} .s-single-column--paragraph-2 {
    font-size: 18px;
    margin: 0 0 {{ section.settings.p2_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.p2_font_color }} !important;
  }


  {% if section.settings.button_on %}
    .s-single-column-{{ section.id }} .btn.s-single-column--btn {
      background-color: {{ section.settings.btn_background_color }} !important;
      color: {{ section.settings.btn_text_color }} !important;
      margin: 0 !important;
    }
  {% endif %}
 @media screen and (max-width: 1159px){
   .s-single-column-{{ section.id }} .s-single-column--title {
     font-size: 24px;
   }

   .s-single-column-{{ section.id }} .s-single-column--subtitle {
     font-size: 14px;
   }

   .s-single-column-{{ section.id }} .s-single-column--paragraph-1 {
     font-size: 14px;
   }

   .s-single-column-{{ section.id }} .s-single-column--paragraph-2 {
     font-size: 14px;
   }
 }

  @media screen and (max-width: 768px) {
    .s-single-column-{{ section.id }} {
      padding: 0 !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--content {
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
      padding-left: {{ section.settings.section_padding_left_mobile }}px;
      padding-right: {{ section.settings.section_padding_right_mobile }}px;
      width: 100%;
      max-width: 100%;

      {% if section.settings.text_block_align == 'left' %}
        text-align: left;
      {% elsif section.settings.text_block_align == 'right' %}
        text-align: right;
      {% else %}
        text-align: center;
      {% endif %}
    }

    .s-single-column-{{ section.id }} .s-single-column--mobile-image-block {
      display: block;
    }

    .s-single-column-{{ section.id }} .s-single-column--mobile-foreground-image-div {
      position: relative;
      overflow: hidden;
    }

    .s-single-column-{{ section.id }} .s-single-column--mobile-foreground-image-div-inner img {
      display: block;
      width: 100%;
    }

    .s-single-column-{{ section.id }} .s-single-column--background-image-wrapper-inner img {
      object-position: {{ section.settings.image_horizontal_mobile }} {{ section.settings.image_vertical_mobile }};
    }

    .s-single-column-{{ section.id }} .s-single-column--desktop-image-block {
      display: none;
    }

    .s-single-column-{{ section.id }} .s-single-column--text-block-wrapper {
      display: block;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--desktop-foreground-image-div {
      display: none;
    }

    .s-single-column-{{ section.id }} .s-single-column--text-block {
      width: {{ section.settings.text_max_width_mobile }}%;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--text-block-inner {
      width: 100%;
      padding-left: {{ section.settings.text_block_padding_left_mobile }}% !important;
      padding-right: {{ section.settings.text_block_padding_right_mobile }}% !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--title {
      margin: 0 0 {{ section.settings.h1_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--subtitle {
      margin: 0 0 {{ section.settings.h2_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--paragraph-1 {
      margin: 0 0 {{ section.settings.p1_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-single-column-{{ section.id }} .s-single-column--paragraph-2 {
      margin: 0 0 {{ section.settings.p2_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }
  }
</style>



{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-single-column-{{ section.id }}">

  <div class="s-single-column--desktop-image-block">

    {% if section.settings.image_style == 'style_1' and section.settings.background_image != blank %}
      <div class="s-single-column--background-image-wrapper">
        <div class="s-single-column--background-image-wrapper-inner">
          <img src="{{ section.settings.background_image | img_url: '1000x' }}" />
          <div class="s-single-column--overlay"></div>
        </div>
      </div>
    {% endif %}

    {% if section.settings.image_style == 'style_2' and section.settings.background_image != blank %}
      <div class="s-single-column--foreground-image-div">
        <img src="{{ section.settings.background_image | img_url: '1000x' }}" />
        <div class="s-single-column--overlay"></div>
      </div>
    {% endif %}
  </div>


  <div class="s-single-column--mobile-image-block">

    {% if section.settings.image_style_mobile == 'style_1' and section.settings.image_mobile != blank %}
      <div class="s-single-column--background-image-wrapper">
        <div class="s-single-column--background-image-wrapper-inner">
          <img src="{{ section.settings.image_mobile | img_url: '1000x' }}" />
          <div class="s-single-column--overlay"></div>
        </div>
      </div>
    {% endif %}

    {% if section.settings.image_style_mobile == 'style_2' and section.settings.image_mobile != blank %}
      <div class="s-single-column--mobile-foreground-image-div">
        <div class="s-single-column--mobile-foreground-image-div-inner">
          <img src="{{ section.settings.image_mobile | img_url: '1000x' }}" />
        </div>
      </div>
    {% endif %}
  </div>


  <div class="s-single-column--content">

    {% if section.settings.image_style == 'style_3' and section.settings.background_image != blank and section.settings.image_side == 'left' %}
      <div class="s-single-column--desktop-foreground-image-div">
        <img src="{{ section.settings.background_image | img_url: '1000x' }}" />
      </div><!--

    -->{% endif %}<div class="s-single-column--text-block-wrapper">
      <div class="s-single-column--text-block">
        <div class="s-single-column--text-block-inner">
          {% if section.settings.main_title != blank %}
            <h1 class="s-single-column--title">{{ section.settings.main_title }}</h1>
          {% endif %}

          {% if section.settings.subtitle != blank %}
            <h2 class="s-single-column--subtitle">{{ section.settings.subtitle }}</h2>
          {% endif %}

          {% if section.settings.paragraph_1 != blank %}
            <p class="s-single-column--paragraph-1">{{ section.settings.paragraph_1 }}</p>
          {% endif %}

          {% if section.settings.paragraph_2 != blank %}
            <p class="s-single-column--paragraph-2">{{ section.settings.paragraph_2 }}</p>
          {% endif %}

          {% if section.settings.button_on %}
            <a href="{{ section.settings.button_link }}" class="btn s-single-column--btn">
              {{ section.settings.button_label }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>{% if section.settings.image_style == 'style_3' and section.settings.background_image != blank and section.settings.image_side == 'right' %}<!--

      --><div class="s-single-column--desktop-foreground-image-div">
        <img src="{{ section.settings.background_image | img_url: '1000x' }}" />
      </div>
    {% endif %}
  </div>
</div>


{% comment %}===================================================================
================================================================================
                                  SCHEMA
================================================================================
================================================================{% endcomment %}

{% schema %}
  {
    "name": "Image / Text Section",
    "settings": [
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Image / Text Section",
        "default": "Image / Text Section"
      },
      {
       "type":      "header",
       "content":   "Desktop Background Image",
       "info":      "Set the background image and its options for desktop screen sizes."
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Desktop Background Image"
      },
      {
        "type": "select",
        "id": "image_horizontal",
        "label": "Desktop Image Horizontal Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical",
        "label": "Desktop Image Vertical Alignment",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_style",
        "label": "Desktop Image Style",
        "default": "style_1",
        "options": [
          {
            "value": "style_1",
            "label": "Style 1"
          },
          {
            "value": "style_2",
            "label": "Style 2"
          },
          {
            "value": "style_3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_side",
        "label": "Image Side (for Style 2 or Style 3)",
        "default": "right",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type":   "range",
        "id":     "image_height",
        "min":       10,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Image Height (for Desktop Image Style 2)",
        "default":   90
      },
      {
        "type":   "range",
        "id":     "image_width",
        "min":       10,
        "max":       90,
        "step":      1,
        "unit":      "%",
        "label":     "Image Width (for Desktop Image Style 3)",
        "default":   50
      },
      {
        "type":   "range",
        "id":     "image_side_padding",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Image Side Padding (for Desktop Image Style 2 & 3)",
        "default":   30
      },
      {
       "type":      "header",
       "content":   "Image Overlay",
       "info":      "The overlay is a semi-transparent window that covers the background image. Set the opacity to 0 to remove the overlay."
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Background Image Overlay Color",
        "default": "#ffffff"
      },
      {
        "type":   "range",
        "id":     "overlay_transparency",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "opc",
        "label":     "Background Image Overlay Opacity",
        "default":   0.6
      },
      {
       "type":      "header",
       "content":   "Mobile Image",
       "info":      "Set the image for mobile screen sizes."
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "select",
        "id": "image_style_mobile",
        "label": "Mobile Image Style",
        "default": "style_1",
        "options": [
          {
            "value": "style_1",
            "label": "Style 1"
          },
          {
            "value": "style_2",
            "label": "Style 2"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_horizontal_mobile",
        "label": "Mobile Image Horizontal Alignment (for Style 1)",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical_mobile",
        "label": "Mobile Image Vertical Alignment (for Style 1)",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Text Options",
       "info":      "Set text size, text color, and margins for the various text areas."
      },
      {
       "type":      "header",
       "content":   "Text Align",
       "info":      "Align the text within the text block."
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Desktop Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Mobile Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Text Block Align",
       "info":      "Align the text block within the page."
      },
      {
        "type": "select",
        "id": "text_block_align",
        "label": "Desktop Text Block Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_block_align_mobile",
        "label": "Mobile Text Block Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type":   "range",
        "id":     "text_max_width",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Desktop",
        "default":   70
      },
      {
        "type":   "range",
        "id":     "text_max_width_mobile",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Mobile",
        "default":   90
      },
      {
        "type":   "range",
        "id":     "text_block_padding_left",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Text Block Padding Left - Desktop",
        "default":   0
      },
      {
        "type":   "range",
        "id":     "text_block_padding_right",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Text Block Padding Right - Desktop",
        "default":   0
      },
      {
        "type":   "range",
        "id":     "text_block_padding_left_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Text Block Padding Left - Mobile",
        "default":   0
      },
      {
        "type":   "range",
        "id":     "text_block_padding_right_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "label":     "Text Block Padding Right - Mobile",
        "default":   0
      },
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Title Text",
        "default": "Section Title"
      },
      {
        "type": "color",
        "id": "h1_font_color",
        "label": "Title Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "h1_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "h1_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Subtitle"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle Text",
        "default": "Section Subtitle"
      },
      {
        "type": "color",
        "id": "h2_font_color",
        "label": "Subtitle Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "h2_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Subtitle Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "h2_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Subtitle Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Paragraph 1"
      },
      {
        "type": "text",
        "id": "paragraph_1",
        "label": "Paragraph 1 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      },
      {
        "type": "color",
        "id": "p1_font_color",
        "label": "Paragraph 1 Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "p1_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 1 Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "p1_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 1 Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Paragraph 2"
      },
      {
        "type": "text",
        "id": "paragraph_2",
        "label": "Paragraph 2 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      },
      {
        "type": "color",
        "id": "p2_font_color",
        "label": "paragraph 2 Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "p2_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 2 Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "p2_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 2 Bottom Margin - Desktop",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Button Options",
       "info":      "Style and set the link URL for the button."
      },
      {
         "type":      "checkbox",
         "id":        "button_on",
         "label":     "Button Add/Remove Switch",
         "default":   true,
         "info":      "Check to include a button."
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Text",
        "default": "Button Text"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button Link",
        "default": "https://itsbyu.com/"
      },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn_background_color",
        "label": "Button Background Color",
        "default": "#e86b7f",
        "info":      "Select the button's color."
      },
      {
       "type":      "header",
       "content":   "Content Block Options",
       "info":      "Set the background color and padding for the main content block."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Section Background Color",
        "default": "#ffffff"
      },
      {
       "type":      "header",
       "content":   "Desktop Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right",
        "default":   20
      },
      {
       "type":      "header",
       "content":   "Mobile Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right - Mobile",
        "default":   20
      }
    ],
    "presets": [
      {
        "name": "Image / Text Section",
        "category": "Columns"
      }
    ]
  }
{% endschema %}
