{% if section.settings.img %}
  <div style="position:relative;">
    <div class="img-header" style="background-image:url('{{ section.settings.img | img_url: '1400x' }}');">
    </div>
    <div class="push-right">
      <h1>{{ section.settings.header }}</h1>
      <h3 class="sans-serif font--light">{{ section.settings.subheader }}</h3>
      <p>{{ section.settings.desc }}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Image Header",
    "settings":[
      {
        "type":"image_picker",
        "id":"img",
        "label":"Header image"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Header"
      },
      {
        "type":"text",
        "id":"subheader",
        "label":"Sub header"
      },
      {
        "type":"textarea",
        "id":"desc",
        "label":"Heading text"
      }
    ]
  }
{% endschema %}