<style>
@media(max-width: 320px){
  .shop-instagram h2 {
    font-size: 1.9em;
  }
}
</style>

<div class="shop-instagram">
<h2>{{ section.settings.title }}</h2>
<div class="instashop-gallery" data-gallery="default"></div>
</div>


{% schema %}
  {
    "name":"Shoppable Instagram",
    "class": "shop-instagram-section hideme",
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default": "Shop Instagram"
      }
    ],
    "presets": [
      {
        "name": "Shoppable Instagram",
        "category": "Features"
      }
    ]
  }
{% endschema %}
