{% comment %}===================================================================
================================================================================
                                  TEMPLATE
================================================================================
================================================================{% endcomment %}

<div>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image_text' %}
        {% include 'image-text',              block: block, block_id: forloop.index %}
      {% when 'two_column_three_image' %}
        {% include 'two-column-three-image',  block: block, block_id: forloop.index %}
    {% endcase %}
  {% endfor %}
</div>



{% comment %}===================================================================
================================================================================
                                  SCHEMA
================================================================================
================================================================{% endcomment %}

{% schema %}
  {
    "name": "Our Story",
    "blocks": [
      {
        "type": "image_text",
        "name": "Image / Text",
        "settings": [
          {
           "type":      "header",
           "content":   "Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Image / Text Section",
            "default": "Image / Text Section"
          },
          {
           "type":      "header",
           "content":   "Desktop Background Image",
           "info":      "Set the background image and its options for desktop screen sizes."
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Desktop Background Image"
          },
          {
            "type": "select",
            "id": "image_horizontal",
            "label": "Desktop Image Horizontal Alignment",
            "default": "50%",
            "options": [
              {
                "value": "0",
                "label": "Left"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_vertical",
            "label": "Desktop Image Vertical Alignment",
            "default": "0",
            "options": [
              {
                "value": "0",
                "label": "Top"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_style",
            "label": "Desktop Image Style",
            "default": "style_1",
            "options": [
              {
                "value": "style_1",
                "label": "Style 1"
              },
              {
                "value": "style_2",
                "label": "Style 2"
              },
              {
                "value": "style_3",
                "label": "Style 3"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_side",
            "label": "Image Side (for Style 2 or Style 3)",
            "default": "right",
            "options": [
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type":   "range",
            "id":     "image_height",
            "min":       10,
            "max":       100,
            "step":      1,
            "unit":      "%",
            "label":     "Image Height (for Desktop Image Style 2)",
            "default":   90
          },
          {
            "type":   "range",
            "id":     "image_side_padding",
            "min":       0,
            "max":       500,
            "step":      5,
            "unit":      "px",
            "label":     "Image Side Padding (for Desktop Image Style 2 & 3)",
            "default":   30
          },
          {
           "type":      "header",
           "content":   "Image Overlay",
           "info":      "The overlay is a semi-transparent window that covers the background image. Set the opacity to 0 to remove the overlay."
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Background Image Overlay Color (Desktop)",
            "default": "#ffffff"
          },
          {
            "type":   "range",
            "id":     "overlay_transparency",
            "min":       0,
            "max":       1,
            "step":      0.1,
            "unit":      "opc",
            "label":     "Background Image Overlay Opacity (Desktop)",
            "default":   0.6
          },
          {
            "type": "color",
            "id": "overlay_color_mobile",
            "label": "Background Image Overlay Color (Mobile)",
            "default": "#ffffff"
          },
          {
            "type":   "range",
            "id":     "overlay_transparency_mobile",
            "min":       0,
            "max":       1,
            "step":      0.1,
            "unit":      "opc",
            "label":     "Background Image Overlay Opacity (Mobile)",
            "default":   0.6
          },
          {
           "type":      "header",
           "content":   "Mobile Image",
           "info":      "Set the image for mobile screen sizes."
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image"
          },
          {
            "type": "select",
            "id": "image_style_mobile",
            "label": "Mobile Image Style",
            "default": "style_1",
            "options": [
              {
                "value": "style_1",
                "label": "Style 1"
              },
              {
                "value": "style_2",
                "label": "Style 2"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_horizontal_mobile",
            "label": "Mobile Image Horizontal Alignment (for Style 1)",
            "default": "50%",
            "options": [
              {
                "value": "0",
                "label": "Left"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_vertical_mobile",
            "label": "Mobile Image Vertical Alignment (for Style 1)",
            "default": "0",
            "options": [
              {
                "value": "0",
                "label": "Top"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Bottom"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Text Options",
           "info":      "Set text size, text color, and margins for the various text areas."
          },
          {
           "type":      "header",
           "content":   "Text Align",
           "info":      "Align the text within the text block."
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Desktop Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_mobile",
            "label": "Mobile Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Text Block Align",
           "info":      "Align the text block within the page."
          },
          {
            "type": "select",
            "id": "text_block_align",
            "label": "Desktop Text Block Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_block_align_mobile",
            "label": "Mobile Text Block Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Title"
          },
          {
            "type": "text",
            "id": "main_title",
            "label": "Title Text",
            "default": "Section Title"
          },
          {
            "type": "color",
            "id": "h1_font_color",
            "label": "Title Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Subtitle"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle Text",
            "default": "Section Subtitle"
          },
          {
            "type": "color",
            "id": "h2_font_color",
            "label": "Subtitle Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Paragraph 1"
          },
          {
            "type": "text",
            "id": "paragraph_1",
            "label": "Paragraph 1 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "color",
            "id": "p1_font_color",
            "label": "Paragraph 1 Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Paragraph 2"
          },
          {
            "type": "text",
            "id": "paragraph_2",
            "label": "Paragraph 2 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "color",
            "id": "p2_font_color",
            "label": "paragraph 2 Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Button Options",
           "info":      "Style and set the link URL for the button."
          },
          {
             "type":      "checkbox",
             "id":        "button_on",
             "label":     "Button Add/Remove Switch",
             "default":   true,
             "info":      "Check to include a button."
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Text",
            "default": "Button Text"
          },
          {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "https://itsbyu.com/"
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Background Color",
            "default": "#e86b7f",
            "info":      "Select the button's color."
          },
          {
           "type":      "header",
           "content":   "Content Block Options",
           "info":      "Set the background color and padding for the main content block."
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Section Background Color",
            "default": "#ffffff"
          }
        ]
      },
      {
        "type": "two_column_three_image",
        "name": "2 Columns / 3 Images",
        "settings": [
          {
           "type":      "header",
           "content":   "Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Section Title",
            "default": "Two Col Three Images"
          },
          {
           "type":      "header",
           "content":   "Desktop Background Image",
           "info":      "Set the background image and its options for desktop screen sizes."
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Desktop Background Image"
          },
          {
            "type": "select",
            "id": "image_horizontal",
            "label": "Desktop Image Horizontal Alignment",
            "default": "50%",
            "options": [
              {
                "value": "0",
                "label": "Left"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_vertical",
            "label": "Desktop Image Vertical Alignment",
            "default": "0",
            "options": [
              {
                "value": "0",
                "label": "Top"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Bottom"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Mobile Image",
           "info":      "Set the image for mobile screen sizes."
          },
          {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Mobile Image"
          },
          {
            "type": "select",
            "id": "image_horizontal_mobile",
            "label": "Mobile Background Image Horizontal Alignment",
            "default": "50%",
            "options": [
              {
                "value": "0",
                "label": "Left"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "image_vertical_mobile",
            "label": "Mobile Background Image Vertical Alignment",
            "default": "0",
            "options": [
              {
                "value": "0",
                "label": "Top"
              },
              {
                "value": "50%",
                "label": "Center"
              },
              {
                "value": "100%",
                "label": "Bottom"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Image Overlay",
           "info":      "The overlay is a semi-transparent window that covers the background image. Set the opacity to 0 to remove the overlay."
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Background Image Overlay Color",
            "default": "#ffffff"
          },
          {
            "type":   "range",
            "id":     "overlay_transparency",
            "min":       0,
            "max":       1,
            "step":      0.1,
            "unit":      "opc",
            "label":     "Background Image Overlay Opacity",
            "default":   0.6
          },
          {
           "type":      "header",
           "content":   "Small Images"
          },
          {
            "type":   "range",
            "id":     "small_images_width",
            "min":       10,
            "max":       90,
            "step":      1,
            "unit":      "%",
            "label":     "Width of small image section",
            "default":   60
          },
          {
            "type": "image_picker",
            "id": "image_one",
            "label": "Image One"
          },
          {
            "type": "image_picker",
            "id": "image_two",
            "label": "Image Two"
          },
          {
            "type": "image_picker",
            "id": "image_three",
            "label": "Image Three"
          },
          {
           "type":      "header",
           "content":   "Image Block Padding"
          },
          {
            "type":   "range",
            "id":     "list_item_padding_vertical",
            "min":       0,
            "max":       500,
            "step":      5,
            "unit":      "px",
            "label":     "Vertical Padding - Desktop",
            "default":   20
          },
          {
            "type":   "range",
            "id":     "list_item_padding_horizontal",
            "min":       0,
            "max":       500,
            "step":      5,
            "unit":      "px",
            "label":     "Horizontal Padding - Desktop",
            "default":   20
          },
          {
            "type":   "range",
            "id":     "list_item_padding_vertical_mobile",
            "min":       0,
            "max":       500,
            "step":      5,
            "unit":      "px",
            "label":     "Vertical Padding - Mobile",
            "default":   10
          },
          {
            "type":   "range",
            "id":     "list_item_padding_horizontal_mobile",
            "min":       0,
            "max":       500,
            "step":      5,
            "unit":      "px",
            "label":     "Horizontal Padding - Mobile",
            "default":   10
          },
          {
           "type":      "header",
           "content":   "Text Options",
           "info":      "Set text size, text color, and margins for the various text areas."
          },
          {
           "type":      "header",
           "content":   "Text Align",
           "info":      "Align the text within the text block."
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Desktop Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_align_mobile",
            "label": "Mobile Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type":   "range",
            "id":     "text_max_width",
            "min":       10,
            "max":       100,
            "step":      1,
            "unit":      "%",
            "label":     "Text Block Width - Desktop",
            "default":   70
          },
          {
            "type":   "range",
            "id":     "text_max_width_mobile",
            "min":       10,
            "max":       100,
            "step":      1,
            "unit":      "%",
            "label":     "Text Block Width - Mobile",
            "default":   90
          },
          {
           "type":      "header",
           "content":   "Title"
          },
          {
            "type": "text",
            "id": "main_title",
            "label": "Title Text",
            "default": "Section Title"
          },
          {
            "type": "color",
            "id": "h1_font_color",
            "label": "Title Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Subtitle"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle Text",
            "default": "Section Subtitle"
          },
          {
            "type": "color",
            "id": "h2_font_color",
            "label": "Subtitle Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Paragraph 1"
          },
          {
            "type": "text",
            "id": "paragraph_1",
            "label": "Paragraph 1 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "color",
            "id": "p1_font_color",
            "label": "Paragraph 1 Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Paragraph 2"
          },
          {
            "type": "text",
            "id": "paragraph_2",
            "label": "Paragraph 2 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          },
          {
            "type": "color",
            "id": "p2_font_color",
            "label": "paragraph 2 Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Image Caption Options"
          },
          {
            "type": "select",
            "id": "caption_text_align",
            "label": "Desktop Caption Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
            "type": "select",
            "id": "caption_text_align_mobile",
            "label": "Mobile Caption Text Align",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left",
                "label": "Left"
              }
            ]
          },
          {
           "type":      "header",
           "content":   "Caption Titles"
          },
          {
            "type": "text",
            "id": "caption_title_1",
            "label": "Caption Title 1",
            "default": "Caption 1"
          },
          {
            "type": "text",
            "id": "caption_title_2",
            "label": "Caption Title 2",
            "default": "Caption 2"
          },
          {
            "type": "text",
            "id": "caption_title_3",
            "label": "Caption Title 3",
            "default": "Caption 3"
          },
          {
            "type": "color",
            "id": "caption_title_font_color",
            "label": "Caption Title Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Caption Paragraphs"
          },
          {
            "type": "text",
            "id": "caption_paragraph_1",
            "label": "Caption Paragraph 1 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            "type": "text",
            "id": "caption_paragraph_2",
            "label": "Caption Paragraph 2 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            "type": "text",
            "id": "caption_paragraph_3",
            "label": "Caption Paragraph 3 Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          },
          {
            "type": "color",
            "id": "caption_paragraph_font_color",
            "label": "Caption Paragraph Text Color",
            "default": "#000000"
          },
          {
           "type":      "header",
           "content":   "Section Options",
           "info":      "Set the background color and padding for the main content block."
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Section Background Color",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}
