<div class="container">
  <h1>{{ page.title }}</h1>

  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'headline' %}
      {% include 'headline' %}

      {% when 'hero' %}
      {% include 'hero' %}

      {% when 'icon' %}
      {% include 'icon-separator' %}

    {% endcase %}
  {% endfor %}

  {{ page.content }}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Banner",
        "settings": [
          {
            "id": "img",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "type":   "range",
            "id":     "img_height",
            "min":       240,
            "max":       800,
            "step":      10,
            "unit":      "px",
            "label":     "Adjust image height",
            "default":   240
          },
          {
            "id":"color",
            "type":"color",
            "label":"Caption background",
            "default":"#FAABAB"
          },
          {
            "id":"title",
            "type":"text",
            "label":"Title"
          },
          {
            "id":"caption",
            "type":"text",
            "label":"Caption"
          }
        ]
      },
      {
        "type": "headline",
        "name": "Headline",
        "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type":"color",
            "id":"headline_color",
            "label":"Headline color"
          },
          {
            "type": "richtext",
            "id": "headline_body",
            "label": "Body text"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Choose background color",
            "default":"#ffffff"
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Place an icon in between sections"
          }
        ]
      }
    ]
  }
{% endschema %}