<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="product-template__container"
      id="ProductSection-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-section-type="product"
      data-enable-history-state="true">

    <div class="product-container grid product-single padding-right page-wrapper">
      <div class="grid__item product-single__photos product-carousel-grid">
      <!-- Flickity Carousel init -->
      {% include 'product-carousel' %}
      </div>

      <div class="grid__item medium-up--one-half product-carousel-content">
        <div class="price-title mobile-spacer">
          <h1 class="product-single__title">{{ product.title }}</h1>
          {% if product.metafields.text.subheader != blank %}
            <p style="margin-bottom: 15px !important;">{{ product.metafields.text.subheader }}</p>
          {% endif %}
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% if section.settings.show_quantity_selector %}
              <div id="error-quantity-{{ section.id }}" class="form-message form-message--error product__quantity-error hide" tabindex="-1">
                {% include 'icon-error' %} {{ 'products.product.quantity_minimum_message' | t }}
              </div>
             {% endif %}

            <!-- Begin product form -->
            {% capture "form_classes" -%}
              product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
            {%- endcapture %}
            {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-productid: {{product.id}} %}
            <!-- add custom subscription snippet -->
            {% if product.available %}{% include 'product-recharge' %}{% endif %}<br>
              <div class="product-form__item--submit{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}" style="text-align:center;">
                <button class="btn addtocart btn-submit" type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn product-form__cart-submit">
                  <span id="AddToCartText-{{ section.id }}">Add to cart</span>
                </button>
              </div>
            {% endform %}
            <!-- end product form -->
         </div>
       </div>
   </div>

   <div style="width: 100%; padding: 2em;">
     <div style="border-bottom: 1px solid #c1c1c1; width: 100%;"></div>
   </div>


     <!-- Description and related products are blocks so you can interchange the order -->
     {% for block in section.blocks %}
       {% case block.type %}
         {% when 'Description' %}
           <!-- Product description -->
           {% include 'product-description-new' %}
          {% when 'related' %}
           <!-- Related products -->
           {% include 'product-related' %}
         {% when 'three-image-columns' %}
           <!-- Three images in a row -->
           {% assign field_name = block.settings.metafield_namespace | strip %}
           {% include 'three-image-columns', block: block, metafields: product.metafields[field_name], block_id: forloop.index %}
         {% when 'product-reviews' %}
           <!-- Customer reviews: generated by Shopify 'Product Reviews' plugin -->
           <div class="one-whole left-15" style="clear:both;">
             <div id="shopify-product-reviews" class="page-wrapper" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
           </div>
         {% when 'video-player' %}
           <!-- Youtube video player -->
           {% include 'video-player' %}
       {% endcase %}
     {% endfor %}

</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

</div>



{% schema %}
  {
    "name": {
      "en": "Product pages",
      "de": "Produktseiten",
      "fr": "Pages de produits",
      "it": "Pagine di prodotto",
      "ja": "商品ページ",
      "es": "Páginas de productos",
      "pt-BR": "Páginas de produtos"
    },
    "settings": [],
    "blocks": [
    {
      "type": "AddOns",
      "name": "Product Addons",
      "settings": [
        {
          "id": "addons-title",
          "type": "text",
          "label": "Add ons heading",
          "default": "Complete the look"
        },
        {
          "id": "kit-title",
          "type": "text",
          "label": "Starter Kit Heading",
          "default": "Starter Kit"
        }
      ]
    },
    {
      "type": "Description",
      "name": "Description",
      "settings": [
        {
          "id": "description-title",
          "type": "text",
          "label": "Description Title",
          "default": "What's inside"
        },
        {
         "type":      "header",
         "content":   "Section Padding"
        },
        {
          "type":   "range",
          "id":     "padding_vertical",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Vertical Padding - Desktop",
          "default":   50
        },
        {
          "type":   "range",
          "id":     "padding_horizontal",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Horizontal Padding - Desktop",
          "default":   90
        },
        {
          "type":   "range",
          "id":     "padding_vertical_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Vertical Padding - Mobile",
          "default":   30
        },
        {
          "type":   "range",
          "id":     "padding_horizontal_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Horizontal Padding - Mobile",
          "default":   30
        }
      ]
    },
    {
      "type": "video-player",
      "name": "Video Player",
      "settings": [
        {
          "type": "select",
          "id": "play-button",
          "label": "Video play button color",
          "options": [
            {"value" : "light", "label": "Light"},
            {"value" : "dark", "label": "Dark"}
          ],
          "default": "light"
        },
        {
         "type":      "header",
         "content":   "Header Text"
        },
        {
           "type":      "color",
           "id":        "title_color",
           "label":     "Title Color",
           "default":   "#000000"
        },
        {
          "type":   "range",
          "id":     "header_text_size",
          "min":       0.5,
          "max":       4,
          "step":      0.1,
          "unit":      "em",
          "label":     "Header Text Size - Desktop",
          "default":   2
        },
        {
          "type":   "range",
          "id":     "Header_text_size_mobile",
          "min":       0.5,
          "max":       4,
          "step":      0.1,
          "unit":      "em",
          "label":     "Title Text Size - Mobile",
          "default":   1.6
        },
        {
         "type":      "header",
         "content":   "Section Padding"
        },
        {
          "type":   "range",
          "id":     "padding_vertical",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Vertical Padding - Desktop",
          "default":   80
        },
        {
          "type":   "range",
          "id":     "padding_horizontal",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Horizontal Padding - Desktop",
          "default":   90
        },
        {
          "type":   "range",
          "id":     "padding_vertical_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Vertical Padding - Mobile",
          "default":   30
        },
        {
          "type":   "range",
          "id":     "padding_horizontal_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Horizontal Padding - Mobile",
          "default":   30
        }
      ]
    },
    {
      "type": "related",
      "name": "Related Products",
      "settings": [
        {
          "id": "product-title",
          "type": "text",
          "label": "Heading",
          "default": "You may also like..."
        }
      ]
    },
    {
      "type": "product-reviews",
      "name": "Product Reviews",
      "settings": [
        {
          "id": "product-title",
          "type": "text",
          "label": "Section Title",
          "default": "Product Reviews"
        }
      ]
    },
    {
      "type": "three-image-columns",
      "name": "Three Image Columns",
      "settings": [
        {
          "type": "text",
          "id": "metafield_namespace",
          "label": "Metafield Namespace",
          "default": "namespace_name",
          "info": "Choose which namespace the necessary metafields are coming from."
        },
        {
         "type":      "header",
         "content":   "Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Section Title",
          "default": "Three Image Columns"
        },
        {
           "type":      "color",
           "id":        "title_color",
           "label":     "Title Color",
           "default":   "#000000"
        },
        {
          "type":   "range",
          "id":     "header_text_size",
          "min":       0.5,
          "max":       4,
          "step":      0.1,
          "unit":      "em",
          "label":     "Title Text Size - Desktop",
          "default":   2
        },
        {
          "type":   "range",
          "id":     "header_text_size_mobile",
          "min":       0.5,
          "max":       4,
          "step":      0.1,
          "unit":      "em",
          "label":     "Title Text Size - Mobile",
          "default":   1.6
        },
        {
         "type":      "header",
         "content":   "Image Options",
         "info":      "Images are added in metafields"
        },
        {
         "type":      "header",
         "content":   "Image Padding",
         "info":      "Set the space between images."
        },
        {
          "type":   "range",
          "id":     "image_horizontal_padding",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Image Horizontal Padding - Desktop",
          "default":   10
        },
        {
          "type":   "range",
          "id":     "image_horizontal_padding_mobile",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Image Horizontal Padding - Mobile",
          "default":   10
        },
        {
         "type":      "header",
         "content":   "Section Settings",
         "info":      "Set the background color and padding for the main content block."
        },
        {
         "type":      "color",
         "id":        "background_color",
         "label":     "Background Color",
         "default":   "#eeeeee"
        },
        {
         "type":      "header",
         "content":   "Desktop Section Padding"
        },
        {
          "type":   "range",
          "id":     "section_padding_top",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Top",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_bottom",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Bottom",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_left",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Left",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_right",
          "min":       0,
          "max":       200,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Right",
          "default":   20
        },
        {
         "type":      "header",
         "content":   "Mobile Section Padding"
        },
        {
          "type":   "range",
          "id":     "section_padding_top_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Top - Mobile",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_bottom_mobile",
          "min":       0,
          "max":       300,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Bottom - Mobile",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_left_mobile",
          "min":       0,
          "max":       500,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Left - Mobile",
          "default":   20
        },
        {
          "type":   "range",
          "id":     "section_padding_right_mobile",
          "min":       0,
          "max":       500,
          "step":      5,
          "unit":      "px",
          "label":     "Section Padding Right - Mobile",
          "default":   20
        }
      ]
    }
 ]
}
{% endschema %}
