<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="product-template__container reg-product"
      id="ProductSection-{{ section.id }}"
      data-section-id="{{ section.id }}"
      data-section-type="product"
      data-enable-history-state="true">

    <div class="product-container grid product-single padding-right page-wrapper">
      <div class="grid__item product-single__photos medium-up--one-half">
      <!-- Flickity Carousel init -->
      {% include 'product-carousel' %}
      </div>

      <div class="grid__item medium-up--one-half product-single mobile-spacer">
        <div class="price-title">
          <h1 class="product-single__title">{{ product.title }}</h1>
          {% if product.metafields.text.subheader != blank %}
            <p style="margin-bottom: 15px !important;">{{ product.metafields.text.subheader }}</p>
          {% endif %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          <div class="warning"></div>
          <div class="product-single__row ps-spacer">
            <!-- Gift Toggle -->
            <div class="gift-wrapper">
            <div class="product-form__header">Is this a gift?</div>
              <div class="gift-option gift-option-yes"><span>Yes</span></div>
              <div class="gift-option gift-option--active"><span>No</span></div>
            </div>

            <!-- Quantity Selector -->
            <div class="quantity-wrapper">
              <div class="product-form__header">Quantity</div>
              <div class="quantity-inner">
                <a id="quantity-minus">-</a>
                <span id="quantity-label">1</span>
                <a id="quantity-plus">+</a>
                <input min="1" type="hidden" id="quantity" name="quantity" value="1"  />
              </div>
            </div>
         </div>
      </div>

      <div id="gift-info" style="display:none;">
        <div class="product-form__header">Giftee Information</div>
        <div class="gift-info__wrapper">
          <div class="gift-info__input">
            <input id="name" type="text" name="attributes[name]" value="" placeholder="Name*" />
            <div class="error"></div>
          </div>
          <div class="gift-info__input">
            <input id="email" type="email" name="attributes[email]" value="" placeholder="Email*" required />
            <div class="error"></div>
          </div>
          <div class="gift-info__input">
            <input id="number" type="text" name="attributes[phone]" value="" placeholder="Phone Number*" />
            <div class="error"></div>
          </div>
          <div class="gift-info__input">
            <input id="message" type="text" name="attributes[message]" value="" placeholder="Gift Message*" />
            <div class="error"></div>
         </div>
        </div>
      </div>

      <div class="product-single__row">
         <!-- end begin form -->
          <form action="/cart/add" method="post">
             <div id="product-variants">
                 <select id="product-select" name="id" style="display:none;">
                   {% for variant in product.variants %}
                     <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                   {% endfor %}
                 </select>

                 {% if product.available and product.variants.size > 1 %}
                   {% for option in product.options %}
                     {% include 'swatch' with option %}
                   {% endfor %}
                 {% endif %}
             </div>
           </form>
           <!-- end product form -->
      </div>

    {% include 'delivery-date' %}

     <div class="price-wrapper">
        <div class="subtotal">
            <div class="product-form__header">Subtotal</div>
        </div>
        <div id="price-field" data-price=""></div>
     </div>

      <a class="policy" href="https://itsbyu.com/pages/faq" target="_blank">Shipping, refund and cancellation policy</a>

    <!-- Add to cart button -->
   <button type="submit" class="btn btn-submit addtocart" id="AddToCart-{{ section.id }}" data-variant="">Add to cart</button>

   </div>
 </div>
</div>

<div style="width: 100%; padding: 2em;">
  <div style="border-bottom: 1px solid #c1c1c1; width: 100%;"></div>
</div>


  <!-- Description and related products are blocks so you can interchange the order -->
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'Description' %}
        <!-- Product description -->
        {% include 'product-description-new' %}
       {% when 'related' %}
        <!-- Related products -->
        {% include 'product-related' %}
      {% when 'three-image-columns' %}
        <!-- Three images in a row -->
        {% assign field_name = block.settings.metafield_namespace | strip %}
        {% include 'three-image-columns', block: block, metafields: product.metafields[field_name], block_id: forloop.index %}
      {% when 'product-reviews' %}
        <!-- Customer reviews: generated by Shopify 'Product Reviews' plugin -->
        <div class="one-whole left-15" style="clear:both;">
          <div id="shopify-product-reviews" class="page-wrapper" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      {% when 'video-player' %}
        <!-- Youtube video player -->
        {% include 'video-player' %}
    {% endcase %}
  {% endfor %}
</div>




{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}
</div>



<script>
 $(document).ready(function(){

// Update Variants using Shopify OptionSelectors
// Find variant and update price on change. Save variant ID in submit button.
// <![CDATA[
var selectCallback = function(variant, selector) {
  if (variant) {
  $('#AddToCart-{{ section.id }}').attr('data-variant', variant.id);
    if (variant.available) {
      // Selected a valid variant that is available.
      $('#AddToCart-{{ section.id }}').removeClass('disabled').removeAttr('disabled').val('Add to cart').html('Add to cart').fadeTo(200,1);
    } else {
      // Variant is sold out.
      $('#AddToCart-{{ section.id }}').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').html('Sold Out').fadeTo(200,0.5);
    }
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      $('#price-field').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
      $('#price-field').attr('data-price', Shopify.formatMoney(variant.price, ""));
    } else {
      $('#price-field').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "") + '</span>' );
      $('#price-field').attr('data-price', Shopify.formatMoney(variant.price, ""));
    }


    var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.length) {
          radioButton.get(0).checked = true;
       }
     }
   } else {
    // variant doesn't exist.
    $('#AddToCart-{{ section.id }}').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').html('Unavailable').fadeTo(200,0.5);
  }
}



// initialize multi selector for product
jQuery(function($) {
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
});
// ]]>

// Toggle YES/NO Gift
$('.gift-option').click(function(){
  if ($(this).hasClass('gift-option--active')){
    return;
  } else {
    $('.gift-option').removeClass('gift-option--active');
    $(this).addClass('gift-option--active');
    // $('#gift-info').toggle();
    $('#ProductSection-product-single').toggleClass('reg-product');
    checkType();
  }
})

// Change product quantity
var quantity = 1;
$('#quantity-plus').click(function(){
  quantity += 1;
  $('#quantity-label').html(quantity);
  $('#quantity').val(quantity);
});

$('#quantity-minus').click(function(){
  quantity -= 1;
  $('#quantity-label').html(quantity);
  $('#quantity').val(quantity);
});


// Add product to cart
$('#AddToCart-{{ section.id }}').click(function(){
  // If cart is disabled, do not run addtocart function
     if (disabled == true ){
       return
     } else {

  disabled = true;

  var variant = $('#AddToCart-{{ section.id }}').attr('data-variant');
  var type = '';
  if ($('#AddToCart-{{ section.id }}').prop('disabled') == true ){
    return;
  } else {
    if ($('.gift-option--active').hasClass('gift-option-yes')){
      type = 'gift';
    } else {
      type = 'reg-product';
    }

    CartJS.addItem(variant, quantity, {"type": type}, {
      "success": function(data, textStatus, jqXHR) {
        // reload #CartDrawer DOM, or else drawer will pop open and still remain empty
        var url = window.location + "?ID=" + Math.random();
        $("#CartDrawer").load(url+" #CartDrawer>*","");
        // Open cart drawer, then close after 3 seconds
        $('#CartDrawer').addClass('open');
        $('#AddToCart-{{ section.id }}').text("Added!");
      window.setTimeout(function(){
        var cart_basket_quantity = $('.cart-basket-quantity').html();
        $('.cart-basket-quantity').html(parseInt(cart_basket_quantity) + parseInt(quantity));
        $('#AddToCart-{{ section.id }}').text("Add to Cart");
      }, 3000);
     },
    "error": function(jqXHR, textStatus, errorThrown) {
        $('#AddToCart-{{ section.id }}').text("There was an error. Please try again.");
        window.setTimeout(function(){
          $('#AddToCart-{{ section.id }}').text("Add to Cart");
        }, 1500);
        console.log('Error: ' + errorThrown + '!');
      }
    });
    // Set delivery date, and gift recipient info in cart attributes
    let dateVal = $('#datepicker').val();
    CartJS.setAttributes({
      "First Delivery":  dateVal
    });
  }
  disabled = false
 }
})
});
</script>

{% schema %}
  {
    "name": {
      "en": "Product pages",
      "de": "Produktseiten",
      "fr": "Pages de produits",
      "it": "Pagine di prodotto",
      "ja": "商品ページ",
      "es": "Páginas de productos",
      "pt-BR": "Páginas de produtos"
    },
    "settings": [],
    "blocks": [
   {
     "type": "Description",
     "name": "Description",
     "settings": [
       {
         "id": "description-title",
         "type": "text",
         "label": "Description Title",
         "default": "What's inside"
       },
       {
        "type":      "header",
        "content":   "Section Padding"
       },
       {
         "type":   "range",
         "id":     "padding_vertical",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Vertical Padding - Desktop",
         "default":   50
       },
       {
         "type":   "range",
         "id":     "padding_horizontal",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Horizontal Padding - Desktop",
         "default":   90
       },
       {
         "type":   "range",
         "id":     "padding_vertical_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Vertical Padding - Mobile",
         "default":   30
       },
       {
         "type":   "range",
         "id":     "padding_horizontal_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Horizontal Padding - Mobile",
         "default":   30
       }
     ]
   },
   {
     "type": "video-player",
     "name": "Video Player",
     "settings": [
       {
         "type": "select",
         "id": "play-button",
         "label": "Video play button color",
         "options": [
           {"value" : "light", "label": "Light"},
           {"value" : "dark", "label": "Dark"}
         ],
         "default": "light"
       },
       {
        "type":      "header",
        "content":   "Header Text"
       },
       {
          "type":      "color",
          "id":        "title_color",
          "label":     "Title Color",
          "default":   "#000000"
       },
       {
         "type":   "range",
         "id":     "header_text_size",
         "min":       0.5,
         "max":       4,
         "step":      0.1,
         "unit":      "em",
         "label":     "Header Text Size - Desktop",
         "default":   2
       },
       {
         "type":   "range",
         "id":     "Header_text_size_mobile",
         "min":       0.5,
         "max":       4,
         "step":      0.1,
         "unit":      "em",
         "label":     "Title Text Size - Mobile",
         "default":   1.6
       },
       {
         "type":   "range",
         "id":     "header_bottom_margin",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Header Bottom Margin - Desktop",
         "default":   0
       },
       {
         "type":   "range",
         "id":     "header_bottom_margin_mobile",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Header Bottom Margin - Mobile",
         "default":   0
       },
       {
        "type":      "header",
        "content":   "Section Padding"
       },
       {
         "type":   "range",
         "id":     "padding_vertical",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Vertical Padding - Desktop",
         "default":   80
       },
       {
         "type":   "range",
         "id":     "padding_horizontal",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Horizontal Padding - Desktop",
         "default":   90
       },
       {
         "type":   "range",
         "id":     "padding_vertical_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Vertical Padding - Mobile",
         "default":   30
       },
       {
         "type":   "range",
         "id":     "padding_horizontal_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Horizontal Padding - Mobile",
         "default":   30
       }
     ]
   },
   {
     "type": "related",
     "name": "Related Products",
     "settings": [
       {
         "id": "product-title",
         "type": "text",
         "label": "Heading",
         "default": "You may also like..."
       }
     ]
   },
   {
     "type": "product-reviews",
     "name": "Product Reviews",
     "settings": [
       {
         "id": "product-title",
         "type": "text",
         "label": "Section Title",
         "default": "Product Reviews"
       }
     ]
   },
   {
     "type": "three-image-columns",
     "name": "Three Image Columns",
     "settings": [
       {
         "type": "text",
         "id": "metafield_namespace",
         "label": "Metafield Namespace",
         "default": "namespace_name",
         "info": "Choose which namespace the necessary metafields are coming from."
       },
       {
        "type":      "header",
        "content":   "Title"
       },
       {
         "type": "text",
         "id": "title",
         "label": "Section Title",
         "default": "Three Image Columns"
       },
       {
          "type":      "color",
          "id":        "title_color",
          "label":     "Title Color",
          "default":   "#000000"
       },
       {
         "type":   "range",
         "id":     "header_text_size",
         "min":       0.5,
         "max":       4,
         "step":      0.1,
         "unit":      "em",
         "label":     "Title Text Size - Desktop",
         "default":   2
       },
       {
         "type":   "range",
         "id":     "header_text_size_mobile",
         "min":       0.5,
         "max":       4,
         "step":      0.1,
         "unit":      "em",
         "label":     "Title Text Size - Mobile",
         "default":   1.6
       },
       {
         "type":   "range",
         "id":     "header_bottom_margin",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Header Bottom Margin - Desktop",
         "default":   0
       },
       {
         "type":   "range",
         "id":     "header_bottom_margin_mobile",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Header Bottom Margin - Mobile",
         "default":   0
       },
       {
        "type":      "header",
        "content":   "Image Options",
        "info":      "Images are added in metafields"
       },
       {
        "type":      "header",
        "content":   "Image Padding",
        "info":      "Set the space between images."
       },
       {
         "type":   "range",
         "id":     "image_horizontal_padding",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Image Horizontal Padding - Desktop",
         "default":   10
       },
       {
         "type":   "range",
         "id":     "image_horizontal_padding_mobile",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Image Horizontal Padding - Mobile",
         "default":   10
       },
       {
        "type":      "header",
        "content":   "Section Settings",
        "info":      "Set the background color and padding for the main content block."
       },
       {
        "type":      "color",
        "id":        "background_color",
        "label":     "Background Color",
        "default":   "#eeeeee"
       },
       {
        "type":      "header",
        "content":   "Desktop Section Padding"
       },
       {
         "type":   "range",
         "id":     "section_padding_top",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Top",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_bottom",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Bottom",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_left",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Left",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_right",
         "min":       0,
         "max":       200,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Right",
         "default":   20
       },
       {
        "type":      "header",
        "content":   "Mobile Section Padding"
       },
       {
         "type":   "range",
         "id":     "section_padding_top_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Top - Mobile",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_bottom_mobile",
         "min":       0,
         "max":       300,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Bottom - Mobile",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_left_mobile",
         "min":       0,
         "max":       500,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Left - Mobile",
         "default":   20
       },
       {
         "type":   "range",
         "id":     "section_padding_right_mobile",
         "min":       0,
         "max":       500,
         "step":      5,
         "unit":      "px",
         "label":     "Section Padding Right - Mobile",
         "default":   20
       }
     ]
   }
 ]
}
{% endschema %}
