{% comment %}
  Feature blocks in a sequential order
{% endcomment %}

<div class="feature-sequence container">
  <h1 class="pink text-xl text-center">{{ section.settings.heading }}</h1>
{% for block in section.blocks %}
  <div class="step">
    <span class="increment">{{ forloop.index }}</span>
    <img src="{{ block.settings.img | img_url: 'large' }}" alt="{{ block.settings.title }}" />
    <h3>{{ block.settings.title }}</h3>
    <p>{{ block.settings.body }}</p>
  </div>
{% endfor %}
</div>

{% schema %}
  {
    "name": "Block Sequence",
    "max_blocks":5,
    "settings":[
      {
        "type":"text",
        "id":"heading",
        "label":"Header"
      }
    ],
    "blocks":[
      {
        "type":"block",
        "name":"Block",
        "settings":[
          {
            "type":"image_picker",
            "id":"img",
            "label":"Choose an image (min 420x300px)"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          },
          {
            "type":"richtext",
            "id":"body",
            "label":"Body"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"Sequential image blocks"
      }
    ]
  }
{% endschema %}