{% include 'slider' %}
{% schema %}
  {
    "name": "Descriptive Slideshow",
    "class": "descriptive-slideshow--wrapper hideme",
    "max_blocks": 4,
    "settings": [
     {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Show navigation arrows",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Show dots navigation",
        "default": true
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop-image",
            "label": "Desktop Image"
          },
           {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through images"
          },
      {
            "type": "text",
            "id": "cta",
            "label": "Call to Action"
          },
           {
            "type": "select",
            "id": "text-align-desktop",
            "label": "Text Position",
            "options": [
               { "value": "translate(50%, -50%)", "label": "center" },
               { "value": "translate(0%, -50%)", "label": "left" },
               { "value": "translate(100%, -50%)", "label": "right" }
              ]
          },
         {
          "type": "color",
          "id": "text-color-desktop",
          "label": "Text color",
          "default": "#ffffff"
         },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          },
          {
            "type": "text",
            "id": "alt",
            "label": "Alt Text"
          },
          {
            "type": "image_picker",
            "id": "mobile-image",
            "label": "Mobile Image"
          },
           {
            "type": "text",
            "id": "title-mobile",
            "label": "Heading",
            "default": "Image slide"
          },
          {
            "type": "text",
            "id": "subheading-mobile",
            "label": "Subheading",
            "default": "Tell your brand's story through images"
          },
      {
            "type": "text",
            "id": "cta-mobile",
            "label": "Call to Action"
          },
         {
            "type": "select",
            "id": "text-align-mobile",
            "label": "Text Position",
            "options": [
               { "value": "translate(50%, -50%)", "label": "center" },
               { "value": "translate(0%, -50%)", "label": "left" },
               { "value": "translate(100%, -50%)", "label": "right" }
              ]
          },
         {
          "type": "color",
          "id": "text-color-mobile",
          "label": "Text color",
          "default": "#ffffff"
         },
          {
            "type": "url",
            "id": "link-mobile",
            "label": "Slide link"
          },
          {
            "type": "text",
            "id": "alt-mobile",
            "label": "Alt Text"
          }

        ]
      }
    ],
    "presets": [{
      "name": "Descriptive Slideshow",
      "category": "Image",
       "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
