<style>
  #shopify-section-{{ section.id }} { margin: 0; padding:0 0 3em;}
  #shopify-section-{{ section.id }} .flickity-prev-next-button,
  #shopify-section-{{ section.id }} .flickity-prev-next-button:hover{
    background: none;
  }
  #shopify-section-{{ section.id }} .flickity-prev-next-button:focus {
    box-shadow: none;
  }
  #shopify-section-{{ section.id }} .flickity-prev-next-button .arrow {
    fill: {{section.settings.arrow-color}};
  }

  #shopify-section-{{ section.id }} .flickity-prev-next-button {
   {% if section.settings.arrows == false %}
    display: none;
   {% else %}
    display: block;
   {% endif %}
  }


{% for block in section.blocks %}
 {% if block.settings.video_url != blank %}
  #shopify-section-{{ section.id }} .carousel-cell--{{block.id}} h1 {
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  #shopify-section-{{ section.id }} .carousel-cell--{{block.id}} p {
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
    font-weight: 600;
  }
  {% endif %}
{% endfor %}

{% for block in section.blocks %}
 {% if block.settings.overlay_desktop %}
  .cell-desktop.cell-overlay--{{block.id}}:before {
    content:'';
    background: {{block.settings.overlay_desktop}};
    opacity: {{block.settings.opacity_desktop}};
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
 {% endif %}

{% if block.settings.overlay_mobile %}
  .cell-mobile.cell-overlay--{{block.id}}:before {
    content: '';
    background:{{block.settings.overlay_mobile}};
    opacity: {{block.settings.opacity_mobile}};
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
 {% endif %}
{% endfor %}
@media(max-width: 1300px){
  {% for block in section.blocks %}
  #shopify-section-{{ section.id }}  .hero-slider h1 {
    font-size: {{block.settings.font_size_tablet}}em;
  }
  #shopify-section-{{ section.id }}  .hero-slider .slide-inner p {
    font-size: {{block.settings.body_font_size_tablet}}em;
  }
  #shopify-section-{{ section.id }} .hero-slider .carousel-cell {
    padding: {{block.settings.tablet_height}}% 0;
  }
  {% endfor %}
}
@media (max-width: 767px){
  {% for block in section.blocks %}
  #shopify-section-{{ section.id }}  .hero-slider h1 {
    font-size: {{block.settings.font_size_mobile}}em;
  }
  #shopify-section-{{ section.id }}  .hero-slider .slide-inner p {
    font-size: {{block.settings.body_font_size_mobile}}em;
  }
  #shopify-section-{{ section.id }} .hero-slider .carousel-cell {
    padding: {{block.settings.mobile_height}}% 0;
  }
  {% endfor %}
}

</style>

<div class="hero-slider">
  <div class="main-carousel">
   {% for block in section.blocks %}
    {% if block.settings.video_url != blank %}
      <section class="carousel-cell carousel-cell--{{block.id}} cell-desktop cell-overlay--{{block.id}}">
        <video id="video" autoplay muted loop>
          <source src="{{ block.settings.video_url }}" type="video/mp4">
        </video>
        <div class="slide-inner-wrap container">
          <div class="slide-inner slide-inner-{{block.settings.slide_text_position}}">
          <h1 style="color: {{ block.settings.title_color }};">{{ block.settings.slide_title }}</h1>
          <p style="color: {{ block.settings.body_text_color }};">{{ block.settings.slide_text }}</p>
          {% if block.settings.button_url %}
            <a href="{{ block.settings.button_url }}" class="btn btn-pink">
            <span{% if block.settings.textcolor != '' %} style="color:{{ block.settings.textcolor }}"{% endif %}>{{ block.settings.button_text }}</span>
            </a>
          {% endif %}
          </div>
        </div>
      </section>
      {% else %}
      <section class="carousel-cell cell-desktop cell-overlay--{{block.id}}" style="background-image: url('{{block.settings.slide_image | img_url:'original', crop:'center', scale: 3}}')">
        <div class="slide-inner-wrap container">
          <div class="slide-inner slide-inner-{{block.settings.slide_text_position}}">
          <h1 style="color: {{ block.settings.title_color }};">{{ block.settings.slide_title }}</h1>
          <p style="color: {{ block.settings.body_text_color }};">{{ block.settings.slide_text }}</p>
          {% if block.settings.button_url %}
            <a href="{{ block.settings.button_url }}" class="btn btn-pink">
            <span{% if block.settings.textcolor != '' %} style="color:{{ block.settings.textcolor }}"{% endif %}>{{ block.settings.button_text }}</span>
            </a>
          {% endif %}
          </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}
</div>

<div class="main-carousel-mobile">
  {% for block in section.blocks %}
    <section class="carousel-cell cell-mobile cell-overlay--{{block.id}}" data-flickity-bg-lazyload="{{block.settings.slide_image_mobile | img_url:'original', crop:'center', scale: 3}}">
      <div class="slide-inner-wrap">
        <div class="slide-inner slide-inner-{{block.settings.slide_text_position_mobile}}">
        <h1 style="color: {{ block.settings.title_color_mobile }};">{{ block.settings.slide_title_mobile }}</h1>
        <p style="color: {{ block.settings.body_text_color_mobile }};">{{ block.settings.slide_text_mobile }}</p>
        {% if block.settings.button_url_mobile %}
          <a href="{{ block.settings.button_url_mobile }}" class="btn btn-pink">
          <span{% if block.settings.textcolor_mobile != '' %} style="color:{{ block.settings.textcolor_mobile }}"{% endif %}>{{ block.settings.button_text_mobile }}</span>
          </a>
        {% endif %}
        </div>
      </div>
    </section>
{% endfor %}
</div>
</div>

{% comment %}
  Responsive slider for future development
  {% assign img_url = block.settings.slide_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

  <img class="slide-img lazyload"
    src="{{ img_url }}"
    data-src="{{ img_url }}"
    data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
    data-aspectratio="{{ block.settings.slide_image.aspect_ratio }}"
    data-sizes="auto"
    data-parent-fit="cover"
    alt="{{ block.settings.image_alt | escape }}">
  {% endcomment %}

{% comment %}
  Responsive slider for future development
  {{ 'https://cdn.rawgit.com/aFarkas/lazysizes/gh-pages/plugins/rias/ls.rias.min.js' | script_tag }}
  {{ 'https://cdn.rawgit.com/aFarkas/lazysizes/gh-pages/lazysizes.min.js' | script_tag }}
{% endcomment %}

<script>
$(document).ready(function() {
  //Homepage slides
  var $gallery1 = $('.main-carousel').flickity({
    // options
    cellAlign: 'left',
    wrapAround: true,
    percentPosition: false,
    bgLazyLoad: 1,
    autoPlay: {{section.settings.autoplay_speed}},
    imagesLoaded: true,
    wrapAround: true,
    draggable: false
  });

  var $gallery2 = $('.main-carousel-mobile').flickity({
    // options
    cellAlign: 'left',
    wrapAround: true,
    percentPosition: false,
    bgLazyLoad: 1,
    autoPlay: {{section.settings.autoplay_speed}},
    imagesLoaded: true,
    wrapAround: true
  });

$gallery1.css({ opacity: 1 });
$gallery2.css({ opacity: 1 });


// function onLoadeddata( event ) {
//   var cell = $gallery2.flickity( 'getParentCell', event.target );
//   $gallery2.flickity( 'cellSizeChange', cell && cell.element );
// }
//
// $gallery2.find('video').each( function( i, video ) {
//   video.play();
//   $( video ).on( 'loadeddata', onLoadeddata );
// });

  if ($('.main-carousel .carousel-cell').length < 2) {
    $gallery1.addClass('is-hiding-nav-ui');
  }

  if ($('.main-carousel-mobile .carousel-cell').length < 2) {
      $gallery2.addClass('is-hiding-nav-ui');
  }
});
</script>



{% for block in section.blocks %}
 {% if block.settings.video_url != blank %}
<script>
  $(document).ready(function() {
    video = jQuery('#video').get()[0];
      video.addEventListener('loadeddata', function() {
          video.play();
      });
      video.addEventListener('pause', function() {
        video.play();
      });
   });
  </script>
{% endif %}
{% endfor %}


{% schema %}
  {
    "name": "Slider",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Show navigation arrows",
        "default": false
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
        {
          "type": "header",
          "content": "Desktop"
          },
          {
            "type":"text",
            "id":"video_url",
            "label":"Video URL (Optional)"
          },
          {
            "type":"image_picker",
            "id":"slide_image",
            "label":"Featured Image* [min 1280x600px]"
          },
          {
            "type": "radio",
            "id": "slide_text_position",
            "label": "Text Position",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "right", "label": "Right" },
              { "value": "center", "label": "Center" }
            ],
            "default":   "left"
           },
           {
             "type":"text",
             "id":"image_alt",
             "label":"Alt text",
             "default":"It's By U Flower Kits"
           },
           {
             "type":"text",
             "id":"slide_title",
             "label":"Title",
             "default":"Lorem Ipsum"
           },
           {
             "type":"color",
              "id":"title_color",
              "label":"Title Color",
              "default":"#e86b7f"
            },
            {
              "type":"color",
              "id":"overlay_desktop",
              "label":"Image Color Overlay: Desktop (optional)",
              "default":"#000"
            },
            {
              "type":   "range",
              "id":     "opacity_desktop",
              "min":       0,
              "max":       1,
              "step":      0.1,
              "unit":      "em",
              "label":     "Opacity",
              "default":   0.5
            },
            {
<<<<<<< HEAD
              "type": "radio",
              "id": "tablet_height",
              "label": "Tablet Slider Height",
              "options": [
                { "value": "18", "label": "Regular" },
                { "value": "25", "label": "Large" }
              ],
               "default": "18"
             },
            {
=======
>>>>>>> be186d3bf1c4d3bf9dda90e64bd8397b23b747cb
              "type":"textarea",
              "id":"slide_text",
              "label":"Body Text"
            },
            {
               "type":"color",
               "id":"body_text_color",
               "label":"Body Text Color",
               "default":"#000000"
             },
              {
                "type":"text",
                "id":"button_text",
                "label":"Button text",
                "default":"Shop Now"
              },
              {
                "type":"url",
                "id":"button_url",
                "label":"Link"
              },
              {
                "type": "header",
                "content": "Mobile"
              },
    		      {
                "type":"image_picker",
                "id":"slide_image_mobile",
                "label":"Featured Image Mobile* [min 800x800px]: or reupload desktop image."
              },
              {
                "type": "radio",
                "id": "mobile_height",
                "label": "Mobile Slider Height",
                "options": [
                  { "value": "18", "label": "Regular" },
                  { "value": "25", "label": "Large" }
                ],
                 "default": "18"
               },
             {
               "type": "radio",
               "id": "slide_text_position_mobile",
               "label": "Text Position: Mobile",
               "options": [
                 { "value": "left", "label": "Left" },
                 { "value": "right", "label": "Right" },
                 { "value": "center", "label": "Center" }
               ],
                "default":   "left"
              },
              {
                "type":"text",
                "id":"image_alt_mobile",
                "label":"Alt text",
                "default":"It's By U Flower Kits"
              },
              {
                  "type":      "range",
                  "id":        "font_size_tablet",
                  "min":        0.5,
                  "max":        5,
                  "step":       0.1,
                  "unit":       "em",
                  "label":     "Header Tablet font size",
                  "default":   2.5
              },
              {
                  "type":      "range",
                  "id":        "font_size_mobile",
                  "min":        0.5,
                  "max":        5,
                  "step":       0.1,
                  "unit":       "em",
                  "label":     "Header Mobile font size",
                  "default":   2.5
              },
              {
                "type":"text",
                "id":"slide_title_mobile",
                "label":"Title",
                "default":"Lorem Ipsum"
              },
              {
                "type":"color",
                "id":"overlay_mobile",
                "label":"Image Color Overlay (optional)",
                "default":"#E66C80"
              },
              {
                "type":   "range",
                "id":     "opacity_mobile",
                "min":       0,
                "max":       1,
                "step":      0.1,
                "unit":      "em",
                "label":     "Opacity",
                "default":   0.5
              },
             {
              "type":"color",
              "id":"title_color_mobile",
              "label":"Title Color",
              "default":"#e86b7f"
            },
            {
              "type":"textarea",
              "id":"slide_text_mobile",
              "label":"Body Text"
            },
            {
              "type":"color",
              "id":"body_text_color_mobile",
              "label":"Body Text Color",
              "default":"#000000"
            },
            {
                "type":      "range",
                "id":        "body_font_size_tablet",
                "min":        0.5,
                "max":        5,
                "step":       0.1,
                "unit":       "em",
                "label":     "Body Tablet font size",
                "default":   2.5
            },
            {
                "type":      "range",
                "id":        "body_font_size_mobile",
                "min":        0.5,
                "max":        5,
                "step":       0.1,
                "unit":       "em",
                "label":     "Body Mobile font size",
                "default":   2.5
            },
           {
            "type":"text",
            "id":"button_text_mobile",
            "label":"Button text",
            "default":"Shop Now"
          },
          {
            "type":"url",
            "id":"button_url_mobile",
            "label":"Link"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sliders",
        "name":"Hero Slider"
      }
    ]
  }
{% endschema %}
