<div>
  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'hero' %}
      {% include 'hero' %}

      {% when 'headline' %}
      {% include 'headline' %}

      {% when 'button' %}
      <div class="shopify-section container text-center">{% include 'cta_button' %}<br/><br/><br/></div>

      {% when 'steps' %}
      {% include 'steps' %}

    {% endcase %}
  {% endfor %}
</div>

<script>
  $('.step').wrapAll('<div class="container shopify-section" />');
</script>

{% schema %}
  {
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Banner",
        "settings": [
          {
            "id": "img",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "id":"color",
            "type":"color",
            "label":"Caption background",
            "default":"#FAABAB"
          },
          {
            "id":"title",
            "type":"text",
            "label":"Title"
          },
          {
            "id":"caption",
            "type":"text",
            "label":"Caption"
          }
        ]
      },
      {
        "type": "headline",
        "name": "Headline",
        "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "headline_body",
            "label": "Body text"
          },
          {
             "type":      "select",
             "id":        "tAlign",
             "label":     "Align text (optional)",
             "options": [
               {
                 "group": "align",
                 "value": "left",
                 "label": "Left"
               },
               {
                 "group": "align",
                 "value": "right",
                 "label": "Right"
               },
               {
                 "group": "align",
                 "value": "center",
                 "label": "Center"
               },
               {
                 "group": "align",
                 "value": "justify",
                 "label": "Justify"
               }
             ],
             "default":   "center"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Choose background color (optional)",
            "default":"#ffffff"
          },
          {
              "type":   "range",
              "id":     "width",
              "min":       0,
              "max":       30,
              "step":      5,
              "unit":      "%",
              "label":     "Text width (optional)",
              "default":   0
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type":"text",
            "id":"button_text",
            "label":"Button Text"
          },
          {
            "type":"url",
            "id":"button_url",
            "label":"URL"
          }
        ]
      },
      {
        "type": "steps",
        "name": "Step",
        "settings": [
          {
            "type":"image_picker",
            "id":"step_image",
            "label":"Step image (required) [min 110x110px]"
          },
          {
            "type":"text",
            "id":"step_title",
            "label":"Step title",
            "default":"Step #"
          },
          {
            "type":"richtext",
            "id":"step_text",
            "label":"Step text",
            "default":"<p>Step description</p>"
          }
        ]
      }
    ]
  }
{% endschema %}