<div>
  {% for block in section.blocks %}
  <div class="grid-item" {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'headline' %}
      {% include 'headline' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "blocks": [
      {
        "type": "hero",
        "name": "Hero Banner",
        "settings": [
          {
            "id": "img",
            "type": "image_picker",
            "label": "Banner Image"
          },
          {
            "id":"color",
            "type":"color",
            "label":"Caption background",
            "default":"#FAABAB"
          },
          {
            "id":"title",
            "type":"text",
            "label":"Title"
          },
          {
            "id":"caption",
            "type":"text",
            "label":"Caption"
          }
        ]
      },
      {
        "type": "headline",
        "name": "Headline",
        "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type": "richtext",
            "id": "headline_body",
            "label": "Body text"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Choose background color",
            "default":"#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}