{% for block in section.blocks %}
<style>
.te-image-carousel {
  padding: 3em 0 7em 0;
}
.te-image-carousel  .te-image-carousel-block {
   display: flex;
   justify-content: center;
   align-items: center;
  width: 100%;
}

{% if block.settings.image %}
.te-image-carousel .te-image-carousel-cell--{{ forloop.index }} {
    width: 50%;
}
{% else %}
.te-image-carousel .te-image-carousel-cell--{{ forloop.index }} {
    width: 100%;
}
{% endif %}

.te-image-carousel .te-image-carousel-cell:nth-of-type(2){
    text-align: center;
    padding: 0 5em 0 0;
}

{% if block.settings.image %}
  .te-image-carousel .te-image-carousel-quote {
     max-width: 400px;
   }
 {% else %}
   .te-image-carousel .te-image-carousel-quote {
      max-width: 700px;
      text-align: center;
      margin: 0 auto;
    }
{% endif %}
.te-image-carousel .te-image-carousel-quote p {
  font-size: 1.5em;
  padding-bottom: 1.5em;
}

.te-image-carousel .te-image-carousel-bg {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
    margin-right: 5em;
  }
.te-image-carousel .flickity-prev-next-button svg {
    opacity: 0;
  }
.te-image-carousel .flickity-viewport {
    max-height: none;
  }
.te-image-carousel .flickity-prev-next-button {
    background: none;
  }
.te-image-carousel .flickity-prev-next-button:focus {
      outline: 0;
      box-shadow: none;
    }
.te-image-carousel .flickity-prev-next-button:hover {
      background: none;
    }

.te-image-carousel .flickity-prev-next-button.next:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 1.1em solid transparent;
      border-bottom: 1.1em solid transparent;
      border-left: 2em solid #B2B2B2;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
  }
  .te-image-carousel .flickity-prev-next-button.previous:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 1.1em solid transparent;
      border-bottom: 1.1em solid transparent;
      border-right: 2em solid #B2B2B2;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
  }
  .te-image-carousel .flickity-page-dots {
      z-index: 1;
      bottom: -4em;
}

  @media(max-width: 767px){
    .te-image-carousel  .te-image-carousel-block {
      flex-direction: column;
    }
    .te-image-carousel .te-image-carousel-cell--{{ forloop.index }} {
      width: 100%;
    }
  .te-image-carousel .te-image-carousel-cell:nth-of-type(2){
      padding: 0 3em;
      margin-top: 2em;
    }
    {% if block.settings.image %}
      .te-image-carousel .te-image-carousel-quote {
         padding: 0;
       }
     {% else %}
       .te-image-carousel .te-image-carousel-quote {
          padding: 0 20%;
        }
    {% endif %}
    .te-image-carousel .te-image-carousel-quote p {
      font-size: 1.1em;
    }
    .te-image-carousel .te-image-carousel-bg {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      float: none;
    }
    .te-image-carousel .flickity-prev-next-button {
      top: 33%;
    }
    .te-image-carousel .flickity-prev-next-button.next {
      right: 39px;
    }
    .te-image-carousel .flickity-prev-next-button.next:after {
      border-top: 0.8em solid transparent;
      border-bottom: 0.8em solid transparent;
      border-left: 1.5em solid #B2B2B2;
    }
      .flickity-prev-next-button.previous:after {
        border-top: 0.8em solid transparent;
        border-bottom: 0.8em solid transparent;
        border-right: 1.5em solid #B2B2B2;
      }
    .te-image-carousel .flickity-page-dots {
      bottom: -3em;
    }
    .te-image-carousel .flickity-page-dots .dot {
      width: 6px;
      height: 6px;
    }
  }
</style>
{% endfor %}

<div class="te-image-carousel container">
  <div class="te-image-carousel-slide">
    {% for block in section.blocks %}
    <div class="te-image-carousel-block">
      {% if block.settings.image %}
      <div class="te-image-carousel-cell--{{ forloop.index }}">
       <div class="te-image-carousel-bg" style="background-image:url({{block.settings.image | img_url:'original', crop:'center'}})"></div>
      </div>
      {% endif %}
      <div class="te-image-carousel-cell--{{ forloop.index }}">
        <div class="te-image-carousel-quote">
          <p>"{{block.settings.quote}}"</p>
        <div class="te-image-carousel-sig">- {{block.settings.signature}}</div>
       </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
$(document).ready(function() {
  //Homepage slides
  var $gallery1 = $('.te-image-carousel-slide').flickity({
    groupCells: true,
    cellAlign: 'center',
    autoPlay: 20000,
    draggable: true,
    prevNextButtons: true
  });
});
</script>


{% schema %}
  {
    "name": "Testimonial with Image",
    "settings":[
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "testimonial",
        "settings": [
          {
            "type":"text",
            "id":"quote",
            "label":"Quote"
          },
          {
            "type":"text",
            "id":"signature",
            "label":"Testimonial Signature"
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sliders",
        "name":"Testimonial with Image"
      }
    ]
  }
{% endschema %}
