<div class="testimonials-wrapper">
  <div class="te-carousel">
    {% for block in section.blocks %}
      <div class="te-carousel-cell">
        <div class="te-title">
            <span>{% include 'five-star' %}</span>
          <span>{{block.settings.quote-title1}}</span>
        </div>
        <div class="te-content">{{block.settings.quote1}}</div>
        <div class="te-sig">- {{block.settings.sig1}}</div>
      </div>
      <div class="te-carousel-cell">
        <div class="te-title">
          <span>{% include 'five-star' %}</span>
          <span>{{block.settings.quote-title2}}</span>
        </div>
        <div class="te-content">{{block.settings.quote2}}</div>
        <div class="te-sig">- {{block.settings.sig2}}</div>
      </div>
      <div class="te-carousel-cell">
        <div class="te-title">
          <span>{% include 'five-star' %}</span>
          <span>{{block.settings.quote-title3}}</span>
        </div>
        <div class="te-content">{{block.settings.quote3}}</div>
        <div class="te-sig">- {{block.settings.sig3}}</div>
      </div>
    {% endfor %}
</div>
</div>

<script>
$(document).ready(function() {
  //Homepage slides
  var $gallery1 = $('.te-carousel').flickity({
    groupCells: true,
    cellAlign: 'center',
    autoPlay: 20000,
    draggable: true,
    prevNextButtons: false
  });
});
</script>


{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 3,
    "settings":[
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "slider",
        "settings": [
          {
            "type":"text",
            "id":"quote-title1",
            "label":"Testimonial 1 Header"
          },
          {
            "type":"text",
            "id":"quote1",
            "label":"Testimonial 1 Content"
          },
          {
            "type":"text",
            "id":"sig1",
            "label":"Testimonial 1 Signature"
          },
          {
            "type":"text",
            "id":"quote-title2",
            "label":"Testimonial 2 Header"
          },
          {
            "type":"text",
            "id":"quote2",
            "label":"Testimonial 2 Content"
          },
          {
            "type":"text",
            "id":"sig2",
            "label":"Testimonial 2 Signature"
          },
          {
            "type":"text",
            "id":"quote-title3",
            "label":"Testimonial 3 Header"
          },
          {
            "type":"text",
            "id":"quote3",
            "label":"Testimonial 3 Content"
          },
          {
            "type":"text",
            "id":"sig3",
            "label":"Testimonial 3 Signature"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sliders",
        "name":"Testimonials"
      }
    ]
  }
{% endschema %}
