<style>
.testimonials-list-info svg {
    width: 18px;
    height: auto;
}

.testimonials-list-block {
    border-top: 1px solid #ebebeb;
    padding: 3em 0;
}

.testimonials-list h2 {
  text-align: center;
  margin: 2em 0;
}

.testimonials-list-block:last-child {
  border-bottom: 1px solid #ebebeb;
}

.testimonials-list-name {
  font-style: italic;
  margin-bottom: 17px;
  color: #797777;
}

@media(max-width: 767px){
  .testimonials-list h2 {
    margin: 1em 0;
  }
  .testimonials-list-block {
    padding: 2em 0;
  }
}

@media(max-width: 320px){
 .testimonials-list h2 {
   font-size: 1.9em;
 }
}
</style>


<div class="testimonials-list page-width">
    <h2>{{ section.settings.title }}</h2>
    <div class="testimonial-list-wrapper">
    {% for block in section.blocks %}
      <div class="testimonials-list-block">
        <div class="testimonials-list-info">
          <div>{% include 'five-star' %}</div>
          <div class="testimonials-list-name">{{block.settings.name}}</div>
        </div>
        <div class="testimonials-list-info">
          <p>{{block.settings.review}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial list",
    "max_blocks": 4,
    "settings":[
      {
        "type": "text",
        "id": "title",
        "label": "Section title",
        "default": "What our customers are saying..."
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "text",
            "id": "review",
            "label": "Review"
          }
        ]
      }
    ],
    "presets":[
      {
        "category": "Features",
        "name": "Testimonial lists"
      }
    ]
  }
{% endschema %}
