<h3>{{ section.settings.desc }}</h3>
{% schema %}
  {
    "name":"Text block",
    "settings":[
      {
        "type":"richtext",
        "id":"desc",
        "label":"Add a text block"
      }
    ]
  }
{% endschema %}