<style>
#shopify-section-{{ section.id }} {
    background: {{ section.settings.background_color }};
    padding: 3em 0;
    /* margin: 0 0 3em; */
  }
#shopify-section-{{ section.id }} .grid__item {
  margin: 0 0 2em;
}

@media (max-width: 767px){
  #shopify-section-{{ section.id }} {
      margin: 0;
    }
  #shopify-section-{{ section.id }} .grid__item {
    margin: 0;
    padding: 0 3em;
  }
  #shopify-section-{{ section.id }} .grid__item img {
    max-width: 134px;
    width: 100%;
  }
}
/* @media(max-width: 414px){
  #shopify-section-{{ section.id }} h2 {
    padding: 0 1.4em;
  }
} */
@media(max-width: 320px){
  #shopify-section-{{ section.id }} h2 {
    font-size: 1.9em;
  }
}


  </style>

<div class="container text-center">
  <h2>{{ section.settings.title }}</h2>
  {% for block in section.blocks %}
    <div class="grid__item medium-up--one-third small--one-whole hideme">
      <img src="{{block.settings.block_image | img_url: 'large'}}" alt="It'sbyu - {{ block.settings.block_title }}"/>
      <h3>{{ block.settings.block_title }}</h3>
      <p>{{ block.settings.block_text }}</p>
    </div>
  {% endfor %}
</div>
{% if section.settings.button_url %}<div class="text-center">{% include 'cta_button' %}</div>{% endif %}

{% schema %}
  {
    "name": "Three Columns",
    "max_blocks": 3,
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Section title",
        "default":"Title"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Add a CTA button at the end of the section"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text",
        "default":"Shop Now"
      },
	  {
        "type":"color",
        "id":"background_color",
        "label":"Background Color",
        "default":"#FBE9E8"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Block",
        "settings": [
          {
            "type":"image_picker",
            "id":"block_image",
            "label":"Block Image [min 110x110px]"
          },
          {
            "type":"text",
            "id":"block_title",
            "label":"Block Title",
            "default":"Title"
          },
          {
            "type":"text",
            "id":"block_text",
            "label":"Block Text",
			"default":"Block Text"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"Three Columns"
      }
    ]
  }
{% endschema %}
