<div class="three-grid-mini">
 <div class="three-grid-mini-list">
   {% for block in section.blocks %}
   <div class="three-grid-mini-item">
     <div class="three-grid-mini-bg" style="background-image:url({{block.settings.image | img_url:'original', crop:'center'}})"></div>
     <div class="three-grid-mini-text">
       <p>{{ block.settings.text }}</p>
     </div>
   </div>
   {% endfor %}
 </div>
</div>

{% schema %}
  {
    "name": "3 Grid Mini",
    "max_blocks": 3,
    "settings":[
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Image with Text Block",
        "settings": [
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Text"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"3 Grid Mini"
      }
    ]
  }
{% endschema %}
