{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-three-image-columns-{{ section.id }} {
    position: relative;
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    padding-left: {{ section.settings.section_padding_left }}px;
    padding-right: {{ section.settings.section_padding_right }}px;
    background-color: {{ section.settings.background_color }};
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--content {
    position: relative;
    width: 100%;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--header {
    display: block;
    text-align: center;
    color: {{ section.settings.title_color }};
    font-size: {{ section.settings.header_text_size }}em !important;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-list {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-list-item {
    display: inline-block;
    width: 33.3%;
    padding: 0 {{ section.settings.image_horizontal_padding }}px;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: 50%;
  }

  @media screen and (max-width: 768px) {
    .s-three-image-columns-{{ section.id }} {
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
      padding-left: {{ section.settings.section_padding_left_mobile }}px;
      padding-right: {{ section.settings.section_padding_right_mobile }}px;
    }

    .s-three-image-columns-{{ section.id }} .s-three-image-columns--header {
      font-size: {{ section.settings.header_text_size_mobile }}em !important;
    }

    .s-three-image-columns-{{ section.id }} .s-three-image-columns--image-list-item {
      padding: 0 {{ section.settings.image_horizontal_padding_mobile }}px;
    }
  }
</style>

{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-three-image-columns-{{ section.id }}">
  <div class="s-three-image-columns--content">
    <h1 class="s-three-image-columns--header">{{ section.settings.title }}</h1>

    <div class="s-three-image-columns--image-content">
      <ul class="s-three-image-columns--image-list">
        {% if section.settings.image_1 != blank %}<li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ section.settings.image_1 | img_url: '1000x' }}" />
            </div>
          </div>
        </li>{% endif %}{% if section.settings.image_2 != blank %}<!--

        --><li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ section.settings.image_2 | img_url: '1000x' }}" />
            </div>
          </div>
        </li>{% endif %}{% if section.settings.image_3 != blank %}<!--

        --><li class="s-three-image-columns--image-list-item">
          <div class="s-three-image-columns--image-wrapper">
            <div class="s-three-image-columns--image-wrapper-inner">
              <img src="{{ section.settings.image_3 | img_url: '1000x' }}" />
            </div>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>


{% comment %}===================================================================
================================================================================
                                  SCHEMA
================================================================================
================================================================{% endcomment %}

{% schema %}
  {
    "name": "Three Image Columns",
    "settings": [
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Three Image Columns"
      },
      {
         "type":      "color",
         "id":        "title_color",
         "label":     "Title Color",
         "default":   "#000000"
      },
      {
        "type":   "range",
        "id":     "header_text_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Desktop",
        "default":   2
      },
      {
        "type":   "range",
        "id":     "header_text_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Mobile",
        "default":   1.6
      },
      {
       "type":      "header",
       "content":   "Images",
       "info":      "Choose Three Images"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image Two"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image Three"
      },
      {
       "type":      "header",
       "content":   "Image Padding",
       "info":      "Set the space between images."
      },
      {
        "type":   "range",
        "id":     "image_horizontal_padding",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Image Horizontal Padding - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "image_horizontal_padding_mobile",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Image Horizontal Padding - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Section Settings",
       "info":      "Set the background color and padding for the main content block."
      },
      {
       "type":      "color",
       "id":        "background_color",
       "label":     "Background Color",
       "default":   "#eeeeee"
      },
      {
       "type":      "header",
       "content":   "Desktop Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right",
        "default":   20
      },
      {
       "type":      "header",
       "content":   "Mobile Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left - Mobile",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right - Mobile",
        "default":   20
      }
    ],
    "presets": [
      {
        "name": "Three Image Columns",
        "category": "Image"
      }
    ]
  }
{% endschema %}
