<div class="three-grid-cta container">
  <h2 class="black">{{ section.settings.title }}</h2>
  <div class="three-grid-cta-content">
  {% for block in section.blocks %}
    <div class="grid__item medium-up--one-third small--one-whole">
      <img src="{{block.settings.step_image | img_url: 'large'}}" alt="It'sbyu - {{ block.settings.step_title }}"/>
      <h3>{{ block.settings.step_title }}</h3>
      <p>{{ block.settings.step_text }}</p>
  </div>
  {% endfor %}
  </div>
  <div class="three-grid-cta-content">
    {% include 'cta_button' %}
  </div>
</div>

{% schema %}
  {
    "name": "3 Grid with CTA",
    "max_blocks": 3,
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Section title",
        "default":"How it works"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Add a CTA button at the end of the section"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text",
        "default":"Get started"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "type":"image_picker",
            "id":"step_image",
            "label":"Step image (required) [min 110x110px]"
          },
          {
            "type":"text",
            "id":"step_title",
            "label":"Step title",
            "default":"Step 1"
          },
          {
            "type":"richtext",
            "id":"step_text",
            "label":"Step text",
            "default":"<p>Step description</p>"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"3 Grid with CTA"
      }
    ]
  }
{% endschema %}
