  <div class="three-column-alternate">
  <div class="three-column-alternate-wrap">
    <div class="three-column-alternate-content">
      <h2>{{section.settings.title}}</h2>
    </div>
    <div class="three-column-alternate-content">
      {% for block in section.blocks %}
      <div class="three-column-alternate-item {% if block.settings.position == 'right' %}right{% else %}left{% endif %}">
        <div class="three-column-alternate-bg" style="background-image:url({{block.settings.image | img_url:'original', crop:'center'}})"></div>
        <div class="three-column-alternate-text">
          {% if block.settings.position == 'right' %}
            <div class="three-column-alternate-center">
          {% endif %}
          <h3>{{block.settings.heading}}</h3>
          <p>{{block.settings.description}}</p>
          {% if block.settings.url %}
          <a href="{{block.settings.url}}">{{block.settings.cta_text}}</a>
          {% endif %}
          {% if block.settings.position == 'right' %}
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>


{% schema %}
  {
    "name": "3 Column Alternate",
    "max_blocks": 3,
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Section title",
        "default":"Why ItsByU"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Add a CTA button at the end of the section"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text",
        "default":"Shop Now"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name": "Step",
        "settings": [
          {
            "type":"select",
            "id":"position",
            "label":"Text Position",
            "options": [
                {
                  "value": "right",
                  "label": "Right"
                },
                {
                  "value": "left",
                  "label": "Left"
                }
              ]
          },
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"heading",
            "label":"Block title"
          },
          {
            "type":"text",
            "id":"description",
            "label":"Description"
          },
          {
            "type":"url",
            "id":"url",
            "label":"CTA Link"
          },
          {
            "type":"text",
            "id":"cta_text",
            "label":"CTA text",
            "default": "Learn More"
          }
        ]
      }
    ],
    "presets":[
      {
        "category":"Sequences",
        "name":"3 Column Alternate"
      }
    ]
  }
{% endschema %}
