{% comment %}===================================================================
================================================================================
                                  STYLES
================================================================================
================================================================{% endcomment %}

<style>
  .s-two-column-three-image-{{ section.id }} {
    position: relative;
    background-color: {{ section.settings.background_color }};
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--content {
    position: relative;
    width: 100%;
    z-index: 2;
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    padding-left: {{ section.settings.section_padding_left }}px;
    padding-right: {{ section.settings.section_padding_right }}px;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col-one {
    width: {{ 100 | minus: section.settings.small_images_width }}%;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col-two {
    width: {{ section.settings.small_images_width }}%;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-inner img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-position: {{ section.settings.image_horizontal }} {{ section.settings.image_vertical }};
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-mobile {
    display: none;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: {{ section.settings.overlay_transparency }};
    background-color: {{ section.settings.overlay_color }};
  }

  .s-two-column-three-image-{{ section.id }} ul.s-two-column-three-image--image-list {
    width: 100%;
    padding: 0 !important;
    padding-inline-start: 0 !important;
    margin: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 33.3%;
    padding-top: {{ section.settings.list_item_padding_vertical }}px !important;
    padding-bottom: {{ section.settings.list_item_padding_vertical }}px !important;
    padding-left: {{ section.settings.list_item_padding_horizontal }}px !important;
    padding-right: {{ section.settings.list_item_padding_horizontal }}px !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item + .s-two-column-three-image--image-list-item {
    padding-left: 0;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-wrapper {
    margin-bottom: 20px;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-position: 50%;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--text-block {
    width: {{ section.settings.text_max_width }}%;
    margin: 0 auto;
    text-align: {{ section.settings.text_align }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--title {
    font-size: {{ section.settings.h1_font_size }}em !important;
    margin: 0 0 {{ section.settings.h1_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.h1_font_color }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--subtitle {
    font-size: {{ section.settings.h2_font_size }}em !important;
    margin: 0 0 {{ section.settings.h2_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.h2_font_color }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--paragraph-1 {
    font-size: {{ section.settings.p1_font_size }}em !important;
    margin: 0 0 {{ section.settings.p1_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.p1_font_color }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--paragraph-2 {
    font-size: {{ section.settings.p2_font_size }}em !important;
    margin: 0 0 {{ section.settings.p2_margin }}px 0;
    text-align: {{ section.settings.text_align }} !important;
    color: {{ section.settings.p2_font_color }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--caption-title {
    font-size: {{ section.settings.caption_title_font_size }}em !important;
    margin: 0 0 {{ section.settings.caption_title_margin }}px 0;
    text-align: {{ section.settings.caption_text_align }} !important;
    color: {{ section.settings.caption_title_font_color }} !important;
  }

  .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--caption-paragraph {
    font-size: {{ section.settings.caption_paragraph_font_size }}em !important;
    margin: 0 0 {{ section.settings.caption_paragraph_margin }}px 0;
    text-align: {{ section.settings.caption_text_align }} !important;
    color: {{ section.settings.caption_paragraph_font_color }} !important;
  }

  @media screen and (max-width: 768px) {
    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col {
      display: block !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col-one,
    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--col-two {
      width: 100% !important;
    }
    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--content {
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
      padding-left: {{ section.settings.section_padding_left_mobile }}px;
      padding-right: {{ section.settings.section_padding_right_mobile }}px;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-inner img {
      object-position: {{ section.settings.image_horizontal_mobile }} {{ section.settings.image_vertical_mobile }};
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-desktop {
      display: none;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--background-image-wrapper-mobile {
      display: block;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item {
      padding-top: {{ section.settings.list_item_padding_vertical_mobile }}px !important;
      padding-bottom: {{ section.settings.list_item_padding_vertical_mobile }}px !important;
      padding-left: {{ section.settings.list_item_padding_horizontal_mobile }}px !important;
      padding-right: {{ section.settings.list_item_padding_horizontal_mobile }}px !important;
      display: block;
      width: 100%;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item + .s-two-column-three-image--image-list-item {
      padding-top: 0 !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--text-block {
      width: {{ section.settings.text_max_width_mobile }}%;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-wrapper,
    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item-text-block {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      position: relative;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-wrapper {
      padding-top: 50%;
      margin-bottom: 0;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--image-list-item-text-block {
      padding-left: {{ section.settings.list_item_padding_horizontal_mobile }}px !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--title {
      font-size: {{ section.settings.h1_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.h1_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--subtitle {
      font-size: {{ section.settings.h2_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.h2_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--paragraph-1 {
      font-size: {{ section.settings.p1_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.p1_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--paragraph-2 {
      font-size: {{ section.settings.p2_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.p2_margin_mobile }}px 0;
      text-align: {{ section.settings.text_align_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--caption-title {
      font-size: {{ section.settings.caption_title_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.caption_title_margin_mobile }}px 0;
      text-align: {{ section.settings.caption_text_align_mobile }} !important;
      color: {{ section.settings.caption_title_font_color_mobile }} !important;
    }

    .s-two-column-three-image-{{ section.id }} .s-two-column-three-image--caption-paragraph {
      font-size: {{ section.settings.caption_paragraph_font_size_mobile }}em !important;
      margin: 0 0 {{ section.settings.caption_paragraph_margin_mobile }}px 0;
      text-align: {{ section.settings.caption_text_align_mobile }} !important;
      color: {{ section.settings.caption_paragraph_font_color_mobile }} !important;
    }
  }
</style>

{% comment %}===================================================================
================================================================================
                              TEMPLATE
================================================================================
================================================================{% endcomment %}

<div class="s-two-column-three-image-{{ section.id }} container">

  {% if section.settings.background_image != blank %}
    <div class="s-two-column-three-image--background-image-wrapper s-two-column-three-image--background-image-wrapper-desktop">
      <div class="s-two-column-three-image--background-image-wrapper-inner">
        <img src="{{ section.settings.background_image | img_url: '1000x' }}" />
        <div class="s-two-column-three-image--overlay"></div>
      </div>
    </div>
  {% endif %}

  {% if section.settings.background_image_mobile != blank %}
    <div class="s-two-column-three-image--background-image-wrapper s-two-column-three-image--background-image-wrapper-mobile">
      <div class="s-two-column-three-image--background-image-wrapper-inner">
        <img src="{{ section.settings.background_image_mobile | img_url: '1000x' }}" />
        <div class="s-two-column-three-image--overlay"></div>
      </div>
    </div>
  {% endif %}

  <div class="s-two-column-three-image--content">

    <div class="s-two-column-three-image--col s-two-column-three-image--col-one">
      <div class="s-two-column-three-image--text-block">
        {% if section.settings.main_title != blank %}
          <h1 class="s-two-column-three-image--title">{{ section.settings.main_title }}</h1>
        {% endif %}

        {% if section.settings.subtitle != blank %}
          <h2 class="s-two-column-three-image--subtitle">{{ section.settings.subtitle }}</h2>
        {% endif %}

        {% if section.settings.paragraph_1 != blank %}
          <p class="s-two-column-three-image--paragraph-1">{{ section.settings.paragraph_1 }}</p>
        {% endif %}

        {% if section.settings.paragraph_2 != blank %}
          <p class="s-two-column-three-image--paragraph-2">{{ section.settings.paragraph_2 }}</p>
        {% endif %}
      </div>
    </div><!--

    --><div class="s-two-column-three-image--col s-two-column-three-image--col-two">
      <ul class="s-two-column-three-image--image-list">

        <li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-one">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ section.settings.image_one | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if section.settings.caption_title_1 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ section.settings.caption_title_1 }}</h2>
            {% endif %}

            {% if section.settings.caption_paragraph_1 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ section.settings.caption_paragraph_1 }}</p>
            {% endif %}
          </div>
        </li><!--

        --><li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-two">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ section.settings.image_two | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if section.settings.caption_title_2 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ section.settings.caption_title_2 }}</h2>
            {% endif %}

            {% if section.settings.caption_paragraph_2 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ section.settings.caption_paragraph_2 }}</p>
            {% endif %}
          </div>
        </li><!--

        --><li class="s-two-column-three-image--image-list-item s-two-column-three-image--image-list-item-three">
          <div class="s-two-column-three-image--image-wrapper">
            <div class="s-two-column-three-image--image-wrapper-inner">
              <img src="{{ section.settings.image_three | img_url: '1000x' }}" />
            </div>
          </div><!--

          --><div class="s-two-column-three-image--image-list-item-text-block">
            {% if section.settings.caption_title_3 != blank %}
              <h2 class="s-two-column-three-image--caption-title">{{ section.settings.caption_title_3 }}</h2>
            {% endif %}

            {% if section.settings.caption_paragraph_3 != blank %}
              <p class="s-two-column-three-image--caption-paragraph">{{ section.settings.caption_paragraph_3 }}</p>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

{% comment %}===================================================================
================================================================================
                                  SCHEMA
================================================================================
================================================================{% endcomment %}

{% schema %}
  {
    "name": "2 Col 3 Image Section",
    "settings": [
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Two Col Three Images"
      },
      {
       "type":      "header",
       "content":   "Desktop Background Image",
       "info":      "Set the background image and its options for desktop screen sizes."
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Desktop Background Image"
      },
      {
        "type": "select",
        "id": "image_horizontal",
        "label": "Desktop Image Horizontal Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical",
        "label": "Desktop Image Vertical Alignment",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Mobile Image",
       "info":      "Set the image for mobile screen sizes."
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "select",
        "id": "image_horizontal_mobile",
        "label": "Mobile Background Image Horizontal Alignment",
        "default": "50%",
        "options": [
          {
            "value": "0",
            "label": "Left"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_vertical_mobile",
        "label": "Mobile Background Image Vertical Alignment",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Top"
          },
          {
            "value": "50%",
            "label": "Center"
          },
          {
            "value": "100%",
            "label": "Bottom"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Image Overlay",
       "info":      "The overlay is a semi-transparent window that covers the background image. Set the opacity to 0 to remove the overlay."
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Background Image Overlay Color",
        "default": "#ffffff"
      },
      {
        "type":   "range",
        "id":     "overlay_transparency",
        "min":       0,
        "max":       1,
        "step":      0.1,
        "unit":      "opc",
        "label":     "Background Image Overlay Opacity",
        "default":   0.6
      },
      {
       "type":      "header",
       "content":   "Small Images"
      },
      {
        "type":   "range",
        "id":     "small_images_width",
        "min":       10,
        "max":       90,
        "step":      1,
        "unit":      "%",
        "label":     "Width of small image section",
        "default":   60
      },
      {
        "type": "image_picker",
        "id": "image_one",
        "label": "Image One"
      },
      {
        "type": "image_picker",
        "id": "image_two",
        "label": "Image Two"
      },
      {
        "type": "image_picker",
        "id": "image_three",
        "label": "Image Three"
      },
      {
       "type":      "header",
       "content":   "Image Block Padding"
      },
      {
        "type":   "range",
        "id":     "list_item_padding_vertical",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Vertical Padding - Desktop",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "list_item_padding_horizontal",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Horizontal Padding - Desktop",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "list_item_padding_vertical_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Vertical Padding - Mobile",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "list_item_padding_horizontal_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Horizontal Padding - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Text Options",
       "info":      "Set text size, text color, and margins for the various text areas."
      },
      {
       "type":      "header",
       "content":   "Text Align",
       "info":      "Align the text within the text block."
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Desktop Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Mobile Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type":   "range",
        "id":     "text_max_width",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Desktop",
        "default":   70
      },
      {
        "type":   "range",
        "id":     "text_max_width_mobile",
        "min":       10,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Text Block Width - Mobile",
        "default":   90
      },
      {
       "type":      "header",
       "content":   "Title"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Title Text",
        "default": "Section Title"
      },
      {
        "type": "color",
        "id": "h1_font_color",
        "label": "Title Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "h1_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Desktop",
        "default":   1.7
      },
      {
        "type":   "range",
        "id":     "h1_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Title Text Size - Mobile",
        "default":   1.4
      },
      {
        "type":   "range",
        "id":     "h1_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "h1_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Title Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Subtitle"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle Text",
        "default": "Section Subtitle"
      },
      {
        "type": "color",
        "id": "h2_font_color",
        "label": "Subtitle Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "h2_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Subtitle Text Size - Desktop",
        "default":   1.4
      },
      {
        "type":   "range",
        "id":     "h2_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Subtitle Text Size - Mobile",
        "default":   1.2
      },
      {
        "type":   "range",
        "id":     "h2_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Subtitle Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "h2_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Subtitle Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Paragraph 1"
      },
      {
        "type": "text",
        "id": "paragraph_1",
        "label": "Paragraph 1 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      },
      {
        "type": "color",
        "id": "p1_font_color",
        "label": "Paragraph 1 Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "p1_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Paragraph 1 Text Size - Desktop",
        "default":   1
      },
      {
        "type":   "range",
        "id":     "p1_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Paragraph 1 Text Size - Mobile",
        "default":   0.8
      },
      {
        "type":   "range",
        "id":     "p1_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 1 Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "p1_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 1 Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Paragraph 2"
      },
      {
        "type": "text",
        "id": "paragraph_2",
        "label": "Paragraph 2 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      },
      {
        "type": "color",
        "id": "p2_font_color",
        "label": "paragraph 2 Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "p2_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Paragraph 2 Text Size - Desktop",
        "default":   1
      },
      {
        "type":   "range",
        "id":     "p2_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Paragraph 2 Text Size - Mobile",
        "default":   0.8
      },
      {
        "type":   "range",
        "id":     "p2_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 2 Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "p2_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Paragraph 2 Bottom Margin - Desktop",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Image Caption Options"
      },
      {
        "type": "select",
        "id": "caption_text_align",
        "label": "Desktop Caption Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "caption_text_align_mobile",
        "label": "Mobile Caption Text Align",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
       "type":      "header",
       "content":   "Caption Titles"
      },
      {
        "type": "text",
        "id": "caption_title_1",
        "label": "Caption Title 1",
        "default": "Caption 1"
      },
      {
        "type": "text",
        "id": "caption_title_2",
        "label": "Caption Title 2",
        "default": "Caption 2"
      },
      {
        "type": "text",
        "id": "caption_title_3",
        "label": "Caption Title 3",
        "default": "Caption 3"
      },
      {
        "type": "color",
        "id": "caption_title_font_color",
        "label": "Caption Title Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "caption_title_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Caption Title Text Size - Desktop",
        "default":   1.4
      },
      {
        "type":   "range",
        "id":     "caption_title_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Caption Title Text Size - Mobile",
        "default":   1.2
      },
      {
        "type":   "range",
        "id":     "caption_title_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Caption Title Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "caption_title_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Caption Title Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Caption Paragraphs"
      },
      {
        "type": "text",
        "id": "caption_paragraph_1",
        "label": "Caption Paragraph 1 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "type": "text",
        "id": "caption_paragraph_2",
        "label": "Caption Paragraph 2 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "type": "text",
        "id": "caption_paragraph_3",
        "label": "Caption Paragraph 3 Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      },
      {
        "type": "color",
        "id": "caption_paragraph_font_color",
        "label": "Caption Paragraph Text Color",
        "default": "#000000"
      },
      {
        "type":   "range",
        "id":     "caption_paragraph_font_size",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Caption Paragraph Text Size - Desktop",
        "default":   0.8
      },
      {
        "type":   "range",
        "id":     "caption_paragraph_font_size_mobile",
        "min":       0.5,
        "max":       4,
        "step":      0.1,
        "unit":      "em",
        "label":     "Caption Paragraph Text Size - Mobile",
        "default":   0.7
      },
      {
        "type":   "range",
        "id":     "caption_paragraph_margin",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Caption Paragraph Bottom Margin - Desktop",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "caption_paragraph_margin_mobile",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "px",
        "label":     "Caption Paragraph Bottom Margin - Mobile",
        "default":   10
      },
      {
       "type":      "header",
       "content":   "Section Options",
       "info":      "Set the background color and padding for the main content block."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Section Background Color",
        "default": "#ffffff"
      },
      {
       "type":      "header",
       "content":   "Desktop Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_left",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left",
        "default":   20
      },
      {
        "type":   "range",
        "id":     "section_padding_right",
        "min":       0,
        "max":       200,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right",
        "default":   20
      },
      {
       "type":      "header",
       "content":   "Mobile Section Padding"
      },
      {
        "type":   "range",
        "id":     "section_padding_top_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Top - Mobile",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "section_padding_bottom_mobile",
        "min":       0,
        "max":       300,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Bottom - Mobile",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "section_padding_left_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Left - Mobile",
        "default":   10
      },
      {
        "type":   "range",
        "id":     "section_padding_right_mobile",
        "min":       0,
        "max":       500,
        "step":      5,
        "unit":      "px",
        "label":     "Section Padding Right - Mobile",
        "default":   10
      }
    ],
    "presets": [
      {
        "name": "Two Column Three Image Section",
        "category": "Columns"
      }
    ]
  }
{% endschema %}
