<style>
    #shopify-section-variant-desc {
        margin-top:0;
    }
</style>

{% for variant in product.variants %}

    {% assign title = variant.title | handleize %}

    <p class="variant-desc" data-variant-title="{{title}}">
        {% for block in section.blocks %}
            {% if title == block.settings.select %}
                {{ block.settings.desc }}
            {% endif %}
        {% endfor %}
    </p>
{% endfor %}

{% schema %}
  {
    "blocks": [
      {
        "type": "variant-desc",
        "name": "Variant Description",
        "settings": [
          {
             "type":      "select",
             "id":        "select",
             "label":     "Choose variant",
             "options": [
               {
                 "group": "variant",
                 "value": "modern-farmhouse",
                 "label": "Modern Farmhouse"
               },
               {
                 "group": "variant",
                 "value": "warm-industrial",
                 "label": "Warm Industrial"
               },
               {
                 "group": "variant",
                 "value": "french-country",
                 "label": "French Country"
               },
               {
                 "group": "variant",
                 "value": "rustic-cottage",
                 "label": "Rustic Cottage"
               }
             ]
          },
          {
            "type":"textarea",
            "id":"desc",
            "label":"Description"
          }
        ]
      }
    ]
  }
{% endschema %}