{% include 'slider-js' %}

<div id="productImageSlider">
  <div data-u="slides" class="slides">

    {% for variant in product.variants %}

      {% assign title = variant.title | handleize %}

      <div>
        <h2 class="slide-title">{{ variant.title }}</h2>
        <span data-u="image" style="background-image:url('{{ variant.image.src | img_url: '660x' }}')"></span>
        <h4>
          {{ variant.metafields.v_desc.desc }}
        </h4>
      </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
    jssor_slider1_init('productImageSlider');
</script>

{% schema %}
  {
    "blocks": [
      {
        "type": "variant-desc",
        "name": "Variant Description",
        "settings": [
          {
             "type":      "select",
             "id":        "select",
             "label":     "Choose variant",
             "options": [
               {
                 "group": "variant",
                 "value": "modern-farmhouse",
                 "label": "Modern Farmhouse"
               },
               {
                 "group": "variant",
                 "value": "warm-industrial",
                 "label": "Warm Industrial"
               },
               {
                 "group": "variant",
                 "value": "french-country",
                 "label": "French Country"
               },
               {
                 "group": "variant",
                 "value": "rustic-cottage",
                 "label": "Rustic Cottage"
               }
             ]
          },
          {
            "type":"textarea",
            "id":"desc",
            "label":"Description"
          }
        ]
      }
    ]
  }
{% endschema %}