<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {% if handle contains 'guide' %}
    <meta name="robots" content="noindex">
  {% endif %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TCTGJR5');</script>
  <!-- End Google Tag Manager -->

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ 'jquery-3.2.1.min.js' | asset_url | script_tag }}
  {{ 'jquery-ui.min.js' | asset_url | script_tag' }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
   {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ content_for_header }}
</head>
{% comment %}
{% include 'top-banner' %}
{% endcomment %}
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {{ template | replace:'.','-' }}">
  <div id="page">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}


  <main role="main" id="MainContent">

    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  </div>

{% unless product.type == 'Subscription' %}
    {% include 'ajaxify-cart' %}
  {% endunless %}
{% unless template == 'cart' %}
  {% include 'cart-drawer' %}
{% endunless %}
  {% include 'overlay' %}


  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
  <script>
    $('.navmenu').offcanvas({
      disableScrolling: false,
      toggle: false
    });
  </script>

  {{ 'timber.js' | asset_url | script_tag}}

  {% include 'subscription-theme-footer' %}<br><br>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=446063158923469";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {% comment %} <script src="//assets.pcrl.co/js/jstracker.min.js"></script> {% endcomment %}

  <script type='text/javascript'>
    window.__wtw_lucky_site_id = 112854;

    (function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
    })();
  </script>

<!-- Add fade in for each section on homepage -->
{% if template == 'index' or template contains 'page' %}
<script>
/* Every time the window is scrolled ... */
$(document).ready(function(){
  $(window).scroll(function(){
    $('.hideme').each( function(i){
        var bottom_of_object = $(this).offset().top + $(this).outerHeight()/12;
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        /* If the object is completely visible in the window, fade it it */
        if( bottom_of_window > bottom_of_object ){
            $(this).animate({'opacity':'1'},500);
         }
     });
   }).scroll();;
  })
</script>
{% endif %}


<!-- Initialise Cart.js once the page has loaded -->
<script type="text/javascript">
  jQuery(function() {
    CartJS.init({{ cart | json }}, {
        "dataAPI": false
    });
});

 var hasGift = $('.cart-remove').hasClass('isGift');
 var hasSub = $('.cart-quantity-minus').hasClass('isSub');
 var disabled = false;

 // Make sure customer cannot purchase a gift with recurring subscription
 function checkType(){
   var variant = $('.option--active').attr('data-variant');
   var cart = CartJS.cart.items;
   var active_toggle = $('.gift-option--active span').html();
     for (i=0; i < cart.length; i++){
       // Check if customer already has gift in cart and wants to add recurring order
      if ((cart[i].properties.type == 'gift'|| cart[i].properties.type == 'gift-subscription')  && active_toggle == 'No'){
        $('.warning').html('<p>You have a gift in your cart. To purchase something else, you’ll have to empty your cart first. <a class="empty-cart">Empty cart</span></a>');
        hasGift = true;
        disabled = true;
        $('.addtocart').addClass('disabled');
         return;
       // Check if customer already has recurring/reg product in cart and wants to add gift
     } else if ((cart[i].properties.type == 'subscription'|| cart[i].properties.type == 'reg-product') && active_toggle == 'Yes'){
        $('.warning').html('<p>There’s an item in your cart. In order to purchase a gift, you’ll have to delete non-gift items first. <a class="empty-cart">Empty cart</span></a>');
        hasSub = true;
        disabled = true;
        $('.addtocart').addClass('disabled');
        return;
       // Disable the ability to have duplicates of the same subscription
     }
     hasSub = false;
     hasGift = false;
     disabled = false;
     $('.addtocart').removeClass('disabled');
     $('.warning').html(' ')
   }
 }

{% if template == 'product.subscription-v2' or template == 'product.single' %}
  $(document).on('cart.ready', function(event, cart) {
   checkType();
  });
{% endif %}

$(document).on('click', '.empty-cart', function(e){
  e.preventDefault();
  CartJS.clear();
  $('.cart-basket-quantity').html(parseInt(0));
  $('.addtocart-addons[data-type="vase"]').addClass('disabled');
   $(document).on('cart.requestComplete', function(event, cart) {
     disabled = false
     $('.warning').html(' ');
     $('.addtocart').removeClass('disabled');
     $('.addtocart-addons').html('Add to cart');
    var url = window.location + "?ID=" + Math.random();
    $("#CartDrawer").load(url+" #CartDrawer>*","");
  })
});

$(document).on('mouseup', function (e) {
  console.log(e)
  var container = $("div#CartDrawer.drawer.drawer--right.open");
  if (!container.is(e.target) && container.has(e.target).length === 0) {
    $('#CartDrawer').removeClass('open');
  }
});
</script>

{% if template == 'index' or template contains 'collection' or template contains 'product' %}
  <script>
  // Open cart drawer on cart logo click
  $('.button-cart').on('click', function(e){
    e.preventDefault();
    $('#CartDrawer').addClass('open');

    console.log('drawer open')
  });
   // Close drawer button
  // Write it this way so that it finds to newly added DOM element after drawer refreshes
   $(document).on('click', '.drawer__close', function(){
    $('#CartDrawer').removeClass('open');

  });
 </script>
{% endif %}

<!-- GTM PRODUCT DATALAYER -->
{% if template contains 'product' %}
 <script>
  $(document).on('ajaxSuccess', function( event, request, settings ){
    if (settings.url == '/cart/add.js'){

      var item = request.responseJSON,
          price = ((item.price)/100).toFixed(2),
          quantity = $('#quantity-label').html() == undefined ? 1 : $('#quantity-label').html();
      console.log(item);
      // Dynamic datalayer
      window.dataLayer = window.dataLayer || []
        window.dataLayer.push({
         'event':'addtocart',
         'ProductTitle': item.title,
         'ProductQuantity': quantity,
         'ProductPrice': parseFloat(price)
      });
    }
  });
 </script>
{% endif %}
</body>
</html>
